.title-mb{
	margin-bottom: 70px;
	@media ( max-width:$md2+px){
		margin-bottom: 35px;
	}
}

.section__title {
	@include f700();
	font-size: $fz42;
	line-height: 1.2;
	@media ( max-width:$md1+px){
		font-size: $fz36;
	}
	@media ( max-width:$md3+px){
		font-size: $mfz24;
	}
	@media ( min-width:$md1+px){
		&--md{
			display: none;
		}
	}
	@media ( max-width:$md1+px){
		&--tb{
			display: none;
		}
	}
	&._scr-item{
		transform: translateY(-20%);
		opacity: 0;
		transition: all .3s linear .2s;
		&._active{
			transform: translateY(0);
			opacity: 1;
		}
	}
}


.section-titleSub {
	margin-top: 15px;
	line-height: 26px;
	&._scr-item{
		opacity: 0;
		@include translateY(20%);
		transition: all .3s linear .2s;
		&._active{
			opacity: 1;
			@include translateY(0);
		}
	}
	@media ( max-width:$md3+px){
		line-height: 22px;
	}

}
