.footer
	display: flex
	justify-content: center
	flex-direction: column

	padding-top: 85px
	padding-bottom: 85px

	background: #131313

	&-box
		margin: auto
		margin-bottom: 40px

		a
			margin-left: 10px
			margin-right: 10px

			svg
				fill: #4F4F4F
				transition: fill .3s ease

			&:hover
				svg
					fill: #00FFB7
	
	&-text
		margin: auto

		font-family: "MontserratRegular"
		font-size: 0.9rem
		line-height: 20px
		letter-spacing: 0.0025em
		color: #4F4F4F