@import url(../../node_modules/slick-carousel/slick/slick.css);

@import url(../../node_modules/slick-carousel/slick/slick-theme.css);

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 0;
}

button,
textarea,
select,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
  color: inherit;
}

/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #000;
}

.wrapper {
  overflow: hidden;
}

.main--sidebar {
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

._section {
  padding: 100px 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 2.25rem;
}

.h3 {
  font-size: 1.87rem;
}

.btn {
  display: block;
  padding: 0 20px;
  height: 50px;
  max-width: 200px;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
  color: #fff;
  font-size: 1rem;
  font-family: OpenSans-Bold;
  background: #E87B36;
  border: 2px solid #E87B36;
  -webkit-transition: 0.3s background-color linear, 0.3s color linear;
  -o-transition: 0.3s background-color linear, 0.3s color linear;
  transition: 0.3s background-color linear, 0.3s color linear;
}

.btn:hover {
  background: none;
  color: #E87B36;
}

.btn--bot {
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.section-title {
  position: relative;
  padding: 15px 0 40px;
  font-family: OpenSans-Bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  width: 170px;
  height: 2px;
}

._section--white .section-title {
  color: #E87B36;
}

._section--white .section-title::after {
  background: #E87B36;
}

._section--left {
  padding-top: 0;
}

._section--left .section-title {
  text-align: left;
}

._section--left .section-title::after {
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 15px;
  border-bottom: 1px solid #E87B36;
  width: 100%;
}

.header-top .logo {
  max-width: 115px;
  width: 100%;
  height: auto;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone {
  position: relative;
  font-size: 1.125rem;
  font-family: OpenSans-Bold;
  padding: 0 0 0 33px;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header-top__phone:hover {
  color: #E87B36;
}

.header-top__phone::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background: url(../img/icons/icons.svg#icon-phone);
  width: 23px;
  height: 23px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-top__lan[class] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

.header-top__lan[class] li {
  margin-right: 15px;
}

.header-top__lan[class] li + li {
  margin: 0;
}

.header-top__lan[class] a {
  font-family: OpenSans-SemiBold;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header-top__lan[class] a:hover,
.header-top__lan[class] a.active {
  color: #E87B36;
}

.header-bot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-search__btn {
  margin: 0 70px 0 80px;
}

.header-search__btn svg {
  width: 20px;
  height: 20px;
}

.header-menu {
  width: 100%;
}

.header-menu.active {
  display: block;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__ul li {
  cursor: pointer;
  position: relative;
}

.header-menu__ul li:first-child {
  padding-left: 0;
}

.header-menu__ul li:last-child {
  padding-right: 0;
}

.header-menu__ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px 16px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 15px;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header .hover > a {
  color: #E87B36;
}

.header .ul-Submenu__block {
  margin: 0;
  display: none;
  top: 100%;
  -webkit-box-shadow: inset 0 0 0 -15px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 0 0 -15px rgba(0, 0, 0, 0.12);
  z-index: 99;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 320px;
  padding: 0;
}

.header .ul-Submenu__block::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.12);
}

.header .ul-Submenu__block li {
  position: relative;
  z-index: 99;
  text-align: center;
}

.header .ul-Submenu__block li:last-child {
  border: 0;
}

.header .ul-Submenu__block li a {
  position: relative;
  border-bottom: 1px solid #EDEDED;
  margin: 0 8px;
}

.header .ul-Submenu__block li a .header-arrow {
  right: 0;
}

.header .ul-Submenu.hover > .ul-Submenu__block,
.header .ul-Submenu.hover li.hover > .ul-Submenu__block {
  display: block;
}

.header .ul-Submenu.hover > a,
.header .ul-Submenu.hover li.hover > a {
  color: #E87B36;
}

.header .ul-Submenu.hover > a .header-arrow {
  top: 50%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .ul-Submenu__block--right {
  top: 0;
  left: 100%;
  z-index: 100;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header-arrow {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.header-search {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 15px;
  height: 63px;
  border-bottom: 1px solid #086293;
  -webkit-transition: top 0.3s linear;
  -o-transition: top 0.3s linear;
  transition: top 0.3s linear;
  background: #fff;
}

.header-search.active {
  z-index: 99;
  top: 0;
  display: block;
}

.header-search form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search form input {
  line-height: 62px;
  font-size: 1rem;
  padding: 0 0 0 20px;
  width: 100%;
}

.header-search .header-search__result {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  padding: 4px 25px;
  font-size: 1rem;
  background: #fff;
}

.header-search .header-search__result li {
  border-bottom: 1px solid #E0E0E0;
}

.header-search .header-search__result li:last-child {
  border: 0;
}

.header-search .header-search__result li a {
  display: block;
  width: 100%;
  padding: 8px 0;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header-search .header-search__result li a:hover {
  color: #E87B36;
}

.header .search-btn {
  margin-right: 20px;
}

.header .search-btn svg {
  width: 20px;
  height: 20px;
}

.header .search-close {
  position: relative;
  width: 20px;
  height: 20px;
}

.header .search-close::after,
.header .search-close::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 20px;
  background: #E87B36;
}

.header .search-close::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.header .search-close::before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.burger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
}

.burger .burger-line {
  position: absolute;
  display: block;
  padding: 0;
  width: 25px;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger .burger-lineOne {
  top: 0;
}

.burger .burger-lineTwo {
  top: 50%;
  margin: -1px 0 0 0;
}

.burger .burger-lineThree {
  top: 50%;
  margin: -1px 0 0 0;
  right: 0;
}

.burger .burger-lineFour {
  bottom: 0;
}

.burger.active .burger-lineOne {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.burger.active .burger-lineTwo {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .burger-lineThree {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active .burger-lineFour {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

ul.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  list-style-type: none;
  font-size: 0.8rem;
}

ul.breadcrumbs li {
  position: relative;
  padding-left: 15px;
}

ul.breadcrumbs li::after {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  color: #A8A8A8;
  margin-left: 6px;
}

ul.breadcrumbs li:first-child {
  padding-left: 0;
}

ul.breadcrumbs li:first-child:after {
  display: none;
}

ul.breadcrumbs li a {
  text-decoration: none;
  color: #A8A8A8;
}

.ban .ban-slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.ban .ban-slider__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 50px 0;
  padding: 50px 0;
  background: -o-linear-gradient(358.74deg, #086293 7.06%, #086293 25.07%, rgba(8, 98, 147, 0) 79.1%, rgba(3, 3, 3, 0) 79.1%);
  background: linear-gradient(91.26deg, #086293 7.06%, #086293 25.07%, rgba(8, 98, 147, 0) 79.1%, rgba(3, 3, 3, 0) 79.1%);
}

.ban .ban-slider__block::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  background: #086293;
}

.ban .ban-slider__text {
  max-width: 470px;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  font-size: 1rem;
}

.ban .slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  bottom: 3rem;
  bottom: 1.5rem;
}

.slick-dots li button {
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.slick-dots li button::before,
.slick-dots li button::after {
  display: none;
}

.slick-dots li.slick-active button {
  background: #E87B36;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-box {
  max-width: 49.3333%;
  width: 100%;
}

.about-box--img {
  min-width: 255px;
}

.about-box__info {
  width: 100%;
  padding: 60px 80px 55px;
}

.about-box__row {
  position: relative;
  padding: 15.3rem 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.about-box__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #E87B36;
}

.about-box__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-box .section-title {
  padding-bottom: 15px;
  text-align: left;
}

.about-box .section-title::after {
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.about .btn {
  margin: 30px 0 0 0;
}

.section-profSol {
  background-color: #E87B36;
  background-repeat: no-repeat;
  background-size: cover;
}

.profSol-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px 0;
}

.profSol-block {
  padding: 15px;
  max-width: 33.3333%;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.profSol-block__row {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 35px 35px 50px 35px;
  border: 1px solid #FFFFFF;
  min-height: 330px;
}

.profSol-block__icon {
  position: absolute;
  z-index: 2;
  right: 35px;
  top: 35px;
  width: 100px;
  height: 100px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.profSol-block__info {
  position: absolute;
  z-index: 2;
  bottom: calc(-50% + 50px);
  -webkit-transition: bottom 1s linear;
  -o-transition: bottom 1s linear;
  transition: bottom 1s linear;
  color: #fff;
}

.profSol-block__text {
  height: 120px;
  overflow: hidden;
}

.profSol-block__title {
  display: block;
  position: relative;
  font-size: 1.88rem;
  font-family: OpenSans-Bold;
  padding-bottom: 10px;
  margin-bottom: 50px;
  -webkit-transition: color 0.5s linear, margin-bottom 0.5s linear;
  -o-transition: color 0.5s linear, margin-bottom 0.5s linear;
  transition: color 0.5s linear, margin-bottom 0.5s linear;
}

.profSol-block__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background: #fff;
}

.profSol-block .profSol-blockBg {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.profSol-block .profSol-blockBg__box {
  position: relative;
  padding: 10.5rem 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.profSol-block .profSol-blockBg__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.profSol-block .profSol-blockBg__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.profSol-block:hover .profSol-block__info {
  bottom: 50px;
}

.profSol-block:hover .profSol-block__title {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0);
}

.profSol-block:hover .profSol-blockBg {
  opacity: 1;
}

.section-advantages {
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.advantages-blocks {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-block {
  max-width: 170px;
  width: 100%;
  text-align: center;
}

.advantages-block__img {
  width: 77px;
  margin: 0 auto 10px;
}

.section-product {
  padding-top: 0;
}

.product-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-block__img {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-right: 26px;
  position: relative;
  padding: 9.7rem 0;
  width: 100%;
  overflow: hidden;
}

.product-block__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.product-block__imgBox img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-block__title {
  font-family: OpenSans-Bold;
  color: #E87B36;
  line-height: 49px;
  margin-bottom: 18px;
}

.product-block__text {
  margin-bottom: 5px;
  line-height: 21px;
}

.product-block__number {
  color: #086293;
  font-family: OpenSans-Bold;
}

.product-block__number .product-number {
  font-family: OpenSans-Regular;
  color: #000;
  padding-left: 10px;
}

.product-block .btn {
  margin-top: 22px;
}

.product .tabs {
  margin-top: 55px;
  width: 100%;
}

.product .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 53px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.product .tab-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 165px;
  width: 100%;
  padding: 5px 20px;
  min-height: 53px;
  border: 1px solid #E87B36;
  border-bottom: none;
  color: #E87B36;
  line-height: 21px;
  cursor: pointer;
  height: 100%;
}

.product .tab-header__item + li {
  border-left: none;
}

.product .tab-header__item.active {
  height: calc( 100% + 5px);
  position: relative;
  background-color: #E87B36;
  color: #fff;
}

.product .tab-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product .tab-content__item {
  display: none;
  margin-top: -1px;
  padding: 30px 0;
  line-height: 1.4;
  border-top: 1px solid #E87B36;
}

.product .tab-content__item.active {
  display: block;
}

.section-contact {
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.contact-info__column {
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info__column a {
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.contact-info__column a:hover {
  color: #086293;
}

.contact-info__title {
  font-size: 1.25rem;
  color: #086293;
  font-family: OpenSans-Bold;
  margin-bottom: 10px;
}

.contact-info__map {
  max-width: 55%;
  width: 100%;
  height: 17.5rem;
}

.contact-info__map iframe {
  height: 100%;
  width: 100%;
}

.form {
  padding: 40px 60px 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.form-title {
  font-family: OpenSans-Bold;
  color: #E87B36;
  margin-bottom: 25px;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.form-input {
  max-width: 50%;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 16px;
}

.form-input input {
  padding: 0 30px;
  width: 100%;
  height: 50px;
  border: 1px solid #086293;
  color: #086293;
  line-height: 48px;
}

.form-input input::-webkit-input-placeholder {
  color: #086293;
}

.form-input input::-moz-placeholder {
  color: #086293;
}

.form-input input:-ms-input-placeholder {
  color: #086293;
}

.form-input input::-ms-input-placeholder {
  color: #086293;
}

.form-input input::placeholder {
  color: #086293;
}

.form-input:nth-last-child(2) {
  max-width: 100%;
}

.form-textarea {
  padding: 0 8px;
  max-width: 100%;
  width: 100%;
}

.form-textarea textarea {
  color: #086293;
  padding: 13px 30px;
  height: 110px;
  width: 100%;
  border: 1px solid #086293;
  resize: none;
}

.form-textarea textarea::-webkit-input-placeholder {
  color: #086293;
}

.form-textarea textarea::-moz-placeholder {
  color: #086293;
}

.form-textarea textarea:-ms-input-placeholder {
  color: #086293;
}

.form-textarea textarea::-ms-input-placeholder {
  color: #086293;
}

.form-textarea textarea::placeholder {
  color: #086293;
}

.form .btn {
  margin-top: 25px;
}

.profSol--white {
  background-color: #fff;
}

.profSol--white .profSol-block__row {
  border-color: #086293;
}

.profSol--white .profSol-block__info {
  color: #086293;
  -webkit-transition: color 0.3s linear, bottom 1s linear;
  -o-transition: color 0.3s linear, bottom 1s linear;
  transition: color 0.3s linear, bottom 1s linear;
}

.profSol--white .profSol-block__icon {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: -webkit-filter 0.3s linear;
  transition: -webkit-filter 0.3s linear;
  -o-transition: filter 0.3s linear;
  transition: filter 0.3s linear;
  transition: filter 0.3s linear, -webkit-filter 0.3s linear;
}

.profSol--white .profSol-block__title::after {
  background-color: #086293;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.profSol--white .profSol-block:hover .profSol-block__info {
  color: #fff;
}

.profSol--white .profSol-block:hover .profSol-block__icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.profSol--white .profSol-block:hover .profSol-block__title::after {
  background-color: #fff;
}

.seoText {
  padding-top: 50px;
}

.main--sidebar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.sidebar {
  max-width: 25%;
  width: 100%;
  margin: 0 30px 0 0;
}

.sidebar-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px  0 22px;
  height: 58px;
  font-size: 1.125rem;
  font-family: OpenSans-Bold;
  color: #086293;
  cursor: pointer;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.sidebar-head.active {
  background: #F7F7F7;
}

.sidebar-head.active .sidebar-arrow {
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.sidebar-head:hover {
  background: #F7F7F7;
}

.sidebar-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  right: 24px;
  width: 15px;
  height: 15px;
}

.sidebar-row {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.sidebar .sidebar-sub {
  display: none;
}

.sidebar .sidebar-sub li a {
  display: block;
  padding: 8px 20px;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.sidebar .sidebar-sub li a:hover {
  background: #F7F7F7;
}

.products {
  padding-top: 0;
  max-width: 75%;
  width: 100%;
}

.products-title {
  color: #086293;
  font-family: OpenSans-Bold;
  margin-bottom: 10px;
}

.products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px;
}

.products-block {
  max-width: 33.3333%;
  width: 100%;
  border: 1px solid #E2E2E2;
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}

.products-block__img {
  position: relative;
  padding: 6.4rem 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #E2E2E2;
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}

.products-block__imgBox {
  background-color: #086293;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.products-block__imgBox img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-block__info {
  padding: 20px 15px 40px;
}

.products-block__name {
  font-size: 1.25rem;
  text-align: center;
}

.products-block .btn {
  max-width: 135px;
  margin: 25px auto 0;
}

.products-block:hover {
  border-color: #086293;
}

.products-block:hover .products-block__img {
  border-color: #086293;
}

.pagination {
  position: relative;
  z-index: 3;
  width: 100%;
  font-size: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.pagination li {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination li.active a {
  color: #E87B36;
}

.pagination li a {
  color: #000;
}

.pagination li a:hover {
  color: #E87B36;
}

.modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal .close-modal svg {
  width: 1.2em;
  height: 1.2em;
}

.modal-content {
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: OpenSans-Bold;
  margin-bottom: 32px;
}

.modal-input:last-child {
  margin-bottom: 0;
}

.modal-input input {
  width: 100%;
  position: relative;
  font-family: OpenSans-Regular;
  height: 40px;
  padding: 0 20px 0 40px;
  line-height: 39px;
  border-bottom: 1px solid #E87B36;
}

.modal .modal-input--name > div {
  position: relative;
}

.modal .modal-input--name > div:after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49964 9.52441C4.4926 9.52441 0.418945 13.5981 0.418945 18.6051C0.418945 18.823 0.595834 18.9999 0.813771 18.9999H18.1855C18.4035 18.9999 18.5804 18.823 18.5804 18.6051C18.5804 13.5981 14.5067 9.52441 9.49964 9.52441Z' fill='%23E87B36'/%3E%3Cpath d='M9.50016 8.68586C11.8987 8.68586 13.8431 6.74147 13.8431 4.34293C13.8431 1.9444 11.8987 0 9.50016 0C7.10162 0 5.15723 1.9444 5.15723 4.34293C5.15723 6.74147 7.10162 8.68586 9.50016 8.68586Z' fill='%23E87B36'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.modal .modal-input--phone > div {
  position: relative;
}

.modal .modal-input--phone > div:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.4561 14.678L16.6651 11.8869C15.6683 10.8901 13.9737 11.2889 13.575 12.5847C13.2759 13.4819 12.2791 13.9803 11.382 13.7809C9.38839 13.2825 6.69701 10.6908 6.1986 8.59746C5.89956 7.7003 6.49765 6.70349 7.39477 6.40448C8.69062 6.00576 9.08934 4.31119 8.09254 3.31438L5.30148 0.523324C4.50403 -0.174441 3.30786 -0.174441 2.6101 0.523324L0.716166 2.41726C-1.17777 4.41087 0.915528 9.69395 5.60052 14.3789C10.2855 19.0639 15.5686 21.2569 17.5622 19.2633L19.4561 17.3694C20.1539 16.5719 20.1539 15.3757 19.4561 14.678Z' fill='%23E87B36'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.modal .btn {
  margin: 30px 0 0 0;
}

.modal-form {
  padding: 20px 40px 40px;
}

.modal-title {
  color: #fff;
  font-size: 1.25rem;
  background: #086293;
  width: 100%;
  padding: 25px 25% 25px 40px;
  font-family: OpenSans-Bold;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

.footer {
  padding: 35px 0 20px;
  background: #086293;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
  color: #fff;
}

.footer a {
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.footer a:hover {
  border-color: #fff;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}

.footer-logo {
  max-width: 190px;
  width: 100%;
  height: auto;
}

.footer-menu {
  width: calc(100% - 190px);
}

.footer-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-menu__ul li {
  margin-left: 0;
  margin-bottom: 20px;
  text-align: right;
}

.footer-menu__ul li + li {
  margin-left: 25px;
}

.footer-phone {
  margin: 20px 0 0 auto;
  font-family: OpenSans-Bold;
}

.footer-bottom {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__box {
  text-align: left;
}

.footer-bottom__box:last-child {
  text-align: right;
}

.footer-dev {
  margin-top: 15px;
  text-align: right;
}

.footer-dev a {
  font-family: OpenSans-Bold;
}

.modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal .close-modal svg {
  width: 1.2em;
  height: 1.2em;
}

.modal-content {
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: OpenSans-Bold;
  margin-bottom: 32px;
}

.modal-input:last-child {
  margin-bottom: 0;
}

.modal-input input {
  width: 100%;
  position: relative;
  font-family: OpenSans-Regular;
  height: 40px;
  padding: 0 20px 0 40px;
  line-height: 39px;
  border-bottom: 1px solid #E87B36;
}

.modal .modal-input--name > div {
  position: relative;
}

.modal .modal-input--name > div:after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49964 9.52441C4.4926 9.52441 0.418945 13.5981 0.418945 18.6051C0.418945 18.823 0.595834 18.9999 0.813771 18.9999H18.1855C18.4035 18.9999 18.5804 18.823 18.5804 18.6051C18.5804 13.5981 14.5067 9.52441 9.49964 9.52441Z' fill='%23E87B36'/%3E%3Cpath d='M9.50016 8.68586C11.8987 8.68586 13.8431 6.74147 13.8431 4.34293C13.8431 1.9444 11.8987 0 9.50016 0C7.10162 0 5.15723 1.9444 5.15723 4.34293C5.15723 6.74147 7.10162 8.68586 9.50016 8.68586Z' fill='%23E87B36'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.modal .modal-input--phone > div {
  position: relative;
}

.modal .modal-input--phone > div:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.4561 14.678L16.6651 11.8869C15.6683 10.8901 13.9737 11.2889 13.575 12.5847C13.2759 13.4819 12.2791 13.9803 11.382 13.7809C9.38839 13.2825 6.69701 10.6908 6.1986 8.59746C5.89956 7.7003 6.49765 6.70349 7.39477 6.40448C8.69062 6.00576 9.08934 4.31119 8.09254 3.31438L5.30148 0.523324C4.50403 -0.174441 3.30786 -0.174441 2.6101 0.523324L0.716166 2.41726C-1.17777 4.41087 0.915528 9.69395 5.60052 14.3789C10.2855 19.0639 15.5686 21.2569 17.5622 19.2633L19.4561 17.3694C20.1539 16.5719 20.1539 15.3757 19.4561 14.678Z' fill='%23E87B36'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.modal .btn {
  margin: 30px 0 0 0;
}

.modal-form {
  padding: 20px 40px 40px;
}

.modal-title {
  color: #fff;
  font-size: 1.25rem;
  background: #086293;
  width: 100%;
  padding: 25px 25% 25px 40px;
  font-family: OpenSans-Bold;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .ban .ban-slider__row {
    min-height: 650px;
  }
}

@media (max-width: 1100px) {
  .profSol-block {
    max-width: 49.3333%;
  }
}

@media (max-width: 991px) {
  .header-top {
    border: none;
  }

  .header-top__right {
    max-width: 100%;
    width: 100%;
    height: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header-top__phone {
    margin: 0 75px 0 20px;
  }

  .header-top__lan[class] {
    margin-right: 76px;
  }

  .header-search__btn {
    margin: 0 77px 0 0;
  }

  .header-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    right: 0;
    top: 0;
    min-width: 320px;
    max-width: 30%;
    margin: 0 15px 0 0;
  }

  .header-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu__ul::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.12);
  }

  .header-menu__ul li {
    z-index: 2;
    text-align: right;
    padding: 0;
  }

  .header-menu__ul li:first-child {
    padding-left: 0;
  }

  .header-menu__ul li:last-child {
    border-bottom: none;
    padding-right: 0;
  }

  .header-menu__ul li a {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 12px 16px;
    border-bottom: 1px solid #EDEDED;
  }

  .header .ul-Submenu__block {
    background: #FAFAFA;
    padding: 0;
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    left: 0;
    width: 100%;
  }

  .header .ul-Submenu__block::after {
    display: none;
  }

  .header .ul-Submenu__block li {
    text-align: right;
    padding: 0;
    margin: 0;
  }

  .header .ul-Submenu__block li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
    padding-right: 44px;
    border-bottom: 1px solid #EDEDED;
    text-transform: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header .ul-Submenu__block li:last-child {
    padding-bottom: 0;
  }

  .header .ul-Submenu__block li a .header-arrow {
    right: 10px;
    left: auto;
  }

  .header .ul-Submenu.hover > a .header-arrow {
    -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
  }

  .header .ul-Submenu.hover > a .header-arrow {
    top: 50%;
  }

  .header .ul-Submenu.hover li.hover .header-arrow {
    top: 50%;
  }

  .header .ul-Submenu__block--right {
    top: 0;
  }

  .header .ul-Submenu__block--right li a {
    color: #868686;
  }

  .header-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: auto;
    left: 0;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger {
    display: block;
  }

  .about-box__info {
    padding: 50px 30px 50px 45px;
  }

  .about-box__row {
    padding: 16rem 0;
  }

  .advantages-block {
    max-width: 200px;
    margin: 0 0 50px 0;
  }

  .product-block {
    position: relative;
    padding-top: 110px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-block__img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .product-block__title {
    position: absolute;
    top: 0;
    left: 0;
  }

  .contact-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contact-info__column {
    max-width: 20%;
    margin: 0 90px 0 0;
  }

  .contact-info__map {
    max-width: 100%;
    margin-top: 55px;
  }

  .sidebar {
    max-width: 260px;
  }

  .products {
    max-width: calc( 100% -  260px);
  }

  .products-block {
    max-width: 50%;
  }

  .footer-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-menu__ul li:last-child {
    margin-bottom: 0;
  }

  .footer-menu__ul li + li {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .footer-menu__ul li + li {
    margin-bottom: 13px;
  }

  .footer-phone {
    margin: -25px auto 0 0;
  }

  .footer-bottom__box {
    max-width: 40%;
  }
}

@media (max-width: 726px) {
  .header-top {
    border-bottom: 1px solid #E87B36;
  }

  .header-top__phone {
    margin-left: 0;
  }

  .header-top__lan[class] {
    margin: 0 0px 0 0;
  }

  .header-bot {
    padding: 15px 0;
  }

  .ban .ban-slider__row {
    min-height: 500px;
  }

  .ban .ban-slider__block {
    background: -o-linear-gradient(358.74deg, #086293 7.06%, #086293 49.46%, rgba(8, 98, 147, 0) 79.1%, rgba(3, 3, 3, 0) 79.1%);
    background: linear-gradient(91.26deg, #086293 7.06%, #086293 49.46%, rgba(8, 98, 147, 0) 79.1%, rgba(3, 3, 3, 0) 79.1%);
  }

  .about-box {
    max-width: 100%;
    width: 100%;
  }

  .about-box--img {
    display: none;
  }

  .about-box__info {
    padding: 50px 15px;
  }

  .profSol-block {
    max-width: 100%;
  }

  .product .tab-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }

  .product .tab-header__item {
    padding: 5px 0 0 0;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 59px;
  }

  .product .tab-header__item:last-child {
    border-bottom: 1px solid #E87B36;
  }

  .product .tab-header__item + li {
    border-left: 1px solid #E87B36;
  }

  .product .tab-header__item.active {
    height: 100%;
  }

  .product .tab-content__item {
    padding: 25px 15px;
    background: #fff;
    color: #000;
  }

  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }

  .contact-info__column {
    max-width: 50%;
  }

  .contact-info__column:first-child {
    margin: 0 0 30px 0;
  }

  .contact-info__map {
    margin-top: 30px;
  }

  .form {
    padding: 30px 55px 50px;
  }

  .form-input {
    max-width: 100%;
  }

  .main-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sidebar {
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  .products {
    max-width: 100%;
  }
}

@media (max-width: 526px) {
  html,
  body {
    font-size: 14px;
  }

  ._section {
    padding: 55px 0;
  }

  .h1 {
    font-size: 3.42rem;
  }

  .h2 {
    font-size: 1.71rem;
  }

  .h3 {
    font-size: 1.42rem;
  }

  .header-top__lan[class] {
    margin-right: 0;
  }

  .header-search__btn {
    margin-right: 45px;
  }

  .header-menu {
    min-width: 100%;
    margin-right: 0;
  }

  .header .ul-Submenu__block {
    max-width: 100%;
  }

  ul.breadcrumbs {
    font-size: 0.9rem;
    padding: 10px 0;
  }

  .ban .ban-slider__block .btn {
    margin-top: 23px;
  }

  .profSol-block__row {
    padding: 35px 15px 50px 15px;
  }

  .profSol-block__title {
    font-size: 1.45rem;
  }

  .form {
    padding: 20px 15px 30px;
  }

  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-textarea textarea {
    height: 95px;
  }

  .form .btn {
    margin: 25px auto 0;
  }

  .products-block {
    max-width: 100%;
  }

  .products-block__img {
    padding: 7.11rem 0;
  }

  .pagination {
    font-size: 1.3rem;
  }

  .modal-form {
    padding: 10px 40px 40px 20px;
  }

  .modal-title {
    padding: 10px 40px 10px 20px;
  }

  .footer-top {
    padding-bottom: 35px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu__ul li {
    text-align: left;
    margin-bottom: 13px;
  }

  .footer-phone {
    margin: 10px 0 0 0;
  }

  .footer-bottom {
    padding-top: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-bottom__box {
    max-width: 100%;
  }

  .footer-bottom__box:last-child {
    text-align: left;
    margin-top: 15px;
  }

  .footer-dev {
    text-align: left;
  }

  .modal-form {
    padding: 10px 40px 40px 20px;
  }

  .modal-title {
    padding: 10px 40px 10px 20px;
  }
}

@media (min-width: 526px) and (max-width: 991px) {
  .header-top .logo {
    max-width: 145px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}