//====================================================================================================

.section-title {
	@include adaptiv-value("font-size", 64, 30, 0);
	font-family: "Mont";
	font-style: normal;
	font-weight: 600;
	line-height: 122.37%;
	@include adaptiv-value("margin-bottom", 46, 29, 0);
}
.feedback {
	@include adaptiv-value("margin-bottom", 160, 63, 0);
}
.feedback-info {
	position: relative;
	width: 100%;
	min-height: 1px;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 10% 0 0;
	background-image: url("../img/section-feedback/01.svg");
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: 80% 80%;
	@media (max-width: $md1+px) {
		max-width: 100%;
		flex: 1 1 100%;
		@include adaptiv-value("padding-bottom", 170, 54, 0);
		padding-right: 20%;
		background-image: url("../img/section-feedback/01-mb.svg");
		background-size: auto;
		background-position: 95% 70%;
	}
	@media (max-width: $md3+px) {
		background: none;
		padding-right: 0;
	}
}
.feedback-info__text {
	font-family: Mont;
	font-style: normal;
	font-weight: 600;
	line-height: 171.37%;
}

.feedback-form {
	position: relative;
	width: 100%;
	min-height: 1px;
	flex: 0 0 50%;
	max-width: 50%;

	@media (max-width: $md1+px) {
		max-width: 100%;
		flex: 1 1 100%;
	}
}
.form {
	background: #f9f9f9;
	&__title {
		text-align: center;
		background: #212121;
		@include adaptiv-value("padding-top", 34, 16, 0);
		@include adaptiv-value("padding-bottom", 34, 16, 0);
		font-family: Mont;
		font-style: normal;
		font-weight: 600;
		@include adaptiv-value("font-size", 26, 20, 0);
		line-height: 115.87%;
		color: #ffffff;
	}

	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
		@include adaptiv-value("padding-left", 67, 22, 0);
		@include adaptiv-value("padding-right", 67, 22, 0);
	}

	&__fieldset {
		display: flex;
		flex-wrap: wrap;
	}

	&__two {
		margin: 0 -10px;
		.form__line {
			flex: 0 0 50%;
			max-width: 50%;
			width: 100%;
			padding: 0 10px;
			@media (max-width: $md3+px) {
				max-width: 100%;
				flex: 1 1 100%;
			}
		}
	}

	&__line {
		font-family: Mont;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 115.87%;
		color: #0c0c0c;
		@include adaptiv-value("margin-bottom", 26, 19, 0);
		input {
			height: 45px;
		}

		textarea {
			@include adaptiv-value("min-height", 85, 45, 0);
		}
	}

	&__one {
		.form__line {
			flex: 0 0 100%;
			max-width: 100%;
			width: 100%;
		}
	}

	&__line--file {
	}

	&__btn {
	}
	.input {
		margin-top: 7px;
		background: #f1f1f1;
		border-radius: 3px;
		padding: 0 15px;
		border: 1px solid #f1f1f1;

		&._error {
			border: 1px solid rgba(255, 0, 0, 0.671);
		}
	}
}

.phone {
}
.btn-file {
	display: flex;
	align-items: center;
	padding: 0;
	margin: auto;
}
.btn-file:hover,
.btn-file:focus {
}
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-file + .js-labelFile {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.input-file:hover+.js-labelFile .icon{
	background: #888;
}
.input-file + .js-labelFile .icon {
	transition: all 0.3s linear;
	position: relative;
	display: block;
	margin-left: 0.5vw;
	background: #1e1e1e;
	width: 1.45vw;
	height: 1.45vw;
	border-radius: 50%;
	min-width: 24px;
	min-height: 24px;
	@media (max-width: $md2+px) {
		margin-left: 1vw;
	}

	&:before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: 0.7vw;
		min-width: 10px;
		min-height: 1px;
		height: 0.05vw;
		background: #fff;
	}
	&::after {
		transform: translateX(-50%) translateY(-50%) rotate(90deg);
	}
}
.form__btn {
	display: flex;
	justify-content: flex-end;
	@media (max-width: $md3+px) {
		justify-content: flex-start;
	}
}

//====================================================================================================

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, 0.076, 1)) {
	transition: $property $duration $ease;
}

.btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	&.learn-more {
		width: 16em;
		height: auto;
		.circle {
			@include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
			position: relative;
			display: block;
			margin: 0;
			width: 3rem;
			height: 3rem;
			background: #212121;
			border-radius: 1.625rem;
			.icon {
				@include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				background: $white;
				&.arrow {
					@include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
					left: 0;
					width: 1.125rem;
					height: 0.125rem;
					background: none;
					background: #fff;
					-webkit-transform: translate(1rem, 0);
					-ms-transform: translate(1rem, 0);
					transform: translate(1rem, 0);
					&::before {
						position: absolute;
						content: "";
						top: -0.25rem;
						right: 0.0625rem;
						width: 0.625rem;
						height: 0.625rem;
						border-top: 0.125rem solid #fff;
						border-right: 0.125rem solid #fff;
						transform: rotate(45deg);
					}
				}
			}
		}
		.button-text {
			@include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			margin: 0 0 0 3rem;
			color: $black;
			font-weight: 700;
			line-height: 48px;
			text-align: left;
			padding: 0 1rem;

			text-transform: uppercase;
		}
	}
	&:hover {
		.circle {
			width: 100%;
			.icon {
				&.arrow {
					background: $white;
					transform: translate(1rem, 0);
				}
			}
		}
		.button-text {
			color: $white;
		}
	}
}

.grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	// grid-template-rows: repeat(22, 116px);
	grid-template-rows: repeat(22, 5vw);
	cursor: url(../img/cursor.svg), pointer;
	@media (max-width: $md3+px) {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;

		position: relative;
		cursor: url(../img/cursor.svg), pointer;

		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			max-width: 100%;
			width: 100%;
		}
		&:hover {
			@media ( max-width:$md3+px){
				background: #fff;
			}
			.grid-info {
				opacity: 1;
				visibility: visible;
				z-index: 2;

				&__title {
					opacity: 1;
					@include translateY(0);
					&::after {
						width: calc(100% - 20px);
					}
				}
				&__text {
					@include translateY(0%);
					opacity: 1;
				}
			}

			.btn-arrow {
				transform: translateY(100%) translateX(0%);
				opacity: 1;
			}
		}
	}

	&__item:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 9;
	}

	&__item:nth-child(2) {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 5;
	}

	&__item:nth-child(3) {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 5;
	}

	&__item:nth-child(4) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 5;
		grid-row-end: 10;
	}

	&__item:nth-child(5) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 9;
		grid-row-end: 15;
	}

	&__item:nth-child(6) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 15;
		grid-row-end: 19;
	}

	&__item:nth-child(7) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 15;
		grid-row-end: 19;
	}
	&__item:nth-child(8) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 10;
		grid-row-end: 15;
	}
	&__item:nth-child(9) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 15;
		grid-row-end: 23;
	}

	&__item:nth-child(10) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 19;
		grid-row-end: 23;
	}

	&-info {
		position: relative;
		z-index: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s linear;
		width: 100%;
		// height: 100%;
		@include adaptiv-value("margin-left", 20, 10, 0);
		@include adaptiv-value("margin-top", 20, 10, 0);
		@include adaptiv-value("margin-right", 20, 10, 0);
		@include adaptiv-value("margin-bottom", 20, 10, 0);
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background: #ffffff;
		@media ( max-width:$md3+px){
			padding: 30% 0;
		}

		&__title {
			position: relative;
			font-family: Mont;
			font-style: normal;
			font-weight: 600;
			line-height: 150.11%;
			color: #000000;
			padding: 0 0 10px 0;
			margin-bottom: 10px;
			@include translateY(-20%);
			opacity: 0;
			transition: all 0.3s linear 0.3s;
			text-align: center;

			&::after {
				content: "";
				@include horizcenter();
				bottom: 0;
				height: 1px;
				background: #dadada;
				width: 0;
				transition: width 0.3s linear 0.6s;
			}
		}

		&__text {
			font-family: Roboto;
			font-style: normal;
			font-weight: 200;
			font-size: 14px;
			line-height: 156.46%;
			color: #000000;
			@include translateY(-20%);
			opacity: 0;
			transition: all 0.3s linear 0.5s;
		}
		.btn-arrow {
			@include adaptiv-value("margin-top", -120, -60, 0);
			transform: translateY(100%) translateX(-20%);
			opacity: 0;
			transition: 0.3s linear 0.9s;
		}
	}
	.grid__item--big {
		.grid-info__title {
			@include adaptiv-value("font-size", 32, 16, 0);
		}
	}

	.grid__item--small {
		.grid-info__title {
			@include adaptiv-value("font-size", 22, 16, 0);
		}
	}

	.grid__item--aver {
		.grid-info__title {
			@include adaptiv-value("font-size", 32, 16, 0);
		}
	}
}

._btnShow{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 11em;
	@media ( min-width:$md3+px){
		display: none;
	}
}