//====================================================================================================
.popup_callback {
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0.8s ease 0s;
	.form {
		overflow: hidden;
		padding: 4vw 3.7vw;
	}

	.form-title__svg {
		width: 70%;
		height: auto;
		@include verticalcenter();
		left: -10%;
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	.form__title {
		position: relative;
		text-align: right;
		padding: 0 3.4vw;
		
		@media ( max-width:$md1+px){
			text-align: left;
			
		}
		@media ( max-width:$md3+px){
			margin: 0 0 7.2vw 0;
		}
	}
	.btn-text,
	.btn ._icon {
		color: #fff;
	}
	.btn-cricle {
		border: 1px solid #fff;
	}
	&::before {
		content: "";
		background: rgba(0, 0, 0, 0.38);
		backdrop-filter: blur(4px);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}

	&._active {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: translateX(0%);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		
	}
	// .popup__body
	.popup__body {
		transform: translateX(100%);
		position: relative;
		transition: all 0.3s ease 0s;
		background: #1e1e1e;
		z-index: 1;
		width: 100%;
		flex: 0 0 50%;
		height: 100%;
		max-width: 50%;
		margin-left: auto;
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
			height: 100%;
			max-width: 100%;
			padding: 40vw 0 0 0;
		}
	}
	// .popup__close
	.popup__close {
		width: 1.2vw;
		height: 1.2vw;
		min-width: 19px;
		min-height: 19px;
		position: absolute;
		top: 1.2vw;
		right: 1.2vw;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
		background-size: cover;
		@media ( max-width:$md3+px){
			width: 10.2vw;
			height: 10.2vw;
			margin-right: 15px;
			margin-top: 12vw;
		}
	}
	.header-content__left{
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		padding: 7vw 3.7vw;
		border-bottom: 1px solid #C1C1C1;
		.header-content__phone a{
			color: #fff;
		}
		.logo{
			margin: 0 0 7vw 0;
			img{
				@include white();
			}
		}
		@media ( min-width:$md3+px){
			display: none;

		}
	}
	@media ( max-width:$md3+px){
		.form__content, .form__title{
			padding: 0;
		}
	}
	.input-file+.js-labelFile .icon{
		background: #353535;
	}
}

.popup_rw {
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	// padding: 30px 10px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0.8s ease 0s;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	.popup__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	.popup__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		padding: 50px;
		width: 100%;
		@media ( max-width:$md3+px){
			padding:  0;
		}
		// max-width: 800px;
	}
	// .popup__close
	.popup__close {
		width: 1.2vw;
		height: 1.2vw;
		min-width: 19px;
		min-height: 19px;
		position: absolute;
		top: 1.2vw;
		right: 1.2vw;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
		background-size: cover;
		filter: brightness(1) invert(1);
		@media ( max-width:$md3+px){
			width: 10.2vw;
			height: 10.2vw;
			margin-right: 15px;
			margin-top: 12vw;
			top: 2vw;
			margin-top: 0;
		}
	}
}
//====================================================================================================
//====================================================================================================
