//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================
@import "fonts";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1480;
$md1: 991.98;
$md2: 767.98;
$md3: 526.98;
.body {
	overflow: hidden;
}

@import "news";
.teacher__img {
	position: relative;
	padding: 10px;
	z-index: -1;
	@media (max-width: $md3+px) {
		padding: 5px;
	}
	img {
		position: relative;
		z-index: 3;
		border-radius: 50%;
		padding: 10px;
		background-color: #fff;

		@media (max-width: $md3+px) {
			padding: 5px;
		}
	}
	// &::before {
	// 	@include pseudoEl(block, absolute, "");
	// 	z-index: 2;
	// 	left: 0;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	border-radius: 50%;
	// 	background: #fff;
	// 	width: 100%;
	// 	height: 100%;
	// }
	&::after {
		z-index: 1;
		@include pseudoEl(block, absolute, "");
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		background: linear-gradient(
			35deg,
			rgba(255, 109, 59, 1),
			rgba(255, 109, 59, 1),
			rgba(255, 109, 59, 1),
			rgba(254, 117, 55, 1),
			rgba(253, 140, 43, 1),
			rgba(250, 178, 25, 1),
			rgba(249, 200, 14, 1)
		);
		width: 100%;
		height: 100%;
	}
}
// @import "home";
// @import "home2";
