.header
	position: relative
	z-index: 20

	@media ( max-width:$md1+px )
		padding: 20px 0 0 0
		
	.container
		position: relative
		@include flexbox()
		align-items: center
		justify-content: flex-end

	&-logo
		max-width: 108px
		width: 100%
		height: auto

		margin: 0 auto 0 0
		@media ( max-width:$md3+px )
			max-width: 85px

	&-menu
		// width: 100%
		margin: 0 112px 0 0

		@media ( max-width:$md1+px )
			position: absolute
			right: -100%
			top: 0
			z-index: 999

			// display: none
			// margin: 0 15px 0 0
			margin: 0
			margin-top: -20px

			min-width: 280px
			max-width: 30%

			background: #f9f9f9
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25)
			transition: right 1s linear
			@media ( max-width:$md1+px )
				transition: right 0.7s linear
				
			@media ( max-width:$md3+px )
				transition: right 0.5s linear



			&.active
				right: 0

		@media ( max-width:$md3+px )
			margin-right: 0

			min-width: 100%

		&.active
			display: block
			
		&__title
			position: relative
			display: none
			@media ( max-width:$md1+px )
				display: flex
				align-items: center
				line-height: 58px
				height: 58px
				font-family: Montserrat-Bold
				display: block
				text-align: center
				text-transform: uppercase
				font-size: 1rem
		&__ul
			@include flexbox()
			justify-content: space-between
			@media ( max-width:$md1+px )
				display: flex
				flex-direction: column
			
				// &::after
				// 	@include pseudoEl(block, absolute, '')
				// 	left: 0
				// 	top: 0

				// 	width: 100%
				// 	height: 100%
					
				// 	box-shadow: inset 0 7px 15px -7px rgba(0,0,0,.12)

			li 
				cursor: pointer
				position: relative
				margin-left: 0
				& + li
					margin-left: 43px
					@media ( max-width:$md1+px )
						margin-left: 0

				@media ( max-width:$md1+px )
					z-index: 2

					padding: 0

					text-align: right

				&:first-child
					padding-left: 0
					@media ( max-width:$md1+px )
						padding-left: 0

				&:last-child
					padding-right: 0
					@media ( max-width:$md1+px )
						padding-right: 0

						border-bottom: none

				a
					position: relative

					display: flex
					align-items: center
					justify-content: center

					// margin: 0 15px
					padding: 28px 16px

					text-decoration: none
					font-family: Montserrat-Bold
					font-size: 1rem
					color: $black
					@include transitColor(0.3s)

					@media ( max-width:$md1+px )
						justify-content: center
						background: $white

						padding: 13px 16px

						border-bottom: 1px solid #EDEDED

						text-align: center


					&.active
						color: $red
						&:after
							@include pseudoEl(block, absolute, '')
							top: 0

							width: 100%
							height: 5px

							background: #F94244
							@media ( max-width:$md1+px )
								display: none

	.hover > a
		color: $red 

		
	// .ul-Submenu
	// 	&__block
	// 		@include horizcenter()
	// 		top: 100%
	// 		z-index: 99

	// 		display: none

	// 		margin: 0
	// 		padding: 0
			
	// 		max-width: 320px
	// 		min-width: 200px
	// 		width: max-content

	// 		box-shadow: inset 0 0 0 -15px rgba(0, 0, 0, 0.12)
	// 		background: #f9f9f9

	// 		@media ( max-width:$md1+px )
	// 			position: relative
	// 			left: 0

	// 			padding: 0

	// 			width: 100%

	// 			background: #FAFAFA

	// 			@include translateX(0)
				
	// 		@media ( max-width:$md3+px )
	// 			max-width: 100%
			
	// 		&::after
	// 			@include pseudoEl(block, absolute, '')
	// 			top: 0
	// 			left: 0

	// 			width: 100%
	// 			height: 100%

	// 			box-shadow: inset 0 7px 15px -7px rgba(0,0,0,.12)
	// 			@media ( max-width:$md1+px )
	// 				display: none

	// 		li
	// 			position: relative
	// 			z-index: 99

	// 			text-align: center
	// 			@media ( max-width:$md1+px )
	// 				padding: 0
	// 				margin: 0

	// 				text-align: right
	// 				a
	// 					display: flex
	// 					align-items: center
	// 					justify-content: flex-end

	// 					margin: 0 15px
	// 					padding-right: 44px

	// 					border-bottom: 1px solid #EDEDED

	// 				&:last-child
	// 					padding-bottom: 0
				
	// 			&:last-child
	// 				border: 0

	// 			a
	// 				position: relative
	// 				border-bottom: 1px solid #EDEDED
	// 				margin: 0 8px

	// 				.header-arrow
	// 					right: 0
	// 					@media ( max-width:$md1+px )
	// 						right: 10px
	// 						left: auto
				
	// 	&.hover
	// 		&>.ul-Submenu__block, li.hover > .ul-Submenu__block
	// 			display: block
				
	// 		>a, li.hover > a
	// 			color: $red

	// 		> a .header-arrow
	// 			top: 50%

	// 			transform: rotate(90deg) translateX(-50%) 

	// 			@media ( max-width:$md1+px )
	// 				transform: rotate(180deg) translateY(50%) 

	// 			@media ( max-width:$md1+px )
	// 				top: 50%

	// 		@media ( max-width:$md1+px )
	// 			li.hover .header-arrow
	// 				top: 50%
					
	// .ul-Submenu__block--right
	// 	top: 0
	// 	left: 100%
	// 	z-index: 100

	// 	transform: translateX(0)
	// 	@media ( max-width:$md1+px )
	// 		top: 0

	// 		li
	// 			a
	// 				// color: #868686

	// &-arrow
	// 	@include verticalcenter()
	// 	right: 0

	// 	cursor: pointer

	// 	width: 12px
	// 	height: 12px

	// 	margin-left: 10px

	// 	transition: transform 0.3s linear
	// 	@media ( max-width:$md1+px )
	// 		position: absolute
	// 		right: auto
	// 		left: 0
	// 		top: 50%

	// 		margin: 0

	// 		width: 20px
	// 		height: 20px

	// 		transform: translateY(-50%)


	&-social
		display: flex
		@media ( max-width:$md1+px )
			display: none

		&__svg
			margin-left: 0
			& + .header-social__svg
				margin-left: 21px

			svg
				width: 25px
				height: 25px
				fill: #26242D
				transition: fill 0.3s linear

				&:hover
					fill: $red

.burger 
	display: none
	height: 58px
	width: 58px
	@media ( max-width:$md1+px )
		display: block
	@media ( max-width:$md3+px )
		width: 31px
		height: 31px

.burgerClose
	position: absolute
	right: 20px
	@include verticalcenter()


	// position: relative
	// z-index: 999
	// // top: 50%
	// // left: 50%
	// // transform: translate(-50%, -50%)

	// .burger:hover 
	// 	cursor: pointer

	// .hambergerIcon 
	// 	height: 5px
	// 	width: 58px
	// 	position: absolute
	// 	top: 50%
	// 	left: 50%
	// 	border-radius: 50px
	// 	background-color: $black
	// 	transform: translate(-50%, -50%) rotate(0deg)
	// 	transition: all ease 0.5s

	// .hambergerIcon::before, .hambergerIcon::after 
	// 	content: ""
	// 	position: absolute
	// 	height: inherit
	// 	border-radius: inherit
	// 	background-color: inherit
	// 	margin: auto
	// 	width: 50%
	// 	transition: all ease 0.5s

	// .hambergerIcon::before 
	// 	top: -15px
	// 	left: 0
	// 	transform-origin: left

	// .hambergerIcon::after 
	// 	bottom: -15px
	// 	right: 0
	// 	transform-origin: right

	// &.active  .hambergerIcon
	// 	transform: translate(-50%, -50%) rotate(135deg)

	// &.active .hambergerIcon::before 
	// 	top: 0
	// 	transform: translateX(100%) rotate(-90deg)

	// &.active .hambergerIcon::after 
	// 	bottom: 0
	// 	transform: translateX(-100%) rotate(-90deg)

