html,
body
	font-size: 16px
	color: #26242D
	font-family: Montserrat-Medium
	@media ( max-width:$md3+px )
		font-size: 14px

body.active
	overflow: hidden


//--------- PAGE ---------//

.wrapper
	overflow: hidden

.main.active
	filter: blur(2px)

._section
	padding: 50px 0
	@media ( max-width:$md3+px )
		// padding:  25px 0

.container
	display: flex

	max-width: 1200px
	width: 100%

	margin: 0 auto
	padding: 0 15px

	@media ( max-width:$md3+px )
		&--sidebar
			flex-wrap: wrap

//--------- /PAGE ---------//


//--------- TITLE ---------//

.h1
	font-size: 3rem
	font-family: Montserrat-ExtraBold
	line-height: 1.2
		
	@media ( max-width:$md3+px )
		font-size: 1.72rem

.h2
	font-family: Montserrat-ExtraBold
	font-size: 1.5rem
	
.h3
	font-family: Montserrat-ExtraBold
	font-size: 1.375rem
	
.h4
	font-family: Montserrat-ExtraBold
	font-size: 1.125rem
	

//--------- COLOR ---------//

$white: #fff
$black: #26242D
$gray: #F8F8F8
$grayDark: #616161
$green: green
$pink: pink
$orange: orange
$red: #F94244

//--------- BTN ---------//

.btn
	display: block

	padding: 0 10px

	max-width: 206px
	width: 100%
	height: 65px

	background: $red
	
	vertical-align: middle
	cursor: pointer
	text-align: center
	line-height: 65px
	font-family: Montserrat-Bold
	@include transitTextandBgColor(0.3s)

	color: $white
	text-decoration: none
	@media ( max-width:$md3+px )
		max-width: 160px
		height: 50px
		line-height: 50px

	&:hover
		background: #26242D


	&--bot
		position: fixed
		bottom: 15px
		right: 15px
		box-shadow: 0 0 20px rgba(0,0,0,.4)


.scrollTop
	position: fixed
	right: 15px
	bottom: 15px
	
	display: flex
	justify-content: center
	align-items: center

	width: 61px
	height: 61px

	border-radius: 50%

	background: $white
	box-shadow: 0 0 20px rgba(0,0,0,.4)

	cursor: pointer
	
b
	font-family: Montserrat-ExtraBold