.section-form
.section-form__box
	position: relative

	display: flex

	width: 100%

	background: #FFFFFF
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09)

	&::after
		@include pseudoEl(block, absolute, '')
		width: 324px
		height: 416px
		right: 0
		top: 0
		background: $red

		margin-top: -21px
		margin-right: -21px
		@media ( max-width:$md1+px )
			margin-top: -10px
			margin-right: -15px
			

.form
	position: relative
	z-index: 2

	flex: 1 1 50%
	padding: 40px 0
	background: $white

	&-title
		position: relative

		padding: 10px 0 10px 55px

		max-width: 400px
		width: 100%


		line-height: 1.2

		margin-bottom: 20px
		@media ( max-width:$md1+px )
			max-width: 90%

		&::before
			@include pseudoEl(block, absolute, '')
			left: 0
			top: 0

			width: 12px
			height: 100%

			background: $red
			@media ( max-width:$md3+px )
				width: 8px

	&-col
		padding: 0 60px 0 55px

	&-input, &-textarea
		display: flex
		flex-direction: column

		font-family: Montserrat-ExtraBold

	&-input
		margin-bottom: 32px

		&__title
			position: relative
			display: flex
			align-items: center
			.plus
				cursor: pointer
				position: relative
				width: 12px
				height: 12px
				
				margin-left: 12px
				&::after, &::before
					@include pseudoEl(block, absolute, '')
					// @include verticalcenter()
					top: 50%
					width: 12px
					height: 2px
					margin-top: -1px

					background: $red

				&::before
					transform: rotate(90deg)


				
	input, textarea
		font-size: 1rem
		color: #616161

		padding: 4px 10px
		margin: 10px 0 0 0

		font-family: Montserrat-Medium
		
	input
		padding-top: 0
		height: 20px

		line-height: 18px

		border: none
		border-bottom: 2px solid #26242D

	textarea
		height: 110px

		resize: none
		border: 2px solid #26242D

	.btn
		margin: 40px 0 0 0

	&-img
		flex: 1 1 50%
		background-color: $red
		@media ( max-width:$md1+px )
			display: none

		@include img_03(3rem)
		&__box
			@include img_02()
			img
				@include img_01()

		&__text
			@include horizcenter()
			bottom: 0
			z-index: 20

			line-height: 69px
			font-size: 96px
			color: $white
			font-family: Montserrat-ExtraBold

	&-text
		.red
			font-family: Montserrat-ExtraBold
			color: $red


	


		
