.section-form
.section-form__box
	position: relative

	display: flex

	width: 100%

	background: #FFFFFF
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09)

	&::after
		@include pseudoEl(block, absolute, '')
		width: 324px
		height: 416px
		right: 0
		top: 0
		background: $red

		margin-top: -21px
		margin-right: -21px
		@media ( max-width:$md1+px )
			margin-top: -10px
			margin-right: -15px
			

.form
	position: relative
	z-index: 2

	flex: 1 1 50%
	padding: 40px 0
	background: $white

	&-title
		position: relative

		padding: 10px 0 10px 55px

		max-width: 400px
		width: 100%


		line-height: 1.2

		// margin-bottom: 20px
		@media ( max-width:$md1+px )
			max-width: 90%
		@media ( max-width:$md2+px )
			padding-left: 20px
			max-width: 100%


		&::before
			@include pseudoEl(block, absolute, '')
			left: 0
			top: 0

			width: 12px
			height: 100%

			background: $red
			@media ( max-width:$md3+px )
				width: 8px

	&-col
		padding: 0 60px 0 55px
		@media ( max-width:$md2+px )
			padding: 0 30px 0 20px

	&-input, &-textarea, &-radio, &-select, &-checkbox
		display: flex
		flex-wrap: wrap

		font-family: Montserrat-ExtraBold
		
		.red
			color: $red

	&-input
		margin-bottom: 32px

		&__title
			position: relative
			display: flex
			align-items: center
			.plus
				cursor: pointer
				position: relative
				width: 12px
				height: 12px

				margin-left: 12px
				&::after, &::before
					@include pseudoEl(block, absolute, '')
					// @include verticalcenter()
					top: 50%
					width: 12px
					height: 2px
					margin-top: -1px

					background: $red

				&::before
					transform: rotate(90deg)

	&-radio
		margin-bottom: 32px
		.radio-box
			margin-top: 10px

	&-select, &-checkbox, &-checkbox, &-textarea
		margin-bottom: 32px
			
	input, textarea
		font-size: 1rem
		color: #616161

		padding: 4px 10px
		margin: 10px 0 0 0

		font-family: Montserrat-Medium
		width: 100%
		
	input, select
		padding-top: 0
		height: 20px

		line-height: 18px

		border: none
		border-bottom: 2px solid #26242D

	select
		font-size: 1rem
		color: #616161

		// padding: 4px 10px
		margin: 10px 0 0 0
		height: 30px

		font-family: Montserrat-Medium
		width: 100%
		background: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L11.5 11.5L21 2' stroke='%23F94244' stroke-width='3'/%3E%3C/svg%3E%0A") no-repeat right
		background-size: 20px
		background-position-x: calc(100% - 20px)
		-webkit-appearance: none


	textarea
		height: 110px

		resize: none
		border: 2px solid #26242D

	.btn
		margin: 40px 0 0 0

	&-img
		flex: 1 1 50%
		background-color: $red
		@media ( max-width:$md1+px )
			display: none

		@include img_03(3rem)
		&__box
			@include img_02()
			img
				@include img_01()

		&__text
			@include horizcenter()
			bottom: 0
			z-index: 20

			line-height: 69px
			font-size: 96px
			color: $white
			font-family: Montserrat-ExtraBold

	&-text
		.red
			font-family: Montserrat-ExtraBold
			color: $red
		
.radio 
	display: block

	margin: 0 0 10px

	font-size: 16px
	cursor: pointer
	line-height: 17px

	&:last-child
		margin: 0 0 10px

	input 
		display: none

		& + span 
			position: relative
			display: block

			padding-left: 15px

			height: 19px

			line-height: 19px

			&:not(:empty) 
				padding-left: 30px

			&:before, &:after 
				content: ''
				position: absolute
				left: 0
				top: 0
				display: block

				width: 19px
				height: 19px

				border-radius: 50%

			&:before 
				border: 0.5px solid $black

			&:after 
				background: #fff
				border: 1px solid $black

				transform: scale(0.9)

		&:checked + span:before 
			background: $white

		&:checked + span:after 
			border: 0.5px solid $red

			background: $red

			transform: scale(0.7)


.invisible
	
.box-checkbox
	width: 100%



	label
		display: flex
		align-items: center
		
		width: 100%

		margin-top: 13px

		user-select: none
		cursor: pointer
		input
			position: absolute
			z-index: -1
			width: 0
			height: 0
			opacity: 0
			
		input:checked
			& + .checkbox
				border-color: #fff

				svg
					rect
						fill: #fff

					path
						fill: $red

		.checkbox
			position: relative
			float: left

			margin-right: 11px

			width: 19px
			height: 19px

			svg
				path
					fill: none

		> span
			pointer-events: none
			font-family: Montserrat-Medium
			vertical-align: middle
			@include transitColor(0.3s)

		&:hover
			> span
				color: $red
			

.personal-data
	max-width: 400px
	display: flex
	align-items: flex-start
	line-height: 1

.contract-link
	display: none
	position: relative
	margin-top: 35px
	font-family: Montserrat-Medium

	// display: none
	color: $black
	text-decoration: none

	padding-right: 40px

	@include transitColor(0.3s)
	&:hover
		color: $red
		
	&::before
		@include pseudoEl(block, absolute, url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4375 12.2266V17.6562C18.4375 18.087 18.087 18.4375 17.6562 18.4375H2.34375C1.91297 18.4375 1.5625 18.087 1.5625 17.6562V12.2266H0V17.6562C0 18.9486 1.05141 20 2.34375 20H17.6562C18.9486 20 20 18.9486 20 17.6562V12.2266H18.4375Z' fill='%23F94244'/%3E%3Cpath d='M13.7499 9.20766L10.7811 12.1764V0H9.21861V12.1764L6.24986 9.20766L5.14502 10.3125L9.99986 15.1673L14.8547 10.3125L13.7499 9.20766Z' fill='%23F94244'/%3E%3C/svg%3E%0A"))
		right: 0
		top: 50%

		width: 20px
		height: 20px

		@include translateY(-50%)



		
.wpcf7-not-valid-tip



.custom_error
	position: relative

.wpcf7-not-valid-tip
	position: absolute
	top: 50%
	right: 0

	transform: translateY(-50%)

	display: flex
	align-items: center
	justify-content: center

	width: 24px
	height: 24px

	margin-right: 16px

	background: #F94244
	border-radius: 50%
	color: #fff
	cursor: pointer
	font-family: Montserrat-Medium

	&::after
		@include pseudoEl(block, absolute, 'Поле обязательно для заполнения.')
		top: -100%
		right: 0

		width: 160px
		left: 50%
		@include translateX(-50%)

		margin-top: -35px
		padding: 10px

		color: #26242d
		background: #FFFFFF
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		font-size: 14px
		font-family: Montserrat-Medium
		text-align: center
		line-height: 1.2

		opacity: 0
		visibility: hidden
		transition: opacity 0.3s linear, visibility 0.3s linear 

	&::before
		@include pseudoEl(block, absolute, '')
		top: -10px
		z-index: 20
		border: 10px solid transparent
		border-top: 10px solid $white
		width: 10px
		height: 10px

		opacity: 0
		visibility: hidden
		transition: opacity 0.3s linear, visibility 0.3s linear 
		// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)

	&:hover::before, &:hover::after
		opacity: 1
		visibility: visible
		

		
