//<MIXIN>------------------------------------------------------------------------------
@import "mixin"
//</MIXIN>------------------------------------------------------------------------------


//<FONTS>------------------------------------------------------------------------------

@import "fonts"

//</FONTS>------------------------------------------------------------------------------


//<RESET STYLES>------------------------------------------------------------------------------

@import "resetStyles"
// @import bootstrap


//</RESET STYLES>------------------------------------------------------------------------------

  

//<LIBRARIES>------------------------------------------------------------------------------
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
@import "../../node_modules/normalize.sass/normalize.sass"

//</LIBRARIES>------------------------------------------------------------------------------


//<WIDTH PAGE>------------------------------------------------------------------------------

$md1: 991
$md2: 726
$md3: 526

//</WIDTH PAGE>------------------------------------------------------------------------------


//<MAIN>------------------------------------------------------------------------------

@import "main"
@import "header"

@import "section-title"
@import "section-ban"
@import "section-services"
@import "section-form"
@import "section-advantages"
@import "section-info"
@import "section-contact"
@import "page-error"

@import "footer"


//</MAIN>------------------------------------------------------------------------------


//<TASK>------------------------------------------------------------------------------
// @import "../task/burger/burger"

@import "task-popup"

//</TASK>------------------------------------------------------------------------------
