///-------------------------------------------------------------------------//

.woocommerce-cart {
	thead {
		color: $green;
	}

	.woocommerce table.shop_table {
		border: none;

		border-spacing: 0;
		border-collapse: collapse;
		a {
			color: $white;
		}
	}
	.woocommerce table.shop_table th {
		padding: 13px 15px;
		text-align: left;
	}

	.woocommerce table.shop_table thead {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		font-weight: 700;
	}

	.woocommerce table.shop_table tbody td {
		padding: 35px 15px;
		font-weight: 500;
	}
	.woocommerce table.shop_table tbody .cart_item:nth-child(2n + 1) {
		background-color: $bg2;
	}
	.woocommerce table.shop_table tbody {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	.woocommerce table.shop_table td {
		border-top: none;
	}

	.woocommerce table.shop_table {
		.product-name {
			padding-left: 15px;
			text-align: left;
		}
		.product-subtotal {
			color: $green;
			font-weight: 700;
			text-align: right;
			padding-right: 15px;
		}
	}
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button {
		background-color: $green;
		color: $white;
	}

	.cart_totals {
		// display: none;

		.cart-subtotal {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-left: auto;
			margin-right: 0;
		}
		tr {
			border: none !important;
		}
		.woocommerce-Price-amount {
			font-weight: 700;
			line-height: 150%;
			color: $white;
			@include adaptiv-value("font-size", 44, 24, 0);
		}
		.cart-subtotal,
		.order-total {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			th {
				font-weight: bold;
				font-size: 18px;
				line-height: 150%;
				color: $white;
				border: none !important;
				padding-bottom: 0;
				display: flex;
				align-items: flex-end;
				@media (max-width: $md1+px) {
					display: none;
				}
			}
			@media (max-width: $md1+px) {
				td {
					display: flex;
					align-items: center;
					&:before {
						margin-right: 10px;
					}
				}
			}
		}
		@media (max-width: $md1+px) {
			.order-total {
				margin-top: 50px;
			}
		}
	}
	.woocommerce .cart-collaterals table.shop_table_responsive {
		display: flex;
		justify-content: flex-end;
	}
	.woocommerce .cart-collaterals table.shop_table_responsive tbody {
		border: none !important;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-right: 15px;
		@media (max-width: $md1+px) {
			padding-right: 0;
		}
		td {
			padding: 0 0 0 15px;
		}
	}
	.woocommerce a.remove {
		flex: 0 0 1em;
		path {
			fill: red !important;
		}
		&:hover {
			path {
			}
		}
	}
	.woocommerce a.remove:hover {
		background-color: $white !important;
	}
}

//-------------------------------------------------------------------------//
.main--lk {
	@media (min-width: 1024px) {
		min-height: 700px;
		display: flex;
	}
	.title {
		width: 100%;
	}
	.sidebar {
		// height: 100%;
		// min-height: 100%;
		.sidebar__box {
			position: relative;
			// min-height: 100%;
			// height: 100%;
			@media (max-width: $md1+px) {
				padding-bottom: 20px;
			}
			p {
				line-height: 122.5%;
			}
		}
	}

	.lk {
		&__body {
			width: 100%;
		}

		&__title {
			font-weight: bold;
			font-size: 36px;
			line-height: 122.5%;
			margin-bottom: 50px;
			width: 100%;
			display: flex;
			align-items: center;
			@media (max-width: $md3+px) {
				flex-direction: column;
				align-items: flex-start;
			}
			a {
				display: flex;
				align-items: center;
				color: $white;
				@include transitColor(0.3s);
				font-size: 16px;
				margin-left: 30px;
				@media (max-width: $md3+px) {
					margin-left: 0;
				}
				&:hover {
					color: $green;
				}
				._icon-pen {
					margin-right: 10px;
				}
			}
		}
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -32px;
		width: auto;

		&__line {
			padding: 0 32px;
			position: relative;
			width: 100%;
			min-height: 1px;
			flex: 0 0 50%;
			max-width: 50%;
			@media (max-width: $md3+px) {
				flex: 1 1 100%;
				max-width: 100%;
			}
		}

		&__input {
		}
		.btn {
			margin-left: auto;
			margin-right: 32px;
			margin-top: 20px;
		}
	}

	.sidebar__box {
		.lk__menu {
			list-style-type: none;
			padding-left: 0;
			margin: 55px 0 0 0;
			@media (max-width: $md1+px) {
				width: 100%;
				max-width: 100%;
				flex: 1 1 100%;
				display: flex;
				border-bottom: 1px solid #5a5a5a;
				overflow-x: auto;
				overflow-y: hidden;
				padding-bottom: 15px;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
				&::-webkit-scrollbar {
					width: 0;
					background-color: none;
				}
				&::-webkit-scrollbar-thumb {
					background-color: none;
				}
				&::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
					background-color: none;
				}
			}
			li {
				position: relative;
				list-style: none;
				line-height: 1;
				display: flex;
				align-items: center;

				&.logoff {
					@media (min-width: $md1+px) {
						display: none;
					}
				}

				@media (max-width: $md1+px) {
					max-width: max-content;
					min-width: max-content;
				}
				._icon-menu-arrow {
					font-size: 10px;
					transform: rotate(270deg);
					margin-left: -15px;
					@media (max-width: $md1+px) {
						display: none;
					}
				}
				margin: 0 0 0 0;

				&:not(:first-child) {
					margin: 35px 0 0 0;
				}

				&:not(:last-child) {
					@media (max-width: $md1+px) {
						margin: 0 70px 0 0;
					}
					@media (max-width: $md3+px) {
						margin: 0 40px 0 0;
					}
				}
				@media (max-width: $md1+px) {
					&.is-active {
						a {
							color: $green;
						}
					}
				}
			}
		}

		.lk__line {
			font-weight: 600;
			@include adaptiv-value("font-size", 26, 18, 0);
			line-height: 120%;
			color: $white;
			border-bottom: 1px solid rgba($color: $white, $alpha: 0);
			transition: all 0.3s linear;

			&:hover {
				border-bottom: 1px solid $white;
			}
			&_active {
			}
		}

		.btn--logoff {
			@media (max-width: $md1+px) {
				display: none;
			}
		}
	}

	.table {
		&__thead {
		}

		&__tr {
			&:nth-child(2n + 1) {
				background: none;
			}
		}

		&__th {
			color: $white;
			padding: 17px 20px 17px 0;

			._icon-print {
				display: inline-block;
				margin-left: 15px;
			}
			&:first-child {
				position: relative;
				padding-left: 0;
				font-size: 16px;
			}
			&:last-child {
				position: relative;
				font-size: 16px;
				font-weight: 400;
				padding-right: 0;
			}
		}
		// table__time
		&__time {
			margin-right: 15px;
			display: inline-block;
		}

		&__time {
		}

		&__tbody {
			.table__td {
				padding: 17px 20px 17px 0;
				&:first-child {
					padding-left: 0;
					font-weight: 500;
				}
				a {
					transition: all 0.3s linear;
					&:hover {
						opacity: 0.6;
					}
				}
				&:last-child {
					padding-right: 0;
					a {
						display: flex;
						align-items: center;
						color: $green;
					}
					._icon-btn-arrow {
						display: inline-block;
						margin-left: 10px;
						font-size: 14px;
					}
				}
			}
		}

		&__td {
			font-size: 16px;
			border-bottom: 1px solid #5a5a5a;
		}

		&__tfoot {
			.table__td {
				text-align: right;
				font-weight: 700;
				font-size: 18px;
				line-height: 122.5%;
				border: none;
			}
		}
	}
	.sidebar-faq {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $green;
		padding-top: 50%;
		margin-top: -60px;
		display: flex;
		flex-direction: column;
		font-weight: bold;
		font-size: 26px;
		line-height: 120%;
		color: $white;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s linear;
		&._active {
			opacity: 1;
			visibility: visible;
		}
		&__link {
			margin-top: 25px;
		}

		&__yes,
		&__no {
			font-size: 18px;
			color: $white;
			margin-right: 27px;
			text-decoration: underline;
		}
	}

	.woocommerce-notices-wrapper {
		position: fixed;
		right: 15px;
		bottom: 15px;
		z-index: 10;
		background: none;
		@media (max-width: $md3+px) {
			width: 100%;
			right: 0;
			bottom: 0;
		}
		.woocommerce-error {
			margin: 0;
			border: none;
			background: rgba($color: #11b687, $alpha: 0.7);
			opacity: 1;
			line-height: 1;
			border-radius: 5px;
			padding: 1em 2em 1em 3.5em;
			color: $white;
			&:before {
				top: 50%;
				@include translateY(-50%);
			}
			a {
				color: #2e2f34;
			}
			@media (max-width: $md3+px) {
				width: 100%;
				border-radius: 0;
				background: rgba($color: #11b687, $alpha: 1);
				font-size: 14px;
				padding: 0.5em 0.5em 0.5em 2em;
				&:before {
					left: 0.5em;
				}
			}
			li {
				margin-bottom: 0;
			}
		}
	}
}

//========================================================================================================================================================

.sertifikat {
	&__box {
	}
}
.sertifikat-box {
	position: relative;
	z-index: 3;
	border-radius: 5px;
	padding: 30px 50px;
	display: flex;
	background: url("../img/page-certificates/bg-01.svg") 0 100% no-repeat $green;
	min-height: 210px;
	@media (min-width: $md1+px) {
		margin-top: -100px;
	}
	@media (max-width: $md1+px) {
		margin-top: -50px;
		display: flex;
		flex-wrap: wrap;
	}
	@media (max-width: $md2+px) {
		padding: 30px 15px;
	}
	@media (max-width: $md3+px) {
		margin: 0 -15px;
		border-radius: 0;

		max-width: none;
	}

	&__title {
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		font-weight: bold;
		@include adaptiv-value("font-size", 36, 24, 0);
		line-height: 122.5%;
		padding-right: 5%;
		display: flex;
		align-items: center;
		@media (max-width: $md1+px) {
			padding: 0;
			flex: 1 1 100%;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}

	&__slider {
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		display: flex;
		align-items: center;
		@media (max-width: $md1+px) {
			flex: 1 1 100%;
			max-width: 100%;
		}

		@media (max-width: $md2+px) {
			position: relative;
			padding-top: 30px;
		}
		.swiper-wrapper {
			// padding: 10px 30px;
		}
		.swiper-button-prev,
		.swiper-button-next {
			@media (max-width: $md2+px) {
				position: absolute;
				top: 0;
			}
			@media (min-width: $md1+px) {
				&:hover {
					color: #18916e !important;
				}
			}
		}
		@media (max-width: $md2+px) {
			.swiper-button-prev {
				left: 0;
			}
		}
		.swiper-button-next {
			margin-left: 15px;
			@media (max-width: $md2+px) {
				right: 0;
			}
		}
	}
}

.product-slide {
	&__item {
		&.swiper-slide-active {
			.product__item {
				label {
				}
				.product_item_price {
				}
			}
		}
	}
}
.product-type-variable {
}
.product {
	&__item {
		height: 100%;
		label {
			border: 1.7375px solid rgba(255, 255, 255, 0.27);
			border-radius: 4.34375px;
			padding: 15px 30px;
			font-size: 18px;
			line-height: 122.5%;
			color: rgba(255, 255, 255, 0.5);
			font-weight: 700;
			height: 100%;
			transition: all 0.3s linear;

			display: flex;
			flex-direction: column;
			cursor: pointer;
		}
		input {
			position: absolute;
			width: 0;
			height: 0;
			visibility: hidden;
			opacity: 0;
			&:checked + label {
				border: 2px solid #ffffff;
				color: $white;
			}
		}
		.product_item_price {
			margin-top: 20px;
			del {
				font-size: 0.8em;
			}
			ins {
				text-decoration: none;
			}
		}
	}
}

.sertifikat {
	&__ban {
		display: flex;
		align-items: center;
		padding-top: 60px;
		margin-top: -60px;
		@media (max-width: $md1+px) {
			padding-top: 50px;
			margin-top: -50px;
		}
		@include adaptiv-value("min-height", 490, 174, 0);
		&:after {
			@include pseudoEl(block, absolute, "");
			background: rgba(0, 0, 0, 0.4);
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.title {
			z-index: 3;
			margin-bottom: 80px;
		}

		._container {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
		}
	}
}
.sertifikat-ban {
}

.sertifikat-form {
	margin-top: 45px;
}
.theme_variations_wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -32px;
	@media (max-width: $md3+px) {
		margin: 0;
	}

	.col {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 32px;
		padding-left: 32px;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		@media (max-width: $md1+px) {
			flex: 1 1 100%;
			max-width: 100%;
			margin-top: 30px;
			&.attribute-pa_marshruty,
			&.attribute-pa_tip-kvadrocikla {
				flex: 0 0 50%;
				max-width: 50%;
				@media (max-width: $md3+px) {
					flex: 1 1 100%;
					max-width: 100%;
				}
			}
		}
		@media (max-width: $md3+px) {
			padding: 0;
		}

		.label {
			font-weight: 700;
			line-height: 122.5%;
			margin-bottom: 35px;
			@include adaptiv-value("font-size", 28, 22, 0);
		}

		.value > div {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 18px;
			label {
				position: relative;
				cursor: pointer;
				display: block;
				padding-bottom: 6px;
				padding-right: 40px;
				transition: all 0.3 linear;
				&::before,
				&::after {
					@include pseudoEl(block, absolute, "");
					right: 0;
					top: 50%;
					@include translateY(-50%);
					border-radius: 50%;
					border: 1px solid $white;
					width: 22px;
					height: 22px;
					transition: all 0.3s linear;
				}
			}
			input {
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				position: absolute;
				width: 0;
				height: 0;
			}
			input:checked + label {
				color: $green;
				&::after {
					width: 12px;
					height: 12px;
					right: 5px;
					background-color: $green;
					border: 1px solid $green;
				}
			}
		}
	}

	.single_variation_wrap {
		.woocommerce-variation-add-to-cart {
			position: relative;
			display: flex;
			margin: 20px -40px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			min-height: 78px;
			@media (max-width: $md3+px) {
				min-height: 70px;
			}
			.quantity {
				height: auto;
				width: 90px;
				border-right: 1px solid rgba(255, 255, 255, 0.5);
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 700;
				font-size: 16px;
				margin: 0 !important;
				@media (max-width: $md3+px) {
					width: 70px;
				}
				@media (max-width: $md3+px) {
					font-size: 14px;
				}

				input {
					flex: 0 0 25px;
					max-width: 25px;
					width: 100%;
					font-size: 16px;
					@media (max-width: $md3+px) {
						font-size: 14px;
					}
				}

				&__button::after,
				&__button::before {
					width: 10px;
					height: 2px;
					margin-left: -5px !important;
				}
			}

			.quantity__button {
				margin: 0;
				&::after,
				& ::before {
					margin: 0;
				}
			}
			.quantity__button_plus::before {
				transform: rotate(-90deg);
				margin-left: -5px;
			}
			@media (max-width: $md3+px) {
				margin: 80px -15px 0;
			}
			.single_add_to_cart_go_to_checkout {
				border-left: 1px solid rgba(255, 255, 255, 0.5);
				font-weight: bold;
				font-size: 20px;
				line-height: 122.5%;
				align-items: center;
				justify-content: flex-end;
				flex: 1 1 auto;
				padding-right: 40px;
				@media (max-width: $md3+px) {
					padding-right: 0;
					justify-content: center;
				}
			}
			.single_add_to_cart_button {
				flex: 1 1 auto;
				align-items: center;
				position: relative;
				align-items: center;
				justify-content: center;
				font-size: 35px;
				@media (max-width: $md3+px) {
					font-size: 26px;
				}
				&:before {
					content: "\e912";
					@extend %ic;
					display: block;
					margin-right: 30px;
				}
			}
			.single_add_to_cart_button,
			.single_add_to_cart_go_to_checkout {
				display: flex;
				color: $white;
				transition: all 0.3s linear;
				&:hover {
					color: #18916e !important;
				}
			}
		}
		.single_variation_box {
			background-color: $green;
			padding: 30px 40px 0;
			border-radius: 5px;
			@media (max-width: $md3+px) {
				padding: 30px 15px 0;
			}
			.price {
				text-align: right;
				font-weight: bold;
				font-size: 30px;
				line-height: 150%;
				display: block;
				@media (max-width: $md3+px) {
					font-size: 24px;
				}
				ins {
					text-decoration: none;
				}
				del {
					font-size: 0.7em;
				}
			}
		}
		.single_variation_title {
			@include adaptiv-value("font-size", 28, 22, 0);
			line-height: 122.5%;
			font-weight: 700;
			margin-bottom: 32px;
		}

		.single_variation_total_info {
			margin-bottom: 50px;
			@media (max-width: $md3+px) {
				margin: 0;
			}
			.single_variation_total_info_route,
			.single_variation_total_info_tech,
			.single_variation_total_info_timing {
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				padding-bottom: 8px;
				margin-bottom: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 18px;
				font-weight: 700;
			}
			.single_variation_total_info_route_text,
			.single_variation_total_info_timing_text,
			.single_variation_total_info_tech_text {
				font-size: 16px;
				font-weight: 400;
				text-align: right;
			}
		}
	}
}

.section-description {
}
.description,
.technique__sertifikat,
.important,
.sertifikat-review {
	display: flex;
	flex-wrap: wrap;
}
.description__title,
.technique-sertifikat__title,
.important__title,
.sertifikat-review__title,
.main--sertifikat .faq__title {
	position: relative;
	width: 100%;
	min-height: 1px;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	@media (max-width: $md1+px) {
		flex: 1 1 100%;
		max-width: 100%;
	}
}

@media (max-width: $md1+px) {
	.description__title,
	.main--sertifikat .faq__title {
		margin-bottom: 20px;
	}
}

.description__img,
.technique__sertifikat .technique__row,
.important__row,
.sertifikat-review .main-body__review,
.main--sertifikat .faq__content {
	position: relative;
	width: 100%;
	min-height: 1px;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
	padding: 0 0 0 64px;
	@media (max-width: $md1+px) {
		flex: 1 1 100%;
		max-width: 100%;
		padding: 0;
	}
}

.important__row {
	.main-ul__list {
		padding: 0 0 0 20px;
		width: 100%;
		max-width: 100%;
		flex: 1 1 100%;
	}
}

.main--sertifikat {
	@include adaptiv-value("padding-bottom", 140, 70, 0);
	._section,
	.product {
		@include adaptiv-value("margin-bottom", 140, 70, 0);
	}
	.faq {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: $md2+px) {
			& > .btn {
				display: none;
			}
		}
	}
	.main__seo {
		a {
			color: inherit;
			transition: all 0.3s linear;
			&:hover {
				color: $green;
				text-decoration: underline;
			}
		}
		@media (min-width: $md1+px) {
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
			margin-left: 33.333333%;
		}
	}
}

.sertifikat__ul {
	margin-bottom: 30px;
	li {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 32px;
		[class^="_icon-"],
		[class*=" _icon-"] {
			position: absolute;
			left: 0;
			top: 0.5ex;
			color: $green;
		}
	}
}

.theme_variations_wrapper .col .value > div input:disabled + label {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
}

.theme_variations_wrapper .reset_variations {
	color: $white;
	border-radius: 5px;
	background-color: $green;
	font-size: 16px !important;
	padding: 5px 10px;
}
.single_variation_wrap.col {
	form {
		display: flex;
		position: relative;
		height: 60px;
		@media (max-width: $md3+px) {
			height: 60px;
		}
		.quantity {
			background: $green;
			margin: 0 10px 0 0 !important;
			border-radius: 5px;
			height: 100%;
			font-weight: 700;
			width: 120px;
			@media (max-width: $md3+px) {
				width: 80px;
			}
			input {
				font-size: 20px;
				max-width: 20%;
				flex: 0 0 20%;
				@media (max-width: $md3+px) {
					font-size: 16px;
				}
			}
			&__button {
				flex: 0 0 40%;
				height: 100%;
				&::after,
				&::before {
					width: 12px;
					height: 3px;
					margin-left: -6px !important;
					@media (max-width: $md3+px) {
						width: 10px;
						height: 1px;
						margin-left: -5px !important;
					}
				}
				&.quantity__button_minus {
				}
				&.quantity__button_plus {
					&::before {
						transform: rotate(-90deg);
					}
				}
			}
		}
		.single_add_to_cart_button {
			background: $green;

			flex: 1 1 auto;
			padding: 0;
			align-items: center;
			position: relative;
			align-items: center;
			justify-content: center;
			font-size: 30px;

			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			@media (max-width: $md3+px) {
				font-size: 25px;
			}
			&:before {
				content: "\e912";
				@extend %ic;
				margin-right: 30px;
				display: block;
			}
		}

		.single_add_to_cart_go_to_checkout {
			background: $green;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;

			border-left: 1px solid rgba(255, 255, 255, 0.5);
			font-weight: bold;
			font-size: 20px;
			line-height: 122.5%;
			align-items: center;
			justify-content: flex-end;
			flex: 1 1 auto;
			@media (max-width: $md3+px) {
				font-size: 16px;
			}
		}

		.single_add_to_cart_button,
		.single_add_to_cart_go_to_checkout {
			display: flex;
			color: $white;
			transition: all 0.3s linear;
			flex: none;
			padding: 0 40px;
			@media (max-width: $md3+px) {
				padding: 0 25px;
			}
			&:hover {
				color: #18916e !important;
			}
		}
	}
}
.main__checkout {
	@media (max-width: $md1+px) {
		flex-direction: column-reverse;
		.sidebar {
			margin-bottom: 70px;
		}
		.sidebar__box {
			background: $green;
			padding: 35px;
			.btn {
				margin-left: auto;
			}
			.btn.black .circle {
				background: #2e2f34;
			}
		}
	}
}
.main-body_checkout {
	.woocommerce-form-login-toggle {
		display: none;
	}
	.checkout {
		h3 {
			display: block;
			font-weight: 700;
			line-height: 120%;
			color: $white;
			margin-bottom: 30px;
			@include adaptiv-value("font-size", 28, 20, 0);
		}
	}
	.form-row:not(.form__line) {
		margin: 0 !important;
		padding: 0 !important;
	}
	.form-row,
	.woocommerce-shipping-totals,
	.woocommerce-checkout-payment {
		// display: flex;
		// flex-wrap: wrap;
		// padding: 0 !important;
		& > ul,
		& > ul#shipping_method {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -32px;
			@media (max-width: $md1+px) {
				margin: 0 -15px;
				flex: 1 1 100%;
			}
			& > li {
				position: relative;
				width: 100%;
				min-height: 1px;
				padding-right: 32px;
				padding-left: 32px;
				flex: 0 0 50%;
				max-width: 50%;
				@media (max-width: $md1+px) {
					padding-left: 15px;
					padding-right: 15px;
				}
				@media (max-width: $md2+px) {
					flex: 1 1 100%;
					max-width: 100%;
					margin-bottom: 15px;
				}
				label {
					height: 100%;
					border: 1px solid $grayline;
					padding: 30px 65px 30px 35px;
					position: relative;
					cursor: pointer;
					display: flex !important;
					flex-direction: column;
					transition: background-color 0.3s linear;
					font-weight: 700;
					font-size: 20px;
					line-height: 122.5%;
					color: $white;
					background: none;
					&::before,
					&::after {
						@include pseudoEl(block, absolute, "");
						right: 35px;
						top: 40px;
						border-radius: 50%;
						border: 1px solid $white;
						width: 28px;
						height: 28px;
						transition: all 0.3s linear;
					}

					span {
						font-weight: 400;
						font-size: 16px;
						line-height: 122.5%;
						color: $white;
						margin-top: 12px;
						&.woocommerce-Price-amount.amount,
						&.woocommerce-Price-currencySymbol {
							font-weight: 700;
							font-size: 20px;
							line-height: 122.5%;
						}
					}
				}
				input {
					opacity: 0;
					visibility: hidden;
					z-index: -1;
					position: absolute;
					width: 0;
					height: 0;
				}
				input:checked + label {
					background: url("../img/checkout/01.svg") bottom left no-repeat $green;
					[class^="_icon-"],
					[class*=" _icon-"] {
						color: $white;
					}
					&::after {
						width: 20px;
						height: 20px;
						right: 39px !important;
						top: 44px;
						background-color: $white;
						border: 1px solid $white;
					}
				}
			}
		}
	}
	.woocommerce-cart.shop_table_wrapper {
		@include adaptiv-value("margin-bottom", 80, 50, 0);
		width: 100%;
	}
	#order_review_heading,
	#order_review .shop_table.woocommerce-checkout-review-order-table {
		opacity: 0;
		visibility: hidden;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		pointer-events: none;
	}

	.woocommerce-shipping-totals {
		.shipping-list {
			padding: 0;
			margin: 60px 0 0 0;
			// .shipping-list__line
			&__line {
				position: relative;
				display: flex;
				flex-direction: column;
				flex: 1 1 100%;
				max-width: 100%;
				width: 100%;
				display: flex;
				padding: 0 0 0 32px;
				[class^="_icon-"],
				[class*=" _icon-"] {
					position: absolute;
					margin: 0 0 0 -32px;
					color: $green;
				}
				span {
					margin-top: 0 !important;
				}
			}
		}
		.shipping_map_link {
			margin: auto 0 0 0;
			width: 100%;
			display: flex;
			padding-top: 40px;
			color: $white;
			transition: all 0.3s linear;
			[class^="_icon-"],
			[class*=" _icon-"] {
				margin: 0 12px 0 0;
				color: $white;
			}
			&:hover {
				opacity: 0.5;
			}
		}
		& > ul#shipping_method > li > label > span.shipping_method_text {
			font-weight: 700;
			font-size: 20px;
			line-height: 122.5%;
		}
	}

	.woocommerce-billing-fields {
		.woocommerce-billing-fields__field-wrapper {
			margin: 0 -32px;
			display: flex;
			flex-wrap: wrap;
			@media (max-width: $md1+px) {
				margin: 0 -15px;
			}
			.form__line {
				padding: 0 32px;
				margin-bottom: 32px;

				@media (max-width: $md1+px) {
					padding-left: 15px;
					padding-right: 15px;
				}
				@media (max-width: $md3+px) {
					flex: 1 1 100%;
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
			#billing_phone_field {
				order: 1;
			}
			#billing_first_name_field {
				order: 2;
			}
			#billing_postcode_field {
				order: 3;
			}
			#billing_email_field {
				order: 4;
			}
			#billing_address_1_field {
				order: 5;
			}
			.woocommerce-input-wrapper {
				display: block;
				margin-top: 5px;
				width: 100%;
			}
		}
	}

	.woocommerce-additional-fields {
		#order_comments_field.form-row {
			padding: 0;
			textarea.input {
				padding: 10px 20px;
				min-height: 120px;
			}
			.woocommerce-input-wrapper {
				display: block;
				width: 100%;
			}
		}
	}

	.woocommerce-checkout-review-order {
		@include adaptiv-value("margin-bottom", 80, 50, 0);
		@media (max-width: $md3+px) {
			margin-bottom: 0;
		}
	}

	.woocommerce-checkout #payment {
		background: none;
		ul.payment_methods {
			border: none;
			padding: 0;
			margin: 0 -32px;
			display: flex;
			flex-wrap: wrap;
			@media (max-width: $md1+px) {
				margin: 0 -15px;
			}
			& > li {
				margin-bottom: 32px;
				label {
					justify-content: flex-end;
					min-height: 170px;
					padding-top: 95px;
					padding-right: 35px;
					@media (max-width: $md1+px) {
					}
					@media (max-width: $md3+px) {
						padding-top: 110px;
					}
				}
				input:checked + label {
					background-position: -100% 280%;
					svg {
						opacity: 1;
					}
				}
			}
		}
	}
	.payment__svg {
		position: absolute;
		left: 35px;
		top: 35px;
		display: flex;
		svg {
			opacity: 0.2;
			transition: all 0.3s linear;
			margin-right: 10px;
		}
	}
	#place_order {
		opacity: 0;
		height: 0;
		width: 0;
		overflow: hidden;
		z-index: -1;
		visibility: hidden;
	}

	.woocommerce-error li strong {
		color: $green;
	}
}

#billing_country_field {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 0;
	pointer-events: none;
}

#theme-checkout-gift_wrap-package {
	@include adaptiv-value("margin-bottom", 80, 50, 0);

	.form-row ul li label {
		display: flex !important;
		flex-direction: column;
		.shipping_number {
			font-size: 36px;
			line-height: 122.5%;
			font-weight: 400;
			margin-bottom: 40px;
		}
	}
}

#theme-checkout-shipping-package,
#customer_details {
	@include adaptiv-value("margin-bottom", 80, 50, 0);
}

//========================================================================================================================================================
.myacc_order_status_info {
	display: inline-block;
	._icon-info {
		transition: all 0.3s linear;
	}

	.orser_status_info {
		display: inline-block;
	}
}
body:not(._touch) {
	.myacc_order_status_info {
		&:hover {
			.orser_status_info {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
			._icon-info {
				color: $green;
			}
		}
		.close {
			display: none;
		}
	}
}
body._touch {
	.myacc_order_status_info {
		&._active {
			.orser_status_info {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
			._icon-info {
				color: $green;
			}
		}
		.close {
			width: 21px;
			height: 21px;
			position: absolute;
			top: 15px;
			right: 20px;
			cursor: pointer;
			z-index: 30;
			background: url(../img/icons/close.svg) 0 0 no-repeat;
		}
	}
}

.orser_status_info {
	position: absolute;
	background-color: #2e2f34;
	border: 1px solid #5a5a5a;
	left: 0;
	top: 100%;
	padding: 15px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
	li span{
		color: $green;
	}
}
