/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background: #000;
  font-family: PoppinsRegular;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: 100%;
}

ul,
ol,
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "PoppinsBold";
  font-display: swap;
  src: url("./fonts/Poppins-Bold.woff") format("woff"), url("./fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsRegular";
  font-display: swap;
  src: url("./fonts/Poppins-Regular.woff") format("woff"), url("./fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsLight";
  font-display: swap;
  src: url("./fonts/Poppins-Light.woff") format("woff"), url("./fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsThin";
  font-display: swap;
  src: url("./fonts/Poppins-Thin.woff") format("woff"), url("./fonts/Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsMedium";
  font-display: swap;
  src: url("./fonts/Poppins-Medium.woff") format("woff"), url("./fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
}

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 145px;
  -webkit-transition: background .3s ease, height .5s linear;
  -o-transition: background .3s ease, height .5s linear;
  transition: background .3s ease, height .5s linear;
  background: rgba(0, 0, 0, 0);
}

.header-menu.active {
  -webkit-transition: background .3s ease, width .5s linear;
  -o-transition: background .3s ease, width .5s linear;
  transition: background .3s ease, width .5s linear;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__block {
  position: relative;
  z-index: 2;
  max-width: 422px;
  width: 100%;
  padding-top: 18px;
  padding-left: 18px;
  width: 100%;
}

.header-menu__block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(../img/icons/icons.svg#icon-logoBg);
}

.header-logo {
  position: relative;
  z-index: 5;
  margin-right: 62px;
  max-width: 84px;
  width: 100%;
  height: 59px;
}

.header-burger {
  position: relative;
  z-index: 5;
  max-width: 53px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.header .menu {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  visibility: hidden;
}

.header .menu.active {
  visibility: visible;
  z-index: 99;
  opacity: 1;
}

.header .menu .menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  line-height: 1.7;
}

.header .menu .menu-ul li {
  padding-left: 0px;
}

.header .menu .menu-ul li a {
  color: #fff;
}

.header .menu .menu-ul li + li {
  padding-left: 30px;
}

.header .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  margin-left: 80px;
  max-width: 320px;
  height: 68px;
  border: 3px solid #83d024;
  border-radius: 25px;
  background: #83d024;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  cursor: pointer;
}

.header .menu-button:hover {
  background: none;
}

.boxOne,
.boxTwo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.section-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 145px;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(../img/section-content/bg.jpg);
}

.section-content:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.section-content .content {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-content .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  line-height: 96px;
  color: #fff;
}

.section-content .content-block {
  position: relative;
  max-width: 335px;
  width: 100%;
  height: auto;
}

.section-content .content-block__img {
  max-width: 336px;
  width: 100%;
  height: auto;
}

.section-content__next {
  position: absolute;
  right: -100px;
  top: 50%;
  margin-top: -87px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 175px;
  border: 2px solid #83D024;
  border-radius: 50%;
  background: #83D024;
  font-size: 1.5rem;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: right .3s ease;
  -o-transition: right .3s ease;
  transition: right .3s ease;
  cursor: pointer;
}

.section-content__next:hover {
  right: -90px;
}

.section-content__next a {
  color: #fff;
  margin-top: 50%;
}

.section-content .layer {
  position: absolute;
  max-width: 58px;
  width: 100%;
  height: auto;
}

.section-content .content-icons {
  position: absolute !important;
  z-index: 98;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto !important;
}

.section-content .content-icons svg {
  width: 100%;
  height: 100%;
}

.section-content .content-icon {
  position: absolute !important;
  z-index: 99;
}

.section-content .content-icon a {
  position: absolute;
  z-index: 100;
  display: block;
  height: 100%;
  width: 100%;
}

.section-content .content-icon__mail {
  top: auto !important;
  bottom: -180px !important;
  left: 50% !important;
  width: 46px;
  height: 36px;
}

.section-content .content-icon__skype {
  top: -250px !important;
  left: 40% !important;
  width: 48px;
  height: 48px;
}

.section-content .content-icon__cactus {
  top: auto !important;
  bottom: 0px !important;
  left: auto !important;
  right: -100px !important;
  width: 58px;
  height: 69px;
}

.section-content .content-icon__viber {
  top: auto !important;
  bottom: -50% !important;
  left: -30% !important;
  right: auto !important;
  width: 43px;
  height: 45px;
}

.section-content .content-icon__telegram {
  top: -130px !important;
  left: 10% !important;
  width: 58px;
  height: 49px;
}

.section-content .content-icon__tel {
  top: -180px !important;
  left: auto !important;
  right: 0 !important;
  width: 38px;
  height: 38px;
}

.slider-in {
  -webkit-animation: slider-in 0.7s ease forwards;
          animation: slider-in 0.7s ease forwards;
}

.bg-green {
  background: green !important;
}

@-webkit-keyframes slider-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slider-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 1380px) {
  .header .menu .menu-ul {
    font-size: 1.5rem;
  }

  .header .menu-button {
    font-size: 1rem;
    height: 48px;
  }
}

@media (max-width: 1300px) {
  body {
    font-size: 12px;
  }

  .section-content .content-block {
    max-width: 250px;
  }

  .section-content .content-icon__mail {
    width: 36px;
    height: 26px;
  }

  .section-content .content-icon__skype {
    width: 38px;
    height: 38px;
  }

  .section-content .content-icon__cactus {
    width: 42px;
    height: 59px;
  }

  .section-content .content-icon__viber {
    width: 33px;
    height: 35px;
  }

  .section-content .content-icon__telegram {
    width: 48px;
    height: 39px;
  }

  .section-content .content-icon__tel {
    width: 28px;
    height: 28px;
  }

  .section-content__next {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1200px) {
  .section-content .content-icon__mail {
    top: auto !important;
    bottom: -100px !important;
    left: 50% !important;
    width: 46px;
    height: 36px;
  }

  .section-content .content-icon__skype {
    top: -100px !important;
    left: 40% !important;
    width: 48px;
    height: 48px;
  }

  .section-content .content-icon__cactus {
    top: auto !important;
    bottom: 0px !important;
    left: auto !important;
    right: 0 !important;
    width: 58px;
    height: 69px;
  }

  .section-content .content-icon__viber {
    top: auto !important;
    bottom: -25% !important;
    left: -20% !important;
    right: auto !important;
    width: 43px;
    height: 45px;
  }

  .section-content .content-icon__telegram {
    top: -60px !important;
    left: 10% !important;
    width: 58px;
    height: 49px;
  }

  .section-content .content-icon__tel {
    top: -60px !important;
    left: auto !important;
    right: 0 !important;
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 1180px) {
  .section-content .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-content .content-block {
    margin-left: 60px;
  }

  .header .menu .menu-ul {
    font-size: 1.1rem;
  }

  .header .menu-button {
    max-width: 130px;
    height: 35px;
    margin-left: 30px;
    padding: 10px 5px;
    font-size: 0.7rem;
  }
}

@media (max-width: 991px) {
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px auto 0 0;
  }

  .header .menu .menu-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
  }

  .header .menu .menu-ul li + li {
    padding: 0;
  }

  .header .menu-button {
    margin-left: 0;
    margin-top: 20px;
  }

  .header-menu {
    max-width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu.active {
    max-width: 50%;
    min-height: 100vh;
    padding-bottom: 50px;
    -webkit-transition: background .3s ease, height .5s linear;
    -o-transition: background .3s ease, height .5s linear;
    transition: background .3s ease, height .5s linear;
    background: rgba(0, 0, 0, 0.9);
  }

  .header-menu__block::after {
    height: 180px;
  }

  .section-content {
    padding-bottom: 100px;
  }

  .section-content .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-content .content-block,
  .section-content .content-title {
    text-align: center;
    margin: auto;
  }

  .section-content .content-block {
    margin-top: 150px;
  }
}

@media (max-width: 820px) {
  .header-menu {
    height: 100px;
    max-width: 100%;
    background: black;
  }

  .header-menu.active {
    background: black;
  }

  .header-menu__block {
    padding-right: 18px;
    max-width: 100%;
  }

  .header-menu__block::after {
    display: none;
  }

  .header-menu__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-menu.active {
    max-width: 100%;
  }

  .header .menu {
    padding: 0;
    margin: 40px auto 0;
    text-align: center;
  }

  .header .menu .menu-ul {
    font-size: 1.7rem;
    line-height: 2.2;
  }

  .section-content__next:hover {
    right: -55px;
  }

  .section-content {
    margin-top: 100px;
    padding-bottom: 200px;
  }

  .section-content .content-title {
    font-size: 2.1rem;
    line-height: 1.4;
  }

  .section-content .content-block {
    max-width: 200px;
  }

  .section-content .content-icon__mail {
    width: 26px;
    height: 16px;
  }

  .section-content .content-icon__skype {
    width: 28px;
    height: 28px;
  }

  .section-content .content-icon__cactus {
    width: 32px;
    height: 49px;
  }

  .section-content .content-icon__viber {
    width: 23px;
    height: 25px;
  }

  .section-content .content-icon__telegram {
    width: 38px;
    height: 29px;
  }

  .section-content .content-icon__tel {
    width: 18px;
    height: 18px;
  }

  .section-content__next {
    right: -60px;
    width: 100px;
    height: 100px;
    font-size: 1rem;
  }
}

@media (max-width: 526px) {
  .section-content {
    padding-top: 0;
  }
}

.webp .section-content { background: no-repeat center/cover url(../img/section-content/bg.webp); }