

	
.container-info
	&__title
		font-size: 50px
		font-weight: 300;
		font-size: 50px;
		line-height: 60px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 55px
		@media ( max-width:526px )
			font-size: 32px
			line-height: 44px

.tabs
	&--filter
		.tab-header
			@media ( max-width: 526px )
				// display: block
				// width: 100vw
				overflow-y: hidden
				overflow-x: auto
				&::-webkit-scrollbar
					width: 0px
					height: 0px
				&::-webkit-scrollbar 
					width: 0px
					background-color: none
				&::-webkit-scrollbar-thumb 
					background-color: black
				&::-webkit-scrollbar-track 
					-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0)
					background-color: none

		li.tab-header__item
			font-size: 20px
			font-weight: 300
			font-size: 20px
			line-height: 24px
			letter-spacing: 0.05em
		
			@media screen and ( max-width: 526px )
				display: block
				max-width: 100%
				min-width: max-content
				font-size: 14px
				// width: max-content

				&::after
					margin: 0 0 0px 0 
				

		.tab-content
			position: relative
			padding: 100px 0 130px
			@media ( max-width: 526px )
				padding: 30px 0
			&::after
				content: ''
				position: absolute
				left: -100%
				top: 0

				width: 200vw
				height: 100%

				background: #F8F8F8
				z-index: -1

	.tab-header
		display: flex
		border-bottom: 1px solid rgba(0, 0, 0, 0.1 )
	
		&__item
			position: relative
			padding: 22px 0

			font-style: normal;
			font-weight: 300;	
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.05em;
			color: #000000;
			transition: color 0.3s linear
			cursor: pointer
			@media ( max-width:526px )
				font-size: 18px
				padding: 16px 0

			&:after
				position: absolute
				content: ''
				display: block
				bottom: 0
				left: 0
				margin-bottom: -1px
				height: 1px
				background: #82B378
				width: 0
				transition: all 0.3s linear

			&:not(:last-child)
				margin-right: 40px
				@media ( max-width:526px )
					margin-right: 26px

			&.active, &:hover
				color: #82B378;
				&::after
					width: calc( 100% + 20px )
					@media ( max-width: 526px )
						width: 100%

	.tab-content
		&__item
			display: none
			&.active
				display: block
			
		&--filter
			padding: 100px 0 100px
			

.tabs--filter
	.filter-content
		&__header
			
			display: flex
			@media ( max-width: 526px )
				overflow-y: hidden
				overflow-x: auto 
				&::-webkit-scrollbar
					width: 0px
					height: 0px
				&::-webkit-scrollbar 
					width: 0px
					background-color: none
				&::-webkit-scrollbar-thumb 
					background-color: black
				&::-webkit-scrollbar-track 
					-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0)
					background-color: none
			

		&__btn
			display: flex
			align-items: center
			justify-content: center
			padding:  0 30px
			line-height: 43px
			// max-height: 43px
			transition: all 0.3s linear
			cursor: pointer
			@media ( max-width: 526px )
				padding: 0 8px 
				font-size: 14px
				line-height: 28px
				display: block
				max-width: 100%
				min-width: max-content
			&:not(:last-child)
				margin: 0 20px 0 0

			&.active, &:hover
				color: #fff
				background: #82B378;

		&__body 
			display: flex
			flex-direction: column
			margin-top: 37px
			@media ( max-width:526px )
				margin-top: 32px

.filter-body
	&__title
		
		color: #000000
		@media ( max-width:526px )
			margin-bottom: 38px

	&__item
		width: 100%
		color: #6C7074
		&:not(:last-child)
			border-bottom: 1px solid rgba(#000 ,0.1 )
			

	&__title, .filter-item__row
		// flex: 1 1 100%
		// max-width: 100%

		display: grid
		grid-template-columns: 20% 14.5% 15% 14% 19.2% 17.3%

		font-size: 16px
		font-weight: 300;
		letter-spacing: 0.05em
		line-height: 1.2
		@media ( max-width:526px )
			font-size: 14px
		>div
			display: flex
			align-items: center

	&__item
		padding: 21px 0
		@media ( max-width: 526px )
			padding: 12px 0

	&__downland
		text-align: left
		a
			font-weight: normal
			font-size: 16px
			line-height: 26px
			color: #000
			text-transform: uppercase
			letter-spacing: 0.05em

	&__accessTime
		text-align: right
		margin-left: auto

	&--acc
		.filter-body__name
			color: #000000
			display: block

		.filter-body__name, .filter-body__downland a, 	.filter-body__downland a svg path
			transition: all 0.3s linear
		
		.filter-body__item:hover
			.filter-body__name, .filter-body__downland a
				color: #82B378

			.filter-body__downland a svg path
				fill: #82B378

		.filter-body__title, .filter-item__row
			display: grid
			grid-template-columns: 1fr 190px 250px 242px
			@media ( max-width: 526px )
				display: flex
				flex-wrap: wrap

		@media ( max-width: 526px )
			.filter-body__item
				padding: 24px 0

			.filter-body__title
				display: none

			.filter-body__name
				padding: 0 10px

				font-size: 14px
				line-height: 22px
				order: 1
				flex: 1 1 100%
				max-width: 100%
				margin-bottom: 15px
				color: #000

			.filter-body__datePub
				padding: 0 10px
				order: 2

			.filter-body__accessTime
				padding: 0 10px

				order: 3

			div.filter-body__datePub, div.filter-body__accessTime
				padding: 0 10px

				font-size: 14px
				display: flex
				flex-direction: column
				align-items: flex-start
				text-align: left
				
				.ds-none
					margin-bottom: 15px
					color: #000
					
			div.filter-body__datePub
				max-width: 65%
				flex: 0 0 65%
			div.filter-body__accessTime
				align-items: flex-end
				max-width: 35%
				flex: 0 0 35%

			.filter-body__downland
				padding: 0 10px

				order: 4	
				a
					margin-top: 24px
					font-size: 14px
					color: #82B378
					text-transform: inherit;
					svg path
						fill: #82B378

@media ( min-width:526px )
	.ds-none
		display: none
				
.acc
.acc-box
	border-bottom: 1px solid rgba(0, 0,0 ,0.1 )
	transition: all 0.3s linear
	@media ( max-width: 526px )
		border-bottom: none
	&.active
		border-bottom: 1px solid #000000;
		@media ( max-width: 526px )
			border-bottom: none

		.acc-head 
			&::before
				transform: translateY(-50%)

.acc-head 
	position: relative
	cursor: pointer
	padding: 39px 44px 33px 0
	font-weight: 300
	font-size: 21px
	letter-spacing: 0.05em
	text-transform: uppercase
	color: #000000
	@media ( max-width: 526px )
		font-size: 18px
		line-height: 26px;
		border-bottom: 1px solid rgba(0, 0,0 ,0.1 )
		// border-top: 1px solid rgba(0, 0,0 ,0.1 )


	&:after,
	&::before
		position: absolute
		content: ''
		width: 22px
		right: 0
		height: 1px
		background: #000
		top: 50%
		transition: all 0.3s linear
		transform: translateY(-50%)

	
	&::before
		transform: rotate(90deg)
		
	
.acc-body 
	padding-bottom: 90px
	
	display: none
	@media ( max-width: 526px )
		padding-top: 32px
		padding-bottom: 0



.tab-content__item--table
	.filter-body
		overflow-x: auto
		overflow-y: hidden
		// padding-bottom: 32px
		&::-webkit-scrollbar
			width: 4px
			height: 4px
		&::-webkit-scrollbar 
			width: 4px
			background-color: none
			
		&::-webkit-scrollbar-thumb 
			background-color: #82B378
			border-radius: 3px 
		&::-webkit-scrollbar-track 
			// -webkit-box-shadow: inset 0 0 6px #82B378
			background-color: none

	@media ( max-width:526px )
		.filter-body__item
			max-width: 100%
			min-width: max-content

		.filter-item__row, .filter-body__title
			display: flex
			max-width: 100%
			min-width: max-content
			// grid-template-columns: 220px 120px 120px 120px 200px 200px

		.filter-item__row>div, .filter-body__title >div
			padding: 0 10px

		.filter-body__datePub
			display: inline

			width: 220px

		.filter-body__datePayment
			display: inline

			width: 120px

		.filter-body__price
			display: inline

			width: 120px

		.filter-body__scha
			display: inline

			width: 120px
		
		.filter-body__picePay
			display: inline
			
			width: 200px

		.filter-body__priceScha
			display: inline
			width: 200px

//-------------------------------------------------------------------------//
header .ht-top-line .hd-tl-ul ul li
	position: relative

header .ht-top-line .hd-tl-ul ul li 
	.menu-sub 
		opacity: 0
		visibility: hidden
		padding-top: 20px
		max-width: 100%
		min-width: max-content
		display: flex
		flex-direction: column
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 150%
		transition: 0.3s linear

		li
			background: #F8F8F8

			display: block
			margin: 0

			a
				display: block
				padding: 10px 30px 
				line-height: 36px
				letter-spacing: .05em
				font-weight: 300
				text-transform: none


				li
					transition: all 0.3s linear
					color: #000
					font-size: 14px
				&::before
					display: none
				&:hover
					color: #fff
					background: #152B50


header .ht-top-line .hd-tl-ul ul li:hover
	.menu-sub 
			opacity: 1
			visibility: visible
			top: 100%

			li
				transform: translateY(0)

.hidden-mnu
	.menu-sub-li
		position: relative
		display: flex
		padding-right: 30px
	.icon-plus
		position: absolute 
		right: 0
		top: 50%
		transform: translateY(-50%)
		width: 22px
		height: 22px
		&:after,
		&::before
			position: absolute
			content: ''
			width: 22px
			right: 0
			height: 1px
			background: #000
			top: 50%
			transition: all 0.3s linear
			transform: translateY(-50%)

		&::before
			transform: rotate(90deg)

		&.active
			&::before
				transform: translateY(-50%)


	.menu-sub
		display: none
		position: absolute
		top: 100%
		left: 50%
		transform: translateX(-50%)
		background: #fff
		z-index: 10
		width: 100%
		li
			margin: 0 0 0px 0 
		&.active
			display: block
		

.hd-tl-ul
	display: flex
	align-items: center

.icon-search
	margin-left: 50px
	cursor: pointer
	@media ( max-width:768px )
		display: none
		&.ds-none
			display: block
			position: absolute
			right: 75px
			top: 17px
		
	svg circle, svg line
		transition: all 0.3s linear

	&:hover
		svg circle, svg line
			stroke: #000



.search-box
	position: absolute
	left: 0
	top: 100%
	width: 100%
	opacity: 0
	visibility: hidden
	transform: translateY(-30%)
	border-top: 1px solid rgba(#000000 ,0.1 );
	padding: 40px 15px 55px
	background: #FFFFFF
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.07)
	transition: all 0.3s linear
	@media ( max-width:768px )
		padding: 20px
		top: 0

	&.active
		opacity: 1
		transform: translateY(0)
		visibility: visible

	form
		position: relative

	input
		text-transform: uppercase

		width: 100%
		border: 0
		border-bottom: 1px solid #000000
		font-size: 21px
		font-weight: 300
		line-height: 44px
		font-family: "pfdintextcondpro-light"
		color: rgba(0, 0, 0, 0.3)
		@media ( max-width:768px )
			font-size: 18px
		&:focus
			outline: none

	.btn-close
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		cursor: pointer 

		svg line
			transition: all 0.3s linear

		&:hover
			svg line
				stroke: #82B378

	
@media screen and ( min-width:  768px)
	.ds-none
		display: none
	

.filter-body__datePub,.filter-body__datePayment,.filter-body__price,.filter-body__scha,.filter-body__picePay,.filter-body__priceScha
	padding: 0 5px


.acc-box:first-child
	.acc-head
		margin-top: -39px
			