//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import "icon";

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Poppins";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "variable";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
	// max-width: 1600px;
	margin: 0 auto;
}
body {
	color: $white;
	font-size: 16px;
	line-height: 150%;
	font-family: $fontFamily, sans-serif;
	font-weight: 400;
	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 991px;
	}
	@media (max-width: $md2+px) {
		max-width: 768px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "lightgallery";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "ban";
@import "adv";
@import "condition";
@import "route";
@import "technique";
@import "review";
@import "faq";
@import "contact";
@import "gallery";
@import "phote";
@import "statya";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {
	flex: 1 1 auto;
	background: $bg1;
}
//===================================================================================================================================

.tabs-block {
	margin: 0px 0px 50px 0px;
	// .tabs-block__nav
	&__nav {
		display: flex;
		margin: 0px -2px;
	}
	// .tabs-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 2px;
		background-color: #7a956b;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&._active {
			background-color: #77608d;
		}
	}
	// .tabs-block__body
	&__body {
		padding: 20px 0px 0px 0px;
	}
	// .tabs-block__block
	&__block {
	}
}
//========================================================================================================================================================

.spollers-block {
	margin: 0px 0px 50px 0px;
	// .spollers-block__item
	&__item {
		margin: 0px 0px 20px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .spollers-block__title
	&__title {
		background-color: #794f45;
		cursor: pointer;
		padding: 20px 70px 20px 20px;
		position: relative;
		&::before {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(-45deg);
			position: absolute;
			right: 15px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(45deg);
			position: absolute;
			right: 29px;
			top: 50%;
		}
		&._active {
			&::before {
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-45deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		padding: 20px 0px 0px 0px;
	}
}
//========================================================================================================================================================

.form {
	// .form__line
	&__line {
		margin: 0px 0px 20px 0px;
	}
	// .form__label
	&__label {
		display: inline-block;
		margin: 0px 0px 15px 0px;
	}
}

//========================================================================================================================================================
.slider {
	margin: 0px 0px 50px 0px;
}
//========================================================================================================================================================
.text {
	transform: translate(0px, 100px);
	opacity: 0;
	transition: all 0.3s ease 0s;
	margin: 0px 0px 50px 0px;
	a {
		color: red;
	}
	&._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

//========================================================================================================================================================

.price {
	// .price__range
	&__range {
	}
	// .price__inputs
	&__inputs {
		display: flex;
		input {
			margin: 0px 10px 0px 0px;
		}
	}
}

//========================================================================================================================================================
.gallery-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
	// .gallery-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 0px 20px 0px;
		padding: 0px 10px;
		img {
			max-width: 100%;
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.woocommerce-product-gallery--without-images {
	display: none;
}

.woocommerce div.product div.summary {
	width: 100%;
}

.pagination .current {
	color: #11b687;
}

.single-tech .sidebar__box .slider-box__img img {
	max-height: 250px;
}

.post-type-archive-faq .faq-wrapper {
	width: 100%;
}

.footer__site {
	max-width: 100%;
	margin-left: 0px;
}

.main--lk .woocommerce {
	width: 100%;
	display: flex;
}

.main__cart .woocommerce {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main--contact .map {
	overflow: hidden;
}

.main--lk .sidebar__box .lk__menu li ._icon-menu-arrow {
	display: none;
}
.main--lk .sidebar__box .lk__menu li.is-active ._icon-menu-arrow {
	display: block;
}

.main--lk .form__line_fullwidth {
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	font-weight: 600;
	font-size: calc(18px + 8 * ((100vw - 320px) / 1600));
	line-height: 120%;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	margin-top: 25px;
}

.main--lk .table__td .order_dop_title {
	display: block;
	font-size: 15px;
}

.woocommerce-cart-form__cart-item .quantity .qty {
	opacity: 1;
	transform: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#ajax_content .quantity .qty {
	opacity: 1;
	transform: unset;
	margin: 0;
}
#ajax_content .quantity {
	margin-right: 50px;
}

.cart_totals .wc-proceed-to-checkout {
	display: flex;
	justify-content: end;
}

.woocommerce-cart-form__cart-item .product-cert {
	display: flex;
}

.woocommerce-cart-form__cart-item .product-cert .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}

/***** shop page  *******/

.theme_variations_wrapper .single_variation_wrap .single_variation_box .price bdi {
	color: #fff;
	font-family: Poppins, sans-serif;
}

.woocommerce div.product form.cart .variations {
	width: auto;
	max-width: inherit;
}

.sertifikat__form .description__img img {
	max-width: 100%;
	height: auto;
}

/*#ajax_content {*/
/*min-height: 1000px;*/
/*}*/

.sertifikat__form .product-type-simple {
	display: flex;
	justify-content: end;
}

/* CHECKOUT start */

.woocommerce-checkout .woocommerce {
	width: 100%;
}

.woocommerce-checkout .optional {
	display: none;
}


.woocommerce-billing-fields__field-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields__field-wrapper p {
	flex: 1 1 50%;
}

.woocommerce-billing-fields__field-wrapper p[data-priority="50"] {
	/*flex: 1 1 100%;*/
}



.theme_variations_wrapper .attribute-pa_marshruty .value>div label span::after {
	content: " (" attr(data-text-info) ")";
	margin-left: 10px;
}


/* WOO Notices */

.woocommerce-notices-wrapper {
	background: #2e2f34;
}
.woocommerce-notices-wrapper .woocommerce-message[role="alert"] {
	background: #2e2f34;
	color: #fff;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	border: 2px solid #11b687;
}
.woocommerce-notices-wrapper .woocommerce-message[role="alert"]::before {
	color: #11b687;
}

.woocommerce-error {
	border-top-color: #b81c23;
	background: #2e2f34;
	color: #fff;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	border: 2px solid #b81c23;
}
.woocommerce-error li {
	margin-bottom: 5px;
}

.woocommerce-notices-wrapper .cart-empty {
	background: #2e2f34;
	color: #fff;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	border: 2px solid #11b687;
}
.woocommerce-notices-wrapper .cart-empty:before {
	color: #11b687;
}

.woocommerce-message a {
	color: #11b687;
	text-decoration: underline;
}


.sertifikat-form .empty_product  {
	background: #2e2f34;
	color: #fff;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	border: 2px solid #11b687;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 50px;
}
.sertifikat-form .empty_product:before {
	color: #11b687;
}

body div[role="form"] {
	width: 100%;
}

.main__cart .woocommerce .cart-empty {
	background: #2e2f34;
	color: #fff;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	border: 2px solid #11b687;
	width: 100%;
}
.main__cart .woocommerce .cart-empty:before {
	color: #11b687;
}


.woocommerce .checkout #shipping_method li label .subtext {
	padding: 0;
	margin: 60px 0 0 0;
}

.contact-tel__num {
	transition: all .3s linear;
}

.price_table_subtitle_th {
	display: inline-block;
}

.home .title__sup {
	display: none;
}

.home .faq__title .title__sup {
	display: block;
}

/***************/


.single-route {}
.single-route .main__sidebar p {
	margin-top: 15px;
}
.single-route .main-body__title:not(:first-child) {
	margin-top: 40px;
}
 .single-route .main-body  p > a {
	color: #fff ;
	border-bottom: 1px solid #fff;
	transition: all .3s linear;
}



.single-route .main-body  p >a:hover {
	color: #11b687;
	border-bottom: 1px solid #11b687;

}

.single-route .main-body .title__link , .single-route .main-body .title__link:hover {
	border-bottom: none;
}


._side-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	max-width: 100%;
}


.post-type-archive-route .learn-more  {
	margin-top: 20px;
	margin-bottom: 40px;
}





.home {}
.home .section-info a {
	margin-top: 45px;
}

.home .review-box__bot .learn-more .circle {
	display: none;
}
.home .review-box__bot  .learn-more .button-text {
	padding: 0;
}

@media (min-width: 526.98px){
	.home .review-box__bot .learn-more:hover .button-text {
		 color: #11b687;
	}
}





.main__sidebar p {
	margin-bottom: 10px;

}

.post-type-archive-price .main .sidebar__box ul {
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.post-type-archive-tech .technique {
	margin-top: 20px;
}


.theme_variations_wrapper .attribute-pa_marshruty .value>div label span::after {
	content: "(" attr(data-text-info) ")";
	margin-left: 10px;
}

@media (max-width: 526.98px){
	.reset_variations {
		 margin-bottom: 20px;
		 display: inline-block;
	}

	.post-type-archive-route .main-body__title  {
		 margin-bottom: 40px;
	}
}

@media screen and (min-width: 980px) { 
.sertifikat__ban .title {
  
	margin-bottom: 140px;
}
}

/*main__static_page_content__sidebar */

.main__static_page_content__sidebar .main-body {}
.main__static_page_content__sidebar .main-body p {}


.main__static_page_content__sidebar .main-body img {
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.main__static_page_content__sidebar .main-body p img {
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.main__static_page_content__sidebar .main-body p a img { }


.main__static_page_content__sidebar .main-body p a{
	color: #fff;
	text-decoration: underline;
}
.main__static_page_content__sidebar .main-body p a:hover{
	color: #11b687;
	text-decoration: underline;
}
.main__static_page_content__sidebar .main-body ul{}
.main__static_page_content__sidebar .main-body ul li {}
.main__static_page_content__sidebar .main-body ul li a{}
.main__static_page_content__sidebar .main-body h1 {}
.main__static_page_content__sidebar .main-body h2 {}
.main__static_page_content__sidebar .main-body h3 {}
.main__static_page_content__sidebar .main-body h4 {}
.main__static_page_content__sidebar .main-body h5 {}
.main__static_page_content__sidebar .main-body h6 {}





/*main__static_page_content*/







.main__static_page_content .main__body {
	padding-left: 0;
	flex: 0 0 100%;
	max-width: 100%;
}
.main__static_page_content .main-body p {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.main__static_page_content .main-body p a img {
	width: 100%;
	max-width: 500px;
	height: auto;
}

.main__static_page_content .main-body img {
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.main__static_page_content .main-body p img {
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}


.main__static_page_content .main-body a,
.main__static_page_content .main-body p a {
	color: #fff;
	text-decoration: underline;
	transition: all .3s linear;
}
.main__static_page_content .main-body a:hover,
.main__static_page_content .main-body p a:hover {
	color: #11b687;
	text-decoration: underline;
}

.main__static_page_content .main-body ul{
	width: 100%;
}
.main__static_page_content .main-body ul li {}
.main__static_page_content .main-body ul li a {}

.main__static_page_content .main-body ol {
	margin-bottom: 10px;
	padding-left: 20px;
}
.main__static_page_content .main-body ol li {
	margin-bottom: 5px;
}

.main__static_page_content .main-body ol li ol {
	padding-left: 20px;
	margin-top: 5px;
}

.main__static_page_content .main-body ol li ol li {
	margin-bottom: 5px;
}

.main__static_page_content .main-body ol li a {}

.main__static_page_content .main-body :is(h1, h2, h3, h4, h5, h6) {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}
.main__static_page_content .main-body h1 {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	max-width: 100%;
	width: 100%;
	font-weight: 700;
	font-size: calc(26px + 10 * ((100vw - 320px)/ 1600));
	line-height: 122.5%;
	color: #fff;
	text-align: left;
	margin-bottom: 20px;
}
.main__static_page_content .main-body h2 {
	font-size: calc(19px + 10 * ((100vw - 320px)/ 1600));
}
.main__static_page_content .main-body h3 {
	font-size: calc(17px + 10 * ((100vw - 320px)/ 1600));
}
.main__static_page_content .main-body h4 {
	font-size: calc(15px + 10 * ((100vw - 320px)/ 1600));
}
.main__static_page_content .main-body h5 {
	font-size: calc(15px + 10 * ((100vw - 320px)/ 1600));
}
.main__static_page_content .main-body h6 {
	font-size: calc(15px + 10 * ((100vw - 320px)/ 1600));
}

/*********************************************************/



.main--sertifikat .sertifikat-box__title {
	display: none;
}


.main--sertifikat .sertifikat-box__slider {
	flex: 0 0 100%;
	max-width: 100%;
}



.post-type-archive-blog .learn-more {
	display: none;
}



.faq-item__head b {
	margin-right: 5px;
}