.section-about {
	margin-top: 0;
	padding: 60px 0 0 0;
	@media ( max-width:$md3+px){
		padding: 40px 0 0 0;
	}
}

.about-content {
	display: flex;
	justify-content: space-between;
	//.about-content__info

	&__video {
		position: relative;
		max-width: 548px;
		width: 100%;
		// flex: 0 0 50%;
		overflow: hidden;
		padding: 21.35% 0;
		@media (max-width: $md1+px) {
			display: none;
		}
		.about-video__box {
			z-index: -1;

			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			video {
				width: 100%;
				height: 100%;
				vertical-align: bottom;
				object-fit: cover;
				position: relative;
				z-index: 2;
			}
		}
	}
}

.about-info {
	@media (min-width: $md1+px) {
		max-width: 50%;
		width: 100%;
		flex: 0 0 50%;
	}
	@media (max-width: $md1+px) {
		max-width: 80%;
		width: 100%;
		flex: 0 0 80%;
	}
	@media (max-width: $md3+px) {
		max-width: 100%;
		flex: 1 1 100%;
	}

	//.about-info__title
	&__title {
		@include translateX(-30%);
		opacity: 0;
		transition: 0.5s linear;
		font-family: "TTFirsNeue-Bold";
		font-size: 42px;
		line-height: 137%;
		color: #252525;
		@include adaptiv-value("margin-bottom", 29, 21, 0);
		&._active {
			opacity: 1;
			transform: translateX(0);
		}
		@media (max-width: $md3+px) {
			font-size: 26px;
			line-height: 137%;
		}
		span {
			color: #2d6fb1;
		}
	}

	//.about-info__text
	&__text {
		font-size: 20px;
		line-height: 137%;
		color: #555555;
		// @include translateY(-50%);
		@include translateX(-30%);

		opacity: 0;
		transition: all 0.5s linear 0.4s;
		transition-delay: 0.5s;
		&._active {
			@include translateX(0);
			opacity: 1;
		}
		@media (min-width: $md1+px) {
			max-width: 80%;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}

	.btn {
		@include adaptiv-value("margin-top", 43, 31, 0);
		// transform: scale(0);
		@include translateX(-30%);
		transition: transform 0.5s linear 0.9s, background-position 0.3s linear;
		opacity: 0;
		&._active{
		// transform: scale(1);
		@include translateX(0%);
		opacity: 1;


		}
	}
}

.about-video__grid {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	outline: 10px solid #fff;
	outline-offset: -15px;
	border: 10px solid #fff;
}

.grid-item {
	outline: 10px solid #fff;
	outline-offset: -9px;
	border: 10px solid #fff;
	border-radius: 4px;

	&:first-child {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 9;
		.grid-item__bg{

		transition-delay: 0.2s;

		}
	}
	&:nth-child(2) {
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 1;
		grid-row-end: 6;
		.grid-item__bg{

		transition-delay: 0.4s;

		}
	}
	&:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 9;
		grid-row-end: 13;

		.grid-item__bg{
			transition-delay: 0.6s;
			}
	}

	&:nth-child(4) {
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 6;
		grid-row-end: 13;
		.grid-item__bg{

		transition-delay: 0.8s;

		}
	}

	&__bg {

		width: 100%;
		height: 100%;
		// border-radius: 4px;
		background: #fff;
		transition: all 1s linear;

		overflow: hidden;
		&._active {
			background: rgba($color: #000000, $alpha: 0);
		}
	}
}
