.footer {
	background: #273857;
	color: #fff;
	margin-top: 100px;
	a {
		color: #fff;
	}
	.logo {
		color: #fff;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			order: 1;
			margin-bottom: 15px;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		min-height: 102px;
		@media (max-width: $md3+px) {
			padding: 18px 15px 24px;
		}
	}
	.icon-mail {
		padding-left: 24px;
		position: relative;
		&:hover{
			text-decoration: underline;
		}
		@media (max-width: $md3+px) {
			order: 2;
		}
		&::after {
			top: 50%;
			@include translateY(-50%);
			left: 0;
			height: 12px;
			@include pseudoEl(
				block,
				absolute,
				url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8437 0.555908H2.12943C1.20501 0.556222 0.455741 1.30559 0.455322 2.23002V8.48103C0.455741 9.40545 1.20501 10.1549 2.12943 10.1551H12.8437C13.7681 10.1549 14.5174 9.40545 14.5178 8.48103V2.23002C14.5174 1.30559 13.7681 0.556222 12.8437 0.555908ZM2.12943 1.22555H12.8437C13.326 1.22681 13.7398 1.56906 13.8314 2.04241L7.48657 5.57823L1.14171 2.04241C1.23336 1.56906 1.64718 1.22681 2.12943 1.22555ZM12.8437 9.48225H2.12943C1.5754 9.48057 1.12653 9.03181 1.12497 8.47778V2.79921L7.32251 6.25446C7.37273 6.28209 7.42913 6.29715 7.48657 6.2981C7.54422 6.29872 7.60083 6.28366 7.65063 6.25446L13.8482 2.79921V8.47778C13.8478 9.03233 13.3983 9.48172 12.8437 9.48225Z' fill='white'/%3E%3C/svg%3E%0A")
			);
		}
	}
	.copyright {
		@media (max-width: $md3+px) {
			order: 3;
		}
	}
}
//====================================================================================================

//====================================================================================================
