.section-slider {
}
.slider {
	transition: all 0.5s linear;
	@include translateY(50%);
	opacity: 0;

	&._active{
		@include translateY(0);
		opacity: 1;
	}
	.section-title {
		margin-bottom: 10px;
	}
	.swiper-pagination {
		font-weight: 600;
		font-size: 24px;
		line-height: 137.5%;
		color: #dcdcdc;
		font-family: "Gilroy-SemiBold";
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
		.swiper-pagination-current {
			font-size: 72px;
			line-height: 137.5%;
			color: #2d6fb1;
			@media (max-width: $md3+px) {
				font-size: 50px;
			}
		}
	}
}

.slider-box {
	position: relative;
	display: flex;
	justify-content: space-between;

	@include adaptiv-value("padding-top", 66, 24, 0);
	@include adaptiv-value("padding-bottom", 66, 24, 0);
	@include adaptiv-value("padding-left", 90, 16, 0);
	@include adaptiv-value("padding-right", 90, 16, 0);

	border: 1px solid #f1f1f1;
	border-radius: 7px;
	@media (min-width: 1300px) {
		margin-left: calc((16px - 74 * ((100vw - 320px) / 1600)));
		margin-right: calc((16px - 74 * ((100vw - 320px) / 1600)));
	}
	@media (max-width: 1300px) {
		@include adaptiv-value("padding-top", 40, 24, 0);
		@include adaptiv-value("padding-bottom", 40, 24, 0);
		@include adaptiv-value("padding-left", 40, 16, 0);
		@include adaptiv-value("padding-right", 40, 16, 0);
	}
	@media (max-width: $md1+px) {
		flex-wrap: wrap;
	}
	&:after {
		@include pseudoEl(block, absolute, "");
		right: 0;
		top: 0;
		background: url("../img/slider/bg-01.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 100%;
		width: 100%;
		height: calc(100% - 30px);
		margin: 15px;
		z-index: -1;
		@media (max-width: $md3+px) {
			top: auto;
			bottom: 15px;
			right: 15px;
			margin: 0;
			width: 155px;
			height: 110px;
			background-position: bottom right;
		}
	}
}

.slider-content {
	&__left {
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 50%;
		max-width: 50%;
		@media (max-width: $md1+px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 31px;
		}
	}
	&__right {
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
		@media (max-width: $md1+px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
		@media (min-width: $md2+px) and (max-width: $md1+px) {
			position: absolute;
			left: 110px;
			top: 94px;
			margin-left: 90px;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 26px;
		margin-bottom: 18px;
		line-height: 146%;
		color: #252525;
		font-family: "Montserrat-Bold";
		@media (max-width: $md3+px) {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&__list {
		display: flex;
		li:not(:last-child) {
			margin: 0 28px 0 0;
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}

	.swiper-slide{
		opacity: 0;
		transition:all  0.3s linear;
		&.swiper-slide-active{
			opacity: 1;
		}
	}
}

.swiper-arrow {
	display: flex;
	margin-bottom: 20px;
	.swiper-button-next,
	.swiper-button-prev {
		transition: all 0.3s linear;
	}
	.swiper-button-next {
		margin-left: 5px;
		cursor: pointer;
		@media ( min-width:$md1+px){
			&:hover {
				transform: translateX(10px);
			}
		}
	}
	
	.swiper-button-prev {
		cursor: pointer;
		margin-right: 5px;

		@media ( min-width:$md1+px){
			&:hover {
				transform: translateX(-10px);
			}
		}
	}
	.swiper-button-disabled svg path {
		transition: all 0.3s linear;
	}
	.swiper-button-disabled svg path {
		fill: #dcdcdc;
	}
}
