.faq {
	.section-title {
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
		@include translateX(-10%);
		opacity: 0;
		transition: all 0.5s linear;
		&._active {
			opacity: 1;
			@include translateX(0);
		}

		@media (max-width: $md1+px) {
			flex: 1 1 100%;
			max-width: 100%;
			@include adaptiv-value("margin-bottom", 55, 27, 0);
		}
	}
}

.faq-content {
	display: flex;
	flex-wrap: wrap;
}

.faq-block {
	position: relative;
	width: 100%;
	min-height: 1px;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
	@media (max-width: $md1+px) {
		flex: 1 1 100%;
		max-width: 100%;
	}

	&__item {
		transform: translateY(50%);
		opacity: 0;
		transition: all 0.3s linear;
		&._active {
			transform: translateY(0);
			opacity: 1;
		}
		&:first-child {
			transition-delay: 0;
		}
		&:nth-child(2) {
			transition-delay: 0.2s;
		}
		&:nth-child(3) {
			transition-delay: 0.4s;
		}

		&:nth-child(4) {
			transition-delay: 0.6s;
		}

		&:nth-child(5) {
			transition-delay: 0.8s;
		}
		&:nth-child(6) {
			transition-delay: 1s;
		}

	
		&:not(:first-child) {
			padding-top: 31px;
			@media (max-width: $md3+px) {
				padding-top: 20px;
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid #e8e8e8;
		}
	}
}

.faq-item {
	&__title {
		margin-bottom: 31px;

		position: relative;
		cursor: pointer;
		font-size: 26px;
		line-height: 146%;
		color: #252525;
		font-family: "Montserrat-Bold";
		padding-right: 74px;
		transition: all 0.3s linear;
		&_.active{
			margin-bottom: 20px;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
			margin-bottom: 20px;

		}


		&:after,
		&:before {
			@include pseudoEl(block, absolute, "");
			right: 0;
			top: 50%;
			@include translateY(-50%);
			width: 16px;
			height: 2px;
			background: #2d6fb1;
			transition: all 0.3s linear;
		}
		&:before {
			@include rotate(90deg);
			margin-top: -1px;
		}
		&:hover {
			color: #2d6fb1;
		}
		&._active {
			&:before {
				@include translateY(-50%);
				margin-top: 0;
			}
		}
	}

	&__info {
		padding-top: 20px;
		padding-bottom: 30px;
		display: none;
		font-size: 16px;
		line-height: 166%;
		color: #555555;
		@media (max-width: $md3+px) {
			padding-top: 15px;
			padding-bottom: 20px;
		}
	}
}
