//<ОСНОВНОЙ БЛОК>====================================================================================================
.btn {
	display: block;
	position: relative;
	background: linear-gradient(105.63deg, #2450a4 2.86%, #2451a5 44.95%, #41b3cd 89.86%);
	box-shadow: 0px 10px 30px rgba(30, 47, 151, 0.3);
	border-radius: 7px;
	color: #fff;
	background-position: 100%;
	background-size: 300%;
	@include adaptiv-value("font-size", 20, 16, 0);
	line-height: 137%;
	color: #ffffff;
	font-family: "Gilroy-SemiBold";
	@include adaptiv-value("line-height", 82, 66, 0);
	max-width: 346px;
	width: 100%;
	// padding: 0 42px;
	text-align: center;

	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&::after {
		// @include pseudoEl(block, absolute, '');
		display: inline-block;
		content: url("data:image/svg+xml,%3Csvg width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2931 1.70711C13.9026 1.31658 13.9026 0.683417 14.2931 0.292893C14.6837 -0.0976311 15.3168 -0.0976311 15.7074 0.292893L21.7073 6.29289C22.0979 6.68342 22.0979 7.31658 21.7073 7.70711L15.7074 13.7071C15.3168 14.0976 14.6837 14.0976 14.2931 13.7071C13.9026 13.3166 13.9026 12.6834 14.2931 12.2929L18.586 7.99998H1.01103C0.452653 7.99998 0 7.55227 0 6.99998C0 6.4477 0.452653 5.99998 1.01103 5.99998H18.586L14.2931 1.70711Z' fill='white'/%3E%3C/svg%3E%0A");
		@include adaptiv-value("margin-left", 23, 12, 0);
		width: 22px;
		height: 14px;
	}
	&:hover {
		background-position: 0%;
	}
}

.section-title {
	font-size: 40px;
	line-height: 137%;
	font-family: "TTFirsNeue-Bold";
	color: #252525;
	@media (max-width: $md3+px) {
		font-size: 22px;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	// max-height: 573px;
	// @include adaptiv-value("padding-bottom", 573, 412, 0);
	// @include adaptiv-value("max-height", 573, 412, 0);
	@media (min-width: $md3+px) and (max-width: $md2+px) {
		// padding-bottom: 80%;
	}

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.videobg {
	position: relative;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================

//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
//=====================================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================

@keyframes mobile-scroll {
	0% {
		transform: translate3d(0, -50%, 0);
		opacity: 0;
	}
	5% {
		transform: translate3d(0, -50%, 0);
		opacity: 0;
	}

	10% {
		transform: translate3d(0, -50%, 0);
		opacity: 0.5;
	}

	20% {
		transform: translate3d(0, -50%, 0);
		opacity: 1;
	}
	70% {
		transform: translate3d(0, -50%, 0);
		opacity: 1;
	}

	80% {
		transform: translate3d(-10px, -50%, 0);
		opacity: 1;
	}

	81% {
		transform: translate3d(-15px, -50%, 0);
		opacity: 0.5;
	}
	100% {
		transform: translate3d(-20px, -50%, 0);
		opacity: 0;
	}
}

.icon-scroll {
	@media (min-width: $md3+px) and (max-width: 1100px) {
		position: relative;
		padding-right: 65px;

		&::after {
			@include pseudoEl(block, absolute, "");
			right: 0;

			top: 50%;
			@include translateY(-50%);

			width: 32px;
			height: 32px;

			background: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23.0512 2.66577H9.71749C9.34948 2.66577 9.05078 2.96447 9.05078 3.33248C9.05078 3.70049 9.34948 3.99919 9.71749 3.99919H23.0512C23.4206 3.99919 23.7179 3.70049 23.7179 3.33248C23.7179 2.96447 23.4192 2.66577 23.0512 2.66577Z' fill='%23C5C5C5'/%3E%3Cpath d='M10.6592 3.33248L12.8553 1.13772C13.1153 0.877715 13.1153 0.455014 12.8553 0.195006C12.5953 -0.065002 12.1726 -0.065002 11.9126 0.195006L9.24579 2.86178C8.98578 3.12178 8.98578 3.54449 9.24579 3.80449L11.9126 6.47126C12.0433 6.60058 12.2126 6.66596 12.3833 6.66596C12.554 6.66596 12.7246 6.60064 12.854 6.46995C13.114 6.20994 13.114 5.78724 12.854 5.52724L10.6592 3.33248Z' fill='%23C5C5C5'/%3E%3Cpath d='M27.5141 8.19522C26.6034 7.2845 25.17 7.20719 24.1727 7.96852C24.0567 7.56182 23.8394 7.17781 23.518 6.8578C22.5246 5.86446 20.9099 5.86446 19.9166 6.8578L10.839 15.9355L9.99362 10.5513C9.78562 9.09656 8.52158 7.99921 7.05084 7.99921C5.94812 7.99921 5.05078 8.89655 5.05078 9.99927V22.5717C5.05078 24.5304 5.81349 26.3718 7.19885 27.7571L9.29623 29.8545C10.679 31.2386 12.519 31.9999 14.4751 31.9999C16.3018 31.9999 18.0525 31.3226 19.4045 30.0945L24.914 25.0811C25.9061 24.0877 25.9061 22.4717 24.906 21.4716C24.5887 21.1543 24.2087 20.9383 23.8033 20.8263C24.5673 19.829 24.4913 18.3902 23.5726 17.4715C23.2619 17.1608 22.8899 16.9475 22.4966 16.8315L27.522 11.8046C28.5141 10.8113 28.5141 9.19525 27.5141 8.19522ZM26.5808 10.8593L18.5805 18.8595C18.4512 18.9902 18.3858 19.1609 18.3858 19.3316C18.3858 19.5023 18.4498 19.6729 18.5805 19.8036C18.8405 20.0636 19.2632 20.0636 19.5232 19.8036L20.914 18.4128C21.3873 17.9408 22.1567 17.9395 22.638 18.4208C23.1113 18.8942 23.1113 19.6636 22.638 20.1369L21.2473 21.5276C21.2473 21.5289 21.2446 21.5303 21.2433 21.5316C20.9873 21.793 20.9886 22.2117 21.2473 22.4704C21.5073 22.7304 21.93 22.7304 22.19 22.4704L22.2473 22.413C22.706 21.9543 23.498 21.9477 23.9714 22.421C24.4447 22.8944 24.4447 23.6638 23.9941 24.1158L18.5072 29.1079C17.4019 30.112 15.9698 30.6667 14.4751 30.6667C12.875 30.6667 11.3697 30.044 10.2376 28.9119L8.14025 26.8145C7.00691 25.6812 6.38289 24.1745 6.38289 22.5717V9.99927C6.38289 9.63126 6.68158 9.33257 7.04959 9.33257C7.86031 9.33257 8.55764 9.9379 8.67364 10.7499L9.72699 17.4328C9.76568 17.6808 9.94031 17.8848 10.179 17.9635C10.4163 18.0408 10.679 17.9768 10.8563 17.8008L20.8607 7.79652C21.334 7.3245 22.1034 7.32319 22.5847 7.80452C23.058 8.27784 23.058 9.04724 22.5847 9.52057L15.9137 16.1915C15.7844 16.3222 15.7191 16.4928 15.7191 16.6635C15.7191 16.8342 15.7831 17.0048 15.9137 17.1355C16.1738 17.3955 16.5965 17.3955 16.8565 17.1355L24.8567 9.13525C25.33 8.66192 26.0994 8.66192 26.5808 9.14325C27.0541 9.61657 27.0541 10.386 26.5808 10.8593Z' fill='%23C5C5C5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white' transform='translate(0.658203)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
				center no-repeat;
			animation: mobile-scroll 2s infinite;
		}
	}
}

._section {
	@include adaptiv-value("margin-top", 200, 100, 0);
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
