.section-videoBg {
	.videoBg-content {
		@include adaptiv-value("margin-top", 132, 62, 0);
		@include adaptiv-value("margin-bottom", 132, 62, 0);
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		color: #fff;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	.section-title {
		position: relative;
		color: #fff;
		@include translateX(-10%);
		opacity: 0;
		transition: all 0.5s linear;
		&._active {
			opacity: 1;
			@include translateX(0);
		}
		@media (min-width: $md3+px) and (max-width: $md1+px) {
			position: absolute;
			left: 15px;
			max-width: 550px;
			width: 100%;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 34px;
		}
		&::after {
			z-index: -1;
			@include pseudoEl(block, absolute, "");
			background: url("../img/videoBg/title-bg.svg") no-repeat;
			background-size: contain;
			width: 150px;
			height: 110px;
			right: -20px;
			top: -40px;
			@media (max-width: $md1+px) {
				left: -15px;
				right: auto;
			}
			@media (max-width: $md3+px) {
				width: 100px;
				height: 70px;
			}
		}
	}
	&:after {
		@include pseudoEl(block, absolute, "");
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.section-videoBg__info {
		max-width: 50%;
		width: 100%;
		flex: 0 0 50%;
		font-size: 20px;
		line-height: 146%;
		color: #ffffff;
		font-family: "Montserrat-Bold";
		transform: translateY(30%);
		transition: all 0.5s linear;
		&._active {
			transform: translateY(0);
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
		@media (min-width: $md3+px) and (max-width: $md1+px) {
			margin-top: 91px;
			max-width: 70%;
			width: 100%;
			flex: 0 0 70%;
			margin-left: auto;
		}
		@media (max-width: $md3+px) {
			max-width: 100%;
			width: 100%;
			flex: 1 1 100%;
		}
		ul {
			padding-left: 20px;
		}
		li {
			list-style-type: disc;
			&:not(:last-child) {
				@include adaptiv-value("margin-bottom", 52, 20, 0);
			}
		}
	}
}
