@import url(../../node_modules/slick-carousel/slick/slick.css);

@import url(../../node_modules/slick-carousel/slick/slick-theme.css);

@import url(../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css);

@font-face {
  font-family: "CynthoNext-Bold";
  font-display: swap;
  src: url("../fonts/CynthoNext-Bold.woff") format("woff"), url("../fonts/CynthoNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "avantgardectt";
  font-display: swap;
  src: url("../fonts/avantgardectt.woff") format("woff"), url("../fonts/avantgardectt.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CynthoNext-Medium";
  font-display: swap;
  src: url("../fonts/CynthoNext-Medium.woff") format("woff"), url("../fonts/CynthoNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CynthoNext-SemiBold";
  font-display: swap;
  src: url("../fonts/CynthoNext-SemiBold.woff") format("woff"), url("../fonts/CynthoNext-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
textarea,
select,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
}

*:focus {
  outline: 0;
}

b,
strong {
  font-family: CynthoNext-Medium;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.header .header-bot {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12,
.header .header-bot {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

html,
body {
  font-size: 16px;
  font-family: avantgardectt;
}

body.active {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.8rem;
}

.h3 {
  font-size: 1.6rem;
}

.h4 {
  font-size: 1.4rem;
}

.h5 {
  font-size: 1.2rem;
}

.btn {
  display: block;
  background: #000;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-family: CynthoNext-Medium;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.btn:hover {
  background: #CCA75D;
}

.section-title {
  color: #007bff;
  font-weight: 700;
  padding: 10px 0;
}

.section-acc .content-blocks {
  margin-bottom: 40px;
}

.section-acc .acc-block {
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.section-acc .acc-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  cursor: pointer;
  -webkit-transition: padding-bottom 0.5s linear;
  -o-transition: padding-bottom 0.5s linear;
  transition: padding-bottom 0.5s linear;
}

.section-acc .acc-block__title {
  padding: 25px 50px;
  max-width: 80%;
  width: 100%;
  font-size: 1.25rem;
  font-family: CenturyBold;
}

.section-acc .acc-block__icon {
  position: relative;
  margin: 0 25px 0 0;
  cursor: pointer;
}

.section-acc .acc-block__icon svg {
  width: 34px;
  height: 34px;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.section-acc .acc-block__link.active {
  padding-bottom: 25px;
}

.section-acc .acc-block__link.active .acc-block__icon {
  background: none;
}

.section-acc .acc-block__link.active .acc-block__icon svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-acc .acc-block__link.active .acc-block__icon::after {
  background: #FAC336;
}

.section-acc .acc-block__content {
  display: none;
  margin: 0 50px;
  padding: 25px 0;
  font-size: 1rem;
  border-top: 2px solid #007bff;
}

.section-acc .acc-block__content a {
  display: block;
  padding-top: 20px;
  color: #007bff;
  text-transform: uppercase;
  font-family: CenturyBold;
}

.section-acc .acc-block__content a:hover {
  text-decoration: none;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
}

.breadcrumbs ul li {
  position: relative;
  padding-left: 15px;
}

.breadcrumbs ul li::after {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  color: #007bff;
  margin-left: 6px;
}

.breadcrumbs ul li:first-child {
  padding-left: 0;
}

.breadcrumbs ul li:first-child:after {
  display: none;
}

.breadcrumbs ul li a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumbs ul li span {
  color: #007bff;
}

.content-breadcrumbs {
  margin-bottom: 15px;
}

.content-breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;
}

.content-breadcrumbs ul li {
  position: relative;
  padding-right: 15px;
}

.content-breadcrumbs ul li::after {
  content: "-";
  position: absolute;
  right: 3px;
  top: 0;
  margin-left: 0px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.content-breadcrumbs ul li:last-child {
  padding-left: 0;
}

.content-breadcrumbs ul li:last-child:after {
  display: none;
}

.content-breadcrumbs ul li a {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.pagination {
  position: relative;
  z-index: 3;
  width: 100%;
  font-size: 1.5rem;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.pagination ul li {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination ul li.active a {
  color: #007bff;
}

.pagination ul li a {
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
  text-decoration: none;
  color: #303030;
}

.pagination ul li a:hover {
  color: #007bff;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.header .logo img {
  width: 100%;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px;
  width: 100%;
}

.header-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .header-pesAr,
.header-top .header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.5px solid #7C7C7C;
  height: 35px;
}

.header-top .header-pesAr .header-cart__price,
.header-top .header-cart .header-cart__price {
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header-top .header-pesAr:hover .header-cart__price,
.header-top .header-pesAr.active .header-cart__price,
.header-top .header-cart:hover .header-cart__price,
.header-top .header-cart.active .header-cart__price {
  color: #CCA75D;
}

.header-top .header-pesAr:hover svg path,
.header-top .header-pesAr.active svg path,
.header-top .header-cart:hover svg path,
.header-top .header-cart.active svg path {
  fill: #CCA75D;
}

.header-top .header-pesAr:hover .header-top__box::before,
.header-top .header-pesAr.active .header-top__box::before,
.header-top .header-cart:hover .header-top__box::before,
.header-top .header-cart.active .header-top__box::before {
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.header-top .header-pesAr svg,
.header-top .header-cart svg {
  width: 100%;
  height: 100%;
}

.header-top .header-pesAr svg path,
.header-top .header-cart svg path {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-top .header-pesAr {
  width: 60px;
}

.header-top .header-cart {
  padding: 0 10px;
  margin-left: 7px;
}

.header-top .header-cart__price {
  font-size: 14px;
  color: #4D4D4D;
  padding-left: 10px;
}

.header-top .icon-pers,
.header-top .icon-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top .icon-pers {
  width: 12px;
  height: 15px;
}

.header-top .header-top__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
  cursor: pointer;
}

.header-top .header-top__box::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.13867 1L4.80237 4.66357L8.46594 1' stroke='%234C4C4C'/%3E%3C/svg%3E");
  width: 7px;
  height: 4px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.header-top .icon-cart {
  width: 15px;
  height: 14px;
}

ul.header-pesAr__menu {
  display: none;
  width: 200px;
}

ul.header-pesAr__menu li a {
  text-decoration: none;
  color: #4D4D4D;
  display: block;
  padding: 10px 0;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
  border-bottom: 0.5px solid #7C7C7C;
}

ul.header-pesAr__menu li a:hover {
  color: #CCA75D;
}

ul.header-pesAr__menu li:last-child a {
  border: none;
  padding-bottom: 0;
}

ul.header-pesAr__menu li:first-child a {
  padding-top: 0;
}

.cart-products {
  width: 300px;
  display: none;
}

.cart-products .close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px;
  height: 10px;
}

.cart-products .close-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.cart-products .close-box:before,
.cart-products .close-box:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  left: 50%;
  width: 1px;
  background-color: #000;
}

.cart-products .close-box:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-products .close-box:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-products .btn {
  width: 100%;
  margin-top: 10px;
}

.header-top .header-border {
  padding: 25px;
  position: absolute;
  top: 100%;
  background: #fff;
  z-index: 2;
  border: 0.5px solid #7C7C7C;
}

ul.products-form__list {
  margin-top: 23px;
}

.product-block {
  padding: 10px 0;
  border-top: 0.5px solid #7C7C7C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-block__img {
  max-width: 50px;
  border: 0.5px solid #D3D3D3;
  position: relative;
  padding: 1.4rem 0;
  width: 100%;
  overflow: hidden;
}

.product-block__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.product-block__imgBox img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-block__info {
  margin-left: 8px;
}

.product-block__name {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.product-block__col {
  color: #7C7C7C;
}

.product-block__col input {
  width: 35px;
  border: 0.5px solid #D3D3D3;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
  padding: 0 3px;
}

.product-block__col input:placeholder {
  font-size: 14px;
  color: #C7C7C7;
}

.product-block__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.product-block__bot .product-block__price {
  font-size: 14px;
  font-family: CynthoNext-Medium;
}

.product-block__bot .product-block__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-block__bot .product-block__edit .icon-basket,
.product-block__bot .product-block__edit .icon-pen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-block__bot .product-block__edit .icon-basket svg,
.product-block__bot .product-block__edit .icon-pen svg {
  width: 100%;
  height: 100%;
}

.product-block__bot .product-block__edit .icon-basket {
  width: 10px;
  height: 14px;
}

.product-block__bot .product-block__edit .icon-pen {
  width: 15px;
  height: 15px;
  margin-left: 12px;
}

.form-search,
.brand-search {
  position: relative;
  max-width: 220px;
  width: 100%;
}

.form-search .input-search,
.brand-search .input-search {
  width: 100%;
  height: 35px;
  border: 0.5px solid #7C7C7C;
  padding: 0 20px 0 43px;
}

.form-search .input-search:placeholder,
.brand-search .input-search:placeholder {
  text-transform: uppercase;
}

.form-search .btn-search,
.brand-search .btn-search {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 35px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-search .btn-search__icon,
.brand-search .btn-search__icon {
  width: 12px;
  height: 12px;
  -webkit-transition: stroke 0.3s linear;
  -o-transition: stroke 0.3s linear;
  transition: stroke 0.3s linear;
}

.form-search .btn-search:hover .btn-search__icon,
.brand-search .btn-search:hover .btn-search__icon {
  stroke: #CCA75D;
}

.header .header-bot::after,
.header .header-bot::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 100vw;
  background: #7C7C7C;
}

.header .header-bot::after {
  top: 0;
}

.header .header-bot::before {
  bottom: 0;
}

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-menu > li > a {
  position: relative;
  display: block;
  padding: 15px 0;
  color: #4D4D4D;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.header-menu li.current-menu-item a {
  color: #CCA75D;
}

.header-menu > li:hover .menu-sub {
  opacity: 1;
  visibility: visible;
}

.menu-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
}

.menu-sub a {
  text-decoration: none;
}

.menu-sub .menu-sub__list li a {
  color: #7C7C7C;
}

.menu-sub a.menu-sub__title {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.burger {
  display: none;
}

.mobTab {
  display: none;
}

.header-menu > .parentSub-js > a.active {
  position: relative;
  z-index: 2;
  background: #DFDFDF;
}

.header-menu > .parentSub-js > a.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #CCA75D;
}

.arrow-menu {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #4C4C4C;
  border-left: 1px solid #4C4C4C;
  background-color: none;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrow-menu.active {
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.menu-sub--abc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.brand-abc {
  width: 100%;
}

.brand-abc > a {
  color: #000;
}

.brand-abc > a:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.brand-abc > a.disabled {
  cursor: default;
  color: #7C7C7C;
}

.brand-abc > a.disabled:hover {
  text-decoration: none;
}

.brand-abc > a + a {
  margin-left: 10px;
}

.brand-abc_box {
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 270px;
}

.brand-abc_box::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.brand-abc_box::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

.brand-abc_box::-webkit-scrollbar-thumb {
  background-color: #CCA75D;
}

.brand-abc_box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.brand-abc_box .brand-box {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  width: 25%;
  text-align: left;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
}

.brand-abc_box a {
  color: #000;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.brand-abc_box a:hover {
  color: #CCA75D;
}

.brand-abc_box .abs-title {
  color: #000;
  font-family: CynthoNext-Medium;
}

.brand-abc_content {
  pointer-events: initial !important;
  width: 100%;
  position: relative;
}

.popupBtn-js {
  background-color: #0d52e9;
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

.popupBtn-js:hover {
  background: #0c4ddb;
}

.popupBtn-js:focus {
  outline: none;
}

.modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}

.modal .modal-content {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

@media (min-width: 526.98px) {
  .header-top .header-pesAr,
  .header-top .header-cart {
    position: relative;
  }

  .header-top .header-border {
    margin-top: 24px;
  }

  .header-top .header-border::after,
  .header-top .header-border::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: 15px;
    height: 15px;
  }

  .header-top .header-border {
    left: 0;
    right: auto;
  }

  .header-top .header-border:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -8px;
    margin-left: -7px;
    border-top: 0.5px solid #7c7c7c;
    background: #fff;
    z-index: 1;
  }

  .header-top .header-border::before {
    z-index: 2;
    margin-top: -10px;
    width: 0.5px;
    height: 20px;
    background: #7c7c7c;
    left: -1px;
    top: 0;
  }
}

@media (min-width: 991.98px) {
  .header-menu > li > a {
    text-transform: uppercase;
  }

  .header-menu > li > a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #CCA75D;
    -webkit-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
  }

  .header-menu > li > a:hover {
    color: #CCA75D;
  }

  .header-menu > li > a:hover:after {
    width: 42px;
  }

  .menu-sub {
    padding: 25px 25px;
    position: absolute;
    max-height: 350px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 0.5px solid #7C7C7C;
    border-top: 0;
  }

  .menu-sub__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .menu-sub__block + .menu-sub__block {
    border-left: 1px solid #D3D3D3;
    padding-left: 43px;
  }

  .menu-sub .menu-sub__list {
    overflow-y: auto;
    max-height: 240px;
    margin-top: 25px;
  }

  .menu-sub .menu-sub__list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .menu-sub .menu-sub__list::-webkit-scrollbar {
    width: 6px;
    background-color: none;
  }

  .menu-sub .menu-sub__list::-webkit-scrollbar-thumb {
    background-color: #CCA75D;
  }

  .menu-sub .menu-sub__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: none;
  }

  .menu-sub .menu-sub__list li {
    margin: 0 0 10px 0;
  }

  .menu-sub .menu-sub__list li a {
    -webkit-transition: 0.3s color linear;
    -o-transition: 0.3s color linear;
    transition: 0.3s color linear;
  }

  .menu-sub .menu-sub__list li a:hover {
    color: #CCA75D;
  }

  .menu-sub a.menu-sub__title:hover {
    border-bottom: 1px solid black;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .section-acc .acc-block__title {
    padding: 10px 0;
  }

  .section-acc .acc-block__content {
    margin: 0;
  }

  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header-top .header-border {
    right: 15px;
    left: auto;
    border-top: 0;
  }

  .header-top .header-border::after,
  .header-top .header-border::before {
    left: auto;
    right: 0;
  }

  .header-top .header-border:after {
    margin-left: 0;
    margin-right: -8px;
    border-top: 0;
    border-left: .5px solid #7c7c7c;
  }

  .header .header-bot {
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-menu {
    display: block;
  }

  .header-menu > li {
    background: #F7F7F7;
    border: 1px solid #D3D3D3;
    border-top: 0;
  }

  .header-menu > li a {
    padding: 15px;
  }

  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 526px;
    width: 100%;
  }

  .menu-sub {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-sub__block {
    background: #ECECEC;
  }

  .menu-sub__block a {
    border-bottom: 1px solid #D3D3D3;
  }

  .menu-sub__block:last-child a {
    border-bottom: 0;
  }

  .menu-sub .menu-sub__list {
    display: none;
    background: #fff;
  }

  .menu-sub .menu-sub__list li a {
    display: block;
    padding: 7px 0;
    text-align: center;
    border: 0;
  }

  .menu-sub a.menu-sub__title {
    display: block;
    position: relative;
  }

  .burger {
    position: relative;
    display: block;
    height: 24px;
    width: 39px;
  }

  .burger::after,
  .burger::before,
  .burger-line {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: #000;
  }

  .burger::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger-line {
    bottom: 0;
    width: 29px;
    left: 0;
  }

  .mobTab {
    display: block;
  }

  .mobTab-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #D3D3D3;
  }

  .mobTab-header::after {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background: #d3d3d3;
  }

  .mobTab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    line-height: 50px;
    text-align: center;
    color: #7C7C7C;
    font-size: 16px;
  }

  .mobTab-header__item.active {
    position: relative;
    color: #000;
  }

  .mobTab-header__item.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg) translateX(-50%);
        -ms-transform: rotate(45deg) translateX(-50%);
            transform: rotate(45deg) translateX(-50%);
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    background: #f7f7f7;
    z-index: 1;
  }

  .mobTab-content__item {
    display: none;
  }

  .mobTab-content__item.active {
    display: block;
  }

  .header-menu > .parentSub-js {
    position: relative;
  }

  .brand-js {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 526.98px) {
  html,
  body {
    font-size: 14px;
  }

  .container {
    max-width: 540px;
  }

  .section-acc {
    padding-bottom: 0;
  }

  .section-acc .acc-block__icon {
    margin: 0;
  }

  .header .container {
    position: relative;
  }

  .header .logo {
    max-width: 100px;
  }

  .header-top .header-pesAr {
    width: 45px;
  }

  .header-top .header-cart__price {
    padding-left: 5px;
  }

  .header-top .header-border {
    right: 0;
  }

  .form-search,
  .brand-search {
    max-width: 155px;
  }
}

@media (max-width: 526px) {
  .section-acc .acc-block {
    padding: 18px 25px;
  }

  .breadcrumbs ul {
    font-size: 1rem;
    padding: 16px 0;
  }

  .content-breadcrumbs ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 1.3rem;
  }

  .pagination {
    font-size: 1.3rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}