
//---------------------------------------------
// page-parthers
//---------------------------------------------
	
.page-partners
	padding-bottom: 100px

.section-partners
	p
		padding-bottom: 20px

	.section-title
		margin-bottom: 25px

		max-width: 100%	

		text-align: left

		&__top
			margin-bottom: 0

	.partners-links
		display: flex
		flex-direction: column

		&__block
			display: flex
			align-items: center
			justify-content: space-between

			width: 100%
			height: auto

			margin-top: 10px

			padding: 12px 41px 12px 50px

			background: #F9F9F9
			border-radius: 5px

			p
				display: block

				padding-bottom: 0

				max-width: 70%
				width: 100%
				

		&__block + &__block
			margin-top: 0

		.btn
			margin-left: 20px

			width: 98px
			height: 30px

			font-size: 1rem

@media  ( max-width: 526px )
	.section-partners
		p
			font-size: 1.4rem

		.partners-links
			&__block
				padding-left: 19px
				padding-right: 19px

				p
					max-width: 60%
					height: auto

					font-size: 1rem
		


		
