.page-reviews
	.section-title
		width: 100%

		margin-left: 0
		margin-bottom: 0

		text-align: left

	.reviews-slider
		flex-wrap: wrap
		
	.reviews-slider__item
		max-width: 100%
		&::after
			max-width: 100%

	.reviews-slider__data
		font-size: 16px
		line-height: 17px
		color: #BABABA
		margin-bottom: 10px
		text-align: left

	.reviews-slider__text
		font-size: 16px

		max-width: 100%
		text-align: left

	.reviews-slider__author
		font-size: 16px
		text-align: left

	.stars
		justify-content: flex-start