//---------------------------------------------
// pagination
//---------------------------------------------
	
.pagination
	color: $black

	margin: auto

	max-width: 150px
	width: 100%

	margin-bottom: 90px

	ul
		display: flex
		justify-content: space-around
	a
		padding: 7px

		color: $black

		&:hover
			color: $pink-3
			
	a.active
		color: $pink-3

@media ( max-width: 991px )
	.pagination
		a
			font-size: 0.9rem

@media (max-width: 991px)
	.pagination 
		a
			font-size: 1.4rem

	