.section-banInfo
	position: relative
	display: flex
	align-items: center

	height: 560px
	width: 100%

	background: no-repeat center/cover url(../img/section-banInfo/1.jpg) 

	&__text
		h1
			margin-bottom: 20px

			max-width: 365px
			width: 100%

			font-family: "CynthoBold"
			font-size: 3rem
			line-height: 58px

		p
			margin-bottom: 30px

			max-width: 490px
			width: 100%

			font-size: .9rem
			line-height: 17px

	.icon-lineBg
		position: absolute
		bottom: -5px
		left: 0

		width: 100%


@media(max-width: 526px)
	.section-banInfo
			background: no-repeat 60%/cover url(../img/section-banInfo/1.jpg) 

	.section-banInfo__text
		h1
			max-width: 167px

			font-size: 2.2rem
			line-height: 26px

		p
			max-width: 157px
			