.section-catalog
	position: relative
	
	padding-top: 100px
	padding-bottom: 100px

	background: #FAFAFA

	&__blocks
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		margin-bottom: 35px

		.product-block
			margin: 0 0 25px 0

	&__button
		margin: auto
	
@media ( max-width: 991px )
	.section-catalog__blocks
		justify-content: center

		.product-block
			margin: 12px 15px

			max-width: 270px

@media ( max-width: 526px )
	.section-catalog
		padding-top: 50px
		padding-bottom: 50px

		&__blocks
			justify-content: space-between

			.product-block
				margin: 10px 0

				max-width: 140px

	.section-catalog__button.btn
			max-width: 125px
			height: 34px

			font-size: 1rem

	.product-block__info 
		.product-name
			font-size: .9rem

	.product-nameSup
		font-size: .7rem
	

	
		
