//---------------------------------------------
// page-shipPay
//---------------------------------------------
.page-shipPay
	padding-bottom: 100px

	.content
		max-width: 870px
		width: 100%
		margin: 0 auto
		
	.section-title
		max-width: 100%
		text-align: left

		.section-title__bot
			display: flex
			flex-direction: column

			line-height: 24px
			font-size: 0.9rem

			span
				font-size: 1.3rem
				font-family: "CynthoSemiBold"

.shipPay-search
	display: flex
	justify-content: center


	&__left
		display: flex
		flex-wrap: wrap
		align-items: flex-start

		margin-right: 30px

		max-width: 570px
		width: 100%

	&__form
		display: flex
		justify-content: space-between

		width: 100%

		padding: 25px 46px  30px 40px

		margin-bottom: 30px

		background: #F9F9F9
		border-radius: 5px

	&__inputs
		display: flex

	&__input
		font-size: 0.9rem
		line-height: 17px
		margin-right: 10px

		max-width: 222px
		width: 100%

		input
			margin-top: 7px
			padding-left: 19px

			height: 29px
			width: 100%

			font-size: 0.8rem
			line-height: 14px

			border-radius: 5px

	&__input + &__input
		max-width: 47px
		width: 100%

.shipPay-map
	width: 100%
	max-height: 351px

	overflow: hidden
	border-radius: 5px
	background: gray

	div	
		width: 100%
		height: 100%

		iframe 
			width: 100%
			height: 100%
			border: none

.shipPay-search__right
	display: flex
	flex-wrap: wrap

	max-width: 270px

	.search-zone
		margin-bottom: 24px
		padding: 23px 17px 36px 21px

		font-family: "CynthoLight"
		font-size: 0.9rem
		line-height: 17px
		color: #383838
		background: #F9F9F9
		border-radius: 5px

		&__title
			display: flex
			margin-bottom: 13px

			font-family: "CynthoMedium"
			line-height: 17px
			color: #383838
		
		&__circle
			margin-right: 13px

			width: 24px
			height: 24px

			border-radius: 50%

		.circle-green
			background: #A2DAA8

		.circle-red
			background: #EF7676

		.circle-blue
			background: #76CBEF

.shipPay-info
	display: flex
	justify-content: space-between
	align-items: center

	padding: 35px 78px 35px 88px
	margin: auto
	margin-bottom: 14px

	width: 100%

	background: #F9F9F9
	border-radius: 5px

	&__img
		margin-right: 65px

		max-width: 41px
		height: 41px

	&__text
		color: $black
		font-size: 0.9rem
		line-height: 17px

.shipPay-text
	width: 100%

	margin: 0 auto
	
	&__title
		margin-top: 54px
		margin-bottom: 25px

		font-size: 1.3rem
		line-height: 24px

	p
		
		padding-bottom: 20px

@media  ( max-width: 991px )
	.shipPay-search
		flex-wrap: wrap

		&__left
			margin: 0  auto 14px
			max-width: 100%

		&__form
			justify-content: center
		
		&__inputs
			margin-right: 39px

		&__right
			max-width: 100%

			.search-zone
				max-width: 270px

				margin-left: 0

			.search-zone + .search-zone
				margin-left: 27px

@media  ( max-width: 526px )
	.section-shipPay
		.section-title
			text-align: center
			
			.section-title__bot
				max-width: 220px
				margin: 0 auto

				font-size: 1.2rem
				line-height: 1.2

				span
					margin-bottom: 5px

					font-size: 1.6rem

	.shipPay-search
		&__form
			flex-direction: column
			align-items: center

			padding: 16px 23px

		&__inputs
			margin: 0 0 19px

			max-width: 100%

		&__input
			font-size: 1.2rem

	.shipPay-map
		max-height: 178px

	.shipPay-search__right
		.search-zone
			padding: 11px 45px 18px

			max-width: 100%

			text-align: center
			font-size: 1.4rem
			margin-bottom: 11px

			&__title
				justify-content: center
				align-items: center

				font-family: "CynthoMedium"
				font-size: 1.6rem


		.search-zone + .search-zone
			margin-left: 0
	
	.shipPay-info
		padding: 21px 36px

		&__text
			font-size: 1.2rem

		&__img
			margin-right: 19px

	.shipPay-text
		font-size: 1.4rem

		&__title
			font-family: "CynthoMedium"
			text-align: center
			font-size: 1.8rem