//---------------------------------------------
// page-order
//---------------------------------------------
.page-order
	padding-bottom: 80px

	.content
		max-width: 720px
		width: 100%

	.container
		display: flex
		align-items: flex-start

	.container--column
		justify-content: center

	

	.section-recom
		.section-recom__box
			margin: auto

.section-order
	padding-bottom: 80px

	.section-title
		margin-bottom: 27px
		margin-left: 0

		text-align: left
		
		.section-title__top
			margin: 0

	
	.order-block__box
		display: flex
		justify-content: space-around
		width: 100%

	.order-top
		display: flex
		justify-content: space-between
		padding: 11px 36px 9px 43px

		margin-bottom: 14px
		
		background: #F9F9F9
		border-radius: 5px
		text-align: center
		font-size: 14px
		line-height: 17px
		text-transform: uppercase

		color: #000000

		&__phote
			width: 99px

		&__name
			max-width: 230px
			width: 100%

			text-align: left

		
		&__price
			max-width: 50px
			width: 100%

			text-align: center

		&__col
			max-width: 105px
			width: 100%

		&__sum
			max-width: 60px
			width: 100%

			text-align: center

	.order-block
		position: relative
		display: flex
		justify-content: space-between

		padding: 25px 36px 25px 43px

		margin-bottom: 11px

		background: #F9F9F9

		font-size: 1.1rem

		&__img
			max-width: 99px	
			width: 100%
			height: 99px

			border: 1px solid #F0F0F0
			box-sizing: border-box
			border-radius: 5px

			img
				display: block

				width: 100%
				height: auto 

		.block__box-title
			display: none

		&__title
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: center

			max-width: 230px
			width: 100%

			font-size: 0.9rem

			.order-block__gram
				margin-top: 5px

				font-family: "CynthoLight"
				font-size: 14px
				line-height: 17px
				color: #383838

		&__price
			display: flex
			align-items: center
			justify-content: center

			max-width: 50px
			width: 100%

			text-align: center

		&__col
			display: flex
			align-items: center
			justify-content: center

			max-width: 105px
			width: 100%

			.product-buy__number
				margin: 0 auto

			.number__input
				background: none

		&__sum
			display: flex
			align-items: center
			justify-content: center

			max-width: 60px
			width: 100%

			font-family: "CynthoSemiBold"
			text-align: center
			font-size: 18px
			line-height: 22px
			color: #383838

.order-title
		font-size: 14px
		line-height: 17px
		text-transform: uppercase
		color: $pink-3
		text-align: center

		padding-top: 10px
		padding-bottom: 10px

		margin-bottom: 14px
		
		background: #F9F9F9
		border-radius: 5px

.section-orderForm
	width: 100%
	height: auto

	.orderForm
		display: flex
		flex-wrap: wrap

		padding: 25px 45px
		margin-left: -6px
		margin-right: -6px

		background: #F9F9F9
		border-radius: 5px

		.orderForm-box
			max-width: 40%
			width: 100%
		
			&:nth-child(2)
				display: flex
				flex-wrap: wrap

				max-width: 60%

			
		.orderForm-adress
			display: flex
			max-width: 100%
			width: 100%
			
		.orderForm-input
			display: flex
			flex-direction: column

			margin-right: 34px
		

			font-family: "CynthoMedium"
			font-size: 0.9rem
			line-height: 17px
			color: #383838

			max-width: 236px
			width: 100%

			input
				margin-top: 7px
				margin-bottom: 14px

				padding: 8px 19px

				border: 0.5px solid #E6E6E6
				box-sizing: border-box
				border-radius: 5px

				font-family: "CynthoRegular"
				font-size: 0.8rem
				line-height: 14px
				color: #383838

		.input-2
			max-width: 47px

			input
				padding: 8px

				text-align: center

		.input-3
			max-width: 71px

		.input-4
			max-width: 130px

		.orderForm-textarea
			display: flex
			flex-direction: column

			width: 100%

			font-family: "CynthoMedium"
			font-size: 0.9rem
			line-height: 17px
			color: #383838

			textarea
				margin-top: 7px
				padding: 8px 19px

				width: 100%
				height: 100px

				border: 0.5px solid #E6E6E6
				box-sizing: border-box
				border-radius: 5px
				resize: inherit


.order-sidebar
	margin-top: 58px
	margin-left: 30px

	max-width: 220px
	width: 100%
	height: auto

	border-radius: 5px

	.order-sidebar__box
		margin-bottom: 34px
		padding: 10px 14px 19px

		border-radius: 5px
		background: #F9F9F9



	&__title
		padding-bottom: 10px

		border-bottom: 1px solid #EDEDED

		font-family: "CynthoMedium"
		text-align: center
		font-size: 0.9rem
		line-height: 17px
		text-transform: uppercase
		color: $pink-3

	&__order
		margin-top: 16px
		padding-bottom: 26px
		border-bottom: 1px solid  #EDEDED
	
	&__order--none
		padding-bottom: 0

		border-bottom: none

	&__info
		display: flex
		
		margin-top: 16px

	&__icon
		width: 12px
		height: 12px

	&__text
		margin-left: 10px

		max-width: 160px
		width: 100%

		font-family: "CynthoLight"
		font-size: 0.7rem
		line-height: 1.2

	.btn
		margin-top: -15px
		margin-bottom: 35px

		width: 100%

	.btn[disabled]
		cursor: not-allowed
		background: #B6B6B6

	&__text
		display: flex
		justify-content: space-between

		margin-bottom: 10px

		font-size: 0.9rem
		line-height: 17px
		color: $black

	&__bold, &__coupon
		font-family: "CynthoSemiBold"

	&__coupon
		margin-left: -10px

		.coupon-close
			position: relative

			width: 6px
			height: 6px
			cursor: pointer

			&::after, &::before
				position: absolute
				content: ''
				top: 0
				left: 0

				height: 1px
				width: 6px

				background: $pink-3
				
			&::after
				transform: rotate(135deg)
			
			&::before
				transform: rotate(45deg)

	&__checkbox
		height: 16px
		width: 100%

		font-size: 0.7rem
		line-height: 0.6rem
		color: #383838

	.order-sidebar__box--checkbox
		padding: 19px 14px
		margin-top: -22px


@media ( max-width: 991px )

	.section-order
		padding-bottom: 50px

	.page-order .content
		max-width: 100%
		
	.order-sidebar
		display: flex
		justify-content: space-between
		align-items: flex-start

		margin-left: 0

		max-width: 100%
		&__container
			width: 33.3%

		.order-sidebar__box
			min-width: 220px

			.btn
				width: 100%

@media ( max-width: 732px )
	.section-orderForm
		.orderForm 
			.orderForm-box
				display: flex

				max-width: 100%
				
				.orderForm-input
					margin: 0
					margin-right: 30px	

			.orderForm-box:nth-child(2)
				max-width: 100%	

			.orderForm-adress
				width: auto
			
			

@media ( max-width: 720px )
	.section-order 
		.order-content
			width: 100%
			overflow-x: hidden

		.order-top
			display: none

			.order-block
				padding: 25px 32px 


		.order-info
			justify-content: space-around

			padding: 35px 30px 35px 30px
			
			
		.order-info__text
			max-width: 320px

		.order-info__img
			margin: 0
		

		.order-block__title
			justify-content: flex-start

			padding-right: 25px

			max-width: 50%
			width: 100%

		.order-block__sum
			font-size: 1.1rem

		.order-block__box
			display: flex
			flex-direction: column
			align-items: flex-start

			padding-left: 45px
			border-left: 1px solid #EFEFEF

			max-width: 50%
		
			span
				margin-left: 5px

		.order-block__price, .order-block__col, .order-block__sum
			display: flex
			align-items: flex-start
			justify-content: flex-start

			margin-bottom: 5px

			max-width: 100%
			

		.order-block 
			padding: 20px
			
			.block__box-title
				display: inline

	.order-sidebar
		flex-wrap: wrap
		

@media ( max-width: 700px  )

	.order-sidebar__container
		max-width: 220px
		width: 100%

@media ( max-width: 526px  )
	.section-orderForm 
		.orderForm 
			.orderForm-box
				flex-direction: column
				align-items: center
				
				.orderForm-input
					max-width: 100%	
					width: 100%
					
					margin: 0

					font-size: 1.2rem

					input
						padding: 8px 10px
						font-size: 1.2rem
				
				.input-4
					max-width: 92px

				.input-3
					max-width: 45px
					margin-left: 15px
					
				&:nth-child(2)
					flex-direction: row
			
			.orderForm-textarea
				font-size: 1.2rem

			.orderForm-adress
				display: flex
				
				width: 100%

				.orderForm-input
					margin-right: 15px

				.input-2
					max-width: 47px

					margin-left: 0px

	.section-order
		.order-info__text
			max-width: 150px

			font-size: 1rem
			line-height: 12px

		.order-info__img
			height: 32px
			max-width: 32px

	.order-top
		display: none


	.order-sidebar__order
		.radio
			font-size: 1.2rem

	.order-sidebar
		flex-direction: column
		align-items: center

		.btn
			max-width: 100%

	.order-sidebar__checkbox
		font-size: 1.1rem

	.order-sidebar__text
		font-size: 1.1rem



	.order-sidebar__title
		font-size: 1.4rem

	.order-sidebar__bold
		font-size: 1.2rem

	.order-sidebar__coupon
		padding-left: 5px
		margin-right: 2%

		