//---------------------------------------------
// section-personSlider
//---------------------------------------------
	
.page-contact
	.section-personSlider
		padding-bottom: 100px

		.section-title
			margin-left: 15px
			margin-bottom: 35px

			max-width: 100%

			.section-title__top
				margin-bottom: 15px

		.personSlider-box
			.personSlider-block
				margin: 15px

				width: 100%
				height: auto

				font-size: 14px
				line-height: 17px
				color: #383838

				box-shadow: 0px 0px 20px rgba(167, 167, 167, 0.22)
				border-radius: 5px

				&__img
					margin-bottom: 10px

					width: 100%
					height: auto
					
					img
						width: 100%

				&__info
					padding: 0 14px 19px 17px

				.personSlider-nameSup
					margin-bottom: 5px

					font-family: "CynthoLight"
					font-size: 0.8rem
					line-height: 12px
					color: #5F5F5F

				.personSlider-name
					margin-bottom: 10px

					font-size: 0.9rem
					font-family: "CynthoMedium"
					line-height: 17px

			

			.slick-arrow
				cursor: pointer
				position: absolute
				top: 50%

			.slick-arrow__right
				right: -40px
			
			.slick-arrow__left
				left: -40px


@media ( max-width: 526px  )
	.page-contact
		.section-personSlider
			.section-title
				margin-bottom: 21px

				font-size: 1.2rem

				.section-title__top
					margin-bottom: 7px

					font-size: 1.6rem

			.personSlider-box
				.personSlider-block
					.personSlider-nameSup
						font-size: 1.2rem

					.personSlider-name
						font-size: 1.4rem

	
	