//---------------------------------------------
// section-reviews
//---------------------------------------------
.stars 
	position: relative 
	z-index: 2

	display: flex
	justify-content: center
	
	cursor: pointer

	.star
		margin: 0 2px

	& .active.star path 
		fill: #F4A17B !important

	& .star path 
		fill: #D2D2D2

	& .star:hover ~ .star path 
		fill: #D2D2D2 !important

.section-reviews
	position: relative
	
	padding-top: 150px
	padding-bottom: 100px

	&__button
		display: flex
		justify-content: center
		
		.btn
			margin-left: 8px
			margin-right: 8px

			width: 197px

		.btn-bg
			width: 160px

			border: 2px solid #F4A17B
			box-sizing: border-box
			background: none
			filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25))
			border-radius: 5px
			color: $black
			transition: color .3s ease;

			&:hover
				background: $pink-2
				color: $white

.reviews-slider
	position: relative
	display: flex
	justify-content: center
	align-items: center

	margin-bottom: 50px

	&__item
		position: relative

		max-width: 746px
		width: 100%

		margin: 20px auto
		padding: 70px 85px
		
		background: #FFFFFF
		box-shadow: 0px 0px 15px rgba(163, 163, 163, 0.25)
		border-radius: 5px

		font-size: 0.8rem
		line-height: 17px
		text-align: center

		&::after
			content: ''
			position: absolute
			z-index: 1
			left: 20px
			top: 20px
			right: 20px
			bottom: 20px

			max-width: 746px
			height: auto

			border: 1px solid rgba(244, 161, 123, 0.29)
			box-sizing: border-box
			border-radius: 5px
	

	&__text
		margin: auto
		margin-bottom: 35px

		max-width:  578px
		width: 100%

	&__author
		margin-bottom: 5px

		font-family: "CynthoMedium"
		text-align: center

	.slick-track
		display: flex
		justify-content: center
		align-items: center

	.reviews-arrow
		position: absolute
		z-index: 2
		top: 50%

		margin-top: -22px

		display: flex
		justify-content: center
		align-items: center
		
		width: 44px
		height: 44px

		padding: 15px 18px

		background: #F4A17B
		border-radius: 50%
		cursor: pointer
		transition: 0.7s

		&:hover
			background: #fab798

		&__left
			left: 15%

		&__right
			right: 15%

@media (max-width: 991px)
	.reviews-slider 
		.reviews-arrow
			top: auto
			margin-top: 10px
			bottom: 10px

		.reviews-arrow__right
			right: 50%
			margin-right: -52px

		.reviews-arrow__left
			left: 50%
			margin-left: -52px

@media (max-width: 526px)
	.section-reviews
		padding-top: 50px
		padding-bottom: 50px

	.reviews-slider__item
		margin: 10px 7px
		padding: 36px

	.reviews-slider 
		.reviews-arrow
			width: 28px
			height: 28px

			padding: 0

		&__text
			line-height: 12px
			margin-bottom: 15px

		.reviews-arrow__right
			margin-right: -32px

		.reviews-arrow__left
			margin-left: -32px
			
	.section-reviews__button
		justify-content: space-between

		.btn
			margin: 0

			max-width: 145px
			width: 100%
			height: 38px

	
		.btn-bg
			max-width: 130px
			width: 100%

			font-size: 1rem