.section-text
	font-size: 0.9rem
	
	&__title

		margin-bottom: 12px

		font-family: "CynthoMedium"
		font-size: 1.2rem
		line-height: 24px

	p	
		padding-bottom: 20px

@media ( max-width: 991px)
	.section-text
		p
			padding-bottom: 10px

@media ( max-width: 526px)

	.section-text
		&__title
			font-size: 1.4rem

		p
			font-size: 1rem
			padding-bottom: 10px

		
	