.section-about
	position: relative
	padding-top: 100px
	padding-bottom: 100px

	.container
		display: flex
		align-items: center
		justify-content: space-between

	&__text
		max-width: 465px
		width: 100%

		h3
			font-size: 1.6rem
			line-height: 31px
			text-transform: uppercase

			margin-bottom: 15px

		p
			font-size: 0.9rem
			margin-bottom: 38px

	&__img
		max-width: 605px
		width: 100%
		height: auto

@media (max-width: 991px)
	.section-about
		.container
			flex-direction: column
	
		&__text
			margin-bottom: 60px

			text-align: center

			.btn
				margin: auto

		&__img
			max-width: 700px

@media ( max-width:  526px)
	.section-about
		padding-top: 50px
		padding-bottom: 50px
	
