//---------------------------------------------
// sidebar
//---------------------------------------------
.sidebar
	max-width: 270px
	width: 100%

	margin-right: 18px
	padding: 22px 33px 35px

	background: #F9F9F9
	border-radius: 5px

	&-menu
		>li
			a
				position: relative
				display: flex

				line-height: 1.6
				color: $black

			a::after
				content: ''
				position: absolute
				top: 0
				right: 0

				width: 12px
				height: 1px

	&-menu__submenu
		padding-left: 20px
		padding-bottom: 5px
		display: none
		// max-height: 0%
		// height: 0 
		// transition: 4s
		// visibility: hidden

		li
			a
				padding-top: 4px
				padding-bottom: 4px
				font-size: 14px
				color: #7D7D7D
				line-height: 1.6

	.sidevar-block-js
		.icon-plus
			display: none
			
		.toggle-js
			align-items: center
			justify-content: flex-start
			position: relative

			.icon-plus
				display: block
				position: relative
				width: 12px
				height: 12px

				margin-left: 12px

				&::after, &::before
					content: ''

					position: absolute
					right: 0
					top: 50%

					margin-top: -1px

					height: 1px
					width: 12px

					background: #F4A17B

					transition: 0.4s

				&::before
					transform: rotate(90deg)

	.sidevar-block-js.active
		.sidebar-menu__submenu
			display: block
			// max-height: 100%
			// height: 100%
			// visibility: visible

			li:hover
				a
					color: $black

		.toggle-js
			.icon-plus::before
				transform: rotate(00deg)


@media ( max-width: 991px  )
	.sidebar
		padding: 22px  0 35px
		margin: 0

		max-width: 100%

		background: none

		.sidebar-menu
			display: flex
			flex-direction: row
			justify-content: space-between
			
			width: 100%

			overflow-x: scroll
			-ms-overflow-style: none
			overflow: -moz-scrollbars-none

			&::-webkit-scrollbar
				width: 0

			li
				margin-left: 7px
				margin-right: 7px

				min-width: 180px
				max-width: 100%
				width: 100%
				text-align: center


				a
					justify-content: center

					padding: 27px 15px

					background: #F9F9F9
					border-radius: 5px

		.sidebar-menu__submenu
			margin-top: -2px

			background: #F9F9F9

			padding: 0 0 20px

			li
				margin: 0

				a	
					display: flex
					justify-content: center

					padding: 8px 

					text-align: center
		
		.sidevar-block-js 
			.toggle-js
				justify-content: center


@media ( max-width: 526px )
	.sidebar
		padding-top: 0

		.sidebar-menu
			li
				min-width: 145px

				a
					padding: 11px 8px

					font-size: 1.2rem

		.sidevar-block-js 
			.toggle-js
				.icon-plus::after, .icon-plus::before
					width: 8px
					margin-right: 6px

		.sidebar-menu__submenu	
			li
				a
					padding: 10px

					font-size: 1.1rem

	