.footer
	position: relative
	z-index: 2
	background: #1A1A1A

	.container
		display: flex
		flex-wrap: wrap
		@media ( max-width:$md2+px )
			padding: 0

	&-form
		margin-top: -80px

		max-width: 100%
		width: 100%

		background: $green
		@media ( max-width:$md2+px )
			margin: -80px 15px 0
		@media screen and ( max-width: 660px )
			margin-top: -150px

	.form
		display: flex
		justify-content: space-between
		align-items: center

		padding: 50px 60px 50px 30px

		background: 0 100% url(../img/footer/01.png) no-repeat
		@media ( max-width:$md1+px )
			flex-wrap: wrap

		@media ( max-width:$md3+px )
			background: bottom url(../img/footer/01.png) no-repeat

		@media screen and ( max-width: 660px )
			padding: 30px 27px 50px
			background:  url(../img/footer/01.png) 100%/cover no-repeat

		&-title
			font-size: 1.5rem
			line-height: 1.4
			color: $white

			max-width: 270px
			width: 100%
			margin: 0
			@media ( max-width:$md1+px )
				margin: -50px 0 0 0

			@media screen and ( max-width: 660px )
				margin-top: 0

		input
			font-size: 1rem
			color: $white
			background: none

			border-bottom: 1px solid $white
			box-shadow: none

			padding: 0 20px
			padding-left: 33px

			max-width: 230px
			width: 100%
			@media ( max-width:$md1+px )
				max-width: 100%

		input::placeholder
			color: $white

		&-input--name>div::before
			margin-top: 0
			margin-bottom: 10px
			content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50061 9.52441C4.49358 9.52441 0.419922 13.5981 0.419922 18.6051C0.419922 18.823 0.596811 18.9999 0.814747 18.9999H18.1865C18.4045 18.9999 18.5813 18.823 18.5813 18.6051C18.5813 13.5981 14.5076 9.52441 9.50061 9.52441Z' fill='white'/%3E%3Cpath d='M9.49918 8.68586C11.8977 8.68586 13.8421 6.74147 13.8421 4.34293C13.8421 1.9444 11.8977 0 9.49918 0C7.10065 0 5.15625 1.9444 5.15625 4.34293C5.15625 6.74147 7.10065 8.68586 9.49918 8.68586Z' fill='white'/%3E%3C/svg%3E")

		&-input--phone>div::before
			content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4542 14.678L16.6631 11.8869C15.6663 10.8901 13.9717 11.2889 13.573 12.5847C13.274 13.4819 12.2772 13.9803 11.38 13.7809C9.38643 13.2825 6.69505 10.6908 6.19665 8.59746C5.89761 7.7003 6.49569 6.70349 7.39282 6.40448C8.68867 6.00576 9.08739 4.31119 8.09058 3.31438L5.29953 0.523324C4.50208 -0.174441 3.30591 -0.174441 2.60815 0.523324L0.714213 2.41726C-1.17972 4.41087 0.913575 9.69395 5.59857 14.3789C10.2836 19.0639 15.5666 21.2569 17.5603 19.2633L19.4542 17.3694C20.152 16.5719 20.152 15.3757 19.4542 14.678Z' fill='white'/%3E%3C/svg%3E")
		&-inputs
			max-width: 50%
			width: 100%
			display: flex
			justify-content: space-between
			@media ( max-width:$md1+px )
				flex-direction: column

			@media screen and ( max-width: 660px )
				max-width: 100%
				
		&-input
			margin: 0 0 0px 0

			&>div::before
				margin-left: 0
				left: 0
	.btn
		margin: 0 0 -20px 10px
		background: $white
		border-color: $white
		color: #000
		@include transitColor(0.3s)
		&:hover
			color: $green
		@media ( max-width:$md1+px )
			margin-left: 0
			margin-top: -20px

		@media screen and ( max-width: 660px )
			margin-top: 40px

	&-column
		&__left
			padding: 35px 40px 45px 60px

			max-width: 35%
			width: 100%

			text-align: left

			background: #232323
			@media ( max-width:$md1+px )
				max-width: 40%
				margin-left: -15px
				padding: 35px 30px 35px 15px

			@media ( max-width:$md2+px )
				max-width: 100%
				margin-left: 0

		&__right
			padding: 50px 0 50px 90px
			color: #838383
			text-align: right
			max-width: 65%
			width: 100%
			
			display: flex
			flex-direction: column
			justify-content: space-between
			@media ( max-width:$md1+px )
				max-width: 60%

			@media ( max-width:$md2+px )
				max-width: 100%
				text-align: left
				padding: 30px 15px

		&__title
			display: block
			margin: 0 0 10px 0 
			font-size: 0.88rem
			color: $white

		&__contact
			position: relative

			display: flex
			flex-direction: column
			margin-bottom: 10px
			padding-left: 35px
			&::after
				@include pseudoEl(block, absolute, '')
				left: 0
				top: 5px
				width: 16px
				height: 16px
				background: url(../img/icons/icons.svg#icon-tel) 100%/cover no-repeat

			a
				color: #838383
				text-decoration: none
				transition: color 0.3s linear
				&:hover
					color: $green
		
		&__map, &__mail, &__clock
			position: relative
			display: block
			padding: 0 0 10px 35px
			color: #838383
			text-decoration: none
			transition: color 0.3s linear
			&:hover
				color: $green
			&::after
				@include pseudoEl(block, absolute, '')
				left: 0
				top: 5px
				width: 16px
				height: 16px

		&__map::after
			background: url(../img/icons/icons.svg#icon-map) 100%/cover no-repeat

		&__mail::after
			background: url(../img/icons/icons.svg#icon-mail) 100%/cover no-repeat

		&__clock::after
			background: url(../img/icons/icons.svg#icon-clock) 100%/cover no-repeat

		&__clock
			&:hover
				color: #838383

			&::after
				@include pseudoEl(block, absolute, '')
				left: 0
				top: 5px
				width: 16px
				height: 16px



		&__clock
			display: flex
			flex-direction: column

	.footer-logo
		text-align: left
		display: block

		padding: 0

		margin: 0 0 15px 0 
		@media ( max-width: 1100px )
			padding: 0

	&-dev
		color: #838383
		a
			color: #fff
			font-family: CenturyBold
			text-decoration: none
			@include transitColor(0.3s)
			&:hover
				color: $green

		@media ( max-width:$md2+px )
			padding-top: 20px



		

		
