.main-search
	padding-top: 60px
	@media ( max-width:$md3+px )
		padding-top: 40px

	.searchNo-title
		font-size: 1.4rem
		line-height: 1.2
		font-family: CenturyBold

.main-search--no
	.container--seacrh
		position: relative
		height: 100vh
		background: center center url(../img/page-search/01.png) no-repeat

	.searchNo-textCenter
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%)
		text-align: center
		width: 100%		
		z-index: 1
		font-size: 1.5rem
		color: #9C9C9C
		font-family: CenturyBold

.search-list
	margin-top: 30px
	li
		color: #969696
		padding: 20px 0
		border-bottom: 1px solid #DEDEDE
		&:last-child
			border: none

	&__title
		color: #000
		font-size: 1.12rem
		font-family: CenturyBold
		line-height: 1.2
		padding-bottom: 5px
		text-decoration: none
		@include transitColor(0.3s)
		&:hover
			color: $green

	


