.main-visa
	.section-batch
		.batch-row
			flex-wrap: wrap

			.batch-column
				max-width: 370px
				width: 100%
				margin: 0 0 30px 0 
				@media screen and ( max-width: 1110px )
					max-width: 50%

				@media ( max-width:$md1+px )
					max-width: 100%
					

				@media ( max-width:$md3+px )
					margin-bottom: 20px

					.batch-column__text
						border: none
					
				&__row
					flex-direction: column
					flex-wrap: nowrap
					height: 100%

				&__top
					@media ( max-width:$md1+px )
						display: none

				&__bot
					height: calc( 100% - 187px )
					padding-right: 32px
					padding-bottom: 32px
					@media ( max-width:$md1+px )
						position: relative
						flex-direction: column
						height: auto

					@media ( max-width:$md3+px )
						padding-bottom: 60px

				&__arrow
					@media ( max-width:$md1+px )
						filter:  brightness(0) invert(1)
					@media ( max-width:$md3+px )

						max-width: 100%
						text-align: center

				&__title
					@media ( min-width:$md3+px )
						@media ( max-width:$md1+px )
							max-width: 100%
							width: calc( 100% - 110px )
				&__text
					height: auto
					@media ( min-width:$md3+px )
						@media ( max-width:$md1+px )
							max-width: 100%
							width: calc( 100% - 110px )

					@media ( max-width:$md3+px )
						margin: 0 0 30px 0 


				&__block
					margin: auto 0 0 0
					@media ( min-width:$md3+px )
						@media ( max-width:$md1+px )
							display: flex
							align-items: center
							justify-content: center

							position: absolute
							top: 0
							right: 0
							width: 110px
							background: $green

					@media ( max-width:$md3+px )
						position: absolute
						max-width: 100%
						justify-content: center
						align-items: center
						width: 100%
						height: 60px
						left: 0
						right: auto
						bottom: 0
						top: auto
						background: $green

						z-index: 20

						img
							display: none

						span
							display: block
							font-size: 1rem
							margin: 0 auto
					
					span
						display: none
					
		.batch-column__text
			ol
				padding-left: 0
				list-style-position: inside
				@media ( max-width:$md3+px )
					margin: 0 0 0px 0 

				li
					margin-bottom: 10px
					@media ( max-width:$md3+px )
						&:last-child
							margin: 0 0 0px 0 

		.batch-column__block
			justify-content: flex-end
			@media ( max-width:$md1+px )
				max-width: 30%
				height: 100%

	.section-form, .section-faq, .section-reviews
		position: relative
		background: none

	.section-form
		&:after
			@include pseudoEl(block, absolute, '')
			width: 100%
			height: 50%
			z-index: -1
			top: 0
			left: 0

			background: #f7f7f7

	.section-infotext
		&::after
			display: none

	.section-reviews 
		.reviews-row__arrow,
		.reviews-row__number span
			background: #fff

.main-visa--usa
	.section-form
		.form
			background-image: url(../img/section-form/03.png)

.main-visa--canada
	.section-form
		.form
			background-image: url(../img/section-form/04.png)