.main-services
	.breadcrumbs ul li a, .breadcrumbs ul li span
		color: #ffffff
		
	.section-services
		background: #f7f7f7
		&::after
			display: none

		.services-column__list
			a
				text-decoration: none
				color: #000000
				@include transitColor(0.3s)
				&:hover
					color: $green

	.services-row
		margin: 0 -15px -242px
		transform: translateY(-242px)
		@media ( max-width:$md3+px )
			margin: 0 -15px -100px
			transform: translateY(-100px)

	.section-itinerary
		padding-top: 50px
		margin-top: 0
		background: url(../img/section-itinerary/bg_01.png) 100%/cover no-repeat
		background-color: #f7f7f7

	.section-form
		position: relative
		background: none
		&::after
			@include pseudoEl(block, absolute, '')
			z-index: -1
			top: 0
			left: 0
			width: 100%
			height: 50%
			background: #f7f7f7

		.form
			background-color: #fff

	.section-faq, .section-reviews, .section-infotext
		background: none
		&::after
			display: none


	.section-reviews
		.reviews-row__arrow, .reviews-row__number span
			background: #fff

	.breadcrumbs ul li a, .breadcrumbs ul li::after
		color: $white

.main-news
	.pagination
		margin-top: 0
			

