.main-faqInfo
	padding-top: 60px
	@media ( max-width:$md3+px )
		padding-top: 40px

	.section-faq 
		padding: 0

		.faq-block
			padding: 45px 50px

			&__title
				margin-bottom: 40px

			&__content
				display: block

			b
				font-family: CenturyBold


.main-faq
	padding-top: 60px
	@media ( max-width:$md3+px )
		padding-top: 40px

	.section-faq 
		padding: 0