.main-information
	padding-top: 60px	
	@media ( max-width:$md3+px )
		padding-top: 40px

	.section-information
		padding-top: 0
		max-width: 65%
		width: 100%
		@media ( max-width:$md1+px )
			max-width: 100%

		.information-block
			display: flex
			flex-direction: column
			margin-bottom: 25px
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
			@media ( max-width:$md1+px )
				margin-bottom: 20px

			&__top
				display: flex
				justify-content: flex-start

			&__icon
				display: flex
				align-content: center
				align-items: center
				justify-content: center

				width: 105px
				background: $green
				@media ( max-width:$md3+px )
					display: none
				svg
					max-width: 37px
					height: 37px

			&__title
				padding: 16px 30px 20px

				width: 100%
				background: #232323

				color: $white
				font-size: 1.5rem
				font-family: CenturyBold

			&__text
				padding: 20px 30px 20px
				
				background: #FFFFFF
				p
					padding-bottom: 20px

				.stat-block__years
					margin-left: -100px

					li

						margin: 0 0 20px 100px

			&__years
				display: flex
				flex-wrap: wrap


				a
					text-decoration: none
					color: $green
					&:hover
						text-decoration: underline


	h1,h2,h3,h4
		font-family: CenturyBold

	h3
		font-size: 1rem
		padding-bottom: 10px

	ol
		list-style-type: none
		padding-left: 30px
		margin: 0

		li
			margin-bottom: 10px
			position: relative
			&::before
				@include pseudoEl(block, absolute, '')
				background: url(../img/icons/icons.svg#icon-checkmark) 100%/cover
				width: 15px
				height: 15px
				margin: 5px 0 0 0
				margin-left: -30px

	section ul
		padding-left: 20px
		li::marker
			color: $green

.container--sidebar
	display: flex
	margin-top: 40px
	@media ( max-width:$md1+px )
		flex-wrap: wrap-reverse

	.sidebar
		max-width: 370px
		width: 100%
		margin: 0 30px 0 0
		@media ( max-width:$md1+px )
			max-width: 100%
			margin-right: 0
			padding-bottom: 40px

		&-block
			&__title
				margin-bottom: 1px
				background: #232323
				color: #fff
				font-size: 1.5rem

				height: auto
				padding: 12px 60px 12px 28px
				position: relative
				cursor: pointer
				@media ( max-width:$md1+px )
					font-size: 1.3rem

				&::before
					@include pseudoEl(block, absolute, '')
					@include verticalcenter()
					background: url(../img/icons/icons.svg#icon-sideArrow) 100%/cover no-repeat
					right: 28px
					width: 20px
					height: 15px
					transition: transform 0.5s linear

				&.active
					&::before
						transform: rotate(180deg) translateY(50%)

			&__content
				display: none
				padding: 22px 0 27px 10px
				box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
				background: $white


				li

					margin-bottom: 10px
					padding-left: 40px
					position: relative

					&::before
						position: absolute
						content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxMiAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw5IDkuNUwyIDE3IiBzdHJva2U9IiMwMUIyNTkiIHN0cm9rZS13aWR0aD0iMyIvPgo8L3N2Zz4K')
						width: 11px
						height: 19px
						top: 3px
						left: 10px
						content: 
					&:last-child
						margin-bottom: 0

					

				a
					color: #000
					text-decoration: none
					@include transitColor(0.3s)
					&:hover
						color: $green
