.section-ban
	.ban-slider
		&__row
			height: 100vh
			width: 100%
			
			display: flex
			align-items: center

		&__info
			padding: 0 0 150px 0 
			display: flex
			flex-direction: column
			align-items: flex-start

			max-width: 700px
			width: 100%
			height: auto
			color: $white

		&__title
			font-family: CenturyBold
			font-size: 4.5rem
			line-height: 1.2

			margin-bottom: 10px
			@media ( max-width:$md3+px )
				font-size: 2.57rem

		&__text
			max-width: 350px
			width: 100%
			height: auto

			span
				font-family: CenturyBold

		.btn
			margin: 35px 0 0 0
			@media ( max-width:$md3+px )
				margin: 23px 0 0 0
				line-height: 50px
				max-width: max-content


	.ban-slider__arrow--js
		display: none
		@media ( max-width:$md3+px )
			display: flex
			margin: 0 0 15px 0 

	.slick-arrow
		cursor: pointer
		z-index: 20
		width: 19px
		height: 38px
		@include verticalcenter()
		@media ( max-width:$md1+px )
			position: relative
			width: 36px
			height: auto
			top: 0
			transform: translateY(0)
			display: flex
			align-items: center
			
		path
			transition: stroke 0.3s linear

		&:hover
			path
				stroke: $green

		&__left
			left: 15px
			@media ( max-width:$md1+px )
				left: auto
		
		&__right
			transform: rotate(180deg)
			right: 15px
			@media ( max-width:$md1+px )
				margin-left: 20px
				right: auto
				transform: rotate(180deg)
