.section-form
	background: #f7f7f7

	.form
		background: 100% url(../img/section-form/01.png) no-repeat
		padding: 40px 55px 55px
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
		background-color: #fff


		@media ( max-width:$md1+px )
			background: none

		@media ( max-width:$md3+px )
			padding: 25px 15px 40px

.form
	&-title
		max-width: 625px
		margin-bottom: 30px

		font-size: 1.5rem
		line-height: 1.2
		font-family: CenturyBold
		
	&-input
		display: flex
		flex-direction: column

		margin-bottom: 25px

		font-size: 1.25rem
		font-family: CenturyBold
		position: relative
		@media ( max-width:$md3+px )
			font-size: 1.15rem

		&:last-child
			margin: 0 0 0px 0 

		input
			position: relative

			padding: 0 20px 0 62px 

			font-size: 1rem
			font-family: CenturyRegular
			line-height: 45px

			max-width: 460px
			width: 100%
			height: 45px

			border: none
			box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.09)
			@media ( max-width:$md3+px )
				font-size: 1rem
		
		&--name>div
			margin-top: 10px
			position: relative
			
			&::before
				@include pseudoEl(block, absolute, url('data:image/svg+xml; base64, PHN2ZyB2aWV3Qm94PSIwIDAgMTkgMTkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05LjUwMDYxIDkuNTI0NDFDNC40OTM1OCA5LjUyNDQxIDAuNDE5OTIyIDEzLjU5ODEgMC40MTk5MjIgMTguNjA1MUMwLjQxOTkyMiAxOC44MjMgMC41OTY4MTEgMTguOTk5OSAwLjgxNDc0NyAxOC45OTk5SDE4LjE4NjVDMTguNDA0NSAxOC45OTk5IDE4LjU4MTMgMTguODIzIDE4LjU4MTMgMTguNjA1MUMxOC41ODEzIDEzLjU5ODEgMTQuNTA3NiA5LjUyNDQxIDkuNTAwNjEgOS41MjQ0MVoiIGZpbGw9IiMwMUIyNTkiLz4KPHBhdGggZD0iTTkuNDk5MTggOC42ODU4NkMxMS44OTc3IDguNjg1ODYgMTMuODQyMSA2Ljc0MTQ3IDEzLjg0MjEgNC4zNDI5M0MxMy44NDIxIDEuOTQ0NCAxMS44OTc3IDAgOS40OTkxOCAwQzcuMTAwNjUgMCA1LjE1NjI1IDEuOTQ0NCA1LjE1NjI1IDQuMzQyOTNDNS4xNTYyNSA2Ljc0MTQ3IDcuMTAwNjUgOC42ODU4NiA5LjQ5OTE4IDguNjg1ODZaIiBmaWxsPSIjMDFCMjU5Ii8+Cjwvc3ZnPgo='))
				z-index: 10
				left: 0
				top: 50%

				display: flex
				justify-content: center
				align-items: center

				margin-top: 3px
				margin-left: 10px

				width: 19px
				height: 19px

				transform: translateY(-50%)
				
		&--phone>div
			margin-top: 10px
			position: relative
			
			&::before
				@include pseudoEl(block, absolute, url('data:image/svg+xml; base64, PHN2ZyAgdmlld0JveD0iMCAwIDIwIDIwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZyBjbGlwLXBhdGg9InVybCgjY2xpcDApIj4KPHBhdGggZD0iTTE5LjQ1NjEgMTQuNjc4TDE2LjY2NTEgMTEuODg2OUMxNS42NjgzIDEwLjg5MDEgMTMuOTczNyAxMS4yODg5IDEzLjU3NSAxMi41ODQ3QzEzLjI3NTkgMTMuNDgxOSAxMi4yNzkxIDEzLjk4MDMgMTEuMzgyIDEzLjc4MDlDOS4zODgzOSAxMy4yODI1IDYuNjk3MDEgMTAuNjkwOCA2LjE5ODYgOC41OTc0NkM1Ljg5OTU2IDcuNzAwMyA2LjQ5NzY1IDYuNzAzNDkgNy4zOTQ3NyA2LjQwNDQ4QzguNjkwNjIgNi4wMDU3NiA5LjA4OTM0IDQuMzExMTkgOC4wOTI1NCAzLjMxNDM4TDUuMzAxNDggMC41MjMzMjRDNC41MDQwMyAtMC4xNzQ0NDEgMy4zMDc4NiAtMC4xNzQ0NDEgMi42MTAxIDAuNTIzMzI0TDAuNzE2MTY2IDIuNDE3MjZDLTEuMTc3NzcgNC40MTA4NyAwLjkxNTUyOCA5LjY5Mzk1IDUuNjAwNTIgMTQuMzc4OUMxMC4yODU1IDE5LjA2MzkgMTUuNTY4NiAyMS4yNTY5IDE3LjU2MjIgMTkuMjYzM0wxOS40NTYxIDE3LjM2OTRDMjAuMTUzOSAxNi41NzE5IDIwLjE1MzkgMTUuMzc1NyAxOS40NTYxIDE0LjY3OFoiIGZpbGw9IiMwMUIyNTkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K'))
				z-index: 10
				left: 0
				top: 50%

				display: flex
				justify-content: center
				align-items: center

				margin-top: 3px
				margin-left: 10px

				width: 19px
				height: 19px

				transform: translateY(-50%)
	.btn
		margin: 35px 0 0 0
		max-width: 180px
		width: 100%
		@media ( max-width:$md3+px )
			max-width: 140px

	
