@keyframes animationTextHeight
	form
		top: -50%
		
	to
		top: 50% 


@keyframes animationTextWidthLeft
	form
		left: -50%
		
	to
		left: 110% 


@keyframes animationTextWidthRight
	form
		right: -50%
		
	to
		right: 110% 
// @keyframes anim_text {
//    from {
//       background-position: 0 0;
//    }
//    to {
//       background-position: -250px 0;
//    }
// }