.section-curs
	padding-top: 83px
	padding-bottom: 100px
	margin-top: -83px
	height: auto
	background: #202020
	color: $white

	.container
		display: block

		&:first-child
			display: flex
			margin-bottom: 40px

.curs
	p,ul
		list-style-type: none
		font-size: 1rem
		padding: 0

	.pink
		color: $pink
		font-family: MontserratBold

	.h3
		line-height: 1.4
		margin-bottom: 20px
		@media ( max-width:$md3+px )
			font-size: 1.7rem
	.h4
		padding-bottom: 20px
		@media ( max-width:$md3+px )
			font-size: 1.3rem

	&-img
		float: left

		margin-right: 45px
		margin-bottom: 50px

		max-width: 560px
		width: 100%
		@media ( max-width:$md1+px )
			max-width: 100%

			.img-box
				padding: 25% 0

	.ul-number
		font-family: MontserratBold
		list-style-type: decimal
		color: $pink
		padding-left: 20px
		
		li
			padding-bottom: 20px	

		span

		p
			padding-top: 7px	
			font-family: MontserratMedium

		span, p
			color: $white

	.ul-arrow
	
		li
			position: relative
			line-height: 1.6
			padding-left: 20px

		li:before
			left: 0
			@include verticalcenter()
			content: ''
			width: 8px
			height: 12px
			display: block
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABpSURBVHgBjZDBDYAwDAOdTNJV2IA1eNFReFHYgg1YpZMQAkWojzRgKcrDp8QyoBIsoyAFGGLBGnVPAO0WxMCx6c46wYKovEi3WaALlo4w5BfwIKrPWRDjQ/9euCE98+mB+5ZZpZ9jq+oTbbw4SjMfGXsAAAAASUVORK5CYII=") 100%/cover no-repeat
		
	.btn-an
		margin-top: 40px