.section-why
	padding: 100px 0
	background-image: url(../img/section-bg/03.png)
	background-repeat: no-repeat
	background-size: cover
	@media ( max-width:$md1+px )
		padding: 50px 0
	@media ( max-width:$md3+px )
		padding: 30px 0

	.container
		position: relative
		height: 100%
		@media ( max-width:$md1+px )
			flex-wrap: wrap

.why
	&-block
		@include flexbox()
		align-items: flex-start
		flex-direction: column
		justify-content: center

		// margin-top: 160px

		max-width: 700px
		width: 100%
		color: $white

		&__title
			margin-bottom: 40px
		
			-webkit-text-stroke: 1px $white
			-webkit-text-fill-color: transparent
			text-fill-color: transparent
			text-stroke: 1px $white
			@media ( max-width:$md1+px )			
				margin-bottom: 20px

			@media ( max-width:$md3+px )
				font-size: 2.2rem
				margin-bottom: 13px

		&__svg
			margin: 0 50px
			height: auto

			@media ( max-width:$md3+px )
				max-width: 37px
				margin: 0 15px

		&___info
			font-size: 1rem

			b
				font-family: MontserratBold

	&-title
		position: absolute
		right: 0
		top: 0

		max-width: 750px
		width: 100%
		@media ( max-width:$md1+px )
			max-width: 100%
			position: relative
			margin-bottom: 55px


		li:first-child
			color: $white
			-webkit-text-fill-color: $white
			text-fill-color: $white

		li
			-webkit-text-stroke: 1px $white
			-webkit-text-fill-color: transparent
			text-fill-color: transparent
			text-stroke: 1px $white

			text-align: right

			line-height: 1.2

		li:nth-child(2)
			margin-top: -70px
			opacity: 0.4
			@media ( max-width:$md3+px )
				margin-top: -20px


		li:nth-child(3)
			margin-top: -10px
			opacity: 0.3
			@media ( max-width:$md3+px )
				margin-top: 10px

		li:nth-child(4)
			margin-top: 10px
			opacity: 0.2
			@media ( max-width:$md1+px )
				display: none

		li:nth-child(5)
			margin-top: 40px
			opacity: 0.15
			@media ( max-width:$md1+px )
				display: none

