.section-command
	padding-top: 70px
	padding-bottom: 100px

	min-height: auto
	height: auto
	
	.section-title
		margin-bottom: 40px

	.container-blocks
		justify-content: space-between


	.command-column
		max-width: 500px
		width: 100%

		&:last-child
			margin-left: 45px

		&__box
			position: relative
			
			padding: 246px 0
			margin-bottom: 28px

			max-width: 385px
			width: 100%
			
			overflow: hidden

		&__img
			position: absolute
			display: block
			top: 0
			left: 0
			width: 100%
			height: 100%

			img
				position: relative
				z-index: 2

				width: 100%
				height: 100%

				vertical-align: bottom
				-o-object-fit: cover
				object-fit: cover
				opacity: 1
				object-fit: cover

		&__info
			color: #000
			font-size: 1rem

		&__prof
			font-family: MontserratBold
			margin-bottom: 20px

		&__title
			font-size: 3rem
			font-family: MontserratBold
			text-transform: uppercase

			margin-bottom: 5px

		&__text
			margin-bottom: 30px

		&__social
			display: flex

		&__icon
			display: flex
			align-items: flex-end
			padding: 0 26px 0 0
			
			path
				fill: $blue
				transition: fill 0.3s linear


			&:hover
				path
					fill: $pink


		&__icon + &__icon
			padding: 0
