//<MIXIN>------------------------------------------------------------------------------
@import "mixin"
//</MIXIN>------------------------------------------------------------------------------


//<FONTS>------------------------------------------------------------------------------
@import "fonts"
//</FONTS>------------------------------------------------------------------------------




//<LIBRARIES>------------------------------------------------------------------------------
@import "../../node_modules/normalize.sass/normalize.sass"

@import "resetStyles"

@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
//</LIBRARIES>------------------------------------------------------------------------------
  

//<WIDTH PAGE>------------------------------------------------------------------------------

$md1: 991
$md2: 771
$md3: 526

//</WIDTH PAGE>------------------------------------------------------------------------------


//<MAIN>------------------------------------------------------------------------------
@import "animation"

@import "main"
@import "header"
@import "section-ban"
@import "section-advantages"
@import "section-why"
@import "section-offer"
@import "section-work"
@import "section-slider"
@import "section-command"
@import "page-event"
@import "page-curs"
@import "popup"
@import "page-404"


@import "footer"




@import "navBlock"

//</MAIN>------------------------------------------------------------------------------


//<TASK>------------------------------------------------------------------------------
// @import "../task/burger/burger"
// @import "../task/accordionJQ/accordion"
// @import "../task/checkbox/checkbox"
// @import "../task/radio/radio"
// @import "../task/tabs/tabs"
// @import "popup"

//</TASK>------------------------------------------------------------------------------