
.btn 
	position: relative
	display: block

	padding: 0

	cursor: pointer
	outline: none
	vertical-align: middle
	text-decoration: none
	font-size: inherit
	font-family: inherit

	border: 0
	background: transparent

.btn
	width: 14rem
	height: auto

	.circle 
		position: relative

		display: block

		margin: 0

		width: 3rem
		height: 3rem

		background: $white
		border-radius: 1.625rem
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)


		.icon 
			position: absolute
			top: 0
			bottom: 0
			left: 0.625rem

			margin: auto

			width: 1.125rem
			height: 0.125rem

			transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
			@media screen and ( max-width: 526px )
				left: 0.5rem
				height: 1px

			&::before 
				@include pseudoEl(block, absolute, '')
				z-index: 2
				top: -0.25rem
				right: 0.0625rem

				width: 0.625rem
				height: 0.625rem
				
				border-top: 0.125rem solid $black
				border-right: 0.125rem solid $black
				transform: rotate(45deg)
					
					
					
	.btn-text 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0


		padding: 0.75rem 0
		margin: 0 0 0 1.85rem

		color: $white
		font-weight: 700
		line-height: 1.6
		text-align: center

		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)

	&:hover .circle 
		width: 100%

	&:hover .circle .icon.arrow 
		transform: translate(1rem, 0)
		background: $black

	&:hover .btn-text 
		color: $black


	

