@import url(../../node_modules/slick-carousel/slick/slick.css);

@import url(../../node_modules/slick-carousel/slick/slick-theme.css);

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Light";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Medium";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Medium.woff") format("woff"), url("../fonts/RobotoSlab-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Thin";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Thin.woff") format("woff"), url("../fonts/RobotoSlab-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
textarea,
select,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
}

*:focus {
  outline: 0;
}

b,
strong {
  font-family: RobotoSlab-Regular;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.main {
  overflow: hidden;
  position: relative;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}

.main.active::before {
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}

.col-1,
.col-2,
.col-3,
.options-col,
.col-4,
.car-col,
.col-5,
.col-6,
.technology-col,
.contact-col,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.about-text,
.faq .accordeon,
.footer-top,
.footer-bot {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3,
.options-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4,
.car-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6,
.technology-col,
.contact-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12,
.about-text,
.faq .accordeon,
.footer-top,
.footer-bot {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

html,
body {
  font-size: 16px;
  font-family: RobotoSlab-Light;
  color: #2C2C2C;
}

body.active {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.h1 {
  font-size: 3.125rem;
  font-family: Montserrat-Bold;
}

.h2 {
  font-size: 2.25rem;
  font-family: Montserrat-Bold;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.25rem;
}

.btn {
  max-width: 243px;
  width: auto;
  padding: 0 33px 0 65px;
  text-align: right;
  border: 2px solid #FFFFFF;
  border-radius: 68px;
  line-height: 61px;
  font-family: RobotoSlab-Medium;
  background-image: url(../img/icons/icons.svg#icon-writing);
  background-position: 33px center;
  background-repeat: no-repeat;
  background-size: 24px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  color: #3082A5;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.btn:hover {
  background-color: #FFFFFF;
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.btn--bot {
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.btn--blue {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 0 10px;
  background: #3082A5;
  border: 2px solid #3082A5;
  border-radius: 67px;
  color: #fff;
  font-family: RobotoSlab-Medium;
  text-align: center;
  line-height: 61px;
  text-decoration: none;
  -webkit-transition: 0.3s background-color linear, 0.3s color linear;
  -o-transition: 0.3s background-color linear, 0.3s color linear;
  transition: 0.3s background-color linear, 0.3s color linear;
}

.btn--blue:hover {
  background: none;
  color: #3082A5;
}

.mb-7 {
  height: 70px;
  width: 100%;
}

.mb-12 {
  height: 120px;
  width: 100%;
}

.header {
  position: relative;
  padding: 10px 0 0;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 12%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  width: 100%;
  padding: 0 15px;
}

.header .logo img {
  width: 100%;
}

.header-right {
  padding: 0 15px;
  max-width: 88%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 88%;
          flex: 0 0 88%;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
}

.mob-icon {
  display: none;
}

.header-maps {
  position: relative;
  margin: 0 0 0 27px;
  margin-right: 9.7%;
}

.header-maps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-link__title {
  color: #3082A5;
  font-size: 10px;
  font-family: RobotoSlab-Medium;
  text-transform: uppercase;
}

.header-link__text {
  font-family: RobotoSlab-Regular;
  font-size: 14px;
}

.header-link a {
  position: relative;
  font-size: 12px;
  color: #3082A5;
  text-decoration: none;
}

.header-link a:hover:after {
  background: #000;
}

.header-link a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 2px;
  width: 100%;
  height: 0.5px;
  background: #3082A5;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.header-link--office {
  max-width: 185px;
  width: 100%;
}

.header-link--production {
  max-width: 520px;
  width: 100%;
}

.header-link--phone {
  max-width: 120px;
  width: 100%;
}

.header-link ._icon {
  margin-left: -27px;
}

.header-link + .header-link {
  margin-left: 15.8%;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 100%;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__ul li {
  position: relative;
  overflow: hidden;
  margin-left: 50px;
}

.header-menu__ul li:first-child {
  margin-left: 27px;
}

.header-menu__ul li a {
  display: block;
  text-align: center;
  padding: 15px  0;
  text-decoration: none;
  font-size: 1.125rem;
  color: #2C2C2C;
}

.header-menu__ul li::after {
  content: '';
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 50px;
  height: 3px;
  background: #A4ABB5;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: left 0.3s linear, -webkit-transform 0.3s linear;
  transition: left 0.3s linear, -webkit-transform 0.3s linear;
  -o-transition: left 0.3s linear, transform 0.3s linear;
  transition: left 0.3s linear, transform 0.3s linear;
  transition: left 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.header-menu__ul li:hover::after {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

ul.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8%;
}

ul.lang .wpml-ls-current-language a {
  color: #000;
}

ul.lang li:hover a {
  color: #000;
}

ul.lang li + li {
  margin-left: 15px;
}

ul.lang a {
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
  font-size: 16px;
  text-transform: uppercase;
  color: #A6A6A6;
}

ul.lang a {
  text-decoration: none;
}

.burger {
  display: none;
}

.section-title {
  position: relative;
  padding: 0 15px 20px;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 70px;
  height: 3px;
  background: #A4ABB5;
}

.ban {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0 280px;
}

.ban::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: -o-linear-gradient(356.93deg, rgba(0, 0, 0, 0.75) 42.69%, rgba(0, 0, 0, 0) 92.76%);
  background: linear-gradient(93.07deg, rgba(0, 0, 0, 0.75) 42.69%, rgba(0, 0, 0, 0) 92.76%);
}

.ban::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 139px;
  background-image: url(../img/section-ban/bottom-01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

.ban .container {
  position: relative;
  z-index: 2;
}

.ban-info {
  padding: 0 15px;
  max-width: 555px;
  color: #fff;
}

.ban-info__titie {
  line-height: 1.2;
  margin-bottom: 10px;
}

.ban-info__titie span {
  color: #A7CBDA;
}

.ban-info__text {
  max-width: 470px;
  line-height: 28px;
}

.ban-info .btn {
  margin-top: 30px;
}

.car-col {
  margin-bottom: 30px;
}

.car-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.car-block__top {
  margin-right: 40px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.car-block__imgBox {
  position: relative;
  padding: 30% 0;
  width: 100%;
  overflow: hidden;
  margin-right: 40px;
  border-bottom-right-radius: 70px;
  -webkit-filter: url(filters.svg#grayscale);
          filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.3s linear;
  transition: -webkit-filter 0.3s linear;
  -o-transition: filter 0.3s linear;
  transition: filter 0.3s linear;
  transition: filter 0.3s linear, -webkit-filter 0.3s linear;
}

.car-block__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.car-block__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.car-block__info {
  margin-top: -100px;
  padding: 120px 70px 45px 25px;
  height: 100%;
  background: #F2F4F7;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #2C2C2C;
}

.car-block__name {
  font-family: RobotoSlab-Medium;
  font-size: 20px;
}

.car-block__subText {
  font-family: RobotoSlab-Regular;
}

.car .btn--arrow {
  position: absolute;
  bottom: 40px;
  right: 25px;
  width: 29px;
  height: 20px;
}

.car .btn--arrow svg {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.car-block:hover {
  cursor: pointer;
}

.car-block:hover .car-block__imgBox {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.car-block:hover .car-block__info {
  background: #3082A5;
  color: #fff;
  padding-bottom: 20px;
}

.car-block:hover .car-block__top {
  margin-right: 0;
}

.car-block:hover .btn--arrow svg {
  fill: #fff;
}

.car-info {
  overflow: hidden;
  opacity: 0;
  width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  position: absolute;
}

.options-block__boxImg {
  position: relative;
  padding: 40% 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.options-block__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #3082A5;
}

.options-block__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.options-block__number {
  line-height: 50px;
  font-family: Montserrat-Bold;
  color: #F2F4F7;
  font-size: 70px;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.options-block:hover .options-block__number {
  color: #3082A5;
}

.advan .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advan-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  max-width: 400px;
  padding: 0 15px;
}

.advan-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 40px 50px;
  border: 1px solid #A4ABB5;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.advan-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3082A5;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin-top: -62.5px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 15px;
}

.advan-block__icon img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 100%;
  height: 100%;
}

.advan-block__info {
  font-family: RobotoSlab-Light;
  text-align: center;
  line-height: 28px;
}

.advan-block__info b {
  font-family: RobotoSlab-Regular;
}

.advan-block:hover {
  background: #F2F4F7;
  border-color: rgba(164, 171, 181, 0);
}

.advan-block:hover .advan-block__icon {
  background: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.advan-block:hover .advan-block__icon img {
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.technology-box {
  background: #F2F4F7;
  padding: 50px 55px 40px;
  height: 100%;
}

.technology-box__img {
  margin-bottom: 30px;
}

.technology-box__text {
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 0.875rem;
  max-height: 96px;
  overflow: hidden;
}

.technology-box__title {
  font-family: RobotoSlab-Medium;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.technology-box a {
  position: relative;
  padding-right: 20px;
  color: #3082A5;
  font-family: RobotoSlab-Medium;
  text-decoration: none;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.technology-box a::before {
  content: ">>";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.technology-box a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #3082A5;
  -webkit-transition: 0.3s background-color linear;
  -o-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.technology-box a:hover {
  color: #2C2C2C;
}

.technology-box a:hover::after {
  background: #2C2C2C;
}

.about-text p {
  padding: 0 0 15px 0;
}

.about-text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-text ul li {
  position: relative;
  padding-left: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.about-text ul li::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
  background: #3082A5;
}

.video-Iframe {
  position: relative;
}

.videoPoster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 2s linear,visibility .3s linear;
  -o-transition: opacity 2s linear,visibility .3s linear;
  transition: opacity 2s linear,visibility .3s linear;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoPoster::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.videoPoster svg {
  z-index: 99;
  position: relative;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.faq .accordeon {
  width: 100%;
}

.faq .accordeon .acc-block {
  padding: 30px 0;
  background: #FFFFFF;
  border-bottom: 0.5px solid #A4ABB5;
}

.faq .accordeon .acc-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10%;
  padding-bottom: 0;
  font-size: 1.25rem;
  font-family: RobotoSlab-Medium;
  cursor: pointer;
  -webkit-transition: padding-bottom 0.5s linear;
  -o-transition: padding-bottom 0.5s linear;
  transition: padding-bottom 0.5s linear;
  position: relative;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.faq .accordeon .acc-block__link:hover {
  color: #3082A5;
}

.faq .accordeon .acc-block__link::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icons.svg#icon-arrow);
  background-size: 12px;
  background-position: 100% center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.faq .accordeon .acc-block__link.active {
  color: #3082A5;
}

.faq .accordeon .acc-block__link.active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.faq .accordeon .acc-block__title {
  padding: 25px 50px;
  max-width: 80%;
  width: 100%;
  font-size: 1.25rem;
  font-family: CenturyBold;
}

.faq .accordeon .acc-block__content {
  display: none;
  margin-top: 20px;
}

.faq .accordeon .acc-block__content a {
  display: block;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: CenturyBold;
}

.faq .accordeon .acc-block__content a:hover {
  text-decoration: none;
}

.contact-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-box {
  background: #F2F4F7;
  width: 100%;
}

.contact-box--img a {
  max-width: 190px;
}

.form-block .form {
  padding: 30px 60px 50px;
}

.form-block .form-sub {
  margin-bottom: 30px;
}

.form-block .form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.form-block .form__line:last-child {
  margin-bottom: 0;
}

.form-block .form__line input {
  height: 45px;
  width: 100%;
  padding: 0 30px;
  border: 0.5px solid #DCDCDC;
  background: #fff;
  line-height: 44px;
  font-family: RobotoSlab-Light;
}

.form-block .form__label {
  font-family: RobotoSlab-Medium;
}

.form-block .form .input_block {
  margin-top: 10px;
}

.form-block .form .btn--blue {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6228 10.0546L11.8086 8.24042C11.1606 7.59249 10.0592 7.85169 9.8 8.69396C9.60563 9.27712 8.9577 9.60108 8.37457 9.47147C7.07872 9.14751 5.32933 7.46291 5.00536 6.10227C4.81099 5.51911 5.19974 4.87118 5.78287 4.67683C6.62517 4.41766 6.88434 3.31619 6.23642 2.66827L4.42223 0.854076C3.90389 0.400529 3.12638 0.400529 2.67283 0.854076L1.44178 2.08513C0.210721 3.38098 1.57136 6.81498 4.61661 9.86023C7.66185 12.9055 11.0959 14.3309 12.3917 13.0351L13.6228 11.804C14.0763 11.2857 14.0763 10.5082 13.6228 10.0546Z' fill='%23fff'/%3E%3C/svg%3E");
  background-position: 33px center;
  background-repeat: no-repeat;
  background-size: 20px;
  text-align: right;
  padding: 0 33px 0 65px;
  width: auto;
  max-width: 243px;
}

.form-block .form .btn--blue:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6228 10.0546L11.8086 8.24042C11.1606 7.59249 10.0592 7.85169 9.8 8.69396C9.60563 9.27712 8.9577 9.60108 8.37457 9.47147C7.07872 9.14751 5.32933 7.46291 5.00536 6.10227C4.81099 5.51911 5.19974 4.87118 5.78287 4.67683C6.62517 4.41766 6.88434 3.31619 6.23642 2.66827L4.42223 0.854076C3.90389 0.400529 3.12638 0.400529 2.67283 0.854076L1.44178 2.08513C0.210721 3.38098 1.57136 6.81498 4.61661 9.86023C7.66185 12.9055 11.0959 14.3309 12.3917 13.0351L13.6228 11.804C14.0763 11.2857 14.0763 10.5082 13.6228 10.0546Z' fill='%233082A5'/%3E%3C/svg%3E");
}

.form-block__title,
.contact-map__title {
  padding: 35px 60px;
  font-size: 1.5rem;
  border-bottom: 2px solid #fff;
  font-family: RobotoSlab-Medium;
  font-size: 1.25rem;
}

.contact-map__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 65px;
}

.contact-map__info a {
  font-family: RobotoSlab-Regular;
  font-size: 0.875rem;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.contact-map__info a:hover {
  color: #3082A5;
}

.contact-map__info a:last-child {
  margin: 0 0 0px 0;
}

.section-map .map-box {
  position: relative;
  overflow: hidden;
  padding-bottom: 24%;
  min-height: 350px;
}

.section-map .map-box > ymaps {
  position: absolute;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.error {
  background: #3082A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 15px;
}

.error-img {
  max-width: 580px;
  width: 100%;
}

.error-text {
  font-size: 1.5rem;
  font-family: Montserrat-Bold;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.error .btn {
  max-width: 180px;
  padding: 0 10px;
  background-image: none;
  text-align: center;
}

.footer {
  position: relative;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.63);
}

.footer .container {
  position: relative;
  z-index: 2;
}

.footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}

.footer a:hover {
  border-color: white;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.footer-menu {
  display: none;
}

.footer-bot {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.footer-bot__text {
  font-size: 0.875rem;
  max-width: 470px;
  width: 100%;
  color: #fff;
}

._icon {
  position: relative;
  padding-left: 27px;
  background-repeat: no-repeat;
  background-size: 17px;
}

._icon--phone {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6228 10.0546L11.8086 8.24042C11.1606 7.59249 10.0592 7.85169 9.8 8.69396C9.60563 9.27712 8.9577 9.60108 8.37457 9.47147C7.07872 9.14751 5.32933 7.46291 5.00536 6.10227C4.81099 5.51911 5.19974 4.87118 5.78287 4.67683C6.62517 4.41766 6.88434 3.31619 6.23642 2.66827L4.42223 0.854076C3.90389 0.400529 3.12638 0.400529 2.67283 0.854076L1.44178 2.08513C0.210721 3.38098 1.57136 6.81498 4.61661 9.86023C7.66185 12.9055 11.0959 14.3309 12.3917 13.0351L13.6228 11.804C14.0763 11.2857 14.0763 10.5082 13.6228 10.0546Z' fill='%233082A5'/%3E%3C/svg%3E");
}

._icon--clock {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.1283 0.586914C3.71692 0.586914 0.128296 4.17554 0.128296 8.58691C0.128296 12.9983 3.71692 16.5869 8.1283 16.5869C12.5397 16.5869 16.1283 12.9983 16.1283 8.58691C16.1283 4.17554 12.5397 0.586914 8.1283 0.586914ZM11.933 12.7249C11.803 12.8549 11.6323 12.9203 11.4617 12.9203C11.291 12.9203 11.1202 12.8549 10.9904 12.7249L7.65698 9.3916C7.53162 9.26697 7.46167 9.09753 7.46167 8.92029V4.58691C7.46167 4.21826 7.76025 3.92029 8.1283 3.92029C8.49634 3.92029 8.79492 4.21826 8.79492 4.58691V8.64429L11.933 11.7822C12.1936 12.043 12.1936 12.4642 11.933 12.7249Z' fill='%233082A5'/%3E%3C/svg%3E");
}

._icon--map {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.54087 0.94043C3.00487 0.94043 0.128296 3.81701 0.128296 7.35256C0.128296 12.4432 5.85282 17.557 6.09664 17.7727C6.22414 17.8845 6.38251 17.9404 6.54087 17.9404C6.70551 17.9404 6.87014 17.88 6.99853 17.7597C7.24145 17.5324 12.9535 12.1372 12.9535 7.35301C12.9535 3.81746 10.076 0.94043 6.54087 0.94043ZM6.54087 10.4103C4.85206 10.4103 3.48356 9.04093 3.48356 7.35346C3.48356 5.66598 4.85206 4.29659 6.54087 4.29659C8.2288 4.29659 9.5973 5.66553 9.5973 7.35346C9.5973 9.04138 8.2288 10.4103 6.54087 10.4103Z' fill='%233082A5'/%3E%3C/svg%3E");
}

._icon--write {
  background-position: center left;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5881 8.75756L22.4143 7.58377C21.866 7.03542 20.9739 7.03552 20.4255 7.58377L17.9531 10.0562V2.10938C17.9531 0.946266 17.0069 0 15.8438 0H2.10938C0.946266 0 0 0.946266 0 2.10938V21.8906C0 23.0537 0.946266 24 2.10938 24H15.8438C17.0069 24 17.9531 23.0537 17.9531 21.8906V16.311L23.5881 10.7463C24.1364 10.198 24.1364 9.30586 23.5881 8.75756ZM15.1788 17.0743L13.0637 18.0614L14.0498 15.9483L19.2986 10.6995L20.4591 11.8599L15.1788 17.0743ZM16.5469 21.8906C16.5469 22.2783 16.2315 22.5938 15.8438 22.5938H2.10938C1.72167 22.5938 1.40625 22.2783 1.40625 21.8906V2.10938C1.40625 1.72167 1.72167 1.40625 2.10938 1.40625H15.8438C16.2315 1.40625 16.5469 1.72167 16.5469 2.10938V11.4624C12.6479 15.3615 12.9025 15.0813 12.8278 15.2413L10.9717 19.2188C10.8466 19.4868 10.9026 19.8043 11.1116 20.0134C11.3207 20.2225 11.6383 20.2784 11.9062 20.1533L15.8837 18.2971C16.0295 18.2291 16.0535 18.1868 16.5469 17.6996V21.8906ZM21.4597 10.8719L20.2929 9.70514L21.42 8.57812L22.5934 9.7523L21.4597 10.8719Z' fill='%233082A5'/%3E%3Cpath d='M3.75 5.95312H14.25C14.6383 5.95312 14.9531 5.63831 14.9531 5.25C14.9531 4.86169 14.6383 4.54688 14.25 4.54688H3.75C3.36169 4.54688 3.04688 4.86169 3.04688 5.25C3.04688 5.63831 3.36169 5.95312 3.75 5.95312Z' fill='%233082A5'/%3E%3Cpath d='M3.75 9.70312H12C12.3883 9.70312 12.7031 9.38831 12.7031 9C12.7031 8.61169 12.3883 8.29688 12 8.29688H3.75C3.36169 8.29688 3.04688 8.61169 3.04688 9C3.04688 9.38831 3.36169 9.70312 3.75 9.70312Z' fill='%233082A5'/%3E%3Cpath d='M9.75 12.0469H3.75C3.36169 12.0469 3.04688 12.3617 3.04688 12.75C3.04688 13.1383 3.36169 13.4531 3.75 13.4531H9.75C10.1383 13.4531 10.4531 13.1383 10.4531 12.75C10.4531 12.3617 10.1383 12.0469 9.75 12.0469Z' fill='%233082A5'/%3E%3C/svg%3E%0A");
}

.slick-slider {
  min-width: 0;
}

.slick-slider .slider-item {
  min-width: 0;
  margin: 20px 0;
}

.slick-slider .slick-list {
  margin: -20px;
  padding: 0 20px;
}

.slick-slider .slick-slide {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.slick-slider .slick-slide > div {
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.slick-slider .slick-active {
  opacity: 1;
}

.box-arrows {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-arrows .slick-arrow {
  cursor: pointer;
  margin: 0 10px;
}

.box-arrows .slick-arrow svg path {
  fill: #A4ABB5;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.box-arrows .slick-arrow:hover svg path {
  fill: #3082A5;
}

.row.slick-slider {
  display: block;
}

.video-Iframe {
  position: relative;
  width: 100%;
  height: 0;
  height-overflow: hidden;
  padding-bottom: 50%;
  margin: 0 15px 40px;
}

.video-Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: none;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  max-width: 73rem;
  width: 100%;
  min-height: 20rem;
  max-height: 100vh;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .close-modal {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  z-index: 20;
  background: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal .close-modal:hover svg path {
  fill: #3082A5;
}

.modal .close-modal svg {
  width: 24px;
  height: 24px;
}

.modal .close-modal svg path {
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.modal .modal-content {
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 9;
  background: #ffffff;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content__BoxImg {
  position: relative;
  padding: 20% 0;
  width: 100%;
  overflow: hidden;
  max-width: 570px;
  width: 100%;
}

.modal-content__BoxImg .modal-content__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.modal-content__BoxImg .modal-content__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-content__info {
  padding: 20px 30px;
  width: 100%;
}

.modal-content__info::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.modal-content__info::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}

.modal-content__info::-webkit-scrollbar-thumb {
  background-color: #3082A5;
}

.modal-content__info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: none;
}

.modal-content__info .modal-content__top {
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 25px;
}

.modal-content__info .modal-content__top::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  background: #A4ABB5;
  height: 1px;
}

.modal-content__info a {
  color: #3082A5;
  position: relative;
  margin-top: 20px;
  display: block;
}

.modal-content__info .car-block__name {
  font-size: 1.125rem;
}

.modal-content__info .car-block__subText {
  font-size: 1.125rem;
}

.modal-content__text {
  overflow-y: scroll;
  max-height: 300px;
}

.modal-content__text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-content__text ul li {
  margin-bottom: 20px;
}

.modal-content__text::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.modal-content__text::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}

.modal-content__text::-webkit-scrollbar-thumb {
  background-color: #3082A5;
}

.modal-content__text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: none;
}

._modal-tech {
  max-width: 57rem;
}

._modal-tech .technology-box__img img {
  margin: 0 auto;
}

._modal-tech .modal-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 60px;
}

._modal-tech .modal-content__info {
  padding: 0;
}

._modal-tech .technology-box__info {
  font-size: 14px;
  font-family: RobotoSlab-Light;
}

._modal-tech .technology-box__title {
  font-size: 1.25rem;
}

._modal-tech .modal-content__info {
  overflow: auto;
}

._modal-form {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

._modal-form .form-block__title {
  padding: 40px 60px 20px;
}

._modal-form .form-block .form {
  padding: 0 60px 40px;
}

._modal-form .form-block .form-sub {
  margin-bottom: 15px;
}

._modal-form .form-block .form__line {
  margin-bottom: 15px;
}

._modal-form .btn--blue {
  margin-top: 20px;
}

@media screen and (min-width: 767.98px) {
  .form-block .form-sub {
    max-width: 400px;
  }
}

@media screen and (min-width: 991px) {
  .car .btn--blue {
    margin: 10px auto 0;
  }

  .contact-box--img .contact-map__info:after {
    content: "";
    display: block;
    position: absolute;
    width: 280px;
    height: 155px;
    right: -15px;
    bottom: 15px;
    background-image: url(../img/section-contact/01.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 991.98px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }

  .footer-menu li + li {
    margin-left: 4.5%;
  }

  .footer-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding-bottom: 10px;
  }

  .header .logo {
    max-width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: calc( 100% - 100px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc( 100% - 100px);
            flex: 0 0 calc( 100% - 100px);
  }

  .header-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    padding-bottom: 0;
    width: 100%;
  }

  .header-maps {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 20px;
  }

  .header-maps .mob-icon {
    position: relative;
    display: block;
    padding-right: 10px;
    height: 26px;
    line-height: 26px;
    font-family: RobotoSlab-Medium;
    font-size: 10px;
    text-transform: uppercase;
  }

  .header-maps .mob-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url(../img/icons/icons.svg#icon-arrow);
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header-maps .mob-icon._active::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }

  .header-maps__box {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 280px;
    padding: 25px 30px;
    margin-top: 20px;
    border: 1px solid #F2F4F7;
    background: #fff;
  }

  .header-maps__box ._icon {
    margin-left: 0;
    padding: 0;
    background: none;
  }

  .header-maps__box .header-link {
    margin-bottom: 20px;
  }

  .header-maps__box .header-link:last-child {
    margin-bottom: 0;
  }

  .header-maps__box._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header-link--phone {
    margin-left: 25px;
  }

  .header-link + .header-link {
    margin-left: 0;
  }

  ul.lang {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 20px;
  }

  .burger {
    display: block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    position: relative;
    margin-left: 20px;
    width: 30px;
    height: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .burger .burger-line {
    position: absolute;
    display: block;
    padding: 0;
    width: 30px;
    height: 1px;
    background-color: black;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .burger .burger-lineOne {
    top: 0;
  }

  .burger .burger-lineTwo {
    top: 50%;
    margin-top: -0.5px;
  }

  .burger .burger-lineThree {
    top: 50%;
    margin-top: -0.5px;
    right: 0;
  }

  .burger .burger-lineFour {
    bottom: 0;
  }

  .burger.active {
    height: 30px;
  }

  .burger.active .burger-lineOne {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 5%;
        -ms-transform-origin: 5%;
            transform-origin: 5%;
    width: 41px;
  }

  .burger.active .burger-lineTwo {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    background-color: transparent;
  }

  .burger.active .burger-lineThree {
    -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
            transform: translateX(40px);
    background-color: transparent;
  }

  .burger.active .burger-lineFour {
    -webkit-transform-origin: 5%;
        -ms-transform-origin: 5%;
            transform-origin: 5%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 41px;
  }
}

@media (max-width: 1200px) {
  .header-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
    margin: 0;
    background: #fff;
    min-width: 320px;
    max-width: 30%;
  }

  .header-menu li {
    border-bottom: 1px solid #F2F4F6;
    margin: 0;
  }

  .header-menu li a {
    text-align: right;
    padding-right: 15px;
  }

  .header-menu li:last-child {
    border: none;
  }

  .header-menu li:first-child {
    margin: 0;
  }

  .header-menu._active {
    display: block;
  }

  .header-contact {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advan-col {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 526.98px) {
  .header-maps__box._active {
    left: auto;
    right: -15px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .car-col {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .advan-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
  }

  .technology-box {
    padding: 30px 25px;
  }

  .form-block .form {
    padding: 30px 45px 60px;
  }

  .form-block__title,
  .contact-map__title {
    padding: 35px 45px;
  }

  .contact-map__info {
    padding: 35px 45px;
  }

  .footer-top {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    border-bottom: 0;
  }

  .footer-bot {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .footer-bot .dev {
    float: right;
  }

  .footer-bot__text {
    text-align: right;
    margin: 0 0 20px auto;
  }

  .modal .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-content__BoxImg {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }

  .advan-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }

  .contact-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 35px;
  }

  .modal-content__info {
    padding: 20px 0 20px 15px;
  }

  ._modal-tech .modal-content {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 560px) {
  .header-contact {
    width: auto;
  }
}

@media (max-width: 526.98px) {
  html,
  body {
    font-size: 14px;
  }

  .container {
    max-width: 540px;
  }

  .h2 {
    font-size: 1.7143rem;
  }

  .btn {
    line-height: 53px;
    max-width: 213px;
    padding: 0 25px 0 50px;
    background-size: 21px;
    background-position-x: 30px;
  }

  .btn--blue {
    height: 55px;
    max-width: 170px;
    line-height: 51px;
  }

  .mb-7 {
    height: 50px;
  }

  .mb-12 {
    height: 70px;
  }

  .header-menu {
    margin-right: 0;
    min-width: 100%;
  }

  .header-contact {
    border-top: 1px solid #EAEAEA;
    margin-top: 15px;
    padding: 15px 15px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .ban {
    padding: 60px 0 140px;
  }

  .ban-info {
    max-width: 320px;
  }

  .ban-info__titie {
    font-size: 2rem;
  }

  .ban-info__text {
    line-height: 24px;
  }

  .car-col {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .car-block__subText {
    font-size: 1.2857rem;
  }

  .technology-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }

  .technology-box {
    padding: 25px;
  }

  .faq .accordeon .acc-block {
    padding: 20px 0;
  }

  .contact-col {
    margin-bottom: 25px;
  }

  .contact-col:last-child {
    margin-bottom: 0;
  }

  .form-block .form {
    padding: 25px;
  }

  .form-block .form__line {
    margin-bottom: 20px;
  }

  .form-block .form .btn--blue {
    max-width: 200px;
    background-size: 15px;
    padding: 0 25px 0 50px;
    background-position-x: 27px;
  }

  .form-block__title,
  .contact-map__title {
    padding: 25px;
  }

  .contact-map__info {
    padding: 25px;
  }

  .contact-box--map {
    margin: 0 0 25px 0;
  }

  .contact-box--map:last-child {
    margin-bottom: 0;
  }

  .error-text {
    font-size: 1.2857rem;
  }

  .footer-bot {
    padding-left: 0;
  }

  .footer-bot .dev {
    font-size: 0.8125rem;
  }

  .footer-bot__text {
    margin: 0 0 10px auto;
  }

  .box-arrows {
    right: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 30px;
  }

  .section-technology .section-title,
  .section-options .section-title {
    margin-bottom: 55px;
  }

  .modal-content__text ul li {
    line-height: 10px;
  }
}

@media (max-width: 526.88px) {
  .modal {
    max-height: 100vh;
  }
}

@media (min-width: 526.98px) and (max-width: 767.98px) {
  .contact-box--map {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .contact-box--map:last-child {
    border-left: 1px solid #fff;
  }

  .contact-box--map:first-child {
    border-right: 1px solid #fff;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-height: 375px) {
  .modal {
    max-height: 100vh;
  }
}

.webp .ban::before{ background-image: url(../img/section-ban/bottom-01.webp); }

@media screen and (min-width: 991px){

  .webp .contact-box--img .contact-map__info:after{ background-image: url(../img/section-contact/01.webp); }
}