.section-portfolio
	padding-top: 100px
	padding-bottom: 100px

	background: $color-4

	.section-title
		margin-bottom: 70px

	.portfolio-blocks
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		margin-bottom: 90px	

	.portfolio-block
		margin:  0 10px 79px

		max-width: 360px
		width: 100%
		height: auto

		a
			transition: color .3s ease

		&:hover
			a
				color: $color-1

		&__video
			position: relative
			width: 100%
			border-radius: 6px
			overflow: hidden
			padding: 25% 0

			>a
				position: absolute
				display: block
				top: 0
				left: 0
				width: 100%
				height: 100%

			video
				width: 100%
				height: 100%
				vertical-align: bottom
				object-fit: cover
				transition: opacity .5s
				position: relative
				z-index: 2
				opacity: 1
				object-fit: cover

		&__text
			margin-top: 20px
			margin-bottom: 15px

			font-family: "MontserratMedium"
			font-size: 1.3rem
			line-height: 24px

			a:hover
				color: $color-1


@media ( max-width: 1200px )
	.section-portfolio
		.portfolio-blocks
			justify-content: center
			
		.portfolio-block
			max-width: 32.3%

		.portfolio-block__text
			font-size: 1rem

@media ( max-width: 991px )
	.section-portfolio
		padding-top: 50px
		padding-bottom: 50px

		.portfolio-block
			max-width: 49%
			margin-bottom: 40px

@media ( max-width: 720px )
	.section-portfolio
		.portfolio-blocks
			margin-bottom: 35px

		.portfolio-block
			max-width: 100%
			margin-bottom: 40px


@media ( max-width: 526px )
	.section-portfolio 
		padding-top: 30px
		padding-bottom: 30px

		.portfolio-blocks
			margin-bottom: 0

		.section-title
			margin: 0
	

