@mixin font($font_name, $file_name, $weight, $style)

	@font-face
		font-family: $font_name
		font-display: swap
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
		font-weight: #{$weight}
		font-style: #{$style}

@import "fonts"


// ----------------------------------
// COLOR
// ----------------------------------

$color-1: #00FFB7
$color-2: #fff
$color-3: #040406
$color-4: #111

@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "select"

*,:after,:before
	box-sizing: border-box

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary, time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline
	font-family: "MontserratMedium" 

article, aside, details, 
figcaption, figure, footer,
header, hgroup, menu, nav, section 
	display: block 


body 
	font-size: 16px 
	line-height: 1
	color: $color-2 !important 

	&.hidden
		overflow: hidden

@media ( max-width: 991px )
	body 
		font-size: 14px

@media ( max-width: 526px )
	body
		font-size: 12px

ol, ul 
	list-style: none 

input, textarea, button
	outline: none
	border: none
	border: none


img, video
	display: block
	width: 100%

table 
	border-collapse: collapse
	border-spacing: 0 
	
a
	color: $color-2
	cursor: pointer
	text-decoration: none



.page
	position: relative

.container
	max-width: 1175px

	margin: auto
	padding: 0 15px

.section-title
	display: flex
	flex-direction: column
	justify-content: center

	margin: auto

	text-align: center

	h3
		margin-bottom: 30px

		font-family: "MontserratMedium"
		font-size: 2.5em
		line-height: 49px
		text-transform: uppercase

	p	
		margin: auto

		max-width: 600px
		width: 100%

		font-family: "MontserratRegular"
		text-align: center
		font-size: 1.5rem

@media ( max-width: 526px )
	.section-title 
		h3
			font-size: 1.5em
			line-height: 1.4
	
.btn
	display: flex
	justify-content:  center
	align-items: center
	padding: 0 16px

	max-width: 144px
	width: 100%
	height: 43px

	background: $color-1
	border: 2px solid $color-1
	border-radius: 50px

	text-align: center

	transition: background .3s ease, border .3s ease, color .3s ease

	&:hover
		background: none


.btn-green
	display: block

	margin: auto
	padding: 16px 25px

	width: 213px
	height: 52px

	border: 2px solid $color-1
	box-sizing: border-box
	border-radius: 50px
	background: none

	text-align: center

	transition: background .3s ease, border .3s ease

	&:hover
		background: $color-1

@import menu
@import header
@import section-bg
@import section-advantages
@import section-services
@import section-news
@import section-quote
@import section-portfolio
@import section-contacts
@import section-reviews

@import footer
@import modal






