
.slick-slider
	min-width: 0
	.slider-item
		min-width: 0
		margin: 20px 0

	.slick-list
		margin: -20px
		padding: 0 20px


	.slick-slide
		opacity: 0
		transition: opacity 0.3s linear

		&>div
			transition: box-shadow 0.3s linear  
			// box-shadow: 0px 0px 20px rgba(169, 166, 158, 0)

	.slick-active
		opacity: 1

		&>div
			// box-shadow: 0px 0px 20px rgba(169, 166, 158, 0.5)

.box-arrows
	position: absolute
	right: 0
	
	display: flex
	justify-content: center
	@media ( max-width:$md3+px )
		right: auto
		@include horizcenter()
		margin-top: 30px

	.slick-arrow
		cursor: pointer
		margin: 0 10px
		svg path
			fill: #A4ABB5
			transition: fill 0.3s linear

		&:hover
			svg path
				fill: $blue

.row.slick-slider
	display: block

@media ( max-width:$md3+px )
	.section-technology .section-title, .section-options .section-title
		margin-bottom: 55px