.error
	background: $blue
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	height: 100vh
	width: 100%
	padding: 0 15px

	&-img
		max-width: 580px
		width: 100%

	&-text
		font-size: $fz24
		@include f700()
		color: $white
		margin-bottom: 30px
		text-align: center
		@media ( max-width:$md3+px )
			font-size: $mfz18
	.btn
		max-width: 180px
		padding: 0 10px
		background-image: none
		text-align: center
		