//<ОБОЛОЧКА>------------------------------------------------------------------------------
html,
body
	font-size: 16px
	@include f300()
	color: $black
	@media ( max-width:$md3+px )
		font-size: 14px

body.active
	overflow: hidden

.wrapper
	width: 100%
	min-height: 100vh
	overflow: hidden
	display: flex
	flex-direction: column

.main 
	flex: 1 1 auto
	
.container 
	max-width: $maxWidthContainer + px
	min-width: 320px
	width: 100%

	padding: 0 15px
	margin: 0 auto
	@media ( max-width:$md1+px )
		max-width: 960px

	@media ( max-width:$md2+px )
		max-width: 720px

	@media ( max-width:$md3+px )
		max-width: 540px

.container-fluid 
	min-width: 320px
	width: 100%

	padding: 0 15px
	margin: 0 auto

.row
	display: flex
	flex-wrap: wrap

	margin: 0 -15px
//</ОБОЛОЧКА>------------------------------------------------------------------------------

//--------- TITLE ---------//

.h1
	font-size: $fz50
	@include f700()
	

.h2
	font-size: $fz36
	@include f700()
	@media ( max-width:$md3+px )
		font-size: $mfz24
	
.h3
	font-size: $fz24

.h4
	font-size: $fz20

//--------- BTN ---------//

.btn
	max-width: 243px
	width: auto

	padding: 0 33px 0 65px
	text-align: right

	border: 2px solid #FFFFFF
	border-radius: 68px
	line-height: 61px
	@include f500()

	background-image: url(../img/icons/icons.svg#icon-writing)
	background-position: 33px center
	background-repeat: no-repeat
	background-size: 24px 
	
	filter: brightness(0) invert(1)
	color: $blue
	transition: all 0.3s linear
	text-decoration: none

	@media ( max-width:$md3+px )
		line-height: 53px
		max-width: 213px
		padding: 0 25px 0 50px
		background-size: 21px
		background-position-x: 30px


	&:hover
		background-color: #FFFFFF
		filter: brightness(1) invert(0);

	&--bot
		position: fixed
		bottom: 15px
		right: 15px
		box-shadow: 0 0 20px rgba(0,0,0,.4)

.btn--blue
	display: block

	max-width: 200px
	width: 100%

	padding: 0 10px

	background: $blue
	border: 2px solid $blue
	border-radius: 67px

	color: $white
	@include f500()
	text-align: center
	line-height: 61px
	text-decoration: none

	@include transitTextandBgColor(0.3s)
	&:hover
		background: none
		color: $blue
		
	@media ( max-width:$md3+px )
		height: 55px
		max-width: 170px

		line-height: 51px 
//-------------------------------------------------------------------------//

.mb-7
	height: 70px
	width: 100%
	@media ( max-width:$md3+px )
		height: 50px

.mb-12
	height: 120px
	width: 100%
	@media ( max-width:$md3+px )
		height: 70px