.schema
	position: relative
	&-colmun
		@extend .col-4
		transition: transform 0.3s linear
		@media ( max-width:$md2+px )
			flex: 1 1 100%
			max-width: 100%
			margin-bottom: 20px
		&:hover
			@include translateY(-10px)

	&-box
		display: flex
		flex-direction: column
		padding: 30px
		border-radius: 15px
		background: url(../img/block-bg.png) center/cover no-repeat $green
		height: 100%

		
	&-img
		max-width: 50px
		height: 50px

		margin-bottom: 17px

	&-title
		font-size: 1.125rem
		font-family: Futura-Medium
		padding-bottom: 10px
		color: $white

	&-text
		font-size: 1.125rem
		color: $white

	&-btn
		flex: 1 1 100%
		max-width: 100%
		width: 100%
		margin: 30px 15px 0 15px

		background: none
		color: $green
		border-radius: 15px
		@media ( max-width:$md2+px )
			margin-top: 0

		&:hover
			color: $white
			background: $green

	.parallax-1
		position: absolute
		left: 0 !important
		right: auto !important
		top: 0 !important
		bottom: auto !important
		@media ( max-width:$md3+px )
			display: none

	.parallax-2
		position: absolute
		left: auto !important
		right: 20% !important
		top: auto !important
		bottom: 0 !important
		@media ( max-width:$md3+px )
			display: none

