.seoText
	padding-bottom: 0
	position: relative
	z-index: 2

	.section-title
		margin-bottom: 25px
		
.seoText-block
	font-size: 1.125rem
	@extend .col-12

	margin-bottom: -160px

	h2
		margin-top: 20px
		margin-bottom: 10px