.export
	position: relative
	&-column
		@extend .col-3
		@media ( max-width:$md1+px )
			flex: 0 0 50%
			max-width: 50%
			margin-bottom: 30px

		@media ( max-width:$md3+px )
			flex: 1 1 100%
			max-width: 100%
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
			
	&-box
		border: 1px dashed #DCDCDC
		border-radius: 15px
		padding: 30px
		height: 100%
		box-shadow: 7px 7px 30px rgba(198, 198, 198, 0)
		background: $white
		transition: border 0.3s linear, box-shadow 0.3s linear
		&:hover
			box-shadow: 7px 7px 30px rgba(198, 198, 198, 0.25)
			border: 1px solid $white

	&-number
		font-size: 2.25rem
		font-family: Futura-Medium
		color: $green

.parallax-1
	position: absolute
	right: 0 !important
	left: auto !important
	top: 50% !important
	bottom: auto !important

.parallax-2
	bottom: 0 !important
	left: 0 !important
	top: auto !important
	right: auto !important
	position: absolute

	
