.planet
	&-left
		@extend .col-7
		font-size: 1.125rem
		@media ( max-width:$md2+px )
			flex: 1 1 100%
			max-width: 100%

		.section-title
			line-height: 1.2
			padding-left: 0
			padding-right: 0
			
		
		.btn
			margin: 36px 0 0 0

	&-right
		@extend .col-5
		@media ( max-width:$md2+px )
			flex: 1 1 100%
			max-width: 100%


.palent-left__subtext
	margin-top: 20px
	font-size: 1.125rem

.planet-right__img
	img
		width: 100%
