.main--error{
	display: flex;
	align-items: center;
}
.error {
	padding: 50px 0;
	._container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	//.error-shark
	&-shark {
		max-width: 759px;
		width: 100%;
		height: auto;
		
	}

	//.error-title
	.error-title {
		font-weight: bold;
		@include adaptiv-value("font-size", 18, 16, 0);
		text-align: center;
		line-height: 1.2;
		text-transform: uppercase;
		margin-top: 40px;
		max-width: 250px;
	}
	.btn-arrow{
		margin: 20px auto 0 ;
	}
}
