@keyframes mobile-scroll-icon-anim {
	0% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0;
	}
	5% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0;
	}

	10% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0.5;
	}

	20% {
		transform: translate3d(0,  -50%, 0);
		opacity: 1;
	}
	70% {
		transform: translate3d(0,  -50%, 0);
		opacity: 1;
	}

	80% {
		transform: translate3d(-10px, -50%, 0);
		opacity: 1;
	}

	81% {
		transform: translate3d(-15px,  -50%, 0);
		opacity: 0.5;
	}
	100% {
		transform: translate3d(-20px,  -50%, 0);
		opacity: 0;
	}
}

@keyframes _3ci_n {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes client-block {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes an-circle {
	0% {
		background: #f9f9f9;
	}
	50% {
		background: #eae9e9;
	}

	100% {
		background: #f9f9f9;
	}
}

@keyframes an-opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes an-grid {
	0% {
		grid-column-end: 1;
	}
	50% {
		grid-column-end: 2;
	}

	100% {

		grid-column-end: 3;
	}
}


 @keyframes scroll-icon {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(10px); opacity: 0;}
 }