@keyframes mobile-scroll-icon-anim {
	0% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0;
	}
	5% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0;
	}

	10% {
		transform: translate3d(0,  -50%, 0);
		opacity: 0.5;
	}

	20% {
		transform: translate3d(0,  -50%, 0);
		opacity: 1;
	}
	70% {
		transform: translate3d(0,  -50%, 0);
		opacity: 1;
	}

	80% {
		transform: translate3d(-10px, -50%, 0);
		opacity: 1;
	}

	81% {
		transform: translate3d(-15px,  -50%, 0);
		opacity: 0.5;
	}
	100% {
		transform: translate3d(-20px,  -50%, 0);
		opacity: 0;
	}
}

@keyframes _3ci_n {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes client-block {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}