//-------------------------------------------------------------------------//
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;

	padding: 0 60px;

	width: 100%;

	background-color: $gray;
	@media (min-width: 1440px) {
		padding: 0 4vw;
	}
	@media (max-width: $md3+px) {
		padding: 0 30px;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;

		min-height: 60px;

		@media (min-width: 1440px) {
			min-height: 4vw;
		}
		@media (max-width: $md3+px) {
			min-height: 40px;
		}
	}
	&__logo {
		position: absolute;
		left: 65px;

		font-size: $fz24;
		color: $black;
		@media (min-width: 1440px) {
			font-size: 1.7vw;
			left: 4vw;
		}
		@media (max-width: $md3+px) {
			left: 30px;
			font-size: $mfz16;
		}

		span {
			@include f700();
		}
	}
}

//-------------------------------------------------------------------------//
.menu {
	@media (min-width: $md1+px) {
		margin-right: 8%;
	}

	&__icon {
		display: none;
	}

	&__list {
		& > li {
			// position: relative;

			display: flex;
			align-items: center;
			@media (max-width: $md1+px) {
				padding: 17px 0;
				// position: relative;
			}
		}
		@media (max-width: $md1+px) {
			background: #fff;
			padding: 0 35px;
			border-bottom: 1px solid #e1e1e1;
		}
	}

	&__link {
		color: $black;
		text-transform: uppercase;
		font-size: 14px;

		@media (min-width: 1440px) {
			font-size: 1vw;
		}
		&:hover {
			// @include f700();
		}
	}

	// .menu__sub
	.menu__sub {
		&-list {
			position: absolute;
			top: 100%;
			right: 0;
			left: 50%;

			display: flex;
			flex-wrap: wrap;
			// margin-top: 1px;

			background-color: #fff;

			min-width: 200px;
			@media (min-width: 1440px) {
				padding: 45px 8vw 65px;
			}
			@media (min-width: $md1+px) {
				padding: 45px 60px 65px;
				border-bottom: 1px solid #e1e1e1;
				width: 100vw;
			}
			@media (max-width: $md1+px) {
				left: -100%;
				flex-direction: column;
				width: 100%;
				transition: all 0.3s linear;
			}

			@media (max-width: $md3+px) {
				position: relative;
				left: 0;
				@include translate(0);
				display: none;
			}

			& > li {
				margin: 0px 0px 10px 0px;

				display: block;

				flex: 0 0 250px;
				max-width: 250px;
				@media (max-width: $md1+px) {
					padding: 20px 35px;
					flex: 0 0 100%;

					max-width: 100%;
					border-bottom: 1px solid #e1e1e1;
				}
				@media (max-width: $md3+px) {
					border-top: 1px solid #e1e1e1;
					border-bottom: none;

					margin-bottom: 0;
				}

				&:last-child {
					margin: 0;
				}
			}
		}

		&-icon {
			margin-bottom: 20px;
			@media (max-width: $md1+px) {
				display: none;
			}
		}

		&-title {
			cursor: pointer;
			text-transform: uppercase;

			@media (min-width: $md3+px) {
				@include f700();
			}
		}

		&-info {
			position: relative;
			font-size: 14px;
			padding: 28px 0 0 0;
			margin-top: 30px;
			max-width: 240px;
			line-height: 22px;
			@media (max-width: $md1+px) {
				display: none;
			}

			&::after {
				@include pseudoEl(block, absolute, "");
				top: 0;
				left: 0;

				width: 130px;
				height: 1px;

				background: #e1e1e1;
			}
		}

		&-link {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.menu__arrow {
	position: relative;

	display: flex;
	justify-content: center;

	cursor: pointer;
	transition: all 0.3s linear;
	.arrow__line {
		position: relative;
		left: 0;
		margin-top: 1px;

		width: 1px;
		height: 100%;

		background-color: $black;
	}
}
/* ----------------------- */
html._pc .menu__list > li:hover {
	.menu__sub-list {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, 0px);
		pointer-events: all;
	}
	.menu__arrow {
		transform: rotate(-180deg);
	}
}

html._touch {
	// .menu__list > li {
	// 	display: flex;
	// 	align-items: center;
	// }
	.menu__link {
		flex: 1 1 auto;
		@media (max-width: $md3+px) {
			max-width: max-content;
		}
	}
	// .menu__arrow {
	// 	display: block;
	// 	width: 0;
	// 	height: 0;
	// 	margin: 0px 0px 0px 5px;
	// 	transition: transform 0.3s ease 0s;
	// 	border-left: 5px solid transparent;
	// 	border-right: 5px solid transparent;
	// 	border-top: 10px solid #fff;
	// }
	.menu__list > li._active {
		.menu__sub-list {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			@media (min-width: $md1+px) {
				transform: translate(-50%, 0px);
			}
			@media (max-width: $md1+px) {
				left: 0;
			}
			@media (max-width: $md3+px) {
				display: block;
			}
		}
		.menu__arrow {
			transform: rotate(-180deg);
		}
	}
}

/* ----------------------- */
@media (min-width: $md1 + px) {
	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__list > li {
		padding: 23px 0;
		& + li {
			margin-left: 60px;
		}
	}
	.menu__sub-list {
		display: flex;
		justify-content: space-around;
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: $md1 + px) {
	.menu__list {
		position: relative;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin-left: 30px;
		@media (max-width: $md3+px) {
			margin-left: 15px;
			width: 20px;
			height: 11px;
		}

		span,
		&::before,
		&::after {
			border-radius: 5px;
			left: 0;
			position: absolute;
			height: 2px;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #000;
			@media (max-width: $md3+px) {
				height: 1px;
			}
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
			left: auto;
			width: 15px;
			@media (max-width: $md3+px) {
				bottom: 1px;
			}
		}
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&._active {
			span {
				transform: scale(0) translate(0px, -50%);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after {
				bottom: 50%;
				width: 100%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}
	}

	.menu__body {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		// background-color: rgba(0, 0, 0, 0.9);
		// padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
		padding: 0 60px;
	}
	.menu__body._active {
		left: 0;
		right: 0;
	}

	.menu__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		& > li {
			margin: 0px 0px 0px;
		}
		& > li:last-child {
			margin-bottom: 0;
		}
		& > li._active .menu__sub-list {
			display: block;
		}
	}
	.menu__link {
		font-size: 14px;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		// margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}
@media (max-width: $md3+px) {
	.menu__body {
		top: 40px;
		padding: 0 30px;
	}

	.menu__list {
		padding: 0;
		flex-direction: column;
		border: none;
		> li {
			padding: 0;
			border-bottom: 1px solid #e1e1e1;
			> a {
				padding: 15px;
			}
		}
	}
	html._touch {
		.menu__list > li {
			flex-wrap: wrap;
		}
		.menu__list > li._active {
			background: #f9f9f9;
		}
		.menu__list > li:first-child {
			border-top: 1px solid rgba(#e1e1e1, 0);
			transition: all 0.3s ease 0s;
		}
		.menu__list > li:first-child._active {
			border-top: 1px solid #e1e1e1;
		}
	}
}

//-------------------------------------------------------------------------//
.header__opt {
	position: absolute;
	right: 65px;

	display: flex;
	align-items: center;
	@media (min-width: 1440px) {
		right: 4vw;
	}
	@media (max-width: 1400px) {
		position: relative;
		right: auto;
	}
	.opt__block {
		display: block;
		cursor: pointer;
		& + .opt__block {
			margin-left: 30px;
			@media (max-width: $md3+px) {
				margin-left: 15px;
			}
		}
	}
	.opt__lang {
		.select__title {
			background: none;
			border: none;
		}
		.select__value {
			padding: 0;
			@media (min-width: 1440px) {
				font-size: 1vw;
			}

			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18746 10.0358C4.38272 10.231 4.69931 10.231 4.89457 10.0358L8.07655 6.85378C8.27181 6.65852 8.27181 6.34193 8.07655 6.14667C7.88129 5.95141 7.56471 5.95141 7.36944 6.14667L4.54102 8.9751L1.71259 6.14667C1.51733 5.95141 1.20074 5.95141 1.00548 6.14667C0.81022 6.34193 0.81022 6.65852 1.00548 6.85378L4.18746 10.0358ZM4.04102 0.317871L4.04102 9.68221L5.04102 9.68221L5.04102 0.317871L4.04102 0.317871Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
				height: 13px;
			}
		}

		.select__options {
			padding: 0;
			border: none;
			top: 47px;
			left: 50%;
			@include translateX(-50%);
			background: #f9f9f9;
			border-radius: 0;
		}
		.select__option {
			padding: 10px 15px;
			& + .select__option {
				border-top: 1px solid #e1e1e1;
			}
		}
	}
	.opt__vision {
		svg {
			@media (min-width: 1440px) {
				width: 1.9vw;
				height: 1.9vw;
			}
		}
	}

	.opt__phone {
		svg {
			@media (min-width: 1440px) {
				width: 1.4vw;
				height: 1.4vw;
			}
		}
		@media (max-width: $md3+px) {
			width: 15px;
			height: 15px;
			margin: 0;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	@media (max-width: $md3+px) {
		.opt__vision,
		.opt__lang {
			display: none;
		}
	}
}
