//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "variable";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
	font-size: 16px;
	@media (max-width: $md3+px) {
		font-size: 14px;
	}
}
body {
	color: #000;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (min-width: 1440px) {
	// 	max-width: 81.3.5vw;
	// }
	padding: 0 15px;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		// padding: 0 10px;
	}
}
._row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "animation";
@import "ui";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "header";
@import "footer";
@import "task/title";

@import "section/ban";
@import "section/seo-slider";
@import "section/cms";
@import "section/aboutChoose";
@import "section/banForm";
@import "section/timingSeo";
@import "section/stagesWork";
@import "section/mainGoals";
@import "section/cases";
@import "section/ways";
@import "section/clients";
@import "section/string";
@import "section/reviews";
@import "section/faq";
@import "section/blog";
@import "section/partners";
@import "section/advantages";

@import "home";

//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "task/breadcrumbs";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {
	position: relative;

	flex: 1 1 auto;
	padding: 0 60px;

	@media (min-width: 1440px) {
		padding: 0 3.5vw;
	}

	@media (max-width: $md1+px) {
		position: relative;
		&::before {
			@include pseudoEl(block, absolute, "");
			z-index: 3;
			left: 0;
			top: 0;

			margin: 0 60px;

			width: calc(100% - 120px);
			height: 100%;

			opacity: 0;
			visibility: hidden;

			background: rgba(255, 255, 255, 0.8);
			backdrop-filter: blur(10px);
			transition: all 0.3s linear;
			@media (max-width: $md3+px) {
				margin: 0 30px;

				width: calc(100% - 60px);

				background: rgba(255, 255, 255, 0.76);
				backdrop-filter: blur(7px);
			}
		}
	}

	@media (max-width: $md3+px) {
		padding: 0 30px;
	}
}
body._lock {
	@media (max-width: $md1+px) {
		.main::before {
			opacity: 1;
			visibility: visible;
		}
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<КОНОПКИ>====================================================================================================
.btn {
	position: relative;
	display: inline-block;

	padding: 0 32px;

	border: 1px solid #222222;
	background: #222222;

	color: $white;
	font-size: $fz24;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	@include f700();

	&:hover {
		border-color: #000;
		background: none;
		color: $black;
	}
}
.btn-an {
	position: relative;
	overflow: hidden;
	transition: 0.5s ease-in-out;

	.btn-hover {
		position: absolute;

		display: block;

		width: 0;
		height: 0;

		border-radius: 50%;
		background-color: #fff;
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	.btn-text {
		position: relative;
		z-index: 2;
	}
	&:hover {
		.btn-hover {
			width: 225%;
			height: 562.5px;
		}
	}
}
.btn--white {
	line-height: 60px;
	color: $white;

	padding-left: 37px;
	padding-right: 37px;

	border: 1px solid #fff;
	background: none;
	font-size: $fz16;
	@media (max-width: $md3+px) {
		padding-left: 27px;
		padding-right: 27px;
	}
	.btn-hover {
		background: $white;
	}
	&:hover {
		border: 1px solid #fff;

		color: #222;
	}
}
.btn-border {
	display: inline-block;
	padding: 0 40px;
	margin-top: 50px;

	color: #000;
	@include f700();
	line-height: 65px;
	text-align: center;

	border: 1px solid #000000;
	@media (max-width: $md3+px) {
		padding: 0 15px;
		line-height: 54px;
	}

	&.br-black {
		&:hover {
			color: $white;
		}

		.btn-hover {
			background-color: #000;
		}
	}
}
//</КОНОПКИ>====================================================================================================

//<ОТСТУПЫ>====================================================================================================

.h-200 {
	@media (min-width: $md1+px) {
		height: 200px;
	}
	@media (max-width: $md1+px) {
		height: 120px;
	}

	@media (max-width: $md3+px) {
		height: 85px;
	}
}
//</ОТСТУПЫ>====================================================================================================
