
.btnAn-1
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		@include pseudoEl(block, absolute, '')
		z-index: -1
		top: 0
		right: -50px
		bottom: 0
		left: 0

		border-right: 50px solid transparent
		border-bottom: 80px solid $black

		transform: translateX(-100%)
		transition: 0.5s ease-in-out

	&:hover
		color: $white
		&::before
			transform: translateX(0)


.btnAn-2
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		@include pseudoEl(block, absolute, '')
		z-index: -1
		
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $black
		transform: translateX(-100%)
		transition: transform 0.3s linear

	&:hover
		color: $white
		&::before
			transform: translateX(0)


.btnAn-3
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		z-index: -1
		@include pseudoEl(block, absolute, '')
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-bottom: 80px solid $black
		right: -50px
		border-right: 50px solid transparent
		transform: translateX(-100%)
		transition: 0.5s ease-in-out

	&::after
		z-index: -1
		@include pseudoEl(block, absolute, '')
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-bottom: 80px solid $black
		left: -50px
		border-left: 50px solid transparent
		transform: translateX(100%)
		transition: 0.5s ease-in-out

	&:hover
		color: $white
		&::before
			transform: translateX(-40%)

		&::after
			transform: translateX(40%)


.btnAn-4
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		@include pseudoEl(block, absolute, '')
		z-index: -1
		top: 0
		right: 0
		bottom: 0
		left: 0
		transition: 0.5s ease-in-out
		right: -50px
		border-right: 50px solid transparent
		border-bottom: 80px solid $black
		transform: translateX(-100%)

	&::after
		z-index: -1
		@include pseudoEl(block, absolute, '')
		top: 0
		right: 0
		bottom: 0
		left: 0
		transition: 0.5s ease-in-out
		left: -50px
		border-left: 50px solid transparent
		border-top: 80px solid $black
		transform: translateX(100%)

	&:hover
		color: $white
		&::before
			transform: translateX(-49%)

		&::after
			transform: translateX(49%)


.btnAn-5
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		@include pseudoEl(block, absolute, '')
		z-index: -1
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-top: 32px solid $black
		border-bottom: 32px solid $black
		border-right: 32px solid transparent
		transform: translateX(-100%)
		transition: 0.5s ease-in-out

	&::after
		z-index: -1
		@include pseudoEl(block, absolute, '')
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-top: 32px solid $black
		border-bottom: 32px solid $black
		border-left: 32px solid transparent
		transform: translateX(100%)
		transition: 0.5s ease-in-out

	&:hover
		color: $white
		&::before
			transform: translateX(-30%)

		&::after
			transform: translateX(30%)