@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: url("../fonts/TTFirsNeue-Bold.woff") format("woff"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: url("../fonts/TTFirsNeue-Regular.woff") format("woff"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"), url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  background: #f1f1f1;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-link:before {
  content: "";
}

._icon-loupe:before {
  content: "";
}

._icon-arrow:before {
  content: "";
}

._icon-drib:before {
  content: "";
}

._icon-be:before {
  content: "";
}

._icon-in:before {
  content: "";
}

._icon-inst:before {
  content: "";
}

._icon-tg:before {
  content: "";
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  padding-top: calc(21px + 17 * ((100vw - 320px) / 1600));
  padding-bottom: calc(21px + 17 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 47 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 47 * ((100vw - 320px) / 1600));
}

.header .logo {
  max-width: calc(120px + 72 * ((100vw - 320px) / 1600));
}

.header .logo img {
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .link-phone {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 400;
  line-height: 141.11%;
  color: #000000;
}

.header .link-phone span {
  font-weight: 600;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: calc(52px + 31 * ((100vw - 320px) / 1600));
}

.social__icon {
  background: rgba(162, 162, 162, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(24px + 8 * ((100vw - 320px) / 1600));
  height: calc(24px + 8 * ((100vw - 320px) / 1600));
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social__icon:hover {
  background: #44a59c;
}

.social__icon:hover a {
  color: #fff;
}

.social__icon a {
  font-size: 1em;
  color: #000000;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.social__icon:not(:last-child) {
  margin-right: calc(13px + 8 * ((100vw - 320px) / 1600));
}

.footer {
  padding: 1.8vw 0;
  background: #1e1e1e;
  text-align: center;
  font-size: 0.8vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 149.87%;
  color: #8e8e8e;
}

.footer a {
  color: #8e8e8e;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo {
  max-width: 7vw;
  width: 100%;
  min-width: 120px;
  margin: 0 0 1.1vw 0;
}

.footer .logo img {
  width: 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer .foter-info__text {
  margin: 0 0 0.7vw 0;
}

._section {
  margin-bottom: calc(50px + 170 * ((100vw - 320px) / 1600));
}

.section-title {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  font-size: calc(34px + 38 * ((100vw - 320px) / 1600));
  line-height: 122.37%;
  color: #212121;
  margin-bottom: calc(43px + 34 * ((100vw - 320px) / 1600));
}

.right-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(125px + 5 * ((100vw - 320px) / 1600));
  background: #fff;
  height: 100%;
}

.ban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: calc(55px + 222 * ((100vw - 320px) / 1600));
}

.ban-right {
  position: relative;
  max-width: 55%;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  height: auto;
}

.ban-right__title,
.ban-right__title-two {
  max-width: 100%;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  font-size: calc(32px + 82 * ((100vw - 320px) / 1600));
  line-height: 122.37%;
  color: #212121;
}

.ban-right__title-two {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-stroke: 1px #000;
}

.ban-right .title-hide__box {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ban-right__img {
  position: relative;
  z-index: 1;
}

.ban-right__img img {
  width: 100%;
}

.ban-left {
  margin-top: calc(100px + 50 * ((100vw - 320px) / 1600));
}

.ban-left__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  line-height: 195.87%;
  color: #000000;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 25%;
}

.ban-left .btn {
  margin-left: 25%;
  margin-top: calc(45px + 52 * ((100vw - 320px) / 1600));
}

.section-products {
  padding-top: calc(180px + 120 * ((100vw - 320px) / 1600));
}

.products__col {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
  color: #fff;
  padding-left: calc(0px + 15 * ((100vw - 320px) / 1600));
  padding-right: calc(0px + 15 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1600));
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(0px + -15 * ((100vw - 320px) / 1600));
  margin-right: calc(0px + -15 * ((100vw - 320px) / 1600));
}

.products__item {
  background: #2c2c2c;
  padding: calc(25px + 30 * ((100vw - 320px) / 1600));
}

.product-item {
  height: 100%;
}

.product-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-top {
  margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
}

.product-top__icon {
  max-width: calc(70px + 160 * ((100vw - 320px) / 1600));
}

.product-top__icon img {
  width: 100%;
}

.product-top__price {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 600;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  line-height: 115.87%;
  color: #ffffff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product-top__price span {
  color: #44a59c;
}

.product-info__title {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 600;
  font-size: calc(26px + 14 * ((100vw - 320px) / 1600));
  line-height: 115.87%;
  color: #ffffff;
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
}

.product-info__text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  line-height: 149.87%;
  color: #ffffff;
}

.why .why-icon {
  margin-right: 36px;
}

.why-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.why-line:not(:last-child) {
  margin-bottom: calc(50px + 70 * ((100vw - 320px) / 1600));
}

.why-title {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 600;
  font-size: calc(22px + 18 * ((100vw - 320px) / 1600));
  line-height: 115.87%;
  color: #212121;
}

.why-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
  line-height: 160.37%;
  color: #212121;
}

@-webkit-keyframes animationTextHeader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animationTextHeader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn {
  position: relative;
  cursor: pointer;
  background: url("../img/btn.svg") center no-repeat;
  background-size: calc(45px + 35 * ((100vw - 320px) / 1600));
  width: calc(110px + 90 * ((100vw - 320px) / 1600));
  height: calc(110px + 90 * ((100vw - 320px) / 1600));
}

.btn .icon-svg {
  width: calc(110px + 90 * ((100vw - 320px) / 1600));
  height: calc(110px + 90 * ((100vw - 320px) / 1600));
  position: absolute;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: 10s animationTextHeader infinite linear;
          animation: 10s animationTextHeader infinite linear;
  animation-animation-delay: 2s;
  -webkit-transition: margin 1s linear;
  -o-transition: margin 1s linear;
  transition: margin 1s linear;
}

.btn .icon-svg svg {
  width: 100%;
  height: 100%;
}

.btn:hover .icon-svg {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.why-list {
  position: relative;
}

.why-svg-1 {
  position: absolute;
  left: 0;
  top: -12%;
}

.why-svg-2 {
  position: absolute;
  right: 0;
  top: -20%;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.why-svg-3 {
  position: absolute;
  right: 50%;
  top: 35%;
}

.why-svg-4 {
  position: absolute;
  right: 25%;
  bottom: 30%;
}

.why-svg-5 {
  position: absolute;
  left: 25%;
  bottom: 30%;
}

.why-svg-6 {
  position: absolute;
  right: 35%;
  top: -20%;
}

.why-svg-7 {
  position: absolute;
  bottom: 0;
  right: 55%;
}

.reviews-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-nav {
  min-height: 480px;
  border-radius: 0px 100px 0px 0px;
  overflow: hidden;
  width: 42%;
  margin-right: calc(0px + 130 * ((100vw - 320px) / 1600));
  margin-left: calc(-15px + -47 * ((100vw - 320px) / 1600));
}

.reviews-nav__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
  right: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.reviews-nav__arrows .reviews-button-prev,
.reviews-nav__arrows .reviews-button-next {
  border-radius: 50%;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(30px + 19 * ((100vw - 320px) / 1600));
  height: calc(30px + 19 * ((100vw - 320px) / 1600));
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.reviews-nav__arrows .reviews-button-prev.swiper-button-disabled,
.reviews-nav__arrows .reviews-button-next.swiper-button-disabled {
  border: 1px solid #4a4a4a75;
  color: #4a4a4a75;
}

.reviews-nav__arrows .reviews-button-prev:not(.swiper-button-disabled),
.reviews-nav__arrows .reviews-button-next:not(.swiper-button-disabled) {
  cursor: pointer;
}

.reviews-nav__arrows .reviews-button-next {
  margin-left: calc(10px + 5 * ((100vw - 320px) / 1600));
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews-nav__arrows .reviews-button-prev:hover:not(.swiper-button-disabled) {
  -webkit-transform: translateX(-5%);
      -ms-transform: translateX(-5%);
          transform: translateX(-5%);
}

.reviews-nav__arrows .reviews-button-next:hover:not(.swiper-button-disabled) {
  -webkit-transform: translateX(5%) rotate(180deg);
      -ms-transform: translateX(5%) rotate(180deg);
          transform: translateX(5%) rotate(180deg);
}

.reviews .swiper-pagination {
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-stroke: 1px #fff;
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: CenturyGothic-Bold;
  color: #fff;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transition: top 0.3s linear;
  -o-transition: top 0.3s linear;
  transition: top 0.3s linear;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  right: 0;
  top: 16%;
  font-size: calc(120px + 24 * ((100vw - 320px) / 1600));
  line-height: 122.37%;
}

.reviews .swiper-pagination-total {
  display: none;
}

.reviews-slide__img {
  border-radius: 50%;
  overflow: hidden;
  height: calc(60px + 56 * ((100vw - 320px) / 1600));
  width: calc(60px + 56 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
}

.reviews-slide__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: calc(18px + 0 * ((100vw - 320px) / 1600));
  line-height: 160.87%;
  color: #212121;
}

.reviews-slide__post {
  font-family: Montserrat;
  font-style: 400;
  font-weight: normal;
  font-size: calc(14px + 0 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
  line-height: 160.87%;
  color: #212121;
}

.reviews-slide__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  line-height: 160.87%;
  color: #212121;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.reviews-slide__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slide__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 0 * ((100vw - 320px) / 1600));
  line-height: 160.87%;
  color: #212121;
  -webkit-transition: 0.3s color linear;
  -o-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.reviews-slide__links a:hover {
  color: #44a59c;
}

.reviews-slide__links a ._icon {
  padding: 0 5px 0 0;
}

.reviews-slide__links a:not(:last-child) {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 0.5px solid #000000;
}

@-webkit-keyframes mobile-scroll-icon-anim {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }

  5% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }

  10% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0.5;
  }

  20% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }

  70% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate3d(-10px, -50%, 0);
    transform: translate3d(-10px, -50%, 0);
    opacity: 1;
  }

  81% {
    -webkit-transform: translate3d(-15px, -50%, 0);
    transform: translate3d(-15px, -50%, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate3d(-20px, -50%, 0);
    transform: translate3d(-20px, -50%, 0);
    opacity: 0;
  }
}

@keyframes mobile-scroll-icon-anim {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }

  5% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }

  10% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0.5;
  }

  20% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }

  70% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate3d(-10px, -50%, 0);
    transform: translate3d(-10px, -50%, 0);
    opacity: 1;
  }

  81% {
    -webkit-transform: translate3d(-15px, -50%, 0);
    transform: translate3d(-15px, -50%, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate3d(-20px, -50%, 0);
    transform: translate3d(-20px, -50%, 0);
    opacity: 0;
  }
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__info {
  max-width: 50%;
  padding-right: 10%;
}

.feedback__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: 171.37%;
  color: #000000;
}

.feedback .form .input {
  background: #353535;
  border: 1px solid #353535;
  color: #fff;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + .js-labelFile {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.input-file:hover + .js-labelFile .icon {
  background: #888;
}

.input-file + .js-labelFile .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  display: block;
  margin-left: 0.5vw;
  background: #44a59c;
  width: 1.45vw;
  height: 1.45vw;
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
}

.input-file + .js-labelFile .icon:before,
.input-file + .js-labelFile .icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 0.7vw;
  min-width: 10px;
  min-height: 1px;
  height: 0.05vw;
  background: #fff;
}

.input-file + .js-labelFile .icon::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feedback-form {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.form {
  background: #2c2c2c;
  color: #fff;
}

.form__title {
  text-align: center;
  padding-top: calc(16px + 18 * ((100vw - 320px) / 1600));
  padding-bottom: calc(16px + 18 * ((100vw - 320px) / 1600));
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 600;
  line-height: 115.87%;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  line-height: 115.87%;
  color: #ffffff;
}

.form__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: calc(22px + 45 * ((100vw - 320px) / 1600));
  padding-right: calc(22px + 45 * ((100vw - 320px) / 1600));
}

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__two {
  margin: 0 -10px;
}

.form__two .form__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding: 0 10px;
}

.form__line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 115.87%;
  margin-bottom: calc(19px + 7 * ((100vw - 320px) / 1600));
}

.form__line input {
  font-size: 1em;
  height: 45px;
}

.form__line textarea {
  min-height: calc(45px + 40 * ((100vw - 320px) / 1600));
}

.form__one .form__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.form .input {
  margin-top: 7px;
  background: #f1f1f1;
  border-radius: 3px;
  padding: 0 15px;
  border: 1px solid #f1f1f1;
}

.form .input._error {
  border: 1px solid rgba(255, 0, 0, 0.671);
}

.form .btn-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 122.37%;
  text-align: right;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form .learn-more:hover ._icon {
  -webkit-transform: rotate(180deg) translateX(-10%);
      -ms-transform: rotate(180deg) translateX(-10%);
          transform: rotate(180deg) translateX(-10%);
}

.form .learn-more ._icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: calc(10px + 8 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  height: calc(35px + 13 * ((100vw - 320px) / 1600));
  width: calc(35px + 13 * ((100vw - 320px) / 1600));
}

.form-svg-1 {
  position: absolute;
  z-index: 20;
  right: 10%;
  top: -10%;
}

.form-svg-2 {
  position: absolute;
  z-index: 20;
  left: -5%;
  top: 10%;
}

.form-svg-3 {
  position: absolute;
  left: -15%;
  bottom: 15%;
}

.right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(21px + 17 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 7 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 7 * ((100vw - 320px) / 1600));
}

.panel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 122.37%;
  text-align: right;
  color: #212121;
}

.panel-btn ._icon {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
  width: calc(46px + 26 * ((100vw - 320px) / 1600));
  height: calc(46px + 26 * ((100vw - 320px) / 1600));
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #000000;
  font-size: 1.5em;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.panel-btn:hover ._icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.panel-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.panel-progres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 3px;
  height: 185px;
  background: #f1f1f1;
}

.panel-progres__proc {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #0f0f0f;
  width: 100%;
  height: 0%;
}

.work-row::-webkit-scrollbar {
  width: 0;
}

.work-row ::-webkit-scrollbar {
  width: 0;
}

.work-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1vw;
  margin-right: 1vw;
  -ms-grid-columns: (10vw)[8];
  grid-template-columns: repeat(8, 10vw);
  -ms-grid-rows: (3vw)[12];
  grid-template-rows: repeat(12, 3vw);
  width: auto !important;
  cursor: url(../img/cursor.svg), pointer;
}

.work-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: url(../img/cursor.svg), pointer;
  position: relative;
}

.work-grid__item:hover .grid-info {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.work-grid__item:hover .grid-info__title {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.work-grid__item:hover .grid-info__title::after {
  width: calc(100% - 20px);
}

.work-grid__item:hover .grid-info__text {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.work-grid__item:hover .btn-arrow {
  -webkit-transform: translateY(100%) translateX(0%);
      -ms-transform: translateY(100%) translateX(0%);
          transform: translateY(100%) translateX(0%);
  opacity: 1;
}

.work-grid__item:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 8;
  grid-row-end: 9;
}

.work-grid__item:nth-child(2) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

.work-grid__item:nth-child(3) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 3;
  grid-row-end: 8;
}

.work-grid__item:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 4;
  grid-row-end: 13;
}

.work-grid__item:nth-child(5) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-row-span: 5;
  grid-row-end: 13;
}

.work-grid__item:nth-child(6) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-row-span: 7;
  grid-row-end: 13;
}

.work-grid__item:nth-child(7) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

.work-grid__item:nth-child(8) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 3;
  grid-row-end: 8;
}

.work-grid__item:nth-child(9) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
}

.work-grid__item:nth-child(10) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-row-span: 5;
  grid-row-end: 13;
}

.grid-info {
  position: relative;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2c2c2c;
}

.grid-info__title {
  position: relative;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 700;
  line-height: 135.61%;
  text-align: center;
  color: #ffffff;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  padding: 0 10%;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0.3s;
  -o-transition: all 0.3s linear 0.3s;
  transition: all 0.3s linear 0.3s;
  text-align: center;
}

.grid__item--big .grid-info__title {
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.popup__close:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.popup_feedback .popup__body {
  padding: 0;
}

.popup_feedback .popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_feedback .popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_feedback .popup__body_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  width: 100%;
}

.popup_feedback .form {
  background: #ffffff;
  color: #212121;
}

.popup_feedback .form__title {
  text-align: left;
  color: #212121;
  padding: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.popup_feedback .form__title_sub {
  margin-top: calc(15px + 7 * ((100vw - 320px) / 1600));
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 115.87%;
  color: #212121;
}

.popup_feedback .form__content {
  padding: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-top: 0;
}

.popup_feedback .form .input-file + .js-labelFile .icon {
  background: #1e1e1e;
}

.popup_feedback .form .btn,
.popup_feedback .form .btn .icon-svg {
  width: calc(70px + 30 * ((100vw - 320px) / 1600));
  height: calc(70px + 30 * ((100vw - 320px) / 1600));
}

.popup_feedback .form .btn {
  background: url(../img/btn-2.svg) center no-repeat;
  background-size: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.popup_rev {
  padding: 0;
}

.popup_rev .popup__body {
  max-width: 100%;
}

.popup_rev .popup__body img,
.popup_rev .popup__body source {
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: calc(15px + 47 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 47 * ((100vw - 320px) / 1600));
}

@media (min-width: 526.98px) {
  .wrapper {
    padding-right: calc(125px + 5 * ((100vw - 320px) / 1600));
  }

  .popup_feedback .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
    width: 100%;
  }
}

@media (min-width: 767.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .product-info__text {
    padding: 0 30% 0 0;
  }

  .reviews-slider {
    max-width: 58%;
  }

  .popup_feedback .popup__body {
    max-width: 50%;
  }
}

@media (min-width: 991.98px) {
  .ban-right__title,
  .ban-right__title-two {
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 0;
    left: -82%;
    min-width: 68vw;
  }

  .why .why-icon {
    display: none;
  }

  .why-text {
    max-width: 35%;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 991.98px) {
  .header__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .social {
    margin-right: 0;
    margin-left: calc(52px + 31 * ((100vw - 320px) / 1600));
  }

  .footer {
    font-size: 12px;
  }

  .ban {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .ban-right {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .ban-right .title-hide__box {
    display: none;
  }

  .ban-right__img {
    display: none;
  }

  .why-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why-title {
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .why-svg {
    display: none;
  }

  .feedback__info {
    max-width: 100%;
    padding-right: 0;
    margin: 0 0 66px 0;
  }

  .feedback-form {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header .logo {
    margin-bottom: 17px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header .link-phone {
    margin: 0 0 20px 0;
  }

  .social {
    margin-left: 0;
  }

  .footer {
    padding: 29px 0;
  }

  .ban-right__title,
  .ban-right__title-two {
    font-weight: 600;
  }

  .ban-left {
    margin-top: 27px;
  }

  .ban-left__text {
    padding: 0;
  }

  .ban-left .btn {
    margin-left: 0;
  }

  .products__col {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .reviews-nav {
    display: none;
  }

  .icon-scroll {
    position: relative;
    padding-right: 65px;
  }

  .icon-scroll::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23.0512 2.66577H9.71749C9.34948 2.66577 9.05078 2.96447 9.05078 3.33248C9.05078 3.70049 9.34948 3.99919 9.71749 3.99919H23.0512C23.4206 3.99919 23.7179 3.70049 23.7179 3.33248C23.7179 2.96447 23.4192 2.66577 23.0512 2.66577Z' fill='%23C5C5C5'/%3E%3Cpath d='M10.6592 3.33248L12.8553 1.13772C13.1153 0.877715 13.1153 0.455014 12.8553 0.195006C12.5953 -0.065002 12.1726 -0.065002 11.9126 0.195006L9.24579 2.86178C8.98578 3.12178 8.98578 3.54449 9.24579 3.80449L11.9126 6.47126C12.0433 6.60058 12.2126 6.66596 12.3833 6.66596C12.554 6.66596 12.7246 6.60064 12.854 6.46995C13.114 6.20994 13.114 5.78724 12.854 5.52724L10.6592 3.33248Z' fill='%23C5C5C5'/%3E%3Cpath d='M27.5141 8.19522C26.6034 7.2845 25.17 7.20719 24.1727 7.96852C24.0567 7.56182 23.8394 7.17781 23.518 6.8578C22.5246 5.86446 20.9099 5.86446 19.9166 6.8578L10.839 15.9355L9.99362 10.5513C9.78562 9.09656 8.52158 7.99921 7.05084 7.99921C5.94812 7.99921 5.05078 8.89655 5.05078 9.99927V22.5717C5.05078 24.5304 5.81349 26.3718 7.19885 27.7571L9.29623 29.8545C10.679 31.2386 12.519 31.9999 14.4751 31.9999C16.3018 31.9999 18.0525 31.3226 19.4045 30.0945L24.914 25.0811C25.9061 24.0877 25.9061 22.4717 24.906 21.4716C24.5887 21.1543 24.2087 20.9383 23.8033 20.8263C24.5673 19.829 24.4913 18.3902 23.5726 17.4715C23.2619 17.1608 22.8899 16.9475 22.4966 16.8315L27.522 11.8046C28.5141 10.8113 28.5141 9.19525 27.5141 8.19522ZM26.5808 10.8593L18.5805 18.8595C18.4512 18.9902 18.3858 19.1609 18.3858 19.3316C18.3858 19.5023 18.4498 19.6729 18.5805 19.8036C18.8405 20.0636 19.2632 20.0636 19.5232 19.8036L20.914 18.4128C21.3873 17.9408 22.1567 17.9395 22.638 18.4208C23.1113 18.8942 23.1113 19.6636 22.638 20.1369L21.2473 21.5276C21.2473 21.5289 21.2446 21.5303 21.2433 21.5316C20.9873 21.793 20.9886 22.2117 21.2473 22.4704C21.5073 22.7304 21.93 22.7304 22.19 22.4704L22.2473 22.413C22.706 21.9543 23.498 21.9477 23.9714 22.421C24.4447 22.8944 24.4447 23.6638 23.9941 24.1158L18.5072 29.1079C17.4019 30.112 15.9698 30.6667 14.4751 30.6667C12.875 30.6667 11.3697 30.044 10.2376 28.9119L8.14025 26.8145C7.00691 25.6812 6.38289 24.1745 6.38289 22.5717V9.99927C6.38289 9.63126 6.68158 9.33257 7.04959 9.33257C7.86031 9.33257 8.55764 9.9379 8.67364 10.7499L9.72699 17.4328C9.76568 17.6808 9.94031 17.8848 10.179 17.9635C10.4163 18.0408 10.679 17.9768 10.8563 17.8008L20.8607 7.79652C21.334 7.3245 22.1034 7.32319 22.5847 7.80452C23.058 8.27784 23.058 9.04724 22.5847 9.52057L15.9137 16.1915C15.7844 16.3222 15.7191 16.4928 15.7191 16.6635C15.7191 16.8342 15.7831 17.0048 15.9137 17.1355C16.1738 17.3955 16.5965 17.3955 16.8565 17.1355L24.8567 9.13525C25.33 8.66192 26.0994 8.66192 26.5808 9.14325C27.0541 9.61657 27.0541 10.386 26.5808 10.8593Z' fill='%23C5C5C5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white' transform='translate(0.658203)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
    -webkit-animation: mobile-scroll-icon-anim 2s infinite;
    animation: mobile-scroll-icon-anim 2s infinite;
  }

  .input-file + .js-labelFile .icon {
    margin-left: 1vw;
  }

  .form-svg-1,
  .form-svg-2,
  .form-svg-3 {
    display: none;
  }

  .popup__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 526.98px) {
  .footer .logo {
    margin-bottom: 20px;
  }

  .footer .foter-info__text {
    margin-bottom: 18px;
  }

  .right-panel {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: none;
    position: absolute;
  }

  .form__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .form__content {
    padding-top: 0;
  }

  .form__two .form__line {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .panel-box {
    display: none;
  }

  .work-grid {
    grid-gap: 2vw;
    margin-right: 2vw;
    -ms-grid-columns: (12vw)[8];
    grid-template-columns: repeat(8, 12vw);
    -ms-grid-rows: (5vw)[12];
    grid-template-rows: repeat(12, 5vw);
  }

  .work-grid__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
  }

  .work-grid__item:hover {
    background: #fff;
  }

  .grid-info {
    padding: 30% 0;
    display: none;
  }

  .popup_feedback .popup__body_img {
    display: none;
  }

  .popup_feedback .form .form__btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .popup_rev .popup__body {
    padding: 0;
  }
}