.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: rem(16);
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	// .pagging__arrow
	&__arrow {
	}
	// .pagging__list
	&__list {
		display: flex;
		li {
			padding: 0 7px;
			transition: all 0.3s ease 0s;
			&:hover{
				color: $c_2;
			}
		}
	}
	// .pagging__item
	&__item {
		&._active {
			font-weight: 600;
			color: #000;
		}
	}
}
