//---------------------------------------------
// footer
//---------------------------------------------
.footer
	padding-top: 40px
	padding-bottom: 40px

	background: #F4A17B

	color:  $white
	font-size: 14px

	a
		color:  $white


	.container
		display: flex
		flex-direction: column
		justify-content: center

	&-logo
		margin: auto
		margin-bottom: 45px
		
		max-width: 95px
		width: 100%

		
	&-menu
		display: flex
		justify-content: center
		
		margin-bottom: 35px

		li
			margin: 0 15px

			a
				transition: .3s
				border-bottom: 1px solid rgba(255,255 ,255 ,0 )

			a:hover
				border-bottom: 1px solid rgba(255,255 ,255 ,1 )

	&-social
		width: 19px

		padding-bottom: 35px
		margin: auto
		

	&-info
		display: flex
		justify-content: space-between

		padding-top: 32px

		border-top: 1px solid #FFFFFF;

		&__left
			text-align: left

		&__right
			text-align: right

			a
				transition: .3s
				border-bottom: 1px solid rgba(255,255 ,255 ,0 )

				&:hover
					border-bottom: 1px solid rgba(255,255 ,255 ,1 )
					

@media (max-width: 768px)
	.footer
		&-menu
			flex-direction: column

			li
				margin-top: 18px

				text-align: center

		&-info
			&__left
				max-width: 320px
				width: 100%

				p
					padding-top: 0
				
				p + p
					padding-top: 15px

			&__right
				text-align: right

@media (max-width: 526px)
	.footer
		&-menu
			margin-bottom: 16px
			
			li
				margin-top: 0
				font-size: 1rem

			li+ li
				margin-top: 10px

		&-info
			font-size: .8rem

			&__left
				max-width: 125px

			&__right
				max-width: 125px

		&-logo
			max-width: 50px

			margin-bottom: 30px
		
		
	.footer-info__left
		p+p
			padding-top: 5px

	.footer-info__right
		span
			display: block
			
