//---------------------------------------------
// radio
//---------------------------------------------
.radio 
	margin: 0 0 19px
	display: block
	cursor: pointer

	font-size: 14px
	line-height: 17px
	// font-family: "CynthoSemiBold"

	&:last-child
		margin: 0 0 10px


	input 
		display: none

	input + span 
		position: relative
		display: block

		line-height: 11px
		height: 11px

		padding-left: 11px

	input + span:not(:empty) 
		padding-left: 30px

	input + span:before, input + span:after 
		content: ''
		position: absolute
		left: 0
		top: 0

		width: 11px
		height: 11px

		display: block
		border-radius: 50%

	input + span:before 
		border: 0.2px solid rgba(0, 0, 0, 0.24)


	input + span:after 
		background: #fff
		border: 1px solid #fff

		transform: scale(0.9)

	input:checked + span:before 
		background: $white

	input:checked + span:after 
		transform: scale(0.9)
		border: 2px solid #fff
		background: $pink-3


