//---------------------------------------------
// section-recom
//---------------------------------------------
.section-recom
	display: flex
	flex-direction: column

	.section-title
		margin-left: 0
		margin-bottom: 32px
		max-width: 100%
		
		.section-title__top
			margin-bottom: 0

	.section-title__top
		text-align: left
		text-transform: uppercase

	.section-recom__box
		max-width: 870px
		width: 100%
		height: auto

		.slick-arrow
			position: absolute
			top: 50%

		.slick-arrow__right
			right: -40px
		
		.slick-arrow__left
			left: -40px
