//---------------------------------------------
// sidebarPers
//---------------------------------------------

.sidebarPers
	max-width: 270px
	width: 100%

	border-radius: 5px

	&-menu
		>li
			background: #F9F9F9
			margin-bottom: 10px

			a
				padding: 15px 42px

				position: relative
				display: flex

				line-height: 1.6
				color: $black

				&:hover
					color: $pink-3

				&.active
					color: $pink-3

	&-menu__submenu
		padding-left: 20px
		padding-bottom: 5px
		display: none

		li
			a
				padding-top: 4px
				padding-bottom: 4px
				font-size: 14px
				color: #7D7D7D
				line-height: 1.6

	.sidevar-block-js
		.toggle-js
			position: relative

			&::after, &::before
				content: ''

				position: absolute
				right: 0
				top: 50%

				margin-top: -1px

				height: 1px
				width: 12px

				background: #F4A17B

				transition: 0.4s

			&::before
				transform: rotate(90deg)

	.sidevar-block-js.active
		.sidebarPers-menu__submenu
			display: block

			li:hover
				a
					color: $black


		.toggle-js
			&::before
				transform: rotate(00deg)


@media ( max-width: 991px  )
	.sidebarPers
		padding: 22px  0 35px
		margin: 0

		max-width: 100%

		background: none

		.sidebarPers-menu
			display: flex
			flex-direction: row
			justify-content: space-between
			
			width: 100%

			overflow-x: scroll
			-ms-overflow-style: none
			overflow: -moz-scrollbars-none

			&::-webkit-scrollbar
				width: 0

			li
				margin-left: 7px
				margin-right: 7px

				min-width: 180px
				max-width: 100%
				width: 100%
				text-align: center


				a
					justify-content: center

					padding: 27px 15px

					background: #F9F9F9
					border-radius: 5px

		.sidebarPers-menu__submenu
			margin-top: -2px

			background: #F9F9F9

			padding: 0 0 20px

			li
				margin: 0

				a	
					display: flex
					justify-content: center

					padding: 8px 

					text-align: center
		
		.sidevar-block-js 
			.toggle-js
				&::after, &::before
					margin-right: 12px

	.content--Sidebar
		padding-left: 0

		.section-title
			margin-bottom: 14px
			text-align: center

	.cab-text, .section-title
		text-align: center
	
	.cab-text
		max-width: 500px
		margin: 0 auto

@media ( max-width: 526px )
	.sidebarPers
		padding-top: 0
		padding-bottom: 0

		.sidebarPers-menu
			li
				min-width: 145px

				a
					padding: 11px 8px

					font-size: 1.2rem

		.sidevar-block-js 
			.toggle-js
				&::after, &::before
					width: 8px
					margin-right: 6px

		.sidebarPers-menu__submenu	
			li
				a
					padding: 10px

					font-size: 1.1rem

	