.error
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	
	span
		@include f500()
		font-size: $fz24

	&__img
		max-width: 1000px
		height: auto
		margin-bottom: 50px

	.btn
		margin-top: 20px

