.manual
	&-block
		@extend .col-6
		margin-bottom: 30px
		@media ( max-width:$md3+px )
			flex: 1 1 100%
			max-width: 100%

		&__boxImg
			@include img_03(32%)
			margin-bottom: 15px

		&__img
			@include img_02()

			img
				@include img_01()

		&__info

		&__prof
			color: $black

		&__name
			@include f500()
			font-size: $fz18
			margin-bottom: 10px


		&__phone
			text-decoration: none
			color: $black
			margin-top: 15px
			@include transitColor(0.3s)

		.icon-medal
			background-position: 0 0
			background-size: 19px

		.icon-phone
			background-position: 0 0
			background-size: 17px

			&:hover
				color: $blue


		.icon
			padding-bottom: 10px

.main-manual
	.manual
		padding-top: 0