.object
	.slider--js .slick-slide>div
		box-shadow: none
		background: none

	&-col
		@extend .col-3
		

	&-box
		&__rowImg	
			@include img_03(50%)

		&__img
			@include img_02()

			img
				@include img_01()

		&__info
			padding: 16px 0 

		&__text
			text-transform: uppercase
			font-size: $fz14
			@include f400()

		.btn--arrow
			margin-top: 33px

		.btn--yellow
			position: absolute
			z-index: 10
			right: 0
			bottom: 0

.object
.gallery, 

	.slider--js .slick-slide>div
		box-shadow: none
		background: none
		
	.btn--arrow
		margin-top: 30px

.main--object
	.object
		padding-top: 0
	
	.object-col
		@media ( max-width:$md1+px )
			flex: 0 0 33.333333%
			max-width: 33.333333%

		@media ( max-width:$md2+px )
			flex: 0 0 50%
			max-width: 50%


		@media ( max-width:$md3+px )
			flex: 1 1 100%
			max-width: 100%
		