.map
	padding-bottom: 0
	width: 100%
	height: auto

	&-box
		position: relative
		overflow: hidden
		padding: 15% 0
		@media ( max-width:$md2+px )
			padding: 30% 0

		&>ymaps
			top: 0
			left: 0
			right: 0
			bottom: 0
			position: absolute !important
			width: 100% !important

			min-height: 10px
			height: 100% !important
