
.section-title
	position: relative
	@extend .col-12

	display: flex
	justify-content: space-between
	text-transform: uppercase
	
	color: $black
	font-weight: 700
	@include f500()
	font-size: $fz40
	margin-bottom: 25px
	@media screen and ( max-width: 1300px )
		margin-left: 50px
	@media ( max-width:$md3+px )
		margin-left: 30px
		
	@media ( max-width:$md3+px )
		font-size: $mfz22
		
	&::before
		@include pseudoEl(block, absolute, '')
		width: 30px
		height: 5px
		background: $yellow
		top: 25px
		margin-left: -50px
		@media screen and ( max-width: 526px )
			height: 2px
			width: 15px
			top: 15px
			margin-left: -30px
			
.subTittle
	margin: 0 0 30px 0 
