table

	tr
		td
			padding: 10px 25px

	caption
		text-align: left
		margin-bottom: 15px

	thead
		background: #F2F2F2
		tr
			td
				@include f500()
				text-align: center

	tbody
		tr
			td
				text-align: center

			td:first-child
				text-align: left
				@include f500()




.table-box
	overflow-x: auto
	
	margin-bottom: 20px