.intLink
	padding-bottom: 150px
	
	.row
		justify-content: space-between

	.intLinlk-sliderLogo
		display: block
		padding: 0 20px
		width: 100px
		img
			// width: 100%

	.section-title
		max-width: max-content
		margin: 0 0 0px 0 

	.sliderLogo--js
		max-width: 600px
		display: flex
		align-items: center
		@media ( max-width:$md3+px )
			margin-top: 20px


	.box-arrows
		display: flex
		align-items: center

