.box-arrows
	display: flex
	justify-content: space-between

	.slick-arrow
		cursor: pointer
		
		&__left
			margin-right: 5px

		&__right
			margin-left: 5px

		svg
			path
				transition: fill 0.3s linear

		@media ( min-width: 1024px )
			&:hover svg path
				fill: $yellow

.slider--js
	.slider-item
		margin: 20px 0

	.slick-list
		margin: -20px
		padding: 0 20px


	.slick-slide
		opacity: 0
		transition: opacity 0.3s linear

		&>div
			transition: box-shadow 0.3s linear  
			box-shadow: 0px 0px 20px rgba(169, 166, 158, 0)

	.slick-active
		opacity: 1

		&>div
			box-shadow: 0px 0px 20px rgba(169, 166, 158, 0.5)
		





	