
.form
	@extend .col-12
	width: 100%
	
	
	&-title
		margin-bottom: 20px
		@extend .col-12

		width: 100%
		font-size: $fz20
		@include f500()

	.input
		@extend .col-6
		margin-top: 20px

		input
			line-height: 45px
			height: 45px
			width: 100%
			border: 1px solid #313131
			padding: 0 30px
			color: #9F9F9F
			
	.textarea
		margin-top: 15px
		@extend .col-12

		textarea
			border: 1px solid #313131
			padding: 15px 30px
			color: #9F9F9F
			height: 115px
			width: 100%
			resize: none

	.btn
		margin: 20px 10px 0 auto

			

.form
	.input--file
		@extend .col-12

	.input-file
		display: flex
		align-items: center
		flex-wrap: wrap

		input
			height: 0px
			width: 0px
			overflow: hidden
			opacity: 0
			line-height: 0
			border: 0
			margin: 0
			padding: 0

		.btn-file
			cursor: pointer
			margin: 0 15px
			font-size: $fz12
			background: #EDEDED
			border-radius: 5px
			line-height: 27px

			padding: 0 13px	
			@include transitTextandBgColor(0.3s)
			&:hover
				color: $white
				background: $yellow	

		.js-value
			overflow: hidden
			max-width: 300px


.switch 
	position: relative
	display: inline-block
	width: 60px
	height: 34px


.switch

	margin: 0 15px

	input
		display: none

	.slider 
		position: absolute
		cursor: pointer
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #FFFFFF
		box-shadow: inset 0px 0px 10px rgba(159, 159, 159, 0.25)
		border-radius: 30px
		-webkit-transition: .4s
		transition: .4s


	.slider:before 
		position: absolute
		content: ""
		height: 26px
		width: 26px
		left: 4px
		bottom: 4px
		background-color: $blue
		-webkit-transition: .4s
		transition: .4s


	input:checked + .slider 
		// background-color: #2196F3


	input:focus + .slider 
		// box-shadow: 0 0 1px #2196F3


	input:checked + .slider:before 
		transform: translateX(26px)

	.slider.round 
		border-radius: 34px


	.slider.round:before 
		border-radius: 50%


.switch-check
	@include f500()
	display: flex
	align-items: center
