html,
body
	font-size: 16px
	color: #000
	background: #cecece42
	@media ( max-width:$md3+px )
		font-size: 14px

body.active
	overflow: hidden

//--------- TITLE ---------//

.h1
	font-size: 2rem
	@media ( max-width:$md3+px )
		font: 1em sans-serif

.h2
	font-size: 1.8rem
	@media ( max-width:$md3+px )
		font: 1em sans-serif

.h3
	font-size: 1.6rem
	@media ( max-width:$md3+px )
		font: 1em sans-serif

.h4
	font-size: 1.4rem
	@media ( max-width:$md3+px )
		font: 1em sans-serif

.h5
	font-size: 1.2rem
	@media ( max-width:$md3+px )
		font: 1em sans-serif

//--------- COLOR ---------//

$white: #fff
$black: #000
$green: green
$pink: pink
$orange: orange

//--------- BTN ---------//

.btn
	display: block

	padding: 10px 20px

	border-radius: 4px
	
	vertical-align: middle
	cursor: pointer
	text-align: center
	line-height: 1.5


	&--bot
		position: fixed
		bottom: 15px
		right: 15px
		box-shadow: 0 0 20px rgba(0,0,0,.4)


.scrollTop
	position: fixed
	right: 15px
	bottom: 15px
	
	display: flex
	justify-content: center
	align-items: center

	width: 50px
	height: 50px

	background: $white
	box-shadow: 0 0 20px rgba(0,0,0,.4)

	cursor: pointer
	
	&__icon
		width: 50px
		height: 50px


