.footer {
	padding: 1.8vw 0;
	background: #1e1e1e;
	text-align: center;
	font-size: 0.8vw;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 149.87%;
	color: #8e8e8e;
	@media (max-width: $md1+px) {
		font-size: 12px;
	}
	@media (max-width: $md2+px) {
		padding: 29px 0;
	}

	a {
		color: #8e8e8e;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		max-width: 7vw;
		width: 100%;

		min-width: 120px;

		img {
			width: 100%;
			filter: brightness(0) invert(1);
		}
		margin: 0 0 1.1vw 0;
		@media (max-width: $md3+px) {
			margin-bottom: 20px;
		}
	}
	.foter-info__text {
		margin: 0 0 0.7vw 0;
		@media (max-width: $md3+px) {
			margin-bottom: 18px;
		}
	}
}
