.header {
	@include adaptiv-value("padding-top", 38, 21, 0);
	@include adaptiv-value("padding-bottom", 38, 21, 0);
	@include adaptiv-value("padding-left", 62, 15, 0);
	@include adaptiv-value("padding-right", 62, 15, 0);
	.logo {
		@include adaptiv-value("max-width", 192, 120, 0);
		@media ( max-width:$md2+px ){
			margin-bottom: 17px;
		}
		img {
			width: 100%;
		}
		
	}
	&__content {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md1+px) {
			flex-direction: row-reverse;
		}
		@media (max-width: $md2+px) {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}
	.link-phone {
		font-family: TT Firs Neue;
		font-style: normal;
		font-weight: 400;
		line-height: 141.11%;
		color: #000000;
		@media ( max-width:$md2+px ){
			margin: 0 0 20px 0;
		}

		span {
			font-weight: 600;
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	@include adaptiv-value("margin-right", 83, 52, 0);
	@media (max-width: $md1+px) {
		margin-right: 0;
		@include adaptiv-value("margin-left", 83, 52, 0);
	}
	@media ( max-width:$md2+px ){
		margin-left: 0;
	}

	&__icon {
		background: rgba($color: #a2a2a2, $alpha: 0.1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("width", 32, 24, 0);
		@include adaptiv-value("height", 32, 24, 0);
		@include adaptiv-value("font-size", 14, 12, 0);
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background: #44a59c;
			a {
				color: #fff;
			}
		}

		a {
			font-size: 1em;
			color: #000000;
			@include transitColor(0.3s);
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 21, 13, 0);
		}
	}
}
