//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	padding: 30px 10px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0.8s ease 0s;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		padding: 50px;
		width: 100%;
		max-width: 800px;
	}
	// .popup__close
	&__close {
		width: 15px;
		height: 15px;

		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") no-repeat;
		background-size: cover;
		transition: all 0.3s linear;
		&:hover{
			transform: rotate(360deg);
		}
	}
}

.popup_feedback {
	.popup__body {
		padding: 0;
	}
	.popup__content {
		display: flex;
	}
	.popup__body {
		display: flex;
		@media (min-width: $md2+px) {
			max-width: 50%;
		}
	}
	.popup__body_img {
		flex: 0 0 30%;
		max-width: 30%;
		width: 100%;
		@media ( max-width:$md3+px){
			display: none;
		}
	}

	.form {
		background: #ffffff;
		color: #212121;
		
		@media ( min-width:$md3+px){
			flex: 0 0 70%;
		max-width: 70%;
		width: 100%;
		}
		&__title {
			text-align: left;
			color: #212121;
			@include adaptiv-value("padding", 40, 20, 0);
			@include adaptiv-value("padding-bottom", 30, 20, 0);

			&_sub {
				@include adaptiv-value("margin-top", 22, 15, 0);
				font-family: Montserrat;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 115.87%;
				color: #212121;
			}
		}
		.form__btn {
			@media (max-width: $md3+px) {
				justify-content: flex-end;
			}
		}
		&__content {
			@include adaptiv-value("padding", 40, 20, 0);
			padding-top: 0;
		}
		.input-file + .js-labelFile .icon {
			background: #1e1e1e;
		}
		.btn,
		.btn .icon-svg {
			@include adaptiv-value("width", 100, 70, 0);
			@include adaptiv-value("height", 100, 70, 0);
		}
		.btn {
			background: url(../img/btn-2.svg) center no-repeat;
			@include adaptiv-value("background-size", 50, 30, 0);
		}
	}
}

.popup_rev{
	padding: 0;
	.popup__body{
		max-width: 100%;
		img, source{
			width: 100%;
		}
	}
}
//====================================================================================================
//====================================================================================================
