.boxOne, .boxTwo
	position: absolute
	left: 0
	top: 0
	height: 100vh	
	width: 100%

.section-content
	position: relative
	
	display: flex
	justify-content: center
	align-items: center

	padding-top: 145px
	

	width: 100%
	height: 100vh

	background: no-repeat center/cover url(../img/section-content/bg.jpg)

	&:after
		content: ''
		position: absolute
		z-index: 2
		left: 0
		top: 0

		width: 100%
		height: 100%

		background: rgba(0, 0, 0, 0.6)

	.content
		position: relative
		z-index: 3

		display: flex
		justify-content: space-between

	.content-title
		display: flex
		align-items: center

		font-size: 4rem
		line-height: 96px
		color: #fff

	.content-block
		position: relative

		max-width: 335px
		width: 100%
		height: auto

		&__img
			max-width: 336px
			width: 100%
			height: auto

	&__next
		position: absolute
		right: -100px
		top: 50%
		margin-top: -87px
		z-index: 3

		display: flex
		justify-content: center
		align-items: center

		width: 175px
		height: 175px

		border: 2px solid #83D024
		border-radius: 50%

		background: #83D024

		font-size: 1.5rem
		line-height: 36px
		color: #FFFFFF
		text-align: center
		
		transform: rotate(90deg)
		transition: right .3s ease;
		cursor: pointer

		&:hover
			right: -90px

		a
			color: #fff
			margin-top: 50%

	.layer
		position: absolute
		max-width: 58px
		width: 100%
		height: auto

	.content-icons
		position: absolute !important
		z-index: 98
		top: 0
		right: 0

		width: 100%
		height: 100%

		pointer-events: auto !important

		svg
			width: 100%
			height: 100%

	.content-icon
		position: absolute !important
		z-index: 99

		a
			position: absolute
			z-index: 100
			display: block
			height: 100%
			width: 100%
				
		&__mail
			top: auto !important
			bottom: -180px !important
			left: 50% !important

			width: 46px
			height: 36px


		&__skype
			top: -250px !important
			left: 40% !important

			width: 48px
			height: 48px

		&__cactus
			top: auto !important
			bottom: 0px !important
			left: auto !important
			right: -100px !important
			
			width: 58px
			height: 69px

		&__viber
			top: auto !important
			bottom: -50% !important
			left: -30% !important
			right: auto !important

			width: 43px
			height: 45px

		&__telegram
			top: -130px !important
			left: 10% !important

			width: 58px
			height: 49px

		&__tel
			top: -180px !important
			left: auto !important
			right: 0 !important

			width: 38px
			height: 38px

@media ( max-width: 1300px )
	.section-content
		.content
			&-block
				max-width: 250px

			&-icon
				&__mail
					width: 36px
					height: 26px

				&__skype
					width: 38px
					height: 38px

				&__cactus
					width: 42px
					height: 59px

				&__viber
					width: 33px
					height: 35px

				&__telegram
					width: 48px
					height: 39px

				&__tel
					width: 28px
					height: 28px

		&__next
			width: 150px
			height: 150px


@media  ( max-width: 1200px  )
	.section-content
		.content-icon	
			&__mail
				top: auto !important
				bottom: -100px !important
				left: 50% !important

				width: 46px
				height: 36px


			&__skype
				top: -100px !important
				left: 40% !important

				width: 48px
				height: 48px

			&__cactus
				top: auto !important
				bottom: 0px !important
				left: auto !important
				right: 0 !important
				
				width: 58px
				height: 69px

			&__viber
				top: auto !important
				bottom: -25% !important
				left: -20% !important
				right: auto !important

				width: 43px
				height: 45px

			&__telegram
				top: -60px !important
				left: 10% !important

				width: 58px
				height: 49px

			&__tel
				top: -60px !important
				left: auto !important
				right: 0 !important

				width: 38px
				height: 38px

@media (max-width: 991px)
	.section-content 
		padding-bottom: 100px

		.content
			justify-content: center
			flex-direction: column

			&-block, &-title
				text-align: center
				margin: auto
				
			&-block
				margin-top: 150px


@media ( max-width: 820px )
	.section-content__next:hover
		right: -55px

	.section-content
		margin-top: 100px
		padding-bottom: 200px

		.content
			&-title
				font-size: 2.1rem
				line-height: 1.4
		
			&-block
				max-width: 200px

			&-icon
				&__mail
					width: 26px
					height: 16px

				&__skype
					width: 28px
					height: 28px

				&__cactus
					width: 32px
					height: 49px

				&__viber
					width: 23px
					height: 25px

				&__telegram
					width: 38px
					height: 29px

				&__tel
					width: 18px
					height: 18px

	.section-content__next
		right: -60px

		width: 100px
		height: 100px

		font-size: 1rem
	
@media ( max-width: 526px )
	.section-content
		padding-top: 0


.slider-in
	animation: slider-in 0.7s ease forwards
	
.bg-green
	background: green !important

@keyframes slider-in
	from
		transform: translateX(100%)
		visibility: visible

	to
		transform: translateX(0%)

		
	