.container-info__title {
  font-size: 50px;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 55px;
}

.tabs--filter li.tab-header__item {
  font-size: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.tabs--filter .tab-content {
  position: relative;
  padding: 100px 0 130px;
}

.tabs--filter .tab-content::after {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #F8F8F8;
  z-index: -1;
}

.tabs .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabs .tab-header__item {
  position: relative;
  padding: 22px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #000000;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}

.tabs .tab-header__item:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  height: 1px;
  background: #82B378;
  width: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.tabs .tab-header__item:not(:last-child) {
  margin-right: 40px;
}

.tabs .tab-header__item.active,
.tabs .tab-header__item:hover {
  color: #82B378;
}

.tabs .tab-header__item.active::after,
.tabs .tab-header__item:hover::after {
  width: calc( 100% + 20px);
}

.tabs .tab-content__item {
  display: none;
}

.tabs .tab-content__item.active {
  display: block;
}

.tabs .tab-content--filter {
  padding: 100px 0 100px;
}

.tabs--filter .filter-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs--filter .filter-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 30px 9px;
  line-height: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.tabs--filter .filter-content__btn:not(:last-child) {
  margin: 0 20px 0 0;
}

.tabs--filter .filter-content__btn.active,
.tabs--filter .filter-content__btn:hover {
  color: #fff;
  background: #82B378;
}

.tabs--filter .filter-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 37px;
}

.filter-body__title {
  color: #000000;
}

.filter-body__item {
  width: 100%;
  color: #6C7074;
}

.filter-body__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-body__title,
.filter-body .filter-item__row {
  display: grid;
  grid-template-columns: 20% 14.5% 15% 14% 19.2% 17.3%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.filter-body__title > div,
.filter-body .filter-item__row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-body__item {
  padding: 21px 0;
}

.filter-body__downland {
  text-align: left;
}

.filter-body__downland a {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.filter-body__accessTime {
  text-align: right;
  margin-left: auto;
}

.filter-body--acc .filter-body__name,
.filter-body--acc .filter-body__downland a,
.filter-body--acc .filter-body__downland a svg path {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.filter-body--acc .filter-body__item:hover .filter-body__name,
.filter-body--acc .filter-body__item:hover .filter-body__downland a {
  color: #82B378;
}

.filter-body--acc .filter-body__item:hover .filter-body__downland a svg path {
  fill: #82B378;
}

.filter-body--acc .filter-body__title,
.filter-body--acc .filter-item__row {
  display: grid;
  grid-template-columns: 1fr 190px 250px 242px;
}

.acc-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.acc-box.active {
  border-bottom: 1px solid #000000;
}

.acc-box.active .acc-head::before {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.acc-head {
  position: relative;
  cursor: pointer;
  padding: 39px 44px 33px 0;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.acc-head:after,
.acc-head::before {
  position: absolute;
  content: '';
  width: 22px;
  right: 0;
  height: 1px;
  background: #000;
  top: 50%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.acc-head::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.acc-body {
  padding-bottom: 90px;
  display: none;
}

.tab-content__item--table .filter-body {
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-content__item--table .filter-body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.tab-content__item--table .filter-body::-webkit-scrollbar {
  width: 4px;
  background-color: none;
}

.tab-content__item--table .filter-body::-webkit-scrollbar-thumb {
  background-color: #82B378;
  border-radius: 3px;
}

.tab-content__item--table .filter-body::-webkit-scrollbar-track {
  background-color: none;
}

header .ht-top-line .hd-tl-ul ul li {
  position: relative;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub {
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  max-width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 150%;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub li {
  background: #F8F8F8;
  display: block;
  margin: 0;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub li a {
  display: block;
  padding: 10px 30px;
  line-height: 36px;
  letter-spacing: .05em;
  font-weight: 300;
  text-transform: none;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub li a li {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #000;
  font-size: 14px;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub li a::before {
  display: none;
}

header .ht-top-line .hd-tl-ul ul li .menu-sub li a:hover {
  color: #fff;
  background: #152B50;
}

header .ht-top-line .hd-tl-ul ul li:hover .menu-sub {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

header .ht-top-line .hd-tl-ul ul li:hover .menu-sub li {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hidden-mnu .menu-sub-li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.hidden-mnu .icon-plus {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
}

.hidden-mnu .icon-plus:after,
.hidden-mnu .icon-plus::before {
  position: absolute;
  content: '';
  width: 22px;
  right: 0;
  height: 1px;
  background: #000;
  top: 50%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hidden-mnu .icon-plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hidden-mnu .icon-plus.active::before {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hidden-mnu .menu-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  z-index: 10;
  width: 100%;
}

.hidden-mnu .menu-sub li {
  margin: 0 0 0px 0;
}

.hidden-mnu .menu-sub.active {
  display: block;
}

.hd-tl-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-search {
  margin-left: 50px;
  cursor: pointer;
}

.icon-search svg circle,
.icon-search svg line {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icon-search:hover svg circle,
.icon-search:hover svg line {
  stroke: #000;
}

.search-box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 15px 55px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.search-box.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.search-box form {
  position: relative;
}

.search-box input {
  text-transform: uppercase;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 21px;
  font-weight: 300;
  line-height: 44px;
  font-family: "pfdintextcondpro-light";
  color: rgba(0, 0, 0, 0.3);
}

.search-box input:focus {
  outline: none;
}

.search-box .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.search-box .btn-close svg line {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.search-box .btn-close:hover svg line {
  stroke: #82B378;
}

.filter-body__datePub,
.filter-body__datePayment,
.filter-body__price,
.filter-body__scha,
.filter-body__picePay,
.filter-body__priceScha {
  padding: 0 5px;
}

.acc-box:first-child .acc-head {
  padding-top: 0;
}

@media (min-width: 526px) {
  .ds-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .ds-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .icon-search {
    display: none;
  }

  .icon-search.ds-none {
    display: block;
    position: absolute;
    right: 75px;
    top: 17px;
  }

  .search-box {
    padding: 20px;
    top: 0;
  }

  .search-box input {
    font-size: 18px;
  }
}

@media (max-width: 526px) {
  .container-info__title {
    font-size: 32px;
    line-height: 44px;
  }

  .tabs--filter .tab-header {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .tabs--filter .tab-header::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .tabs--filter .tab-header::-webkit-scrollbar {
    width: 0px;
    background-color: none;
  }

  .tabs--filter .tab-header::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .tabs--filter .tab-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: none;
  }

  .tabs--filter .tab-content {
    padding: 30px 0;
  }

  .tabs .tab-header__item {
    font-size: 18px;
    padding: 16px 0;
  }

  .tabs .tab-header__item:not(:last-child) {
    margin-right: 26px;
  }

  .tabs .tab-header__item.active::after,
  .tabs .tab-header__item:hover::after {
    width: 100%;
  }

  .tabs--filter .filter-content__header {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .tabs--filter .filter-content__header::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .tabs--filter .filter-content__header::-webkit-scrollbar {
    width: 0px;
    background-color: none;
  }

  .tabs--filter .filter-content__header::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .tabs--filter .filter-content__header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: none;
  }

  .tabs--filter .filter-content__btn {
    padding: 8px 8px 6px;
    font-size: 14px;
    display: block;
    max-width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .tabs--filter .filter-content__body {
    margin-top: 32px;
  }

  .filter-body__title {
    margin-bottom: 38px;
  }

  .filter-body__title,
  .filter-body .filter-item__row {
    font-size: 14px;
  }

  .filter-body__item {
    padding: 12px 0;
  }

  .filter-body--acc .filter-body__title,
  .filter-body--acc .filter-item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .filter-body--acc .filter-body__item {
    padding: 24px 0;
  }

  .filter-body--acc .filter-body__title {
    display: none;
  }

  .filter-body--acc .filter-body__name {
    padding: 0 10px;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 15px;
    color: #000;
  }

  .filter-body--acc .filter-body__datePub {
    padding: 0 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .filter-body--acc .filter-body__accessTime {
    padding: 0 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .filter-body--acc div.filter-body__datePub,
  .filter-body--acc div.filter-body__accessTime {
    padding: 0 10px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }

  .filter-body--acc div.filter-body__datePub .ds-none,
  .filter-body--acc div.filter-body__accessTime .ds-none {
    margin-bottom: 15px;
    color: #000;
  }

  .filter-body--acc div.filter-body__datePub {
    max-width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }

  .filter-body--acc div.filter-body__accessTime {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .filter-body--acc .filter-body__downland {
    padding: 0 10px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .filter-body--acc .filter-body__downland a {
    margin-top: 24px;
    font-size: 14px;
    color: #82B378;
    text-transform: inherit;
  }

  .filter-body--acc .filter-body__downland a svg path {
    fill: #82B378;
  }

  .acc-box {
    border-bottom: none;
  }

  .acc-box.active {
    border-bottom: none;
  }

  .acc-head {
    font-size: 18px;
    line-height: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .acc-body {
    padding-top: 32px;
    padding-bottom: 0;
  }

  .tab-content__item--table .filter-body__item {
    max-width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .tab-content__item--table .filter-item__row,
  .tab-content__item--table .filter-body__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .tab-content__item--table .filter-item__row > div,
  .tab-content__item--table .filter-body__title > div {
    padding: 0 10px;
  }

  .tab-content__item--table .filter-body__datePub {
    display: inline;
    width: 220px;
  }

  .tab-content__item--table .filter-body__datePayment {
    display: inline;
    width: 120px;
  }

  .tab-content__item--table .filter-body__price {
    display: inline;
    width: 120px;
  }

  .tab-content__item--table .filter-body__scha {
    display: inline;
    width: 120px;
  }

  .tab-content__item--table .filter-body__picePay {
    display: inline;
    width: 200px;
  }

  .tab-content__item--table .filter-body__priceScha {
    display: inline;
    width: 200px;
  }
}

@media screen and (max-width: 526px) {
  .tabs--filter li.tab-header__item {
    display: block;
    max-width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: 14px;
  }

  .tabs--filter li.tab-header__item::after {
    margin: 0 0 0px 0;
  }
}