html
	font-size: 16px
	color: #2F2F2F
	@media ( max-width:$md3+px )
		font-size: 14px

.wrapper.active
	filter: blur(2px)

.container
	max-width: 1200px
	width: 100%

	margin: 0 auto
	padding: 0 15px

.container-full
	max-width: 100%
	width: 100%

	padding: 0 33px
	margin: 0 auto

.section-title
	font-size: 36px
	line-height: 36px
	color: #225FA1
	text-align: center
	margin-bottom: 20px
	font-family: Roboto-Bold
	@media ( max-width:$md3+px )
		font-size: 28px
	
.header
	position: relative
	z-index: 10

	padding-top: 16px

	font-size: 24px
	line-height: 28px
	color: #FFFFFF

	.container-full
		display: flex
		justify-content: space-between


	&-lan
		&__list
			li
				display: inline
				margin-left: 0
				& + li
					margin-left: 14px

				a
					font-size: 18px
					line-height: 21px
					color: rgba(255, 255, 255, 0.28)
					@include transitColor(0.3s)
					text-decoration: none

					&.active, &:hover
						color: #fff

			
.section--prallax
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	
	
.section-ban
	height: 100vh
	width: 100%
	margin-top: -50px
	display: flex
	align-items: center
	background-image: url(../img/section-img/01.jpg)
	@media ( max-width:$md1+px )
		background-image: url(../img/section-img/tablet-01.jpg)

	@media ( max-width:$md3+px )
		background-image: url(../img/section-img/mob-01.jpg)


		


.ban
	text-align: center

	&-title
		font-family: MavenPro-Medium
		font-size: 92px
		line-height: 108px
		color: #FDDB3B
		// margin-top: 40px
		// margin-bottom: 15px
		@media ( max-width:$md3+px )
			font-size: 54px
			line-height: 63px

	&-sub
		font-size: 30px
		line-height: 35px
		color: #FFFFFF
		font-family: Roboto-Regular
		@media ( max-width:$md3+px )
			font-size: 20px

	.arrow-box
		position: absolute
		bottom: 3rem
		left: 50%
		transform: translateX(-50%)
		// overflow: hidden
		width: 53px
		height: 30px


		&__icon
			// animation: 3s animateArrow infinite linear
			animation: animateArrow 2s infinite
			transform: translateY(-3rem)

			width: 53px




.section-info
	padding: 85px 0 85px

	.info-block
		max-width: 710px
		line-height: 1.4
		width: 100%
		height: auto

		margin: 0 auto
		text-align: center
		font-family: Roboto-Light
		font-size: 20px

		p
			margin-top: 0

			& + p
				margin-top: 20px


.section-img
	height: 680px
	width: 100%
	display: flex
	align-items: center
	@media ( max-width:$md3+px )
		height: 320px
.img--1
	background-image: url(../img/section-img/02.jpg)

	@media ( max-width:$md1+px )
		background-image: url(../img/section-img/tablet-02.jpg)

	@media ( max-width:$md3+px )
		background-image: url(../img/section-img/mob-02.jpg)


.img--2
	background-image: url(../img/section-img/03.jpg)

	@media ( max-width:$md1+px )
		background-image: url(../img/section-img/tablet-03.jpg)

	@media ( max-width:$md3+px )
		background-image: url(../img/section-img/mob-03.jpg)

.section-slider
	padding: 90px 0

.slider
		
	&-title
		display: flex
		align-items: flex-end
		position: relative
		height: 70px
		margin-bottom: 53px
		@media ( max-width:$md3+px )
			margin-bottom: 50px


	&-row
		max-width: 768px
		width: 100%
		height: auto
		margin: 0 auto
		&__block:focus
			border: none
			outline: 0;

		&__vac
			font-size: 24px
			line-height: 28px
			color: #225FA1
			margin-bottom: 15px
			margin-left: 45px
			font-family: Roboto-Light
			@media ( max-width:$md3+px )
				font-size: 20px

	&-number
		position: absolute
		font-size: 72px
		line-height: 1
		text-align: center

		font-family: Roboto-Bold
		color: rgba(34, 95, 161, 0.07)

	&-list

		font-family: Roboto-Light
		font-size: 20px
		
		&__title
			font-size: 20px
			line-height: 23px
			color: #21609E
			margin-bottom: 20px
			padding-left: 19px
			font-family: Roboto-Bold
			@media ( max-width:$md3+px )
				font-size: 18px

		ul
			padding: 0
			margin-bottom: 40px

			li
				position: relative
				list-style-type: none
				padding-left: 19px
				line-height: 1.2
				margin-bottom: 11px

				&:after
					content: ''
					width: 12px
					height: 10px

					left: 0
					@include verticalcenter()

					background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4L7 9L14 2' stroke='%23225FA1' stroke-width='3'/%3E%3C/svg%3E")
					background-repeat: no-repeat
					background-size: cover
					background-position: center

	.slider-control
		position: absolute
		z-index: 10
		top: 70px
		left: 0
		cursor: pointer

		&__right
			transform: translateX(100%)
			margin-left: 23px

	
.section-form
	.container
		@media ( max-width: 526px )
			padding: 0
			


.footer
	padding-top: 120px
	padding-bottom: 20px

	font-family: Roboto-Light
	background: url(../img/section-footer/01.jpg) 100%/cover no-repeat

	@media ( max-width:$md1+px )
		background: url(../img/section-footer/tablet-01.jpg) 100%/cover no-repeat

	@media ( max-width:$md3+px )
		background: url(../img/section-footer/mob-01.jpg) 100%/cover no-repeat

	color: #fff
	@media ( max-width:$md3+px )
		padding-top: 60px

	a
		color: #fff
			

	.container
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

		text-align: center


	&-contact
		margin-bottom: 74px
		font-size: 24px
		@media ( max-width:$md3+px )
			margin-bottom: 50px
		
		&__title

			font-family: Roboto-Bold
			font-size: 36px
			line-height: 42px
			color: #FFFFFF
			margin-bottom: 30px
			@media ( max-width:$md3+px )
				font-size: 28px

		&__phone, &__mail
			a
				font-size: 24px
				border-bottom: 1px solid rgba(255, 255, 255, 0)
				transition: border 0.3s linear 
				font-family: Roboto-Light

				&:hover
					border-bottom: 1px solid rgba(255, 255, 255, 1)


		&__social
			display: flex
			justify-content: center
			align-items: center

			margin-top: 36px
			@media ( max-width:$md3+px )
				margin-top: 20px


			.icon
				margin-left: 0

				& + .icon
					margin-left: 11px



.section-error
	padding-top: 50px
	padding-bottom: 50px

	height: auto
	display: flex
	align-items: center
	justify-content: center
	
	background: #191548
	img
		max-width: 570px
		width: 100%
		margin: 0 auto
	
	.error-block
		text-align: center
		margin: 0 auto
		max-width: 690px
		width: 100%
		height: auto

	.error-block__text
		
		font-size: 24px
		line-height: 28px
		text-align: center
		font-family: Roboto-Bold
		padding-bottom: 30px
		max-width: 345px
		width: 100%
		margin: 0 auto

		color: #FFFFFF
		@media ( max-width:$md3+px )
			font-size: 16px	

	.btn

		background: #CE214C
		border: 2px solid #CE214C
		width: 200px
		color: #fff
		border-radius: 3px
		line-height: 49px
		text-align: center
		text-trasform: uppercase
		padding: 15px 49px
		font-family: Roboto-Regular
		transition: background 0.3s linear

		&:hover
			background: none


.cu-form__body-label-container
	color: red !important