//<MIXIN>---------------------------------------
@import "mixin"
//</MIXIN>---------------------------------------


//<FONTS>---------------------------------------
@import "fonts"
//</FONTS>---------------------------------------


//<RESET STYLES>---------------------------------------
@import "resetStyles"
//</RESET STYLES>---------------------------------------
  

//<LIBRARIES>---------------------------------------
@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
//</LIBRARIES>---------------------------------------


//<WIDTH PAGE>---------------------------------------

$md1: 991
$md2: 726
$md3: 526

//</WIDTH PAGE>---------------------------------------


//<MAIN>---------------------------------------
@import "animation"

@import "main"


//</MAIN>---------------------------------------


//<TASK>---------------------------------------

@import "popup"

//</TASK>---------------------------------------