	
.wrapper
	overflow: hidden
	display: grid
	grid-template-areas: "header" "main" "footer"
	grid-template-rows: auto 1fr auto
	min-height: 100vh

.main
	overflow: hidden
	padding-bottom: 30px
	&--gray
		background: #F4F4F4

		._section
			&::before, &::after
				display: none

	&--pd
		.description, .partfolio, .samples
			padding-top: 0
			@media ( max-width:$md2+px )
				padding-top: 0

	&-cartPrduct
		position: relative
		.container-breadcrumbs
			position: absolute
			z-index: 2
			top: 0
			left: 50%
			@include translateX(-50%)

	&::after
			@include pseudoEl(block, absolute, '')
			width: 100%
			height: 100%
			z-index: 99
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: rgba($black,0 )
			visibility: hidden
			
			transition: opacity 0.3s linear, visibility 0.3s linear


	&.active
		position: relative
		&::after
			z-index: 99
			background: rgba($black,0.56 )
			visibility: visible
._section
	padding: 60px 0
	@media ( max-width:$md2+px )
		padding: 30px 0


.container 
	max-width: 1200px
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto
	@media ( max-width:$md1+px )
		max-width: 960px

	@media ( max-width:$md2+px )
		max-width: 720px

	@media ( max-width:$md3+px )
		max-width: 540px

.container-fluid 
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

.row
	@include flexbox()
	flex-wrap: wrap
	flex: 1 1 100%

	margin-right: -15px
	margin-left: -15px

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
	position: relative
	width: 100%
	min-height: 1px
	padding-right: 15px
	padding-left: 15px


.col 
	flex-basis: 0
	flex-grow: 1
	max-width: 100%

.col-auto 
	flex: 0 0 auto
	width: auto
	max-width: none


.col-1 
	flex: 0 0 8.333333%
	max-width: 8.333333%


.col-2 
	flex: 0 0 16.666667%
	max-width: 16.666667%


.col-3 
	flex: 0 0 25%
	max-width: 25%


.col-4 
	flex: 0 0 33.333333%
	max-width: 33.333333%


.col-5 
	flex: 0 0 41.666667%
	max-width: 41.666667%


.col-6
	flex: 0 0 50%
	max-width: 50%

.col-7 
	flex: 0 0 58.333333%
	max-width: 58.333333%


.col-8 
	flex: 0 0 66.666667%
	max-width: 66.666667%


.col-9 
	flex: 0 0 75%
	max-width: 75%


.col-10 
	flex: 0 0 83.333333%
	max-width: 83.333333%


.col-11 
	flex: 0 0 91.666667%
	max-width: 91.666667%


.col-12 
	flex: 0 0 100%
	max-width: 100%


// @extend .h1