
html,
body
	font-size: 16px
	color: #2E2E2E
	font-family: Montserrat-Regular
	@media ( max-width:$md3+px )
		font-size: 14px

body.active
	overflow: hidden

//--------- TITLE ---------//

.h1
	font-size: 2.5rem
	font-family: Montserrat-Bold
	line-height: 1.2

.h2
	font-size: 1.875rem
	font-family: Montserrat-Bold

.h3
	font-size: 1.5rem
	font-family: Montserrat-Bold

.h4
	font-size: 1.375rem
	font-family: Montserrat-Bold

.h5
	font-size: 1.125rem
	font-family: Montserrat-Bold


//--------- BTN ---------//

.btn
	display: block

	padding: 0 10px

	border: 2px  $blue solid
	background: $blue
	
	
	vertical-align: middle
	cursor: pointer
	text-align: center
	line-height: 56px
	color: $white
	font-size: 1rem
	text-transform: uppercase
	text-decoration: none
	font-family: Montserrat-Bold

	max-width: 210px
	width: 100%
	height: 60px
	@include transitTextandBgColor(0.3s)

	&:hover
		background: none
		color: $blue

.btn--arrow
	position: relative
	
	display: block

	font-family: Montserrat-Bold
	font-size: 1rem
	color: $blue
	text-decoration: none
	width: max-content

	padding-right: 28px
	border-bottom: 1px solid rgba($blue, 0 )
	transition: border-color 0.3s linear
	cursor: pointer

	&::after
		@include pseudoEl(block, absolute, '')
		top: 50%
		@include translateY(-50%)

		width: 18px
		height: 14px
		right: 0
		left: auto

		background: url(../img/icons/icons.svg#icon-arrowBtn) 100%/cover no-repeat

		transition: right 0.3s linear

	&:hover
		&::after
			right: -5px


.scrollTop
	position: fixed
	right: 15px
	bottom: 15px
	
	display: flex
	justify-content: center
	align-items: center

	width: 50px
	height: 50px

	background: $white
	box-shadow: 0 0 20px rgba(0,0,0,.4)

	cursor: pointer
	
	&__icon
		width: 50px
		height: 50px


b, strong
	font-family: Montserrat-Bold


._section
	.btn--arrow
		margin: 45px 0 0 15px
		@media ( max-width:$md3+px )
			margin-top: 30px
