.shares, .main-technics .choice
	padding-top: 0
	@media ( max-width:$md2+px )
		padding-top: 0

	&-slider
		@extend .col-12

		&__block
			flex: 1 1 100%
			max-width: 100%
			padding: 20rem 0

			background-position: center
			background-repeat: no-repeat
			background-size: cover
