.error
	position: relative
	padding: 100px 0
	@media ( max-width:$md1+px )
		padding: 50px 0
	&-img
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: auto
		width: 100%
		z-index: -1
		@media ( max-width:$md1+px )
			position: relative
			flex: 1 1 100% 
			margin-left: -15px
			margin-right: -15px

		&__01
			display: block
			width: 100%
			@media ( max-width:$md1+px )
				display: none

		&__02
			display: none
			@media ( max-width:$md1+px )
				display: block
				width: 100%


	&-block
		@extend .col-4
		text-align: center
		@media ( max-width:$md1+px )
			max-width: 100%
			flex: 1 1 100%
			margin-bottom: 30px

		&__title
			font-family: Montserrat-Black
			font-size: 9rem
			color: $blue
			line-height: 1
			@media ( max-width:$md3+px )
				font-size: 7rem

		&__subtext
			@extend .h4
			max-width: 300px
			margin: 0 auto
			line-height: 1.2

		&__btn
			display: block
			border: 3px solid #003A66
			line-height: 59px
			text-align: center
			font-size: 1rem

			max-width: 205px
			width: 100%
			height: 65px
			color: $blue
			font-family: Montserrat-Bold
			margin: 20px auto 0
			text-transform: uppercase
			text-decoration: none
			@include transitTextandBgColor(0.3s)
			@media ( max-width:$md3+px )
				line-height: 44px
				height: 50px
			&:hover
				color: $white
				background: $blue
