.salon
	position: relative
	&::after, &::before
		@include pseudoEl(block, absolute, '')
		width: 70%
		height: 42.4% 
		background: #F8F8F8
		z-index: -1

	&::before
		top: 75px
		left: 0
		@media screen and ( max-width: 1080px  )
			display: none
			

	&::after
		bottom: 0
		right: 0
		@media screen and ( max-width: 1080px )
			width: 50%
			height: calc( 100% - 105px )
			left: 0
			right: auto
		@media ( max-width:$md2+px )
			width: 100%
			height: 100%
		
	&-column
		display: flex
		flex-wrap: wrap

		@extend .col-6
		font-size: 1rem
		@media screen and ( max-width: 1080px )
			flex: 1 1 100%
			max-width: 100%

			margin-bottom: 20px

		&__row
			background: #fff
			@media screen and ( max-width: 1080px )
				flex: 0 0 50%
				max-width: 50%
			
			@media ( max-width:$md2+px )
				flex: 0 0 100%
				max-width: 100%
				order: 2

				position: relative

				padding-bottom: 58px

			

		&__address		
			position: relative
			padding: 27px 0 20px 0 
			margin: 0 30px 0 30px

			&::after
				@include pseudoEl(block, absolute, '')
				left: 0
				bottom: 0
				
				background: #000

	&-info
		margin: 0 30px 30px 30px

		justify-content: space-between

		font-size: 1rem
		&__metro, &__mail, &__tel, &__clock, &__mat
			padding-left: 50px

			&::after
				@include pseudoEl(block, absolute, '')

				top: 50%
				@include translateY(-50%)

				left: 0

		&__metro,&__mail,&__tel, &__clock
			position: relative
			@extend .col-6

			margin-bottom: 30px
			@media screen and ( max-width: 1080px )
				flex: 1 1 100%
				max-width: 100%
				margin-bottom: 15px

		&__tel, &__clock
			display: flex
			flex-direction: column
			&::after
				top: 0
				@include translateY(0)

		&__mat
			position: relative
			@extend .col-12

		&__metro::after
			width: 30px
			height: 24px

			background: url(../img/icons/icons.svg#icon-metro) 100%/cover no-repeat

		&__mail::after
			width: 23px
			height: 14px

			background: url(../img/icons/icons.svg#icon-mail) 100%/cover no-repeat

		&__tel::after
			width: 20px
			height: 21px

			background: url(../img/icons/icons.svg#icon-phone) 100%/cover no-repeat

		&__clock::after
			width: 24px
			height: 24px

			background: url(../img/icons/icons.svg#icon-clock) 100%/cover no-repeat

		&__mat::after
			width: 23px 
			height: 22px

			background: url(../img/icons/icons.svg#icon-block) 100%/cover no-repeat
			
			top: 0
			@include translateY(0)

		a
			color: $black
			text-decoration: none
			font-size: 1rem
			@include transitColor(0.3s)

			&:hover
				color: #ff9d76


	&-column
		&__img
			@include img_03(10.32rem)
			background-color: $blue
			@media screen and ( max-width: 1080px )
				flex: 0 0 50%
				max-width: 50%
			
			@media ( max-width:$md2+px )
				flex: 0 0 100%
				max-width: 100%
				order: 1
			@media ( max-width:$md3+px )
				padding: 7.32rem 0

		&__boxImg
			@include img_02()

			img
				@include img_01()

	.btn--arrow
		position: absolute
		z-index: 2
		
		bottom: 0
		right: 0

		font-size: 1rem
		color: $white

		margin: 0 28px 20px 0
		
		@media screen and ( max-width: 1080px )
			right: auto
			@include horizcenter()

		@media ( max-width:$md2+px )
			background: $blue
			bottom: 0

			width: 100%
			height: 58px

			line-height: 58px
			text-align: center

			padding: 0
			margin: 0

			&::after
				display: none
			

		&::after
			@include white()

	.slick-initialized .slick-slide
		display: flex !important

		
				