
.section-title
	position: relative

	display: flex
	align-items: center
	justify-content: space-between

	padding-left: 35px
	margin-bottom: 45px

	text-transform: uppercase
	line-height: 1.2

	&::after
		@include pseudoEl(block, absolute, '')
		left: 0
		top: 0

		width: 7px
		height: 100%

		background: $orange

	&__subText
		margin-top: -20px
		line-height: 1.2
		margin-bottom: 60px
		@media ( max-width:$md1+px )
			margin-bottom: 40px

		@media ( max-width:$md3+px )
			margin-bottom: 20px


	
	