.work
	&-block
		@extend .col-4
		@include flexbox()
		flex-direction: column
		@media ( max-width: 670px )
			flex: 0 0 100%
			max-width: 100%

			margin-bottom: 40px

		&__img
			width: 85px
			height: 85px
			margin-bottom: 15px

		&__title
			margin-bottom: 10px

		&__text
			font-size: 1rem
			max-width: 340px