.catalog
	padding-top: 0
	@media ( max-width:$md2+px )
		padding-top: 0
	
.tabs
	@extend .col-12
	width: 100%

.tab-header 
	display: flex
	align-items: center
	justify-content: flex-start

	margin: 0
	padding-left: 0

	list-style: none
	@media ( max-width:$md2+px )
		flex-direction: column
		align-items: flex-start

	&__item 
		padding: 0 20px

		border: 1px solid #003A66
		border-right: 0

		cursor: pointer

		height: 37px

		font-size: 1rem
		line-height: 35px
		text-align: center
		color: #003A66

		flex: 0 0 33.333333%
		max-width: 33.333333%
		background: none
		@media ( max-width:$md2+px )
			border: none
			padding-left: 0
			padding-right: 30px
			position: relative
			max-width: max-content
			flex: 1 1 100%

			&::before
				@include pseudoEl(block, absolute, '')
				@include verticalcenter()
				right: 0
				width: 18px
				height: 18px
				background: url(../img/icons/icons.svg#icon-arrow) 100%/cover no-repeat

		&:last-child
			border-right: 1px solid #003A66
			@media ( max-width:$md2+px )
				border: none

		&.active 
			position: relative

			font-family: Montserrat-Bold

			&::before
				transform: rotate(180deg) translateY(50%)

.tab-content 
	margin: 0
	padding: 0

	list-style: none

	&__item 
		display: none

		margin-top: -1px
		padding-top: 20px

		&.active 
			display: flex

.product-col
	display: flex
	flex-direction: column
	@extend .col-4

	margin-bottom: 30px
	@media ( max-width:$md1+px )
		flex: 0 0 50%
		max-width: 50%

	@media ( max-width:$md3+px )
		flex: 1 1 100%
		max-width: 100%

.product
	&-img
		@include img_03(33.8%)
		background-color: $blue

	&-imgBox
		@include img_02()
		img
			@include img_01()

	&-cart
		overflow: hidden
		
		display: flex
		flex-direction: column

		position: relative
		background: #fff
		height: 100%

		@media ( max-width:$md1+px )
			padding-bottom: 83px 

		@media ( max-width:$md3+px )
			padding-bottom: 60px

		&__title
			display: block

			margin: 23px 33px
			// height: 42px

			@extend .h5
			text-decoration: none
			color: $blue
			line-height: 1.2

			@include transitColor(0.3s)
			@media ( max-width:$md2+px )
				margin: 15px

			&:hover
				color: #ff9d76

		.product-cart__info
			margin: 0 33px 
			padding: 26px 0

			border-top: 1px solid #D8D8D8
			font-size: 0.88rem

			color: #606060

			height: 100%
			@media ( max-width:$md2+px )
				padding: 15px 0 
				margin: 0 15px

		&__bot
			// position: absolute
			left: 0
			right: 0
			bottom: 0

			display: flex
			align-items: center

			height: 83px

			font-size: 1rem
			@media ( max-width:$md3+px )
				height: auto

			b
				color: $blue

		&__price
			position: relative
			border-top: 1px solid #D8D8D8


			width: 100%
			height: 100%

			display: flex
			align-items: center

			padding-left: 33px

			margin: 0 33px
			@media ( max-width:$md2+px )
				margin: 15px
			

			&:after
				@include pseudoEl(block, absolute, '')
				top: 0
				left: 0
				@include verticalcenter()

				width: 25px
				height: 25px

				background: url(../img/icons/icons.svg#icon-price) center/cover no-repeat

		&__btn
			background: $blue

			justify-content: center
			align-items: center

			width: 100%
			height: 100%

			color: $white
			font-family: Montserrat-Bold
			display: none
			// opacity: 0
			// transition: opacity 0.3s linear
			bottom: -100%
			transition: bottom 1s linear

			@media ( max-width:$md1+px )
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 83px
				display: flex

			@media ( max-width:$md3+px )
				height: 60px

			a
				color: $white
				text-decoration: none
				border-bottom: 1px solid rgba($white,0 )
				transition: border-color 0.3s linear
				&:hover
					border-bottom: 1px solid $white

.product-col:hover
	.product-cart__btn
		display: flex
		opacity: 1
		bottom: 0

	.product-cart__price
		display: none
		@media ( max-width:$md1+px )
			display: flex


.catalog .tab-content__item
	display: flex