.style
	position: relative
	&::after
		@include pseudoEl(block, absolute, '')
		z-index: 1
		right: 0
		bottom: 0
		
		width: 70%
		height: 60%

		background: #F8F8F8
		@media ( max-width:$md1+px )
			width: 80%

	.container
		position: relative
		z-index: 2

	.section-title
		margin: 0 0 30px 0 

	&-blocks
		display: flex

		@extend .col-8
		@media ( max-width:$md1+px )
			flex: 0 0 100%
			max-width: 100%

		@media ( max-width:$md2+px )
			display: flex
			flex-wrap: wrap

		&__column
			position: relative

			padding: 80px 30px

			height: 487px
			max-width: 50%
			width: 100%

			display: flex
			flex-direction: column
			justify-content: center

			background-size: cover
			background-repeat: no-repeat
			background-position: 100% 100%

			color: $white
			@media ( max-width:$md2+px )
				max-width: 100%
				
				height: auto

				margin-bottom: 15px

			@media ( max-width:$md3+px )
				padding: 20px 20px 80px

			&:last-child
				margin-left: 4px
				@media ( max-width:$md2+px )
					margin-left: 0
					margin-bottom: 0

			&:first-child
				margin-right: 4px
				@media ( max-width:$md2+px )
					margin-right: 0


		&__icon
			margin: 0 0 15px 0 

			max-width: 62px
			height: 62px
			width: 100%

		&__title
			margin-bottom: 5px

		&__text
			font-size: 1rem
			font-family: Montserrat-Regular

		.btn
			color: $white
			position: absolute
			display: flex
			align-items: center

			bottom: 0
			right: 0
			transition: background 0.3s linear, border-color 0.3s linear
			max-width: max-content
			padding: 0 24px
			@media ( max-width:$md3+px )
				left: 0
				right: auto
				background: none
				border: none
				&:hover
					background: none

			&::after
				@include pseudoEl(block, relative, '')
				width: 18px
				height: 13px
				right: 0
				left: auto
				@include white()
				background: url(../img/icons/icons.svg#icon-arrowBtn) 100%/cover no-repeat
				margin-left: 10px
				transition: right 0.3s linear
				
			&:hover
				border-color: #002440
				background: #002440
				&::after
					right: -5px

	&-info
		@extend .col-4
		@media ( max-width:$md1+px )
			margin-top: 30px

			flex: 0 0 100%
			max-width: 100%

		&__text
			font-size: 1rem

		.btn--arrow
			margin-top: 30px

		




		