
	
.breadcrumbs
	padding-top: 16px
	padding-bottom: 16px
	@extend .col-12

	ul
		display: flex
		
		padding: 0

		list-style-type: none

		margin: 0
		font-size: 0.88rem
		@media ( max-width: 526px )
			font-size: 1rem

		li
			position: relative
			padding-left: 15px

			&::after
				content: "-"
				position: absolute
				left: 0
				top: 0

				color: #9B9B9B

				margin-left: 6px

			&:first-child
				padding-left: 0
				
				&:after
					display: none

			a
				text-decoration: none
				color: #9B9B9B

			span
				color: #9B9B9B

.content-breadcrumbs
	margin-bottom: 15px

	ul
		display: flex

		padding: 0
		
		list-style-type: none
		font-size: 0.88rem
		@media ( max-width: 526px )
			flex-direction: column
			align-items: flex-start
			font-size: 1.3rem

		li
			position: relative
			padding-right: 15px

			&::after
				content: "-"
				position: absolute
				right: 3px
				top: 0

				margin-left: 0px

				background-clip: text
				color: transparent

			&:last-child
				padding-left: 0
				
				&:after
					display: none

			a
				background-clip: text
				color: transparent

