.samples
	.product-cart__price
		color: $blue
		display: flex
		justify-content: space-between

		.price
			color: #ff9d76
			font-family: Montserrat-Bold
			@extend .h3

		.price-desc
			position: relative
			&:after
				@include pseudoEl(block, absolute, '')
				height: 1px
				width: calc( 100% + 10px )
				margin-left: -5px
				@include verticalcenter()
				background: $orange
			