.section-acc
	padding-top: 0
	@media ( max-width:$md3+px )
		padding-bottom: 0

	.content-blocks
		margin-bottom: 40px
		@extend .col-12

	.acc-block
		margin-bottom: 20px

		background: #FFFFFF
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
		@media ( max-width: 526px )
			padding:  18px 25px

		&__link
			display: flex
			justify-content: space-between
			align-items: center

			padding-bottom: 0

			cursor: pointer
			transition: padding-bottom 0.5s linear

		&__title
			padding: 25px 50px

			max-width: 80%
			width: 100%

			@extend .h5
			font-family: Montserrat-Bold
			@media ( max-width:$md1+px )
				padding: 10px 0

				
		&__icon
			position: relative

			margin: 0 50px 0 0

			cursor: pointer
			@media ( max-width:$md3+px )
				margin: 0

			svg
				width: 34px
				height: 34px

				transition: transform 0.5s linear


		&__link.active
			padding-bottom: 25px

			.acc-block__icon
				background: none
				svg
					@include rotate(180deg)

				&::after
					background: #FAC336
					

		&__content
			display: none

			margin: 0 50px
			padding: 25px 0

			font-size: 1rem
			border-top: 2px solid #ff9d76
			@media ( max-width:$md1+px )
				margin: 0

			a
				display: block

				padding-top: 20px

				color: #ff9d76
				text-transform: uppercase
				font-family: Montserrat-Bold

				&:hover
					text-decoration: none