.banSlider
	position: relative
	padding-top: 60px
	.container
		position: relative
		z-index: 2
		padding: 0
		// @media ( max-width:$md3+px )
		// 	padding: 0 15px

	&::after
		@include pseudoEl(block, absolute, '')
		z-index: 1
		left: 0
		bottom: 0
		
		width: 50%
		height: 75%

		background: #F8F8F8
		@media ( max-width:$md1+px )
			top: 0
			right: 0
			left: auto
			bottom: auto
			
			margin-top: 60px

			height: 50%
			width: 75%

.banSlider-box
	&__row
		@include flexbox()
		font-size: 1rem
		@media ( max-width:$md1+px )
			flex-wrap: wrap


	&__left
		display: flex
		flex-direction: column
		justify-content: center
		@extend .col-4
		@media ( max-width:$md1+px )
			flex: 0 0 100%
			max-width: 100%
			margin: 0 0 60px 0 
			// padding: 0
		

	&__title
		margin: 0 0 15px 0 

	&__text
		line-height: 1.2
		margin: 0 0 20px 0 
		max-width: 340px
		width: 100%
		height: auto

	&__right
		position: relative
		@extend .col-8
		@media ( max-width:$md1+px )
			flex: 0 0 100%
			max-width: 100%
			// padding: 0

		img
			width: 100%
	.banSlider__number
		width: 115px
		height: 60px

		position: absolute
		background: rgba(255, 255, 255, 0.1)

		color: $white
		text-align: center
		line-height: 60px	
		font-family: Montserrat-Light

		span
			font-family: Montserrat-Bold
		
	.banSlider__price
		position: absolute
		bottom: 0
		left: 0

		width: 207px
		height: 83px

		background: rgba(255, 255, 255, 0.1)

		line-height: 83px
		text-align: center
		color: $white
		font-size: 2.75rem
		font-family: Montserrat-Bold

	&__nav
		position: relative
		height: 74px
		@extend .col-8

		margin-right: 0
		margin-left: auto

		display: flex
		justify-content: center
		align-items: center
		
		@media ( max-width:$md1+px )
			height: auto

			margin-top: 12px

			flex: 0 0 100%
			max-width: 100%

	&__loupe
		width: 16px
		height: 16px
		svg
			width: 16px
			height: 16px
			transition: fill 0.3s linear 

		&:hover
			svg
				fill: #ff9d76
				cursor: pointer

.banSlider
	.slick-initialized .slick-slide.banSlider-box__row
		display: flex

	.slick-arrow__left
		left: 15px
		right: auto
		// @media ( max-width:$md1+px )
		// 	left: 0

	.slick-arrow__right
		right: 15px
		left: auto
		// @media ( max-width:$md1+px )
		// 	right: 0

.slick-arrow
	display: flex
	align-items: center
	
.slick-arrow__right, .slick-arrow__left
	cursor: pointer
	height: 18px

	@include verticalcenter()
	path
		transition: stroke 0.3s linear 

	&:hover
		path
			stroke: #ff9d76

.fancybox
	// visibility: hidden
	// height: 0px
	// width: 0
	// opacity: 0
	// display: none

.fancybox
	// &:first-child
	visibility: visible
	height: auto
	width: 100%
	opacity: 1
	display: block
					

		