//<MIXIN>------------------------------------------------------------------------------
@import "mixin"
//</MIXIN>------------------------------------------------------------------------------


//<FONTS>------------------------------------------------------------------------------

@import "fonts"

//</FONTS>------------------------------------------------------------------------------


//<RESET STYLES>------------------------------------------------------------------------------

@import "resetStyles"
// @import bootstrap


//</RESET STYLES>------------------------------------------------------------------------------

  

//<LIBRARIES>------------------------------------------------------------------------------
@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"

//</LIBRARIES>------------------------------------------------------------------------------


//<WIDTH PAGE>------------------------------------------------------------------------------

$md1: 991
$md2: 726
$md3: 526

//</WIDTH PAGE>------------------------------------------------------------------------------

//<COLOR>------------------------------------------------------------------------------

$white: #fff
$gray: #F8F8F8
$black: #2E2E2E
$green: green
$pink: pink
$orange: orange
$blue: #003A66
$orange: linear-gradient(180deg, #F5A484 0%, #D06330 100%)

//</COLOR>------------------------------------------------------------------------------

//<MAIN>------------------------------------------------------------------------------
@import "grid"
@import "main"

@import "header"

@import "section-title"
@import "section-ban"
@import "section-breadcrumbs"
@import "section-pagination"
@import "section-style"
@import "section-choice"
@import "section-advantage"
@import "section-portfolio"
@import "section-work"
@import "section-salon"
@import "section-form"
@import "section-seo"
@import "section-catalog"
@import "section-cartProduct"
@import "section-views"
@import "section-recom"
@import "section-samples"
@import "section-partfolio"
@import "section-image"
@import "section-acc"

@import "page-salon"
@import "page-partfolioCart"
@import "page-shares"
@import "page-contact"
@import "page-error"

@import "footer"
@import "animation"

	




//</MAIN>------------------------------------------------------------------------------


//<TASK>------------------------------------------------------------------------------
@import "../task/burger/burger"

@import "task-form"

@import "task-popup"

//</TASK>------------------------------------------------------------------------------
