//<MIXIN>------------------------------------------------------------------------------
@import "mixin"
//</MIXIN>------------------------------------------------------------------------------


//<FONTS>------------------------------------------------------------------------------

@import "fonts"

//</FONTS>------------------------------------------------------------------------------


//<RESET STYLES>------------------------------------------------------------------------------

@import "resetStyles"
// @import bootstrap


//</RESET STYLES>------------------------------------------------------------------------------

  

//<LIBRARIES>------------------------------------------------------------------------------
@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"

//</LIBRARIES>------------------------------------------------------------------------------


//<WIDTH PAGE>------------------------------------------------------------------------------

$md1: 991
$md2: 726
$md3: 526

//</WIDTH PAGE>------------------------------------------------------------------------------


//<MAIN>------------------------------------------------------------------------------

@import "grid"
@import "main"
@import "section-title"
@import "section-ban"

@import "section-breadcrumbs"
@import "section-pagination"
@import "section-style"
@import "section-choice"
@import "section-advantage"
@import "section-portfolio"
@import "section-work"
@import "section-salon"



//</MAIN>------------------------------------------------------------------------------


//<TASK>------------------------------------------------------------------------------
@import "../task/burger/burger"

@import "header"
@import "task-tabs"
@import "task-numberAnim"

@import 'task-checbox'
@import 'task-radio'

@import "task-sidebar"
@import "task-form"

@import "task-popup"

//</TASK>------------------------------------------------------------------------------
