input
	line-height: 43px
	padding: 0 20px

.form-input
	&>div
		position: relative

.input-name, .input-password
	&>div
		&:after
			@include pseudoEl(block, absolute, '')
			top: 50%
			@include translateY(-50%)

			margin-left: 5px

			width: 15px
			height: 15px
.input-name
	&>div
		&:after
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6552 12.7539C12.6282 11.0256 12.0898 9.45401 11.1324 8.31618C10.1807 7.18529 8.8908 6.5625 7.50002 6.5625C6.10924 6.5625 4.81935 7.18529 3.86759 8.31618C2.91116 9.45281 2.37307 11.0222 2.34494 12.7484C2.88576 13.0193 5.12375 14.0625 7.50002 14.0625C10.0696 14.0625 12.1537 13.0254 12.6552 12.7539Z' fill='%23FFCA10'/%3E%3Cpath d='M7.5 6.09375C8.92386 6.09375 10.0781 4.93948 10.0781 3.51562C10.0781 2.09177 8.92386 0.9375 7.5 0.9375C6.07614 0.9375 4.92188 2.09177 4.92188 3.51562C4.92188 4.93948 6.07614 6.09375 7.5 6.09375Z' fill='%23FFCA10'/%3E%3C/svg%3E") 100%/cover no-repeat

.input-password
	&>div
		&:after
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 0C6.28117 0 4.48242 1.79875 4.48242 4.01758C4.48242 6.23641 4.48242 6.97266 4.48242 6.97266H6.47461C6.47461 6.97266 6.47461 5.13616 6.47461 4.01758C6.47461 2.899 7.38142 1.99219 8.5 1.99219C9.61858 1.99219 10.5254 2.899 10.5254 4.01758C10.5254 5.13616 10.5254 6.97266 10.5254 6.97266H12.5176C12.5176 6.97266 12.5176 6.23641 12.5176 4.01758C12.5176 1.79875 10.7188 0 8.5 0Z' fill='%23DEDEDE'/%3E%3Cpath d='M2.49023 7.96875V17H14.5098V7.96875H2.49023ZM8.99805 12.5994V14.2275H8.00195V12.5994C7.70452 12.4269 7.50391 12.1052 7.50391 11.7373C7.50391 11.1881 7.95075 10.7412 8.5 10.7412C9.04925 10.7412 9.49609 11.1881 9.49609 11.7373C9.49609 12.1052 9.29548 12.4269 8.99805 12.5994Z' fill='%23DEDEDE'/%3E%3C/svg%3E") 100%/cover no-repeat