

.popupBtn-js 
	background-color: #0d52e9
	position: relative
	color: #fff
	border: none
	padding: 1.25em 2em
	font-size: 0.75em
	letter-spacing: 1px
	text-transform: uppercase
	cursor: pointer
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1)
	transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1)

	&:hover 
		background: #0c4ddb

	&:focus 
		outline: none

//<POPUP>---------------------------------------
.modal-overlay 
	display: flex
	align-items: center
	justify-content: center
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 5
	background-color: rgba(0, 0, 0, 0.6)
	opacity: 0
	visibility: hidden
	backface-visibility: hidden
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1)

	&.active 
		opacity: 1
		visibility: visible

.modal 
	display: none
	align-items: center
	justify-content: center
	position: relative
	margin: 0 auto
	background-color: #fff
	width: 740px
	max-width: 75rem
	min-height: 20rem
	// padding: 1rem
	border-radius: 3px
	opacity: 0
	overflow-y: auto
	visibility: hidden
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
	backface-visibility: hidden
	transform: scale(1.2)
	transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)
	background-image: url(../img/section-popup/01.png)
	background-repeat: no-repeat
	background-position-x: calc( 100% - 40px )
	background-position-y: center
	.close-modal 
		display: flex
		position: absolute
		z-index: 2
		cursor: pointer
		top: 5px
		right: 5px

		width: 15px
		height: 15px
		
		opacity: 0
		backface-visibility: hidden
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1)
		transition-delay: 0.3s

		svg 
			width: 15px
			height: 15px

	&-content 
		width: 100%

		margin-top: 80px
		padding: 25px 40px 40px 40px 
		opacity: 0
		backface-visibility: hidden
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1)
		transition-delay: 0.3s
		@media ( max-width:$md2+px )
			padding: 25px
		&__sub
			max-width: 370px
			margin-bottom: 10px

	&-title
		position: absolute
		top: 0
		left: 0

		width: 100%

		background: #F8F8F8
		padding: 28px 50px
		font-family: Montserrat-Bold
		

	&.active 
		visibility: visible
		opacity: 1
		transform: scale(1)
		display: flex


		.modal-content 
			opacity: 1

		.close-modal 
			// transform: translateY(10px)
			opacity: 1


	.form-input
		font-family: Montserrat-Bold
		margin-bottom: 30px

		input
			font-family: Montserrat-Regular
			padding: 0 30px
			border-bottom: 1px solid #26242D
			line-height: 40px


.modal-thanks
	background-image: none
	background-color: $blue
	color: $white
	@extend .h3

	max-width: 580px
	min-height: 225px

	.close-modal
		path
			stroke: $white

	.modal-content
		max-width: 350px
		width: 100%
		padding: 0
		text-align: center
		margin: 0
//</POPUP>---------------------------------------
