//============<page-vacancies>============
.page-vacancies
	.content
		padding-bottom: 90px

	.container
		position: relative

.section-vacancies
	margin-top: 37px

	.btn
		border: none

	//----<vacancies-block>----//
	.vacancies-block
		display: flex
		align-items: center

		padding: 29px 46px 45px 45px
		margin-bottom: 20px

		background: #FFFFFF
		box-shadow: 0px 0px 7px rgba(135, 135, 135, 0.25)
		border-radius: 10px
		@media ( max-width: 991px )
			padding: 25px 22px 45px 19px
			flex-wrap: wrap

	.vacancies-left
		max-width: 70%
		width: 100%
		padding-right: 25px
		border-right: 2px solid $yellow-2
		@media ( max-width: 991px )
			padding-right: 0
			padding-bottom: 33px

			border-right: none
			border-bottom: 2px solid $yellow-2

			max-width: 100%

		&__data
			font-size: 0.9rem
			line-height: 18px
			color: #959595

			margin-bottom: 10px

		&__title
			margin-bottom: 5px
		
		&__text
			margin-bottom: 30px	

	.vacancies-right
		display: flex
		flex-direction: column

		justify-content: center
		align-items: flex-start

		padding-left: 35px

		height: 100%
		width: 30%
		@media ( max-width: 991px )
			justify-content: space-around
			align-items: center
			flex-direction: row

			padding-left: 0
			padding-top: 50px

			width: 100%

		@media ( max-width: 526px )
			flex-direction: column
			align-items: flex-start


		&__box
			display: flex
			margin-bottom: 36px
			@media ( max-width: 991px )
				width: 30%
				margin-bottom: 0
			@media ( max-width: 526px )
				width: 100%
				margin-bottom: 30px

			
			&:last-child
				margin-bottom: 0
				@media ( max-width: 526px )
					margin-bottom: 0

		&__icon
			max-width: 49px
			width: 100%

			display: flex
			align-items: center

		&__years
			img
				max-width: 37px

		&__text
			padding-left: 17px

			display: flex
			flex-direction: column
			align-items: flex-start

			span
				font-family: "MontserratMedium"
				font-size: 0.9rem
				line-height: 18px

	//----</vacancies-block>----//

//============</page-vacancies>============
