//============<page-news>============

.page-news
	.section-news

		.container
			position: relative
			z-index: 3

		.info-block__img
			max-width: 500px
			@media ( max-width: 991px  )
				max-width: 100%

		.info-block__text
			@media ( max-width: 991px  )
				max-width: 100%
			
//============</page-news>============