//============<page-news>============
.page-command
	padding-bottom: 50px

	.container
		position: relative

.section-command
	margin-bottom: 40px

	.command-slider
		&__title
			background: linear-gradient(93.57deg,#fac336 13.84%,#f6a103 122.84%)
			background-clip: text
			color: transparent

			margin-bottom: 40px

	//----<command-block>----//
	.command-block
		// max-width: 270px	
		width: 100%
		height: auto

		background: #FFFFFF
		box-shadow: 0px 0px 7px rgba(135, 135, 135, 0.25)
		border-radius: 10px

		padding-bottom: 41px
		margin: 10px 15px
		&:focus
			outline: none

		&__box
			position: relative
			
			padding: 41% 0

			width: 100%

			border-radius: 10px
			overflow: hidden

		&__img
			position: absolute
			top: 0
			left: 0

			display: block

			width: 100%
			height: 100%

			img
				position: relative
				z-index: 2

				width: 100%
				height: 100%

				vertical-align: bottom
				opacity: 1
				object-fit: cover

		&__title
			padding: 16px 21px 0 

		&__text
			padding: 10px 21px 0 

			font-size: 0.9rem

	


		
	//----</command-block>----//

	.slick-track
		margin-left: 0

	//----<slick-arrow>----//
	.slick-arrow
		position: absolute
		top: 50%

		margin-top: -14px

		width: 17px
		height: 35px
		cursor: pointer
		@media ( max-width: 1270px )
			top: 0

			margin-top: -58px

			width: 58px
			height: 58px
		@media ( max-width: 526px )
			bottom-top: -28px

			top: auto
			bottom: 0
			z-index: 99


		path
			transition: 0.3s
			
		&:hover
			path
				stroke: $yellow-3
				@media ( max-width: 1270px )
					stroke: $white
			

	.slick-arrow__left
		left: -4%
		@media ( max-width: 1270px )
			left: auto
			right: 1%
			// margin-left: -58px
			transform: translateX(-100%)
			margin-right: 10px

		@media ( max-width: 526px )
			margin-right: auto

			left: auto
			right: 50%

			transform: translateX(0%)
			transform: translateY(35%)
			margin-right: 5px


		
			

	.slick-arrow__right
		right: -4%
		@media ( max-width: 1270px )
			right: 1%

		@media ( max-width: 526px )
			left: 50%
			right: auto

			// margin-left: 58px

			transform: translateX(0%)
			transform: translateY(35%)
			margin-left: 5px



	//----</slick-arrow>----//

//============</page-news>============

