//============<page-faq>============
.page-faq
	.container
		position: relative
		
	.faq-btn
		border: none
		font-size: 1rem
		padding: 0 10px

		@media ( max-width: 526px )
			max-width: 40px
			height: 40px 
			
			span
				display: none

		.faq-icon
			display: none
			@media ( max-width: 526px )
				display: block

				font-size: 24px

				

.section-faq
	margin-top: 15px
	padding-bottom: 90px

	.content-blocks
		margin-bottom: 40px

	//----<faq-block>----//
	.faq-block
		margin-bottom: 10px
		padding:  25px 50px

		background: #FFFFFF
		box-shadow: 0px 0px 7px rgba(135, 135, 135, 0.25)
		border-radius: 10px
		@media ( max-width: 526px )
			padding:  18px 15px 30px

		&__link
			display: flex
			justify-content: space-between
			align-items: center

			cursor: pointer
			padding-bottom: 0
			transition: padding-bottom 0.5s linear

		&__title
			max-width: 80%
			width: 100%

			@media ( max-width: 720px )
				font-size: 1.1rem
			@media ( max-width: 526px )
				font-size: 1rem
				
		&__icon
			position: relative

			width: 47px
			height: 47px

			background: linear-gradient(93.57deg, #FAC336 13.84%, #F6A103 122.84%)
			border-radius: 50%
			border: 2px solid #FAC336

			cursor: pointer
			@media ( max-width: 526px )
				width: 40px
				height: 40px

			&::after, &::before
				content: ''
				position: absolute
				top: 50%
				left: 50%

				width: 22px
				height: 3px

				margin-top: -2px
				margin-left: -11px

				background: $white
				@media ( max-width: 526px )
					width: 18px
					margin-left: -9px
				
			&::before
				transform: rotate(90deg)

		&__link.active
			padding-bottom: 25px
			@media ( max-width: 526px )
				padding-bottom: 22px

			.faq-block__icon
				background: none

				&::after
					background: #FAC336
					

		&__content
			display: none
			border-top: 1px solid $yellow-3
			padding-top: 25px

	//----</faq-block>----//
	


//============</page-faq>============
