//============<pagination>============

.pagination
	position: relative
	z-index: 3

	width: 100%

	font-size: 1.5rem
	@media ( max-width: 526px  )
		font-size: 1.3rem
		
	ul
		display: flex
		justify-content: center
		align-items: center

		padding: 0

		list-style-type: none
		
		li
			margin-left: 5px
			margin-right: 5px
			
			&:last-child,&:first-child
				font-size: 1rem
				font-family: "MontserratBold"

				a
					background: linear-gradient(93.57deg,#fac336 13.84%,#f6a103 122.84%)
					background-clip: text
					color: transparent

			&.active
				a
					background: linear-gradient(93.57deg,#fac336 13.84%,#f6a103 122.84%)
					background-clip: text
					color: transparent
					

			&:last-child
				float: left
				margin-right: 0
				margin-left: auto

				a:hover
					color: #303030

			&:first-child
				float: right
				margin-right: auto
				margin-left: 0

				a:hover
					color: #303030
				
			a
				color: #303030

				&:hover
					background: linear-gradient(93.57deg,#fac336 13.84%,#f6a103 122.84%)
					background-clip: text
					color: transparent
					

//============</pagination>============
