//============<section-advantage>============
.section-advantage
	position: relative
	z-index: 2
	
	.container
		display: flex
		justify-content: space-between
		@media ( max-width: 991px )
			justify-content: center
			flex-wrap: wrap


	//----<advantage-block>----//
	.advantage-block
		max-width: 18.3333%
		width: 100%
		height: auto

		text-align: center
		@media ( max-width: 991px )
			margin-bottom: 30px

			max-width: 33.3333%

		@media ( max-width: 526px )
			max-width: 50%


		&__img
			margin: 0 auto 15px
			
			max-width: 103px
			width: 100%
			height: auto
			@media ( max-width: 526px )
				max-width: 85px

		&__title
			margin-bottom: 7px

		&__text
			@media ( max-width: 526px )
				margin: 0 auto
				
				max-width: 110px

	//----</advantage-block>----//
	
//============</section-advantage>============
	