
//============<BGSLIDER>============
.section-bgSlider
	width: 100%
	height: 100vh

	&.slick-dotted.slick-slider
		margin-bottom: 0

	@media ( max-width: 630px )
		height: 440px
		

	.container--bgSlider
		position: relative
		z-index: 2

		display: flex
		flex-direction: column
		align-items: flex-start
		@media ( max-width: 1390px  )
			padding-left: 10%

		@media ( max-width: 991px  )
			padding-left: 15px
		
	.slick-list
		height: 100%

		.slick-track
			height: 100%

	.slick-arrow
		position: absolute
		z-index: 20
		top: 50%

		transform: translateY(-25%)

		cursor: pointer

		path
			transition: stroke 0.3s linear

		&__left
			left: 5%

		&__right
			right: 5%

		&:hover
			path
				stroke: $yellow-1

	.slick-dots
		bottom: 10%
		@media  ( max-width: 526px  )
			bottom: 26px


		li
			border: 1px solid rgba(255, 255, 255, 0.3)
			border-radius: 50%
			margin-left: 11px
			margin-right: 11px
			@media  ( max-width: 526px  )
				width: 17px
				height: 17px

			&.slick-active
				background: #F8AE16
				box-shadow: 0px 0px 10px rgba(250, 194, 52, 0.51)

	// .slick-initialized
		
	// 		display: flex

//----<bgSlider-block>----//

.bgSlider-block
	position: relative

	display: flex !important
	align-items: center

	width: 100%
	height: 100%
	@media ( max-width: 526px )
		align-items: flex-start
		

	//----<bgSlider-block__img>----//

	&__img
		position: absolute
		top: 0
		left: 0
		
		width: 100%
		height: 100%
		background: hsla(0,0%,100%,.25) border-box

		img
			width: 100%
			height: 100%
			filter: blur(2.5px)


		&::after
			content: ''
			position: absolute
			z-index: 1
			top: 0
			left: 0

			opacity: 1

			width: 100%
			height: 100%

			background: rgba(41,41,41,0.65)

		&::before
			content: ''
			position: absolute
			z-index: -1
			top: 0
			right: 0
			bottom: 0
			left: 0

			margin: -50px
			margin-bottom: 0

			// filter: blur(2.5px)
			// background: url(../img/section-bgSlider/01.jpg) 0 / cover fixed

	//----</bgSlider-block__img>----//


	//----<bgSlider-block__text>----//

	&__text
		max-width: 770px

		margin-bottom: 30px

		line-height: 78px
		color: #fff
		@media ( max-width: 630px )
			margin-bottom: 10px
			
		@media ( max-width: 526px )
			margin-top: 30px


	//----</bgSlider-block__text>----//

	//----<bgSlider-ad>----//

	.bgSlider-advantage
		display: flex
		justify-content: flex-start

		margin-bottom: 40px
		@media ( max-width: 630px )
			flex-direction: column
			align-items: center			

		@media ( max-width: 526px )
			margin-bottom: 18px

		.advantage-block
			display: flex
			align-items: center

			max-width: 240px
			width: 100%
			height: auto

			margin-left: 0

			line-height: 20px

			font-family: "MontserratRegular"
			color: $white
			@media ( max-width: 630px )
				margin-top: 0


			+ .advantage-block
				margin-left: 25px

				@media ( max-width: 630px )
					margin-left: 0	
					margin-top: 15px

				@media ( max-width: 526px )
					margin-top: 10px


			&__img
				max-width: 48px
				width: 100%

				margin-right: 20px
				@media ( max-width: 526px )
					margin-right: 5px

	//----</bgSlider-ad>----//
	//----</bgSlider-block__text>----//
	@media ( max-width: 526px  )
		.btn
			max-width: 137px
			height: 47px

			padding: 0 15px 
			
	//----<bgSlider-ad>----//

	
//----</bgSlider-block>----//






//============</BGSLIDER>============
	