//-------------------------------------------------------------------------//
.ban
	position: relative
	@include parallaxBg()
	padding: 140px 0 280px
	@media ( max-width:$md3+px )
		padding: 60px 0 140px

	&::after
		@include pseudoEl(block, absolute, '')
		left: 0
		top: 0
		bottom: 0
		right: 0

		background: linear-gradient(93.07deg, rgba(0, 0, 0, 0.75) 42.69%, rgba(0, 0, 0, 0) 92.76%)

	&::before
		@include pseudoEl(block, absolute, '')
		z-index: 2

		bottom: -2px
		left: 0
		right: 0

		width: 100%
		height: 139px

		background-image: url(../img/section-ban/bottom-01.png)
		background-repeat: no-repeat
		background-size: 100%
		background-position: center bottom

	.container
		position: relative
		z-index: 2

	&-info
		padding: 0 15px
		max-width: 555px
		color: $white
		@media ( max-width:$md3+px )
			max-width: 320px

		&__titie
			line-height: 1.2
			margin-bottom: 10px
			@media ( max-width:$md3+px )
				font-size: $mfz28

			span
				color: #A7CBDA

		&__text
			max-width: 470px
			line-height: 28px
			@media ( max-width:$md3+px )
				line-height: 24px

		.btn
			margin-top: 30px
