.car
	&-col
		@extend .col-4
		margin-bottom: 30px
		@media ( max-width:$md1+px )
			max-width: 50%
			flex: 0 0 50%

		@media ( max-width:$md3+px )
			max-width: 100%
			flex: 0 0 100%

	&-block
		position: relative

		display: flex
		flex-direction: column
		justify-content: space-between
		
		height: 100%
		
		&__top
			margin-right: 40px
			transition: all 0.3s linear 

		&__imgBox
			@include img_03(30%)
			margin-right: 40px

			border-bottom-right-radius: 70px
			@include blackwhite()
			transition: filter 0.3s linear

		&__img
			@include img_02()

			img
				@include img_01()
		//-------------------------------------------------------------------------//

		&__info
			margin-top: -100px
			padding: 120px 70px 45px 25px

			height: 100%

			background: #F2F4F7
			transition: all 0.3s linear
			color: $black

		&__title

		&__name
			@include f500()
			font-size: 20px

		&__subText
			@include f400()
			@media ( max-width:$md3+px )
				font-size: $mfz18


	.btn--arrow
		position: absolute
		bottom: 40px
		right: 25px
		
		width: 29px
		height: 20px
		svg
			max-width: 100%
			max-height: 100%
			transition: fill 0.3s linear

	&-block:hover
		cursor: pointer
		.car-block
			&__imgBox
				filter: grayscale(0)

			&__info
				background: $blue
				color: $white
				padding-bottom: 20px

			&__top
				margin-right: 0

		.btn--arrow
			svg
				fill: $white

	.btn--blue
		@media screen and ( min-width: 991px  )
			margin: 10px auto 0

.car-info
	overflow: hidden
	opacity: 0
	width: 0
	padding: 0
	margin: 0
	height: 0
	position: absolute

	