.section-map
	.map
		&-box
			position: relative
			overflow: hidden
			padding-bottom: 24%
			min-height: 350px

			&>ymaps
				position: absolute
				left: 0
				right: 0
				left: 0
				bottom: 0
				width: 100% !important
				height: 100% !important