
.options
	&-col
		@extend .col-3

	&-block 
		
		&__boxImg
			@include img_03(40%)
			margin-bottom: 20px

		&__img
			@include img_02()
			background-color: $blue
			img
				@include img_01()

		&__number
			line-height: 50px
			@include f700()
			color: #F2F4F7
			font-size: 70px
			@include transitColor(0.3s)
			
		&__text

	&-block:hover
		.options-block__number
			color: $blue

