.section-title
	position: relative
	padding: 0 15px 20px
	margin-bottom: 60px

	width: 100%

	text-align: center
	@media ( max-width:$md3+px )
		margin-bottom: 40px
		
	&::after
		@include pseudoEl(block, absolute, '')
		@include horizcenter()
		bottom: 0

		width: 70px
		height: 3px

		background: #A4ABB5