@import url(../../node_modules/normalize.css/normalize.css);

@import url(../../node_modules/slick-carousel/slick/slick.css);

@import url(../../node_modules/slick-carousel/slick/slick-theme.css);

@import url(../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: 100%;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.page {
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0 15px;
  max-width: 100%;
  width: 100%;
}

.section-title {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.section-title_sup {
  margin-bottom: 20px;
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title_sub {
  max-width: 550px;
  width: 100%;
  margin: auto;
  margin-bottom: 90px;
  color: #5f6870;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.section-text_sub {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  color: #5f6870;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 157px;
  height: 51px;
  border: 1px solid #FF003F;
  border-radius: 50px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #FF003F;
  cursor: pointer;
  -webkit-transition: background 0.4s linear, border-color 0.4s linear;
  -o-transition: background 0.4s linear, border-color 0.4s linear;
  transition: background 0.4s linear, border-color 0.4s linear;
}

.btn:hover {
  border-color: #fff;
}

.btn--red {
  background: #FF003F;
  color: #fff;
}

.btn--red:hover {
  background: #ff4c7a;
  border-color: #ff4c7a;
}

.ScrollUp {
  position: absolute;
  bottom: 150px;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #FF003F;
  border-radius: 5px;
}

.ScrollUp__img {
  height: 9px;
  width: 16px;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  max-height: 585px;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background 0.2s linear, -webkit-box-shadow 0.2s linear;
  -o-transition: background 0.2s linear, box-shadow 0.2s linear;
  transition: background 0.2s linear, box-shadow 0.2s linear;
  transition: background 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 115px;
  width: 100%;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 80px;
  list-style-type: none;
}

.header-menu__ul li {
  display: block;
}

.header-menu__ul li a {
  color: #fff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header-menu__ul li a:hover {
  color: #FF003F;
}

.header-menu__ul li + li {
  padding-left: 26px;
}

.header .logo-img-top {
  display: block;
}

.header .logo-img-bottom {
  display: none;
}

.header-burger {
  display: none;
}

.header.activeFix {
  background: white;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.header.activeFix .logo-img-top {
  display: none;
}

.header.activeFix .logo-img-bottom {
  display: block;
}

.section-slider .section-slider__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 585px;
}

.section-slider__img {
  position: absolute;
  top: 0;
  width: 100%;
}

.section-slider__img img {
  position: relative;
  width: 100%;
  height: auto;
}

.section-slider__img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000B2D), color-stop(0.01%, rgba(0, 11, 45, 0.8)), color-stop(30.73%, rgba(0, 11, 45, 0.6)), to(rgba(0, 10, 40, 0)));
  background: -o-linear-gradient(left, #000B2D 0%, rgba(0, 11, 45, 0.8) 0.01%, rgba(0, 11, 45, 0.6) 30.73%, rgba(0, 10, 40, 0) 100%);
  background: linear-gradient(90deg, #000B2D 0%, rgba(0, 11, 45, 0.8) 0.01%, rgba(0, 11, 45, 0.6) 30.73%, rgba(0, 10, 40, 0) 100%);
}

.section-slider .slick-dots {
  bottom: 43px;
}

.section-slider .slick-dots li {
  width: 26px;
  height: 6px;
  background: #9B9B9B;
  border-radius: 20px;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.section-slider .slick-dots li.slick-active {
  background: #FF003F;
}

.section-slider__info {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-slider__text {
  margin-bottom: 40px;
}

.section-slider__text h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: #fff;
  margin-bottom: 6px;
}

.section-slider__text p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  color: #fff;
}

.section-slider__text p:first-child {
  font-size: 24px;
  margin-bottom: 14px;
}

.section-advantages {
  padding: 100px 0;
}

.section-advantages .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  max-width: 470px;
  width: 100%;
  height: auto;
}

.advantages-block__img {
  margin-right: 50px;
  max-width: 65px;
  width: 100%;
}

.advantages-block__img img {
  width: 100%;
  height: auto;
}

.advantages-block__title {
  margin-bottom: 20px;
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}

.advantages-block__text {
  color: #5f6870;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.section-about {
  padding: 100px 0;
  background-color: #fafafa;
}

.section-about__img {
  position: relative;
  max-width: 580px;
  width: 100%;
  border-radius: 20px;
}

.section-about__img img {
  width: auto;
  border-radius: 20px;
}

.section-about__img:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 50, 146, 0.25);
  border-radius: 20px;
}

.section-about__text {
  max-width: 550px;
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
}

.section-about__text .section-title {
  text-align: left;
}

.section-services {
  padding: 100px 0;
}

.section-services .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-services .services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-services .services-block {
  margin-bottom: 20px;
  padding: 34px 32px;
  max-width: 355px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: box-shadow 0.2s linear, transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear, -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear;
}

.section-services .services-block:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 16px 24px rgba(17, 30, 68, 0.16);
          box-shadow: 0 16px 24px rgba(17, 30, 68, 0.16);
}

.section-services .services-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #e9eefc;
}

.section-services .services-block__img img {
  padding: 19px;
  width: 100%;
  height: auto;
}

.section-services .services-block__title {
  margin-bottom: 20px;
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.section-services .services-block__text {
  color: #5f6870;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.section-callaction {
  padding: 100px 0;
  background-color: #fafafa;
}

.section-callaction .callaction-block {
  margin: auto;
  max-width: 640px;
  width: 100%;
  text-align: center;
}

.section-callaction .callaction-block__title {
  margin-bottom: 30px;
  color: #000000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}

.section-callaction .callaction-block__text {
  margin-bottom: 55px;
  color: #5f6870;
}

.section-callaction .callaction-block .btn {
  margin: auto;
}

.section-portfolio {
  padding: 100px 0;
}

.section-portfolio .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-portfolio .portfolio-tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.section-portfolio .portfolio-tabs__content {
  display: none;
  padding-top: 60px;
}

.section-portfolio .portfolio-tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-portfolio .portfolio-tabs__content.active .portfolio-tabs__img {
  -webkit-animation: opacity 2s ease normal;
          animation: opacity 2s ease normal;
}

.section-portfolio .portfolio-tabs__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  max-width: 355px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.section-portfolio .portfolio-tabs__img:after {
  content: "View project";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 35px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.section-portfolio .portfolio-tabs__img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-top: 0;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/icons.svg#icon-zoom);
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.section-portfolio .portfolio-tabs__img:hover:after {
  z-index: 1;
  opacity: 1;
}

.section-portfolio .portfolio-tabs__img:hover:before {
  z-index: 2;
  opacity: 1;
}

.section-portfolio .portfolio-tabs .btn.active {
  background: #FF003F;
  color: #fff;
}

.section-portfolio .portfolio-tabs .btn:hover {
  background: #FF003F;
  color: #fff;
}

.section-portfolio .portfolio-tabs .btn + .btn {
  margin-left: 8px;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section-faq {
  padding: 100px 0;
  background: #FAFAFA;
}

.section-faq .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-faq .faq-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-faq .faq-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 650px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

.section-faq .faq-question__title {
  position: relative;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.section-faq .faq-question-icon {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -4px;
  height: 9px;
  width: 16px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.section-faq .faq-question-icon path {
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}

.section-faq .faq-question__text {
  margin: 17px 0;
  max-height: 0;
  font-size: 14px;
  line-height: 19px;
  color: #5F6870;
  -webkit-transition: max-height .3s ease, margin .3s ease;
  -o-transition: max-height .3s ease, margin .3s ease;
  transition: max-height .3s ease, margin .3s ease;
  overflow: hidden;
}

.section-faq .faq-question.active .faq-question__title {
  color: #FF003F;
}

.section-faq .faq-question.active .faq-question__text {
  margin: 35px 0;
  max-height: 500px;
}

.section-faq .faq-question.active .faq-question-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-faq .faq-question.active .faq-question-icon path {
  fill: #FF003F;
}

.section-riviews {
  padding: 100px 0;
}

.section-riviews .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-riviews .section-title {
  margin-bottom: 75px;
}

.section-riviews .slider-person {
  position: relative;
  max-width: 450px;
  width: 100%;
  margin: 0 auto 30px;
}

.section-riviews .slider-person .slick-center {
  margin: 0;
}

.section-riviews .slider-person .slick-center .slider-person__img {
  width: 85px;
  height: 85px;
}

.section-riviews .slider-person svg {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: -50px;
  fill: #5F6870;
  -webkit-transition: fill .2s ease;
  -o-transition: fill .2s ease;
  transition: fill .2s ease;
  cursor: pointer;
}

.section-riviews .slider-person svg:first-child {
  left: -50px;
  right: auto;
}

.section-riviews .slider-person svg:hover {
  fill: #ff003f;
}

.section-riviews .slider-person .slick-list {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.section-riviews .slider-person .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-riviews .slider-person__block {
  margin: 0 9px;
}

.section-riviews .slider-person__img {
  width: 70px;
  height: 70px;
}

.section-riviews .slider-person__img img {
  border-radius: 50%;
}

.section-riviews .slider-info .slick-list {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.section-riviews .slider-info__profile {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #A2A2A2;
}

.section-riviews .slider-info__profile b {
  font-size: 20px;
  color: #33383D;
}

.section-riviews .slider-info__comment {
  padding-top: 90px;
  text-align: center;
  font-size: 18px;
  color: #5F6870;
  background: url("../img/icons/icons.svg#icon-reviews-quote") no-repeat top;
  background-size: 36px;
  background-position-y: 25px;
}

.section-riviews .slider-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.section-contact {
  padding: 100px 0;
}

.section-contact .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

.section-contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.section-contact .contact-form .contact-form__block {
  width: 100%;
  height: auto;
  margin-right: 55px;
}

.section-contact .contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.section-contact .contact-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  max-width: 385px;
  width: 100%;
  height: auto;
}

.section-contact .contact-form__input input {
  padding: 0 30px;
  width: 100%;
  height: 52px;
  background: #F5F5F5;
  border-radius: 50px;
  border: none;
}

.section-contact .contact-form__textarea {
  width: 100%;
}

.section-contact .contact-form__textarea textarea {
  width: 100%;
  min-width: 100%;
  max-width: 185px;
  min-height: 175px;
  max-height: 250px;
  height: auto;
  margin-bottom: 35px;
  padding: 17px 30px;
  background: #F5F5F5;
  border-radius: 10px;
  border: none;
}

.section-contact .contact-form__row:nth-child(2) .contact-form__input {
  max-width: 100%;
}

.section-contact .contact-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  width: 100%;
  height: auto;
}

.section-contact .contact-info__block .contact-info__row {
  margin-bottom: 25px;
}

.section-contact .contact-info__block .contact-info__svg {
  max-width: 18px;
  height: auto;
  margin-bottom: 10px;
}

.section-contact .contact-info__block .contact-info__title {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.section-contact .contact-info__block .contact-info__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: #5F6870;
}

.section-contact .btn {
  max-width: 195px;
  width: 100%;
}

.section-blog {
  padding: 100px 0;
  background: #FAFAFA;
}

.section-blog .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-blog .blog-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-blog .blog-blocks .blog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 355px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow .3s ease, -webkit-transform .3s ease;
  transition: -webkit-box-shadow .3s ease, -webkit-transform .3s ease;
  -o-transition: box-shadow .3s ease, transform .3s ease;
  transition: box-shadow .3s ease, transform .3s ease;
  transition: box-shadow .3s ease, transform .3s ease, -webkit-box-shadow .3s ease, -webkit-transform .3s ease;
}

.section-blog .blog-blocks .blog-block:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
}

.section-blog .blog-blocks .blog-block__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.section-blog .blog-blocks .blog-block__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-blog .blog-blocks .blog-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 29px 40px;
  text-align: left;
}

.section-blog .blog-blocks .blog-block__data {
  font-size: 14px;
  line-height: 19px;
  color: #757883;
  margin-bottom: 10px;
}

.section-blog .blog-blocks .blog-block__title {
  margin-bottom: 10px;
}

.section-blog .blog-blocks .blog-block__title a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #030B24;
}

.section-blog .blog-blocks .blog-block__text {
  line-height: 24px;
  color: #5F6870;
  margin-bottom: 20px;
}

.section-blog .blog-blocks .blog-block__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  line-height: 19px;
  color: #A3A3A3;
}

.section-blog .blog-blocks .blog-block__stats .stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-blog .blog-blocks .blog-block__stats .stats-item + .stats-item {
  margin-left: 20px;
}

.section-blog .blog-blocks .blog-block__svg {
  margin-right: 8px;
  max-width: 14px;
  width: 100%;
  height: 14px;
}

.footer {
  width: 100%;
  height: 100px;
  background: #01144E;
}

.footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-company {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.footer-social__box + .footer-social__box {
  margin-left: 18px;
}

.footer-social__icon {
  max-height: 18px;
  height: 100%;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

@media (min-width: 992px) {
  .header.activeFix .header-menu__ul li a {
    color: #383838;
  }
}

@media (max-width: 991px) {
  .section-title_sup {
    font-size: 35px;
  }

  .header-burger {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-burger__svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-burger__svg .burger-line--top {
    stroke-dasharray: 40 139;
  }

  .header-burger__svg .burger-line--bottom {
    stroke-dasharray: 40 180;
  }

  .header-burger.active .header-burger__svg {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header-burger.active .header-burger__svg .burger-line--top {
    stroke-dashoffset: -98px;
  }

  .header-burger.active .header-burger__svg .burger-line--bottom {
    stroke-dashoffset: -138px;
  }

  .header-burger.active .header-burger__svg .burger-line {
    stroke: #fff;
  }

  .burger-line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, stroke 400ms;
    -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, stroke 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, stroke 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  .header.activeFix .burger-line {
    stroke: #01144e;
  }

  .header-menu {
    position: absolute;
    top: 0;
    right: -2000px;
    padding-top: 50px;
    min-width: 320px;
    max-width: 50%;
    width: 100%;
    height: 100vh;
    background: #05237D;
    -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 20px;
    -webkit-transition: right 400ms ease;
    -o-transition: right 400ms ease;
    transition: right 400ms ease;
  }

  .header-menu.active {
    right: 0;
  }

  .header-menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu__ul li.active a {
    color: #FF003F;
  }

  .header-menu__ul li + li {
    margin-top: 27px;
    padding-left: 0;
  }

  .header-logo {
    margin-left: 20px;
  }

  .section-slider__text h1 {
    font-size: 55px;
  }

  .section-slider__img {
    height: 100%;
  }

  .section-slider__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .advantages-block__title {
    font-size: 16px;
  }

  .advantages-block__text {
    font-size: 14px;
  }

  .section-about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-about__img {
    max-width: 100%;
  }

  .section-about__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-about__text {
    max-width: 100%;
    margin-left: 0;
  }

  .section-services .services-blocks {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .section-services .services-block__title {
    font-size: 16px;
  }

  .section-services .services-block__text {
    font-size: 14px;
  }

  .section-callaction .callaction-block__title {
    font-size: 28px;
  }

  .section-portfolio .portfolio-tabs__content.active {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .section-faq .faq-question__title {
    font-size: 18px;
  }

  .section-riviews .slider-info__profile {
    font-size: 18px;
  }

  .section-riviews .slider-info__comment {
    font-size: 14px;
  }

  .section-contact .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section-contact .contact-info__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 75px;
    max-width: 100%;
  }

  .section-contact .contact-info__block .contact-info__svg {
    margin: auto;
    margin-bottom: 25px;
    max-width: 40px;
  }

  .section-contact .contact-info__block .contact-info__title,
  .section-contact .contact-info__block .contact-info__text {
    text-align: center;
  }

  .section-contact .contact-info__block .contact-info__text {
    max-width: 250px;
    margin: auto;
  }

  .section-contact .contact-info__row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .section-contact .contact-info__row:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section-contact .contact-info__row:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .section-contact .contact-info__row:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .section-contact .contact-form__input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 10px 15px;
    max-width: 100%;
    width: auto;
  }

  .section-contact .contact-form__textarea {
    margin: 0 10px;
  }

  .section-contact .btn {
    margin: 0 10px;
  }

  .section-blog .blog-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-blog .blog-blocks .blog-block {
    margin-top: 35px;
    max-width: 100%;
  }

  .section-blog .blog-blocks .blog-block__title a {
    font-size: 16px;
  }

  .section-blog .blog-blocks .blog-block__text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section-portfolio .portfolio-tabs__caption {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-portfolio .portfolio-tabs .btn,
  .section-portfolio .portfolio-tabs .btn + .btn {
    margin: 10px 30px;
  }

  .footer {
    padding: 70px 0;
    height: auto;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }

  .footer-social {
    margin-bottom: 25px;
  }

  .footer-company {
    text-align: center;
  }
}

@media (max-width: 623px) {
  .section-slider__text h1 {
    font-size: 36px;
  }
}

@media (max-width: 560px) {
  .section-riviews .slider-person svg {
    right: -30px;
  }

  .section-riviews .slider-person svg:first-child {
    left: -30px;
  }
}

@media (max-width: 526px) {
  .section-title_sup {
    font-size: 20px;
  }

  .section-title_sub {
    margin-bottom: 35px;
  }

  .ScrollUp {
    bottom: 25px;
  }

  .section-callaction .callaction-block__title {
    font-size: 20px;
  }

  .section-portfolio .portfolio-tabs__caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-portfolio .portfolio-tabs__caption .btn,
  .section-portfolio .portfolio-tabs__caption .btn + .btn {
    margin: 10px auto;
  }

  .section-riviews .slider-person__block {
    margin: 0;
  }

  .section-riviews .slider-person__img {
    margin: auto;
    width: 100px;
    height: 100px;
  }

  .section-riviews .slick-dots {
    bottom: -40px;
  }

  .section-riviews .slick-dots li {
    width: 26px;
    height: 6px;
    background: #9B9B9B;
    border-radius: 20px;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .section-riviews .slick-dots li.slick-active {
    background: #FF003F;
  }

  .section-contact .contact-info__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

@media (max-width: 418px) {
  .section-slider__text h1 {
    line-height: 40px;
    font-size: 26px;
  }
}