// --------------------------------------------
// Section-faq styles
// --------------------------------------------
	
.section-faq
	padding: 100px 0

	background: #FAFAFA

	.container
		flex-direction: column

	.faq-blocks
		display: flex
		flex-direction: column
		justify-content: center

	.faq-question
		display: flex
		flex-direction: column
		justify-content: flex-start

		max-width: 650px
		width: 100%
		height: auto

		margin: 0 auto

		cursor: pointer

		&__title
			position: relative

			font-family: Montserrat
			font-weight: 700
			font-size: 20px

			color: #000000
			transition: color .3s ease


		&-icon
			content: ''
			position: absolute
			top: 50%
			right: 5px

			margin-top: -4px

			height: 9px
			width: 16px

			transition: transform .3s ease

			path

				transition: fill .3s ease

		&__text
			margin: 17px 0

			max-height: 0

			font-size: 14px
			line-height: 19px

			color: #5F6870
			transition: max-height .3s ease, margin .3s ease
			overflow: hidden

	.faq-question.active
		

		.faq-question__title
			color: #FF003F
			
		.faq-question__text
			margin: 35px 0

			max-height: 500px

		.faq-question-icon
			transform: rotate(180deg) 

			path
				fill: #FF003F

@media(max-width: 991px)
	.section-faq 
		.faq-question
			&__title
				font-size: 18px

@media(max-width: 768px)
	.section-faq
		.faq-question