// --------------------------------------------
// Section-contact styles
// --------------------------------------------

.section-contact
	padding: 100px 0

	.container
		flex-direction: column

	.contact-block
		&__form

	.contact-form
		display: flex
		justify-content: space-between

		width: 100%
		height: auto

		form
			display: flex
			flex-direction: column

			width: 100%
			height: auto

		.contact-form__block
			width: 100%
			height: auto

			margin-right: 55px

		&__row
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			width: 100%
			height: auto

		&__input
			display: flex

			margin-bottom: 15px

			max-width: 385px
			width: 100%
			height: auto

			input
				padding: 0 30px

				width: 100%
				height: 52px

				background: #F5F5F5
				border-radius: 50px
				border: none

		&__textarea
			width: 100%

			textarea
				width: 100%
				min-width: 100%
				max-width: 185px
				min-height: 175px
				max-height: 250px 
				height: auto

				margin-bottom: 35px
				padding: 17px 30px

				background: #F5F5F5
				border-radius: 10px
				border: none
			

	.contact-form__row:nth-child(2)
		.contact-form__input
				max-width: 100%

	.contact-info__block
		display: flex
		flex-direction: column

		max-width: 270px
		width: 100%
		height: auto

		.contact-info__row
			margin-bottom: 25px

		.contact-info__svg
			max-width: 18px
			height: auto

			margin-bottom: 10px
		
		.contact-info__title
			margin-bottom: 10px
			font-family: Montserrat
			font-weight: 700
			font-size: 18px
			line-height: 22px
			color: #000000

		.contact-info__text
			font-size: 14px
			line-height: 20px
			letter-spacing: 0.0025em
			color: #5F6870
	
	.btn
		max-width: 195px
		width: 100%


@media(max-width: 991px)
	.section-contact 
		.contact-form
			flex-direction: column-reverse
		
		.contact-info__block
			flex-direction: row

			margin-bottom: 75px

			max-width: 100%

			.contact-info__svg
				margin: auto
				margin-bottom: 25px

				max-width: 40px

			.contact-info__title, 
			.contact-info__text
				text-align: center

			.contact-info__text
				max-width: 250px
				margin: auto

		.contact-info__row
			flex: 1 1 auto

		.contact-info__row:nth-child(1)
			order: 2

		.contact-info__row:nth-child(2)
			order: 1

		.contact-info__row:nth-child(3)
			order: 3

		.contact-form__input
			flex-direction: row
			flex: 1 1 auto

			margin: 0 10px 15px

			max-width: 100%
			width: auto
		
		.contact-form__textarea
			margin: 0 10px
		
		.btn
			margin: 0 10px

@media(max-width: 526px)
	.section-contact 
		.contact-info__block
			flex-direction: column

			margin-bottom: 50px
