// --------------------------------------------
// Section advantages
// --------------------------------------------
.section-advantages
	padding: 100px 0


.section-advantages .container
	flex-direction: column

.advantages-blocks
	display: flex
	justify-content: space-around
	flex-wrap: wrap

.advantages-block
	display: flex
	justify-content: space-between

	margin-bottom: 40px

	max-width: 470px
	width: 100%
	height: auto

	&__img
		margin-right: 50px

		max-width: 65px
		width: 100%

		img
			width: 100%
			height: auto

	&__title
		margin-bottom: 20px

		color: #000000
		font-family: Montserrat
		font-size: 20px
		font-weight: 700

	&__text
		color: #5f6870
		font-family: "Open Sans"
		font-size: 16px
		font-weight: 400

@media(max-width: 991px)
	.advantages-block__title
		font-size: 16px

	.advantages-block__text
		font-size: 14px