// --------------------------------------------
// Section-services styles
// --------------------------------------------


.section-services
	padding: 100px 0
	
	.container
		flex-direction: column

	.services-blocks
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		
	.services-block
		margin-bottom: 20px
		padding: 34px 32px

		max-width: 355px
		width: 100%
		height: auto

		border-radius: 10px
		border: 1px solid #e1e1e1

		text-align: center
		transition: box-shadow 0.2s linear, transform 0.2s linear

		&:hover
			transform: scale(1.03)
			box-shadow: 0 16px 24px rgba(17, 30, 68, 0.16)

		&__img
			display: flex
			justify-content: center
			align-content: center
			align-items: center

			margin: auto
			margin-bottom: 30px

			width: 65px
			height: 65px

			border-radius: 50px
			background-color: #e9eefc

			img
				padding: 19px
				width: 100%
				height: auto

		&__info
		
		&__title
			margin-bottom: 20px

			color: #000000
			font-family: Montserrat
			font-size: 20px
			font-weight: 600
		
		&__text
			color: #5f6870
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 400

@media(max-width: 991px)
	.section-services
		.services-blocks
			justify-content: space-around

		.services-block
			&__title
				font-size: 16px

			&__text
				font-size: 14px
