// --------------------------------------------
// Section-callaction styles
// --------------------------------------------

.section-callaction
	padding: 100px 0
	
	background-color: #fafafa

	.callaction-block
		margin: auto

		max-width: 640px
		width: 100%

		text-align: center

		&__title
			margin-bottom: 30px

			color: #000000
			font-family: Montserrat
			font-size: 32px
			font-weight: 700

		&__text
			margin-bottom: 55px

			color: #5f6870

		.btn
			margin: auto

@media(max-width:991px)
	.section-callaction 
		.callaction-block
			&__title
				font-size: 28px

@media(max-width:526px)
	.section-callaction 
		.callaction-block
			&__title
				font-size: 20px
			
	