@mixin font($font_name, $file_name, $weight, $style)

	@font-face
		font-family: $font_name
		font-display: swap
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
		font-weight: #{$weight}
		font-style: #{$style}


// --------------------------------------------
// Common styles
// --------------------------------------------
*, *::before, *::after 
  box-sizing: border-box

*:focus 
	outline: none

body
	font-family: "Open Sans"
	font-weight: 400
	font-size: 16px

body, h1, h2, h3, h4, h5, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd 
	margin: 0
	font-size: 100%

img
	display: block
	width: 100%

a 
	text-decoration: none

a:not([class]) 
  text-decoration-skip-ink: auto


.page
	position: relative

.container
	display: flex

	margin: auto
	padding: 0 15px

	max-width: 1140px
	width: 100%
	
.container-fluid
	display: flex

	margin: auto
	padding: 0 15px

	max-width: 100%
	width: 100%

.section-title
	max-width: 100%
	width: 100%

	text-align: center

	&_sup
		margin-bottom: 20px

		color: #000000
		font-family: Montserrat
		font-size: 40px
		font-weight: 700
		text-transform: uppercase


	
	&_sub
		max-width: 550px
		width: 100%

		margin: auto
		margin-bottom: 90px

		color: #5f6870
		font-family: "Open Sans"
		font-size: 16px
		font-weight: 400

.section-text_sub
		width: 100%

		margin: auto
		margin-bottom: 25px

		color: #5f6870
		font-family: "Open Sans"
		font-size: 16px
		font-weight: 400

.btn
	display: flex
	justify-content: center
	align-items: center
	align-content: center

	width: 157px
	height: 51px

	border: 1px solid #FF003F
	border-radius: 50px

	font-family: Montserrat;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase
	color: #FF003F;
	cursor: pointer
	transition: background 0.4s linear, border-color 0.4s linear

	&:hover
		border-color: #fff

.btn--red
	background: #FF003F
	color: #fff

	&:hover
		background: #ff4c7a
		border-color: #ff4c7a

.ScrollUp
	position: absolute
	bottom: 150px
	right: 3%

	display: flex
	justify-content: center
	align-content: center
	align-items: center
	
	width: 35px
	height: 35px
	background: #FF003F
	border-radius: 5px

	&__img
		height: 9px;
		width: 16px
		
	
@media(max-width:991px)
	.section-title
		&_sup
			font-size: 35px

		&_sub
			// margin-bottom: 25px
@media(max-width:526px)
	.section-title
		&_sup
			font-size: 20px

		&_sub
			margin-bottom: 35px

	.ScrollUp
		bottom: 25px
			




@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css"
@import "fonts"
@import "header"
@import "section-slider"
@import "section-advantages"
@import "section-about"	
@import "section-services"	
@import "section-callaction"		
@import "section-portfolio"		
@import "section-faq"				
@import "section-riviews"			
@import "section-contact"				
@import "section-blog"				
@import "footer"		


