

.team_coaching
	#lp-hero
		position: relative

		.lp-hero-desc
			@media ( min-width:991px )
				padding-right: 50%

		ul,ol
			list-style-type: none

			li
				margin: 0 0 10px 0 
				line-height: 28px
	#lp-hero:after
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 30.85%, rgba(255, 255, 255, 0) 68.55%)
		
	#lp-hero.lp-as.lp-un
		background-image: url(../img/team_coaching/ban-01.jpg)
		@media screen and ( max-width: 526px )
			background-image: url(../img/team_coaching/mb-ban-01.jpg)

	.lp-hero-bg
		position: relative
		z-index: 2

	
	#lp-hero.lp-as.lp-un h1,#lp-hero.lp-as .lp-hero-desc__title, #lp-hero.lp-as ul li, .bx-breadcrumb .bx-breadcrumb-item a, .bx-breadcrumb .bx-breadcrumb-item a span
		color: #151F59

	.lp-hero-desc__title
		font-size: 24px
		margin: 0 0 13px 0 
		font-weight: 700		 

			
	.lp-direction-icon img
		height: auto

	.lp-direction-icon
		margin-bottom: 18px

	#lp-direction .col-6
		position: relative
		&:not(:last-child)
			&::after
				position: absolute
				content: ''
				right: 0
				top: 0
				width: 1px 
				background: #E6E6E6
				height: 100%

		
.priority-work
	padding: 80px 0
	position: relative
	
	.priority-content__col:nth-child(1), .priority-content__col:nth-child(2), .priority-content__col:nth-child(3)
		border-bottom: 1px solid #cfcfcf
	
	.priority-content__col:nth-child(2),.priority-content__col:nth-child(5)
		border-left: 1px solid #CFCFCF
		border-right: 1px solid #CFCFCF

	&__box
		padding: 40px 0 60px
		text-align: center
		height: 100%
			

	&__icon
		display: flex
		align-items: flex-end
		justify-content: center
		height: 67px


	&__title
		font-size: 18px
		max-width: 250px
		margin: 20px auto 0


		
