.aboutChoose {
	.section__title {
		position: relative;
		@media ( max-width:$md2+px ){
			padding-right: 76px;
		}
	}

	.section-titleSub {
		max-width: 585px;
	}

	//.aboutChoose-slider
	&-slider {
		position: relative;
		display: flex;
		height: 100%;
		@media (min-width: $md3+px) and (max-width: 1170px) {
			margin: 0px 25% 0px 0px;
		}

		@media (max-width: $md3+px) {
			overflow: hidden;
		}
	}

	//.aboutChoose-box
	&-box {
		padding: 45px 45px 20px;
		border: 1px solid #e1e1e1;
		@media (min-width: $md1+px) {
			max-width: 370px;
		}
		@media (max-width: $md1+px) {
			padding: 26px;

			//.aboutChoose-box.swiper-slide
			&.swiper-slide {
				width: 400px;
			}
		}

		//.aboutChoose-box.swiper-slide
		&.swiper-slide {
			height: auto;
		}

		//.aboutChoose-box__icon
		&__icon {
			margin-bottom: 20px;
		}

		//.aboutChoose-box__info
		&__info {
		}

		//.aboutChoose-box__title
		&__title {
			font-size: $fz20;
			@include f700();
			margin-bottom: 15px;
			@media (max-width: $md3+px) {
				font-size: $mfz16;
				margin-bottom: 10px;
			}
		}

		//.aboutChoose-box__text
		&__text {
			line-height: 23px;
		}
	}
}



