.advantages {
	//.advantages__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	//.advantages__col
	&__col {
		position: relative;

		padding-right: 15px;
		padding-left: 15px;

		flex: 0 0 25%;
		max-width: 25%;
		width: 100%;
		min-height: 1px;
		margin-bottom: 30px;

		@media (max-width: $md1+px) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@media ( max-width:$md3+px){
			flex: 0 0 auto;
			max-width: 100%;
		}

		.advantages-box:nth-child(1) {
			transition: all 0.3s linear;
			transition-delay: 0.2s;
		}

		.advantages-box:nth-child(2) {
			transition: all 0.3s linear;
			transition-delay: 0.4s;
		}

		.advantages-box:nth-child(3) {
			transition: all 0.3s linear;
			transition-delay: 0.6s;
		}

		.advantages-box:nth-child(4) {
			transition: all 0.3s linear;
			transition-delay: 0.8s;
		}

		&._scr-item {
			.advantages-box {
				@include translateY(20%);
				opacity: 0;
			}
			&._active {
				.advantages-box {
					opacity: 1;
					@include translateY(0);
				}
			}
		}
	}
	@media (max-width: $md3+px) {
		.btn-border {
			display: block;
		}
	}

	//.advantages-box
	&-box {
		display: flex;
		flex-direction: column;
		height: 100%;

		padding: 30px;

		border: 1px solid #e1e1e1;
		transition: all 0.3s linear;

		//.advantages-box:hover
		&:hover {
			background: #f9f9f9;
			border: 1px solid rgba($color: #e1e1e1, $alpha: 0);

			.advantages-box__icon {
				opacity: 1;
			}
		}

		//.advantages-box__top
		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 56px;
			margin-bottom: 40px;
		}

		//.advantages-box__number
		&__number {
			color: #000000;
			font-size: 42px;
			@include f700();
		}

		//.advantages-box__icon
		&__icon {
			opacity: 0.1;
			transition: opacity 0.3s linear;
		}

		//.advantages-box__info
		&__info {
			line-height: 23px;
			color: #000000;
		}
		.advantages-info__title {
			@include f700();
			font-size: 18px;
			color: #000000;
			margin-bottom: 10px;
		}
	}
	@media (min-width: $md3+px) {
		.icon-scroll::after {
			display: none;
		}
		
	}
	@media ( max-width:$md3+px){
		.btn{
			margin-top: 30px;
		}
	}

}
