.banForm {
	position: relative;
	padding: 100px 0;
	@include parallaxBg();
	@media (max-width: $md3+px) {
		padding: 65px 0 70px;
	}

	._container {
		position: relative;
		z-index: 2;
	}

	//.banForm__info
	&__info {
		max-width: 570px;
		color: $white;
	}

	.section__title {
	}

	.btn {
		margin-top: 40px;
		// max-width: 215px;
		// width: 100%;
		@media (max-width: $md3+px) {
			margin-top: 30px;
		}
	}

	//.banForm:after
	&::after {
		@include pseudoEl(block, absolute, "");
		background: rgba(0, 0, 0, 0.5);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.banForm--form {
	.banForm__info {
		margin: 0 auto;
	}

	.section__title {
		text-align: center;
	}
	.form {
		margin-top: 35px;
	}
	.form__line input,
	.form__line textarea {
		background: none;
		color: #fff;
		border-bottom: 2px solid #fff;
	}
	.form__line:not(:first-child) {
		margin: 15px 0 0 0;
	}
	.form__btn {
		display: flex;
		justify-content: center;
	}
	.btn {
		background: none;
		margin: 0 auto;
	}
}
