.cases {
	position: relative;
	margin-bottom: 80px;
	@media ( max-width:$md1+px){
		margin-bottom: 50px;
	}
	@media (max-width: $md1+px) {
		._fixedTitle {
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 15px;
			padding-top: 10px;
		}
	}
	._container{
		position: relative;
	}
	
	.section__title {
		position: relative;
	}

	// .cases-sliders
	&-sliders {
		overflow: hidden;
	}

	// .cases-slider
	&-slider {
		background: #fff;
		// .cases-sliders__title
		&__title {
			margin-bottom: 30px;

			font-size: 20px;
			@include f700();
		}

		// .cases-sliders__text
		&__text {
			line-height: 27px;
			font-size: 14px;
		}
	}

	// .cases-table
	&-table {
		position: relative;

		display: flex;
		flex-wrap: wrap;

		margin-top: 30px;

		border-top: 1px solid #e1e1e1;

		@media (min-width: 1025px) {
			&::after {
				@include pseudoEl(block, absolute, "");
				top: 0;
				left: 50%;
				transform: translateX(-50%);

				width: 1px;
				height: 100%;

				background: #e1e1e1;
			}
		}

		// .cases-table__box
		&__box {
			display: flex;
			flex-direction: column;

			padding: 40px 0;

			flex: 0 0 50%;
			max-width: 50%;
			@media (max-width: 1024px) {
				max-width: 100%;
				flex: 1 1 100%;
			}
		}

		// .cases-table__title
		&__title {
			margin-bottom: 30px;

			font-size: 18px;
			@include f700();
		}

		// .cases-table__resulte
		&__resulte {
			display: flex;
			flex-wrap: wrap;

			height: 100%;

			// .cases-table__resulte--big
			&--big {
				.progBar-line {
					max-width: 100%;
					flex: 1 1 100%;
				}
			}
		}
		.cases-table--line {
			@media (min-width: 1025px) {
				padding-left: 35px;
			}
			.cases-table__resulte {
				margin: 0 -15px;
			}
		}
		.cases-table--circle {
			padding-right: 35px;
			@media (max-width: 1024px) {
				padding-right: 0;
				border-bottom: 1px solid #e1e1e1;
			}
			@media (max-width: $md1+px) {
				.cases-table__resulte {
					flex-wrap: nowrap;
					overflow-x: auto;
					overflow-y: hidden;
				}
			}
		}

		// .cases-table__charts
		&__charts {
			z-index: 1;

			padding-top: 40px;

			flex: 1 1 100%;
			max-width: 100%;

			border-top: 1px solid #e1e1e1;
			background: #fff;

			.chars-blocks {
				display: flex;
				flex-wrap: wrap;

				margin: 0 -15px;
				overflow-x: auto;
				overflow-y: hidden;
				flex-wrap: nowrap;
				&--big {
					.charts-block {
						max-width: 100%;
						flex: 1 1 100%;
					}
					// .charts-block__line {
					// 	padding-left: 50px;
					// }
				}
			}

			.charts-block {
				padding: 0 15px;

				flex: 0 0 33.333333%;
				max-width: 33.333333%;
				min-width: 220px;

				//.charts-block__ico
				&__ico {
					width: 100%;
					// width: max-content;
				}

				//.charts-block__box
				&__box {
					position: relative;

					width: 100%;
				}

				//.charts-block__title
				&__title {
					margin-bottom: 20px;

					text-transform: uppercase;
					@include f700();
					font-size: $fz20;
					color: #e1e1e1;
				}

				//.charts-block__line
				&__line {
					position: absolute;
					bottom: 20px;

					display: flex;
					align-items: flex-end;

					width: 0;
					transition: width 0.9s linear;

					height: 100%;

					overflow: hidden;
					&--big {
						padding-left: 4%;
					}
					&--small {
						padding-left: 10%;
					}
				}
			}
		}
	}

	._fixed {
		position: absolute;
		top: 0;
		z-index: 20;
	}
	.sticky {
		position: fixed;
		z-index: 10;
		background: #fff;
	}
	.stop {
		position: relative;
		z-index: 10;
	}
}

//-------------------------------------------------------------------------//
.progBar {

	//.progBar-circle
	&-circle {
		@media (min-width: 1025px) and (max-width: 1324px) {
			flex: 0 0 23%;
			max-width: 23%;
			.progBar-circle__text {
				font-size: 13px;
				line-height: 1.2;
			}
		}
		@media (max-width: 1024px) {
			flex: 0 0 25%;
			max-width: 25%;
			min-width: 155px;
		}
		& + .progBar-circle {
			@media (min-width: 1325px) {
				max-width: 119px;
				width: 100%;
				margin-left: 21px;
			}
			@media (min-width: 1025px) and (max-width: 1324px) {
				margin-left: 10px;
			}
		}

		.circle {
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			margin-bottom: 10px;

			//.circle-svg
			&-svg {
				@include rotate(270deg);
				._circle-progress {
					transition: stroke-dashoffset 1s linear;
				}
			}
		}

		//.progBar-circle__number
		&__number {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			font-size: 20px;
		}

		//.progBar-circle__text
		&__text {
			max-width: 130px;

			margin: 0 auto;

			line-height: 20px;
			text-align: center;
			color: #3f3f3f;
		}
	}

	//-------------------------------------------------------------------------//
	//.progBar-line
	&-line {
		flex: 0 0 50%;
		max-width: 50%;

		padding: 0 15px;
		@media (max-width: 1024px) {
			margin: 0 0 30px 0;
		}

		//.progBar-line__name
		&__name {
			margin-bottom: 8px;

			font-size: 16px;
			color: #767676;
		}

		//.progBar-line__bg
		&__bg {
			width: 100%;
			height: 8px;

			background: #e3e3e3;
		}

		//.progBar-line--progress
		&--progress {
			width: 0%;
			height: 100%;

			background: #222;
		}
	}
}

//-------------------------------------------------------------------------//
