.cases {
	.section__title {
		position: relative;
	}
	&-sliders{
		overflow: hidden;
	}
	&-slider {
		&__title {
			font-size: 20px;
			@include f700();
			margin-bottom: 30px;
		}

		&__text {
			line-height: 27px;
			font-size: 14px;
		}
	}

	&-table {
		display: flex;
		flex-wrap: wrap;

		position: relative;
		margin-top: 30px;
		border-top: 1px solid #e1e1e1;

		&::after {
			@include pseudoEl(block, absolute, "");
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			width: 1px;
			height: 100%;

			background: #e1e1e1;
		}

		&__box {
			padding-top: 40px;
			padding-bottom: 40px;

			flex: 0 0 50%;
			max-width: 50%;

			display: flex;
			flex-direction: column;
		}

		&__title {
			margin-bottom: 30px;
			font-size: 18px;
			@include f700();
		}

		&__resulte {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			margin: 0 -15px;
		}
		.cases-table--line {
			padding-left: 36px;
		}

		&__charts {
			padding-top: 40px;
			border-top: 1px solid #e1e1e1;

			flex: 1 1 100%;
			max-width: 100%;
			background: #fff;
			z-index: 1;

			.chars-blocks {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -15px;
			}

			.charts-block {
				padding: 0 15px;
				flex: 0 0 33.333333%;
				max-width: 33.333333%;

				&__ico {
					width: max-content;
				}

				&__box {
					position: relative;
					width: 100%;
				}

				&__title {
					@include f700();
					font-size: $fz20;
					color: #e1e1e1;
					margin-bottom: 20px;
					text-transform: uppercase;
				}

				&__line {
					position: absolute;
					bottom: 20px;

					display: flex;
					align-items: flex-end;

					width: 0;
					transition: width 0.9s linear;

					height: 100%;

					padding-left: 35px;
					overflow: hidden;

				}
			}
		}
	}
}

//-------------------------------------------------------------------------//
.progBar {
	&-circle {
		padding: 0 15px;

		.circle {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			// width: 110px;
			// height: 110px;
			margin-bottom: 10px;

			&-svg {
				@include rotate(270deg);
			}
		}
		&__number {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			font-size: 20px;
		}

		&__text {
			max-width: 120px;
			line-height: 20px;
			text-align: center;
			color: #3f3f3f;
		}
	}

	//-------------------------------------------------------------------------//
	&-line {
		padding: 0 15px;
		flex: 0 0 50%;
		max-width: 50%;

		&__name {
			font-size: 16px;
			color: #767676;
			margin-bottom: 8px;
		}
		&__bg {
			width: 100%;
			background: #e3e3e3;
			height: 8px;
		}
		&--progress {
			background: #222;
			width: 50%;
			height: 100%;
		}
	}
}

//-------------------------------------------------------------------------//
