.cms {
	._container {
		display: flex;
		@media (max-width: $md1+px) {
			flex-direction: column-reverse;
		}
	}
	.com {
		display: grid;
		// max-width: 100%;
		// flex: 1 1 100%;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;

		padding-right: 30px;
		@media (min-width: $md1+px) {
			max-width: 50%;
			flex: 0 0 50%;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: 1fr;
		}
		@media ( max-width:$md1+px){
			padding-right: 0;
		}

		&__img {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s linear;
			padding: 0 15px;
			filter: grayscale(1);
			@include adaptiv-value("margin-bottom", 40 , 20, 1);

			&:hover {
				filter: grayscale(0);
			}

			@media (min-width: $md3+px) {
				// flex: 0 0 25%;
				// max-width: 25%;
				// padding: 0 15px;
			}
			@media (max-width: $md3+px) {
				// flex: 0 0 33.3333333%;
				// max-width: 33.3333333%;
				// padding: 0 10px;
		
			}
		}
	}

	.cms__info {
		@media (min-width: $md1+px) {
			max-width: 50%;
			flex: 0 0 50%;
		}
	}

	.section__title {
		margin-bottom: 30px;
	}

	.section-titleSub {
		@media (max-width: $md2+px) {
			margin: 0 0 40px 0;
		}
	}
}
