.mainGoals {
	.section__title{
		position: relative;
		@media ( max-width:$md1+px){
			padding-right: 85px;
		}
	}

	@media ( min-width:$md1+px){
		.slider-arrows{
		display: none;
		}
	}

	//.mainGoals__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: $md1+px) {
		margin: 0 -15px;

		}
		@media (max-width: $md1+px) {
			padding: 0 15% 0 0;
		}
		@media ( max-width:$md3+px){
			padding: 0;

		}
	}

	//.mainGoals__col
	&__col {
		margin-bottom: 50px;
		@media (min-width: $md1+px)  and (max-width: 1124px) {
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 30px;
		}
		@media (min-width: $md1+px) {
			padding: 0 15px;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
		@media (max-width: $md1+px) {
			height: auto;
		}
		@media ( max-width:$md3+px){
			margin-bottom: 0;
		}
	}
}

.mainGoals-block {
	position: relative;
	padding: 45px;
	border: 1px solid #e1e1e1;
	height: 100%;

	//.mainGoals-block__icon
	&__icon {
		margin-bottom: 13px;
	}

	//.mainGoals-block__title
	&__title {
		max-width: 160px;
	}

	//.mainGoals-block__number
	&__number {
		position: absolute;
		z-index: -1;

		right: 30px;
		top: 30px;

		color: #f9f9f9;
		font-size: 96px;
		@include f700();
	}
}
