.mainGoals {
	.section__title {
		position: relative;
		@media (max-width: $md1+px) {
			padding-right: 85px;
		}
	}

	@media (min-width: $md1+px) {
		.slider-arrows {
			display: none;
		}
	}

	//.mainGoals__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: $md1+px) {
			margin: 0 -15px;
		}
		@media (max-width: $md1+px) {
			padding: 0 15% 0 0;
		}
		@media (max-width: $md3+px) {
			padding: 0;
		}
	}

	//.mainGoals__col
	&__col {
		margin-bottom: 50px;
		@media (min-width: $md1+px) and (max-width: 1124px) {
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 30px;
		}
		@media (min-width: $md1+px) {
			padding: 0 15px;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
		@media (max-width: $md1+px) {
			height: auto;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 0;
		}

		&:nth-child(1){
			.mainGoals-block{
				transition-delay: 0.3s;
			}
		}
		&:nth-child(2){
			.mainGoals-block{
				transition-delay: 0.6s;
			}
		}

		&:nth-child(3){
			.mainGoals-block{
				transition-delay: 0.9s;
			}
		}

		&:nth-child(4){
			.mainGoals-block{
				transition-delay: 0.3s;
			}
		}

		&:nth-child(5){
			.mainGoals-block{
				transition-delay: 0.6s;
			}
		}

		&:nth-child(6){
			.mainGoals-block{
				transition-delay: 0.9s;
			}
		}
	}
	.box-progress-bar{
		position: relative;
	}
}

.mainGoals-block {
	position: relative;
	padding: 45px;
	border: 1px solid #e1e1e1;
	height: 100%;
	transition: all 0.3s linear;
	&._scr-item{
		opacity: 0;
		transform: translateY(20%);
		transition: all 0.3s linear;
		&._active{
			opacity: 1;
			@include translateY(0);
		}
	}

	&:hover {
		background: #f9f9f9;
		border: 1px solid #f9f9f9;

		.mainGoals-block__number {
			color: #fff;
		}
	}

	//.mainGoals-block__icon
	&__icon {
		margin-bottom: 13px;
	}

	//.mainGoals-block__title
	&__title {
		max-width: 160px;
		line-height: 22px;
	}

	//.mainGoals-block__number
	&__number {
		position: absolute;
		z-index: 1;

		right: 30px;
		top: 30px;

		color: #f9f9f9;
		@include transitColor(0.3s);
		font-size: 96px;
		@include f700();
	}
}
