/* ---- grid ---- */

.portfolio-grid {
	background: #ddd;
}

/* clear fix */
.portfolio-grid:after {
	content: "";
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

.portfolio-grid__item {
	// float: left;
	// width: 45%;
	// height: 100px;
	// background: #0d8;
	//   border: 2px solid #333;
	// border-color: hsla(0, 0%, 0%, 0.7);
	// &:nth-child(1) {
	// 	height: 648px;
	// }
	// &:nth-child(2) {
	// 	width: 20%;
	// 	height: 335px;
	// }
	// &:nth-child(3) {
	// 	width: 20%;
	// 	height: 335px;
	// }

	// &:nth-child(4) {
	// 	height: 430.6px;
	// }
	// &:nth-child(5) {
	// 	height: 335px;
	// }
	// &:nth-child(6) {
	// 	height: 332.15px;
	// }
	// &:nth-child(7) {
	// 	width: 20%;
	// 	height: 335px;
	// }
	// &:nth-child(8) {
	// 	width: 20%;
	// 	height: 335px;
	// }
	// &:nth-child(9) {
	// 	height: 648px;
	// }
	// &:nth-child(10) {
	// 	height: 335px;
	// }
}
.portfolio-grid__item ,
.grid-sizer {
  width: 25%;
}

.portfolio-grid__item  {
  float: left;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.portfolio-grid__item--width2 { width: 50%; }
.portfolio-grid__item--height1{
	height: 650px;
}
.portfolio-grid__item--height3{
	height: 335px;
}
.portfolio-grid__item--height4{
	height: 430px;
}
.portfolio-grid__item--height5{
	height: 395px;
}
.portfolio-grid__item--height6{
	height: 280px;
}
.portfolio-grid__item--height7{
	height: 315px;
}
.portfolio-grid__item--height2 { height: 200px; }

