.tabs-header {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 70px;
	overflow-x: auto;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
}
.header-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 60px;

	margin-left: 210px;

	cursor: pointer;

	@media (max-width: $md3+px) {
		margin-left: 130px;
	}

	&._animation {
		.header-item__circle {

			animation-duration: 1s;
			animation-name: an-circle;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
	  
		}
	}
	//..header-item__circle
	&__circle {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;

		background: #f9f9f9;
		transition: all 0.3s linear;
	}

	//.header-item::after
	&::after {
		@include pseudoEl(block, absolute, "");
		left: -220px;
		top: 50%;
		transform: translateY(-50%);
		background: #e1e1e1;
		width: 220px;
		height: 1px;
		@media (max-width: $md3+px) {
			left: -130px;
			width: 130px;
		}
	}

	//.header-item._active  .header-item__circle
	&._active .header-item__circle {
		background: #222;
		color: $white;
		.header-item__title {
			@include f700();
		}
	}

	//.header-item__number
	&__number {
		color: $fz20;
		@include f700();
	}

	//.header-item__title
	&__title {
		margin-top: 25px;
		position: absolute;
		left: 50%;
		@include translateX(-50%);
		top: 100%;
		width: max-content;
		color: #222;

		font-size: 20px;
		max-width: 184px;

		@media (max-width: $md3+px) {
			font-size: 16px;
			max-width: 120px;
		}
	}

	//.header-item:first-child
	&:first-child {
		margin-left: 0;
		.header-item__title {
			left: 0;
			@include translateX(0);
		}
		&::after {
			display: none;
		}
	}

	//.header-item:last-child
	&:last-child {
		.header-item__title {
			right: 0;
			@include translateX(0);
			left: auto;
		}
	}
}

.tabs-content {
	padding-top: 55px;
	@media ( max-width:$md3+px){
		padding-top: 30px;
	}

	//.tabs-content__item
	&__item {
		font-size: 14px;
		p {
			padding-bottom: 30px;
			line-height: 21px;
		}
		.h6,
		h6 {
			margin-bottom: 10px;
			font-size: 16px;
		}

		ul,
		ol {
			padding-left: 18px;

			li {
				position: relative;
				margin: 0 0 8px 0;
				line-height: 21px;

				&::after {
					@include pseudoEl(block, absolute, "");
					width: 4px;
					height: 4px;
					background: #000;
					left: -18px;
					top: 5px;
				}
			}
		}
	}
}
