.article {
	// .article__info
	&__info {
	}

	.article-info {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 12px;
		border-bottom: 1px solid #e1e1e1;
		@include adaptiv-value("margin-bottom", 25, 10, 0);

		// .article-info__line
		&__line {
			display: flex;
			align-items: center;
			font-size: 14px;
			@include adaptiv-value("margin-bottom", 23, 10, 0);

			//.article-info__line:not(:last-child)
			&:not(:last-child) {
				@include adaptiv-value("margin-right", 40, 20, 0);
			}

			._icon {
				margin-right: 10px;
			}
		}
	}

	.section__title {
		@include adaptiv-value("margin-bottom", 30, 20, 0);
	}
	//.article__text
	&__text {
		line-height: 144.11%;
		p {
			margin-bottom: 15px;
		}
	}
	.article-text {
		//.article-text__h2
		&__h2 {
			@include adaptiv-value("font-size", 30, 20, 0);
			margin-bottom: 15px;
			margin-top: 30px;
		}

		//.article-text__titleUl
		&__titleUl {
			font-weight: bold;
			font-size: 16px;
			line-height: 144.11%;
			color: #000000;
			margin-bottom: 15px;
		}
	}
	ul {
		padding-inline-start: 20px;
		li {
			margin-bottom: 15px;
		}
	}
	ul,
	li {
		list-style: square;
	}
}

// .navigation-page
.navigation-page {
	display: flex;
	flex-wrap: wrap;
	@include adaptiv-value("margin-top", 60, 30, 0);
	@include adaptiv-value("margin-bottom", 60, 30, 0);

	//.navigation-page__link
	&__link {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		min-height: 1px;
		flex: 0 0 50%;
		max-width: 50%;
		border-top: 1px solid #e1e1e1;
		@include adaptiv-value("padding-top", 40, 10, 0);

		@include adaptiv-value("font-size", 24, 16, 0);
		color: #adadad;
		line-height: 1.2;
		transition: all 0.3s linear;
		@media (max-width: $md2+px) {
			flex: 1 1 100%;
			max-width: 100%;
			@include adaptiv-value("padding-bottom", 40, 10, 0);
		}

		&:last-child {
			padding-right: 65px;
			justify-content: flex-end;
			@include adaptiv-value("padding-left", 100, 0, 0);

			._icon {
				right: 0;
			}
		}
		&:first-child {
			@include adaptiv-value("padding-right", 100, 0, 0);
			padding-left: 65px;
			._icon {
				left: 0;
			}
		}
		&:hover {
			color: #000;
			._icon {
				color: #000;
			}
		}
		._icon {
			position: absolute;
			top: calc(50% + ((10px + 30 * ((100vw - 320px) / 1280)) / 2));
			transform: translateY(-50%);
			transition: all 0.3s linear;

			color: #adadad;
		}
	}
}
