

.string {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	&._active {
		.string-box__border {
			& > div {
				transform: translate3d(0, 0, 0);
				transition-duration: 2000ms;
			}
		}
		.string-text__box {
			opacity: 1;
			@include translateY(0);
		}
	}

	._container{
		position: relative;
	}

	//.string-box
	&-box {
		position: relative;
		// padding: 14px 0;

		overflow: hidden;
		@media ( max-width:$md3+px){
			// padding: 7px 0;
		}

		//.string-box__border
		&__border {
			position: absolute;
			top: 0;
			left: 50%;

			height: 1px;
			width: calc(100% - 30px);

			transform: translateX(-50%);

			overflow: hidden;

			//.string-box__border:last-child
			&--bottom {
				top: initial;
				bottom: 0;
			}
			
			//.string-box__border>div
			& > div {
				position: absolute;

				width: 100%;
				height: 100%;

				background: #e1e1e1;

				transform: translate3d(-251%, 0, 0);
				transition-property: transform, background;
				transition-duration: 1s;
				transform-origin: left;
				transition-timing-function: cubic-bezier(0.03, 0.15, 0.16, 0.99), cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}

	//.string-text
	&-text {
		margin: 14px 0;
		padding: 7px 0;

		overflow: hidden;
		@media ( max-width:$md3+px){
			margin: 7px 0;
		}

		//.string-text__box
		&__box {
			display: flex;
			align-items: center;

			transition: all 1s ease-in-out 0.2s;
			@include translateY(40px);
		}

		//.string-text__line
		&__line {
			position: relative;
			flex-shrink: 0;

			padding: 0 30px;

			animation-duration: 8.3s;
			animation-name: _3ci_n;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			user-select: none;

			font-size: $fz36;
			@include f700();
			text-transform: uppercase;
			@media (max-width: $md3+px) {
				font-size: $fz18;
				padding: 0 16px;
			}
			
			//.string-text__line:before
			&::before {
				@include pseudoEl(block, absolute, "");
				top: 50%;
				left: 0;

				margin-left: -4px;
				@include translateY(-50%);

				width: 8px;
				height: 8px;

				background: #000;
				border-radius: 50%;
			}
		}
	}
}
