.team {
	//.team-block
	&-block {
		//.team-block__boxImg
		&__boxImg {
			@include img_03(65%);
		}

		//.team-block__img
		&__img {
			@include img_02();
			img {
				@include img_01();
			}
		}

	}
	//.team-info
	&-info {
		line-height: 1.4;
		@include adaptiv-value("margin-top", 15, 10, 0);

		//.team-info__name
		&__name {
			@include f700();
			@include adaptiv-value("font-size", 20, 16, 0);
			color: #000000;
			margin-bottom: 5px;
		}

		//.team-info__post
		&__post {
			@include adaptiv-value("font-size", 16, 14, 0);
			color: #646464;
		}
	}
}
.team-slider:not(.swiper-bild){
	.team-block{
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 25%;
		max-width: 25%;
	}
}