.timingSeo {
	._container {
		position: relative;
	}

	//.timingSeo-slider
	&-slider {
		position: relative;
		z-index: 10;

		display: flex;
		height: 100%;

		overflow: hidden;
	}

	.timingSeo-col {
		height: auto;
	}

	//.timingSeo-block
	&-block {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		height: 100%;

		max-width: 570px;

		//.timingSeo-block__icon
		&__icon {
			position: relative;
			background: #222;

			width: 85px;
			height: 85px;
			border-radius: 50%;

			margin: 47px 0 0 0;

			display: flex;
			align-items: center;
			justify-content: center;
			&._scr-item {
				transform: scale(0);
				transition: all 0.3s linear;
				&._active {
					transform: scale(1);
					&::after {
						height: 40px;
					}
					&::before {
						width: 28px;
					}
					.timingSeo-block__mounth{
						opacity: 1;
					}
				}
			
			}
			@media (max-width: $md3+px) {
				width: 50px;
				height: 50px;
				img {
					max-width: 20px;
				}
			}
			//.timingSeo-block__icon::after, .timingSeo-block__icon::before
			&::after,
			&::before {
				@include pseudoEl(block, absolute, "");
				// top: 8px;
				bottom: 85px;
				background: #222;
				@media (max-width: $md3+px) {
					bottom: 50px;
				}
			}

			//.timingSeo-block__icon:after
			&:after {
				height: 0px;
				width: 1px;
				
				transition: all 0.3s linear 0.5s;
			}

			//.timingSeo-block__icon:before

			&:before {
				transition: all 0.3s linear 0.8s;
				margin-left: 50%;
				height: 1px;
				width: 0;
				left: 0;
				bottom: calc(85px + 39px);
				@media (max-width: $md3+px) {
					margin-left: 27px;
					bottom: calc(50px + 39px);
				}
			}
		}

		//.timingSeo-block__info
		&__info {
			position: relative;
			margin-top: 30px;
			height: calc(100% - 162px);

			border: 1px solid #e1e1e1;
			padding: 40px 45px;
			line-height: 24px;
			@media (max-width: $md3+px) {
				padding: 25px 20px;
				margin-top: 20px;
				height: auto;
			}

			//.timingSeo-block__info:before
			&:before {
				content: "";
				display: block;

				position: absolute;
				z-index: 1;
				top: -4px;
				left: 39px;

				width: 20px;
				height: 20px;

				transform: rotate(45deg) translateX(-50%);

				border-top: 1px solid #d3d3d3;
				border-left: 1px solid #d3d3d3;
				background: $white;
				@media (max-width: $md3+px) {
					width: 15px;
					height: 15px;
					top: -3px;
					left: 22px;
				}
			}
		}

		//.timingSeo-block__mounth
		&__mounth {
			position: absolute;
			margin-left: 20px;
			padding-left: 9px;
			top: -47px;
			left: 50px;
			opacity: 0;
			transition: all 0.3s linear 1.3s;

			min-width: max-content;
			max-width: 100%;
			@media (max-width: $md3+px) {
				margin-left: 0;
				top: -46px;
			}

			@include f700();

			//.timingSeo-block__mounth::before
			&::before {
				@include pseudoEl(block, absolute, "");
				width: 4px;
				height: 4px;
				background: #222;
				left: 0;
				top: 50%;
				@include translateY(-50%);
				border-radius: 50%;
			}
		}
	}

	.timingSeo__arrows {
		position: absolute;
		z-index: 12;
		top: 90px;
		margin-top: -29px;
		margin-right: 15px;
		right: 0;
		display: flex;

		//.timingSeo__arrows_prev, .timingSeo__arrows_next
		&_prev,
		&_next {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 58px;
			height: 58px;
			border-radius: 50%;

			background: #f9f9f9;
			cursor: pointer;
			transition: all 0.3s linear;
			&:not(.swiper-button-disabled) {
				&:hover {
					background: #222;
					._icon-f {
						color: #fff;
					}
				}
			}
			@media (max-width: $md3+px) {
				width: 35px;
				height: 35px;
				svg {
					width: 15px;
				}
			}
		}

		//.timingSeo__arrows_prev
		&_prev {
			margin-right: 7px;
		}

		//.timingSeo__arrows_next
		&_next {
			margin-left: 7px;
		}
		._icon-f:before {
			transition: color 0.3s linear;
		}
		.swiper-button-disabled ._icon-f:before {
			color: #afafaffa;
		}
	}
}
