.work {
	&.swiper-slide {
		min-width: max-content;

		@media (min-width: 768) {
			width: max-content !important;
			flex: 0 0 auto;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	.title-mb{
		margin-bottom: 0;
	}
	//.work-row
	&-row {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
		width: 100%;
		padding-top: 70px;
		&__item{
			width: 100vw;
		}
		&::-webkit-scrollbar {
			width: 0;
		}
		::-webkit-scrollbar {
			width: 0;
		}
	}

	//.work-grid
	&-grid {
		display: grid;
		// grid-gap: 1vw;
		grid-template-columns: repeat(6, 16.666666%);
		grid-template-rows: repeat(12, 7.5vh);
		justify-content: flex-start;
		width: 80vw;
		@media (max-width: $md1+px) {
			// grid-gap: 2vw;
			// margin-right: 2vw;

			// grid-template-columns: repeat(8, 20vw);
			// grid-template-rows: repeat(12, 6vw);
		}

		//.work-grid__item
		&__item {
			display: flex;

			position: relative;
			height: 100%;
			width: 100%;

			// @media (max-width: $md3+px) {
			// 	flex: 1 1 100%;
			// 	max-width: 100%;
			// 	width: 100%;
			// }

			//.work-grid__item:hover
			&:hover {
				@media (max-width: $md3+px) {
					background: #fff;
				}
				.grid-info {
					opacity: 1;
					visibility: visible;
					z-index: 2;

					// .grid-info__title
					&__title {
						opacity: 1;
						@include translateY(0);
						// .grid-info__title::after
						&::after {
							width: calc(100% - 20px);
						}
					}

					// .grid-info__text
					&__text {
						@include translateY(0%);
						opacity: 1;
					}
				}

				// .btn-arrow {
				// 	transform: translateY(100%) translateX(0%);
				// 	opacity: 1;
				// }
			}
		}
		.work-grid__col {
			margin: 0 0.5vw 1vw;
		}
		//.work-grid__col:nth-child(1)
		&__col:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 9;
		}

		//.work-grid__col:nth-child(2)
		&__col:nth-child(2) {
			grid-column-start: 3;
			grid-column-end: 5;
			grid-row-start: 1;
			grid-row-end: 5;
		}

		//.work-grid__col:nth-child(3)
		&__col:nth-child(3) {
			grid-column-start: 3;
			grid-column-end: 5;
			grid-row-start: 5;
			grid-row-end: 9;
		}

		//.work-grid__col:nth-child(4)
		&__col:nth-child(4) {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 9;
			grid-row-end: 13;
		}

		//.work-grid__col:nth-child(5)
		&__col:nth-child(5) {
			grid-column-start: 3;
			grid-column-end: 5;
			grid-row-start: 9;
			grid-row-end: 13;
		}

		//.work-grid__col:nth-child(6)
		&__col:nth-child(6) {
			grid-column-start: 5;
			grid-column-end: 7;
			grid-row-start: 6;
			grid-row-end: 13;
		}

		//.work-grid__col:nth-child(7)
		&__col:nth-child(7) {
			grid-column-start: 5;
			grid-column-end: 7;
			grid-row-start: 1;
			grid-row-end: 6;
		}
	}
}

.grid {
	//.grid-info
	&-info {
		position: relative;
		z-index: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s linear;
		width: 100%;
		background: rgba(0, 0, 0, 0.65);
		padding: 20px 25px;
		text-align: left;
		@media (max-width: $md3+px) {
			padding: 30% 0;
			display: none;
		}

		//.grid-info__title
		&__title {
			position: relative;
			@include f700();
			line-height: 1.4;
			color: #ffffff;
			margin-bottom: 15px;
			@include adaptiv-value("font-size", 18, 16, 0);
			opacity: 0;
			transition: all 0.3s linear 0.3s;
		}

		&__text {
			@include f400();
			font-size: 14px;
			line-height: 1.4;
			color: #ffffff;
			@include translateY(-20%);
			opacity: 0;
			transition: all 0.3s linear 0.5s;
		}
		// .btn-arrow {
		// 	@include adaptiv-value("margin-top", -120, -60, 0);
		// 	transform: translateY(100%) translateX(-20%);
		// 	opacity: 0;
		// 	transition: 0.3s linear 0.9s;
		// }
	}
}
.grid__item--big {
	.grid-info__title {
		@include adaptiv-value("font-size", 22, 16, 0);
	}
}
