//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:active,
	&:hover,
	&:focus {
		outline: 0;
		outline-offset: 0;
	}
}
.input {
	// border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 1px solid #eee;
	&._form-focus {
	}
	&._form-error {
	}
}
.form__input {
	position: relative;

	padding: 0 15px;
	.input {
		width: 100%;
		border: 1px solid rgba(255, 255, 255, 0.15);
		border-radius: 3px;
		line-height: 55px;
		padding: 0 20px;
		background: none;
		margin-top: 5px;
		font-weight: 400;
		color: $c_5;
	}
	@media (min-width: $mobileSmall) {
		&.col-60 {
			flex: 0 0 67%;
			max-width: 67%;
		}
		&.col-40 {
			flex: 0 0 33%;
			max-width: 33%;
		}
	}
	@media (max-width: $mobileSmall) {
		&.col-60 {
			flex: 0 0 100%;
			max-width: 100%;
		}
		&.col-40 {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}
.input__title {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: $c_5;
	margin-bottom: 5px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.form--black {
	.input__title {
		color: $c_1;
		sup{
			color: $c_2;
			font-size: rem(16);
		}
	}
	
	.input {
		border: 1px solid #cac2bd;
		color: $c_1;
		transition: all 0.3s ease 0s;
		&._form-focus{
			border-color: $c_6;
		}
	}
}

.form__viewpass {
	font-size: rem(20);
	position: absolute;
	right: 35px;
	top: calc(50% + 12px);
	transform: translateY(-50%);
	color: $c_1;
}
