//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	width: 71px;
	height: 40px;
	display: flex;
	align-items: center;
	// .quantity__button
	&__button {
		flex: 0 0 20px;
		position: relative;
		border-radius: 50%;
		height: 20px;
		background-color: $c_2;

		cursor: pointer;
		transition: all 0.3s ease 0s;
		&::before,
		&::after {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			content: "";
			width: 7px;
			height: 1px;
			background-color: $c_5;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $c_1 ;
				&::before,
				&::after {
					// background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			width: 100%;
			text-align: center;
			font-weight: 400;
			font-size: 24px;
			background: none;
			color: $c_1;
			pointer-events: none;
		}
	}
}
