
//--------- COLOR ---------//

$white: #fff
$black: #000
$orange: #E87B36
$pink: pink

//--------- BTN ---------//
	
html,
body
	font-size: 16px
	font-family: OpenSans-Regular
	color: $black

	@media ( max-width:$md3+px )
		font-size: 14px

.wrapper
	overflow: hidden

.main--sidebar
	background-position-y: 100%
	background-position-x: 100%
	background-repeat: no-repeat
	
._section
	padding: 100px 0
	@media ( max-width:$md3+px )
		padding: 55px 0

.container
	max-width: 1170px
	width: 100%

	padding: 0 15px
	margin: 0 auto
//--------- TITLE ---------//

.h1
	font-size: 4rem
	@media ( max-width:$md3+px )
		font-size: 3.42rem

.h2
	font-size: 2.25rem
	@media ( max-width:$md3+px )
		font-size: 1.71rem

.h3
	font-size: 1.87rem
	@media ( max-width:$md3+px )
		font-size: 1.42rem

// .h4
// 	font-size: 1.4rem
// 	@media ( max-width:$md3+px )
// 		font: 1em sans-serif

// .h5
// 	font-size: 1.2rem
// 	@media ( max-width:$md3+px )
// 		font: 1em sans-serif


.btn
	display: block

	padding: 0 20px

	height: 50px
	max-width: 200px
	width: 100%

	vertical-align: middle
	cursor: pointer
	text-align: center
	line-height: 46px
	color: $white
	font-size: 1rem
	font-family: OpenSans-Bold

	background: $orange
	border: 2px solid  $orange
	@include transitTextandBgColor(0.3s)
	&:hover
		background: none
		color: $orange
		
	


	&--bot
		position: fixed
		bottom: 15px
		right: 15px
		box-shadow: 0 0 20px rgba(0,0,0,.4)




