.profSol--white
	background-color: #fff

	.profSol-block
		&__row
			border-color: #086293
			
		&__info
			color: #086293
			transition: color 0.3s linear, bottom 0.3s linear

		&__icon
			filter: none
			transition: filter 0.3s linear

		&__title::after
			background-color: #086293
			@include transitBgColor(0.3s)

		&:hover
			.profSol-block__info
				color: #fff

			.profSol-block__icon
				@include white()

			.profSol-block__title::after
				background-color: #fff
			
.seoText
	padding-top: 50px