.section-product
	padding-top: 0

.product
	.container

	&-block
		display: flex
		justify-content: space-between
		@media ( max-width:$md1+px )
			position: relative
			padding-top: 110px
			flex-wrap: wrap


		&__img
			max-width: 400px
			width: 100%
			height: auto

			margin-right: 26px

			@include img_03(9.7rem)

			@media ( max-width:$md1+px )
				max-width: 100%
				margin-right: 0
				margin-bottom: 15px

		&__imgBox
			@include img_02()

			img
				@include img_01()

		&__title
			font-family: OpenSans-Bold
			color: $orange
			line-height: 49px

			margin-bottom: 18px
			@media ( max-width:$md1+px )
				position: absolute
				top: 0
				left: 0

		&__text
			margin-bottom: 5px
			line-height: 21px

		&__number
			color: #086293
			font-family: OpenSans-Bold

			.product-number
				font-family: OpenSans-Regular
				color: $black
				padding-left: 10px

		.btn
			margin-top: 22px

	
	.tabs
		margin-top: 55px

		width: 100%

	.tab-header 
		display: flex
		align-items: flex-end
		justify-content: flex-start

		height: 53px

		margin: 0
		padding-left: 0

		list-style: none
		@media ( max-width:$md2+px )
			flex-wrap: wrap
			height: auto

		&__item 
			display: flex
			align-items: center
			justify-content: center

			max-width: 165px
			width: 100%

			padding: 5px 20px

			min-height: 53px

			border: 1px solid $orange
			border-bottom: none

			color: $orange
			line-height: 21px
			cursor: pointer

			height: 100%
			@media ( max-width:$md2+px )
				padding: 5px 0 0 0
				max-width: 100%
				flex-direction: column

				line-height: 59px
				&:last-child
					border-bottom: 1px solid $orange

			& + li
				border-left: none
				
				@media ( max-width:$md2+px )
					border-left: 1px solid $orange
					
			&.active 
				height: calc( 100% + 5px )
				position: relative

				background-color: $orange
				color: $white
				@media ( max-width:$md2+px )
					height: 100%

	.tab-content 
		margin: 0
		padding: 0

		list-style: none

		&__item 
			display: none

			margin-top: -1px
			padding: 30px 0
			line-height: 1.4

			border-top: 1px solid $orange
			@media ( max-width:$md2+px )
				padding: 25px 15px

				background: $white
				color: $black

			&.active 
				display: block