.pagination
	position: relative
	z-index: 3

	width: 100%

	font-size: 1
	@media ( max-width: 526px  )
		font-size: 1.3rem

	display: flex
	justify-content: center
	align-items: center

	padding: 0

	list-style-type: none
	
	li
		margin-left: 5px
		margin-right: 5px
		
		&.active
			a
				color: $orange

		a
			color: $black

			&:hover
				color: $orange
				