.section-title
	position: relative
	padding: 15px 0 40px
	font-family: OpenSans-Bold
	color: $white
	line-height: 1.2
	text-transform: uppercase
	text-align: center
	&::after
		@include pseudoEl(block, absolute, '')

		top: 0
		left: 50%
		@include translateX(-50%)
		background: $white

		width: 170px
		height: 2px

._section--white
	.section-title
		color: $orange

		&::after
			background: $orange

._section--left
	padding-top: 0
	
	.section-title
		text-align: left
		&::after
			left: 0
			@include translateX(0)