//<MIXIN>------------------------------------------------------------------------------
@import "mixin"
//</MIXIN>------------------------------------------------------------------------------


//<FONTS>------------------------------------------------------------------------------

@import "fonts"

//</FONTS>------------------------------------------------------------------------------


//<RESET STYLES>------------------------------------------------------------------------------

@import "resetStyles"
// @import bootstrap

//</RESET STYLES>------------------------------------------------------------------------------

  

//<LIBRARIES>------------------------------------------------------------------------------
	// npm i normalize.css
@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"
//</LIBRARIES>------------------------------------------------------------------------------


//<WIDTH PAGE>------------------------------------------------------------------------------

$md1: 991
$md2: 726
$md3: 526

//</WIDTH PAGE>------------------------------------------------------------------------------


//<MAIN>------------------------------------------------------------------------------

@import "main"
@import "section-title"




@import "header"

@import "breadcrumbs"
@import "section-ban"
@import "section-about"
@import "section-profSol"
@import "section-adv"


@import "page-product"
@import "page-contact"
@import "page-profSol"
@import "page-products"
@import "pagination"



@import "footer"





//</MAIN>------------------------------------------------------------------------------


//<TASK>------------------------------------------------------------------------------
// @import "../task/accordionJQ/accordion"
// @import "../task/checkbox/checkbox"
// @import "../task/radio/radio"
// @import "../task/tabs/tabs"
@import "popup"

//</TASK>------------------------------------------------------------------------------