
.btnAn-1
	position: relative
	z-index: 2
	overflow: hidden

	@include transitColor(0.3s)
	
	&::before
		@include pseudoEl(block, absolute, '')
		z-index: -1
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-top: 32px solid $black
		border-bottom: 32px solid $black
		border-right: 32px solid transparent
		transform: translateX(-100%)
		transition: 0.5s ease-in-out

	&::after
		z-index: -1
		@include pseudoEl(block, absolute, '')
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-top: 32px solid $black
		border-bottom: 32px solid $black
		border-left: 32px solid transparent
		transform: translateX(100%)
		transition: 0.5s ease-in-out

	&:hover
		color: $white
		&::before
			transform: translateX(-30%)

		&::after
			transform: translateX(30%)