.footer
	margin-top: 60px
	padding: 40px 0 20px
	display: flex
	flex-wrap: wrap

	background: #46614B
	position: relative
	.container
		position: relative

	@media ( max-width:$md2+px )
		.logo
			flex: 1 1 100%
			max-width: 100%


	&-top
		display: flex
		flex-wrap: wrap
		width: 100%
		margin-bottom: 45px
		@media ( max-width:$md2+px )
			margin-bottom: 0

	.footer-nav
		@extend .col-7
		display: flex
		justify-content: space-between
		@media screen and ( max-width: 1024px )
			display: none
			
		li
			display: flex
			align-items: center
			position: relative
			// margin-left: 0

			// & + li	
				// margin-left: 50px

			a
				position: relative

				color: $white
				text-decoration: none
				&::after
					@include pseudoEl(block, absolute, '')
					bottom: 0
					height: 1px
					width: 0
					left: 0
					transition: width 0.3s linear
				
					background: $white
				&:hover
					&::after
						width: 100%

	&-bot
		width: 100%
		&__text
			color: $white
			margin-bottom: 15px
			@extend .col-5
			@media ( max-width:$md2+px )
				flex: 1 1 100%
				max-width: 100%

	&-contact
		margin-top: -50px
		position: absolute
		right: 0
		top: 0
		color: $white
		background: #86A184
		padding: 36px 42px
		min-width: 275px
		@media ( max-width:$md1+px )
			padding: 3rem 42px

		@media ( max-width:$md2+px )
			position: relative
			margin: 0px 0 0 0
			background: none
			padding: 15px
			
		.icon
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0

		@extend .col-3
		a
			color: $white
			text-decoration: none

		.icon
			padding-left: 30px
		.icon:before
			@include white()

		.icon--phone
			display: flex
			flex-direction: column
			align-items: flex-start

		&__list


	.link-dev
		text-decoration: none
		color: $white
		margin: 0 15px
		b
			position: relative
			
			&::after
				@include pseudoEl(block, absolute, '')
				bottom: 0
				left: 0
				height: 1px
				width: 0
				transition: width 0.3s linear
			
				background: $white
			&:hover
				&::after
					width: 100%

