.header
	position: relative
	z-index: 10
	
	padding-top: 27px

	.container
		
//---- .logo ----//
.logo
	display: flex
	align-items: center
	padding-left: 15px
	padding-right: 15px
	&-link
		max-width: 130px
		height: auto
		display: block

		margin-left: 0
		margin-right: auto

//---- .header-menu ----//	
.header-menu
	display: flex
	align-items: center
	@extend .col-8
	@media screen and ( max-width: 1200px )
		position: absolute
		right: -100%
		top: 100%
		z-index: 99
	
		z-index: 999

		display: block

		margin: 20px 0 0 0 
		padding: 0
		background: $white

		min-width: 320px
		max-width: 30%

		transition: right 0.3s linear

		&.active
			
			right: 0

	@media ( max-width:$md3+px )
		margin-right: 0

		min-width: 100%

	&.active

// ---- .header-menu__ul ----//
.header-menu__ul
	@include flexbox()

	width: 100%
	justify-content: space-between

	@media ( max-width: 1200px )
		display: flex
		flex-direction: column


// ---- .header-menu__ul li ----//
.header-menu__ul 
	&>li
		position: relative

		margin-left: 0
		@media screen and ( max-width: 1200px  )
			padding: 0

		& + li
			margin-left: 20px
			@media screen and ( max-width: 1200px )
				margin-left: 0
				

		a
			display: block
			text-align: center

			padding: 0 10px 5px

			text-decoration: none
			font-size: $fz16
			color: $black
			@media screen and ( max-width: 1200px )
				text-align: right
				position: relative
				padding-right: 25px
				padding-bottom: 10px
				padding-top: 10px
				transition: padding-left 0.3s linear
				border-bottom: 1px solid #E3E4DF
				
					

		@media screen and ( min-width: 1200px )
			&::before
				@include pseudoEl(block, absolute, '')
				width: 0
				left: 0
				bottom: 0
				height: 0
				background: $black
				transition: width 0.3s linear

			&.current-menu-item::before
				width: 37px
				height: 1px

			&.hover::before
				width: 100%
				height: 1px

// ---- .ul-submenu----//

.ul-submenu
	// margin-right: 20px

// ---- .ul-submenu__block ----//
.ul-submenu__block
	position: absolute
	z-index: 99
	top: 100%
	left: 0

	padding: 5px 0

	display: block

	min-width: 220px
	border: 1px solid #D7D7D7

	background: #fff

	opacity: 0
	visibility: hidden
	transition: opacity 0.3s linear, visibility 0.3s linear

	@media screen and ( max-width: 1200px )
		position: relative
		top: auto
		border: none
		opacity: 1
		visibility: visible
		display: none
		
	

	li
		padding: 10px 0
		border-bottom: 1px solid #E3E4DF
		@media screen and ( max-width: 1200px )
			border-bottom: 0
			padding: 0
			
		&:last-child
			border: none
		a
			text-align: left
			position: relative
			padding-bottom: 0
			transition: padding-left 0.3s linear
			@media screen and ( max-width: 1200px )
				text-align: right
				padding: 10px 35px 10px 0
				border-bottom: 1px solid #E3E4DF

			&::before
				@include pseudoEl(block, absolute, '')
				left: 10px
				@include verticalcenter()
				
				width: 0
				height: 1px
				background: $black
				transition: width 0.3s linear


		&.hover
			a
				padding-left: 30px

				&::before
					width: 15px
				

	li + li
		margin-left: 0

// ---- .header-arrow ----//
.header-arrow
	position: absolute
	right: 0
	top: calc( 50% - 1.5px )
	@include translateY(-50%)
	width: 8px
	height: 8px

	transition: transform 0.3s linear
	@media screen and ( max-width: 1200px )
		top: 50%
		right: 10px
		

.ul-submenu.hover
	// ---- .ul-submenu.hover .header-arrow ----//
	&>a .header-arrow
		transform: rotate(90deg) translateX(-50%)
		
	// ---- .ul-submenu.hover .ul-submenu__block ----//
	.ul-submenu__block
		opacity: 1
		visibility: visible
		@media screen and ( max-width: 1200px)
			display: block
			
	
		// ---- .ul-submenu__block .ul-submenu ----//
		.ul-submenu
			margin-right: 0
	
.ul-submenu__block--right
	display: none


// ---- .header-contact ----//
.header-contact
	position: relative
	display: flex
	align-items: center

	
	padding-left: 15px
	padding-right: 15px
	max-width: 200px
	width: 100%
	margin: 0 0 0 auto
	@media ( max-width:$md3+px )
		max-width: 70px
		justify-content: flex-end
	
	.icon:before
		top: 0
	a
		text-decoration: none
		color: $black
		font-size: $fz14
		@media screen and ( max-width: 1125px )
			pointer-events: none

// ---- .header-contact__row ----//
.header-contact__row
	margin: 0 -15px 0
	position: absolute

	padding: 20px 15px
	text-align: center
	width: 100%
	border: 1px solid rgba(255,255 ,255 , 0 )
	max-width: max-content
	@media ( max-width:$md3+px )
		display: none


	.header-contact__info
		display: flex
		flex-direction: column
		align-items: flex-start
		max-width: max-content

	a
		margin-top: 10px
		display: none
		max-width: max-content
		padding-left: 25px
		@media screen and ( min-width: 1024px )
			&:hover
				color: $green

		&:first-child
			margin-top: 0
			display: block

		&:first-child:after
			@include pseudoEl(block, absolute, '')
			@include verticalcenter()
			right: -15px
			width: 10px
			height: 6px
			background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.468384 1.27466L3.94683 4.75302L7.42519 1.27466' stroke='black'/%3E%3C/svg%3E%0A") 100%/cover no-repeat


	@media screen and ( max-width:  1275px )
		margin: 0

		// .logo
		// 	@extend .col-2

	@media screen and ( max-width: 1125px )
		// padding: 15px 26px
		
	
	
// ---- .header-contact.hover ----//
.header-contact.active

	// ---- .header-contact__row.hover ----//
	.header-contact__row
		top: 0
		margin-top: -16px
		border: 1px solid #D7D7D7
		background: $white
		@media ( max-width:$md3+px )
			display: flex
			margin-top: 0
			top: 100%
			background: $white
			width: max-content

		a
			display: block
			&:first-child:after

		
.mbPhone
	width: 32px
	height: 21px
	@media screen and ( min-width: 526px )
		display: none
		

.burger-box
	display: none
	padding-left: 15px
	padding-right: 15px
	@media screen and ( max-width: 1200px )
		
		display: flex
		align-items: center
		justify-content: flex-end
		margin: 0

		.burger
			position: relative

			width: 25px
			height: 25px


			.burger-line
				position: absolute

				display: block

				padding: 0

				width: 25px
				height: 2px

				background-color: black
				
				transition: all 0.4s ease-in-out

			.burger-lineOne
				transform-origin: 5%
				top: 0

			.burger-lineTwo
				top: 50%
				@include translateY(-50%)

			.burger-lineThree
				top: 50%
				@include translateY(-50%)

				right: 0

			.burger-lineFour
				transform-origin: 5%
				bottom: 0


			&.active
				.burger-lineOne
					transform: rotate(45deg)
					height: 2px
					width: 35px

				.burger-lineTwo
					transform: rotate(45deg)
					height: 2px
					background-color: transparent

				.burger-lineThree
					transform: rotate(-45deg)
					height: 2px
					background-color: transparent

				.burger-lineFour
					transform: rotate(-45deg)
					height: 2px
					width: 35px
