
html,
body
	font-size: 16px
	color: $black
	@include f300()

	@media ( max-width:$md3+px )
		font-size: 14px

body.active
	overflow: hidden

//--------- TITLE ---------//

.h1
	font-size: 2rem
	

.h2
	font-size: 1.8rem
	

.h3
	font-size: 1.6rem
	

.h4
	font-size: 1.4rem
	

.h5
	font-size: 1.2rem
	

//--------- BTN ---------//

.btn
	display: block

	padding: 0 20px
	margin: 28px 0 0 0

	border: 2px solid $black
	
	width: 185px
	height: 65px
	@include f500()

	font-size: $fz16
	vertical-align: middle
	cursor: pointer
	text-align: center
	line-height: 61px
	@media ( max-width:$md3+px )
		width: 150px
		height: 55px
		line-height: 51px


	&--bot
		position: fixed
		bottom: 15px
		right: 15px
		box-shadow: 0 0 20px rgba(0,0,0,.4)


	&--arrow
		order: 2
		display: flex
		position: relative
		width: max-content

		text-decoration: none
		@include f500()
		color: $black

		padding-right: 30px

		&::after
			@include pseudoEl(block, absolute, '')
			@include verticalcenter()

			right: 0
			width: 20px
			height: 12px
			
			transition: right 0.3s linear
			background: url("data:image/svg+xml,%3Csvg width='19' height='9' viewBox='0 0 19 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3122 4.97978C18.5075 4.78451 18.5075 4.46793 18.3122 4.27267L15.1302 1.09069C14.935 0.895426 14.6184 0.895426 14.4231 1.09069C14.2279 1.28595 14.2279 1.60253 14.4231 1.79779L17.2516 4.62622L14.4231 7.45465C14.2279 7.64991 14.2279 7.96649 14.4231 8.16176C14.6184 8.35702 14.935 8.35702 15.1302 8.16176L18.3122 4.97978ZM0.710449 5.12622L17.9587 5.12622L17.9587 4.12622L0.710449 4.12622L0.710449 5.12622Z' fill='%2386A184'/%3E%3C/svg%3E%0A") 100%/cover no-repeat
		&:hover
			&::after
				right: -6px
				

.scrollTop
	position: fixed
	right: 15px
	bottom: 15px
	
	display: flex
	justify-content: center
	align-items: center

	width: 50px
	height: 50px

	background: $white
	box-shadow: 0 0 20px rgba(0,0,0,.4)

	cursor: pointer
	
	&__icon
		width: 50px
		height: 50px







