.error
	&-block
		text-align: center
		margin: 0 auto

	&-title
		line-height: 1
		padding-bottom: 20px
		font-size: 260px
		@include f700()


		&__subtitle
			@include f700()
			font-size: $fz48
		
	&-text
		font-size: $fz22
		@include f500()


	.btn
		margin: 20px auto 0