.error
	background: url(../img/section-error/01.svg) 100%/cover no-repeat
	height: 100vh
	min-height: 700px
	display: flex
	align-items: center
	&-block
		@extend .col-12
		text-align: center
		margin: 0 auto

	&-title
		line-height: 1
		padding-bottom: 20px
		font-size: 260px
		@include f700()
		@media ( max-width:$md3+px )
			font-size: 134px

		&__subtitle
			@include f700()
			font-size: $fz48
			@media ( max-width:$md3+px )
				font-size: 28px
		
	&-text
		font-size: $fz22
		@include f500()

	.btn
		margin: 20px auto 0