.service
	@media ( max-width:$md2+px )
		padding-top: 0
	.service-info
		display: flex
		align-items: center
		flex-direction: column
		align-items: flex-start
		@extend .col-5
		@media ( max-width:$md2+px )
			flex: 1 1 100%
			max-width: 100%
			order: 2
			

		&__title
			font-size: $fz30
			@include f700()
			padding-bottom: 10px
			position: relative
			margin-bottom: 15px
			&::after
				@include pseudoEl(block, absolute, '')
				bottom: 0
				width: 120px
				height: 1px
				background: $black
				left: 0
			
		&__text

	&-col
		position: relative
		display: flex
		align-items: center
		@extend .col-7
		padding-bottom: 55px
		@media ( max-width:$md2+px )
			flex: 0 0 100%
			max-width: 100%
			order: 1 

		&::after
			margin-top: -74px
			@include pseudoEl(block, absolute, '')
			right: 0
			margin-left: 15px
			top: 0
			width: calc( 100% - 15px )
			height: calc( 100% + 74px )
			background: #E3E4DF
			@media ( max-width:$md2+px )
				margin-top: 0
				display: none

	&-img
		max-width: 565px
		width: 100%
		height: auto
		position: relative
		z-index: 2
		img
			width: 100%
				
		@media ( max-width:$md2+px )
			max-width: 100%
		

	

		

.servicesNum
	&-col
		@extend .col-4
		@media ( max-width:$md2+px )
			flex: 0 0 50%
			max-width: 50%

		@media ( max-width:$md3+px )
			flex: 0 0 100%
			max-width: 100%
			
		&__box

			padding: 20px 0
			background: $white

		&__num
			font-size: $fz30
			@include f700()
		
		&__title
			@include f500()
			margin-bottom: 10px

		&__text
			padding-bottom: 25px
			position: relative
			margin-bottom: 25px
			&::after
				@include pseudoEl(block, absolute, '')
				width: 0
				height: 1px
				bottom: 0
				background: $black
				transition: width 0.3s linear
				@media ( max-width:$md2+px )
					width: 100%

		.btn--arrow
			filter: brightness(0)

			@media ( min-width:$md2+px )
				opacity: 0
				visibility: hidden
				transition: opacity 0.3s linear, visibility 0.3s linear
			

		&__box:hover
			@media ( min-width:$md2+px )
				.btn--arrow
					opacity: 1
					visibility: visible

				.servicesNum-col__text:after
					width: 100%



.serviceInfo
	position: relative
	.section-title
		position: relative
		padding-bottom: 10px
		&::after
			@include pseudoEl(block, absolute, '')
			bottom: 0
			width: 120px
			height: 1px
			background: #000
			left: 15px
	ul
		padding-left: 1rem

	img
		max-width: 470px
		width: 100%
		float: right
		margin-left: 30px
		margin-bottom: 30px
		@media ( max-width:$md2+px )
			max-width: 100%
			float: none
			margin-left: 0


	h3,h4,.h3,.h4
		font-size: $fz20
		@include f700()
		margin-top: 40px
		margin-bottom: 10px

.serviceInfo-text
	@extend .col-12