.doctors
	&-column
		transition: box-shadow 0.3s linear, height 0.3s linear

		padding-top: 15px
		padding-bottom: 15px
		margin: 20px 0
		@extend .col-3

		&__img
			@include img_03(63%)
			margin-bottom: 15px

		&__imgBox
			@include img_02()

			img
				@include img_02()

		&__info
			
		&__title
			text-decoration: none
			font-size: $fz20
			color: $black
			@include f700()
			@include transitColor(0.3s)
			&:hover
				color: $green

		&__spec
			font-size: $fz14
			margin: 5px 0
			color: #A6A6A6

		&__text


		&__btn

			display: flex
			flex-direction: column
			align-items: flex-start

			margin-top: 15px

			.btn--arrow::after
				filter: brightness(0%)

		&:hover
			box-shadow: 4px 4px 15px rgba(174, 174, 174, 0.25)

			// .doctors-column__btn
			// 	display: flex


.slick-arrow
	cursor: pointer

	@include verticalcenter()
	z-index: 10
	svg
		path
			transition: stroke 0.3s linear
	&:hover
		svg
			path
				stroke: #86A184
	&__left
		left: -4rem

	&__right
		right: -4rem

.blocks-arrow
	display: flex
	margin-left: 20px

	.slick-arrow
		position: relative
		left: 0
		right: 0

		@include translateY(0)

		margin:  0 10px

.doctors-column.slick-slide
	margin: 20px 15px

.ourDoctor
	.doctors-column
		flex: 0 0 33.333333%
		max-width: 33.333333%

		@media ( max-width:$md3+px )
			margin-top: 0
			flex: 1 1 100%
			max-width: 100%

.persDoctor
	padding-top: 0