.section-title
	display: flex
	align-items: center
	flex-wrap: wrap

	color: $black
	@include f700()

	margin-bottom: 40px
	@extend .col-12
	@media ( max-width:$md3+px )
		margin-bottom: 25px


.title-link
	display: flex
	order: 2
	position: relative
	margin-right: 0
	margin-left: auto

	color: $green
	@include f500()
	font-size: $fz16
	text-decoration: none
	padding-right: 20px
	@media screen and ( min-width: 1024px )
		&:hover
			&::after
				right: -10px


	@media ( max-width:$md3+px )
		margin: 0

	&::after
		position: absolute
		content: ''
		right: 0
		transition: right 0.3s linear
		@include verticalcenter()

		width: 17px
		height: 10px
		
		background: url("data:image/svg+xml,%3Csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6658 8.51887C27.0563 8.12835 27.0563 7.49519 26.6658 7.10466L20.3018 0.7407C19.9113 0.350175 19.2781 0.350175 18.8876 0.7407C18.4971 1.13122 18.4971 1.76439 18.8876 2.15491L24.5444 7.81177L18.8876 13.4686C18.4971 13.8591 18.4971 14.4923 18.8876 14.8828C19.2781 15.2734 19.9113 15.2734 20.3018 14.8828L26.6658 8.51887ZM0.710999 8.81177H25.9586V6.81177H0.710999V8.81177Z' fill='black'/%3E%3C/svg%3E%0A") 100%/cover no-repeat
	
	