.section-title
	display: flex
	align-items: center
	flex-wrap: wrap
	text-transform: uppercase

	color: $black
	@include f700()

	margin-bottom: 40px
	@extend .col-12
	@media ( max-width:$md1+px )
		margin-bottom: 25px


.title-link
	display: flex
	order: 2
	position: relative
	margin-right: 0
	margin-left: auto

	color: #86A184
	@include f500()
	font-size: $fz16
	text-decoration: none
	padding-right: 30px
	text-transform: initial

	@media screen and ( min-width: 1024px )
		transition: filter 0.3s linear
		&:hover
			filter: brightness(0)



	@media ( max-width:$md3+px )
		margin: 0

	&::after
		position: absolute
		content: ''
		right: 0
		transition: right 0.3s linear
		@include verticalcenter()
	
		width: 17px
		height: 10px
		
		background: url("data:image/svg+xml,%3Csvg width='19' height='9' viewBox='0 0 19 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3122 4.97978C18.5075 4.78451 18.5075 4.46793 18.3122 4.27267L15.1302 1.09069C14.935 0.895426 14.6184 0.895426 14.4231 1.09069C14.2279 1.28595 14.2279 1.60253 14.4231 1.79779L17.2516 4.62622L14.4231 7.45465C14.2279 7.64991 14.2279 7.96649 14.4231 8.16176C14.6184 8.35702 14.935 8.35702 15.1302 8.16176L18.3122 4.97978ZM0.710449 5.12622L17.9587 5.12622L17.9587 4.12622L0.710449 4.12622L0.710449 5.12622Z' fill='%2386A184'/%3E%3C/svg%3E%0A") 100%/cover no-repeat
	
	