//<POPUP>---------------------------------------
.modal-overlay 
	display: flex
	align-items: center
	justify-content: center
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 5
	background-color: rgba(0, 0, 0, 0.6)
	opacity: 0
	visibility: hidden
	backface-visibility: hidden
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1)

	&.active 
		opacity: 1
		visibility: visible
		z-index: 99


.modal 
	border: 2px solid #000000
	display: none
	justify-content: center
	position: relative
	margin: 0 auto
	background-color: #fff
	width: 500px
	max-width: 75rem
	min-height: 20rem
	padding: 25px 35px
	border-radius: 3px
	opacity: 0
	overflow-y: auto
	visibility: hidden
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
	backface-visibility: hidden
	transform: scale(1.2)
	transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)

	.close-modal 
		position: absolute
		cursor: pointer
		top: 5px
		right: 15px
		opacity: 0
		backface-visibility: hidden
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1)
		transition-delay: 0.3s

		svg 
			width: 1.75em
			height: 1.75em

	.modal-content 
		
		opacity: 0
		backface-visibility: hidden
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1)
		transition-delay: 0.3s

		&__title
			font-size: $fz20
			@include f700()
			margin-bottom: 20px

		
	&.active 
		display: flex
		visibility: visible
		opacity: 1
		transform: scale(1)

		.modal-content 
			opacity: 1

		.close-modal 
			transform: translateY(10px)
			opacity: 1


	.modal-content__form

		.input, .select
			margin-bottom: 20px
		.input, .select, .textarea
			width: 100%
			display: flex
			flex-direction: column
			align-items: flex-start

			font-size: $fz14
			@include f700()

		.input--file
			margin-top: 20px
			font-size: $fz14
			@include f700()
			label
				cursor: pointer
				display: flex
				justify-content: center
				align-items: center
				width: 37px
				height: 37px
				position: relative
				border: 1px solid $black
				&:after,&:before
					@include pseudoEl(block, absolute, '')
					width: 11px
					height: 1px
					background: $black

				&:before
					@include rotate(90deg)

			input
				width: 0px
				height: 0px
				opacity: 0
				visibility: hidden

			.input-file__box
				display: flex
   			align-items: center

				.input-number
					margin-left: 5px
					display: flex
					align-items: center

		input, select
			width: 100%

			border-bottom: 1px solid #000000

			font-size: $fz16
			@include f300()

		input
			padding: 0 5px
		textarea
			padding: 5px
			min-height: 90px
			font-size: $fz16
			@include f300()
			width: 100%

			border: 1px solid #000000
			resize: none

		
.modal--thanks
	margin-left: 90px
	margin-right: 90px

	max-width: 500px
	min-height: 10rem
	// display: flex
	align-items: center
	justify-content: center
	text-align: center

	.modal-content
		font-size: $fz20
		@include f700()

		.subText
			margin-top: 10px
			font-size: $fz14

//</POPUP>---------------------------------------
