
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================

//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}

._swiper {
	// overflow: hidden;

	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		display: flex;
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}

.swiper-arrow {
	display: flex;

	@media (min-width: $md3+px) {
		position: absolute;
		right: 0;
		top: 50%;
		@include translateY(-50%);
	}
	@media (max-width: $md2+px) {
		right: 15px;
	}
	@media (max-width: $md3+px) {
		margin-top: 10.3vw;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4.5vw;
		height: 4.5vw;
		border: 1px solid #000;
		border-radius: 50%;
		transition: all 0.3s linear;
		&.swiper-button-disabled {
			border: 1px solid #c1c1c1;
			
			._icon {
				color: #c1c1c1;
			}
		}
		@media (max-width: $md2+px) {
			height: 5.9vw;
			width: 5.9vw;
		}
		@media (max-width: $md3+px) {
			height: 10.9vw;
			width: 10.9vw;
		}
		._icon {
			font-size: 0.4em;
			transition: all 0.3s linear;
			@media (max-width: $md2+px) {
				font-size: 0.3em;
			}
			@media (max-width: $md3+px) {
				font-size: 0.4em;
			}
		}
		&:not(.swiper-button-disabled):hover {
		cursor: pointer;

			border: 1px solid #d7a781;
			transform: scale(1.1);
			._icon {
				color: #d7a781;
			}
		}
	}
	.swiper-button-prev {
		margin-right: 1.8vw;
		@media (max-width: $md3+px) {
			margin-right: 4.5vw;
		}
	}
	.swiper-button-next {
		._icon {
			@include rotate(180deg);
		}
	}
}

._section {
	padding: 9.4vw 0;
	@media (max-width: $md3+px) {
		padding: 25.5vw 0;
	}
}

.section-offer,
.section-made,
.section-why {
	.section-title .section-title__content {
		position: relative;
		padding: 0 40% 0 15px;
	}
}

.section-title {
	position: relative;
	display: flex;
	align-items: center;

	font-family: CormorantSC;
	font-style: normal;
	font-weight: 600;
	font-size: 4vw;
	margin-bottom: 3.15vw;
	line-height: 115.87%;
	color: #000;
	// max-width: 50%;
	justify-content: space-between;

	@media (max-width: $md2+px) {
		font-size: 8.4vw;
	}
	@media (max-width: $md3+px) {
		font-size: 10.7vw;
	}
}

.bg-dark {
	background: #1e1e1e;
	.section-title {
		color: #fff;
	}
	.btn {
		&-box {
			color: #fff;
		}
		&-cricle {
			border: 1px solid #fff;
		}
		&-text {
			color: #fff;
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		border: 1px solid #fff;
	}
}

.btn {
	background: none;
	//.btn-box
	&-box {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		// margin-left: 8.8vw;
		color: #000;
		transition: all 0.3s linear;
		cursor: pointer;
	}

	//.btn-cricle
	&-cricle {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 4.5vw;
		height: 4.5vw;

		border: 1px solid #000000;
		border-radius: 50%;
		transition: all 0.3s linear;
		@media (max-width: $md2+px) {
			width: 9.4vw;
			height: 9.4vw;
		}
		@media (max-width: $md3+px) {
			width: 14.4vw;
			height: 14.4vw;
		}
	}

	//.btn-text
	&-text {
		font-family: "CormorantSC";
		font-style: normal;
		font-weight: 600;
		font-size: 1.5vw;
		line-height: 93.87%;
		text-align: right;
		max-width: 65%;
		color: #000000;
		padding-right: 1.25vw;
		transition: all 0.3s linear;
		@media (max-width: $md1+px) {
			font-size: 1.72vw;
		}
		@media (max-width: $md2+px) {
			font-size: 3.13vw;
			// max-width: 18.3vw;
			// left: -18.3vw;
			padding-right: 2.7vw;
		}
		@media (max-width: $md3+px) {
			font-size: 5.7vw;
		}
	}

	._icon {
		@include rotate(125deg);
		font-size: 1.5em;
		transition: all 0.3s linear;
		@media (max-width: $md2+px) {
			font-size: 2em;
		}
		@media (max-width: $md3+px) {
			font-size: 1.5em;
		}
	}

	&:hover {
		._icon {
			@include rotate(320deg);
			// color: #d7a781;
		}
		.btn-text {
			// color: #d7a781;
		}
		.btn-cricle {
			// border: 1px solid #d7a781;
		}
	}
}

.social {
	@include verticalcenter();
	@media (min-width: $md3+px) {
		left: 2.5vw;
	}
	@media (max-width: $md3+px) {
		position: relative;
		padding: 0 15px;
		top: 0;
		left: 0;
		@include translateY(0);
		display: flex;
	}
	//.social__icon
	&__icon {
		// display: flex;
		// align-items: center;
		// justify-content: center;

		margin-bottom: 1.25vw;

		width: 2vw;
		height: 2vw;
		border-radius: 50%;

		background: rgba($color: #a2a2a2, $alpha: 0.1);
		transition: all 0.3s linear;
		// font-size: calc( 2vw / 3);
		font-size: 1em;
		a {
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		@media (max-width: $md1+px) {
			width: 2.3vw;
			height: 2.3vw;
			margin: 0 0 1.45vw 0;
			// font-size: calc(2.3vw / 2);
		}
		@media (max-width: $md2+px) {
			width: 4.2vw;
			height: 4.2vw;
			font-size: 1em;
			// font-size: calc(4.2vw / 2.3);
		}
		@media (max-width: $md3+px) {
			width: 8.5vw;
			height: 8.5vw;
			font-size: 1em;
			line-height: 0;
			margin-bottom: 0;
			&:not(:last-child) {
				margin-right: 3.1vw;
			}
		}

		._icon {
			color: #050505;
			transition: all 0.3s linear;
		}
		._icon-be {
			font-size: 0.75em;
		}

		&:hover {
			background: #d7a781;
			._icon {
				color: #fff;
			}
		}
	}
}

.btn-file {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 0;
	margin: auto;
	cursor: pointer;
}
.btn-file:hover,
.btn-file:focus {
	// color: #888;
	// border-color: #888;
}
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	
}
.input-file + .js-labelFile {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	max-width: max-content;
	margin: 0px 0px 0px 0;
}
.input-file:hover + .js-labelFile .icon{
	background: #d7a781;

}
.input-file + .js-labelFile .icon {
	position: relative;
	display: block;
	margin-left: 0.5vw;
	background: #1e1e1e;
	width: 1.45vw;
	height: 1.45vw;
	border-radius: 50%;
	min-width: 24px;
	min-height: 24px;
	transition: 0.3s linear;
	@media ( max-width:$md2+px){
		margin-left: 1vw;
	}

	&:before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: 0.7vw;
		min-width: 10px;
		min-height: 1px;
		height: 0.05vw;
		background: #fff;
	}
	&::after {
		transform: translateX(-50%) translateY(-50%) rotate(90deg);
	}
}

.logo{
	display: block
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
