//<WIDTH PAGE>------------------------------------------------------------------------------

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 75vw;
// $md1: $maxWidthContainer + 12;
$md1: 1400.98;
$md2: 991.98;
$md3: 526.98;

//</WIDTH PAGE>------------------------------------------------------------------------------


//<COLOR>------------------------------------------------------------------------------

$green: green;
$blue: blue;
$red: red;
$yellow: yellow;
$white: #fff;
$black: #040406;

//</COLOR>------------------------------------------------------------------------------

//<FONT SIZE>------------------------------------------------------------------------------

// desktop
$fz10: 0.625rem;
$fz11: 0.6875rem;
$fz12: 0.75rem;
$fz13: 0.8125rem;
$fz14: 0.875rem;
$fz15: 0.9375rem;
$fz16: 1rem;
$fz17: 1.0625rem;
$fz18: 1.125rem;
$fz19: 1.1875rem;
$fz20: 1.25rem;
$fz21: 1.3125rem;
$fz22: 1.375rem;
$fz23: 1.4375rem;
$fz24: 1.5rem;
$fz25: 1.5625rem;
$fz26: 1.625rem;
$fz27: 1.6875rem;
$fz28: 1.75rem;
$fz29: 1.8125rem;
$fz30: 1.875rem;
$fz31: 1.9375rem;
$fz32: 2rem;
$fz33: 2.0625rem;
$fz34: 2.125rem;
$fz35: 2.1875rem;
$fz36: 2.25rem;
$fz37: 2.3125rem;
$fz38: 2.375rem;
$fz39: 2.4375rem;
$fz40: 2.5rem;
$fz41: 0.625rem;
$fz42: 2.625rem;
$fz43: 2.6875rem;
$fz44: 2.75rem;
$fz45: 2.8125rem;
$fz46: 2.875rem;
$fz47: 2.9375rem;
$fz48: 3rem;
$fz49: 3.0625rem;
$fz50: 3.125rem;

//mobile
$mfz10: 0.7143rem;
$mfz11: 0.7857rem;
$mfz12: 0.8571rem;
$mfz13: 0.9286rem;
$mfz14: 1rem;
$mfz15: 1.0714rem;
$mfz16: 1.1429rem;
$mfz17: 1.2143rem;
$mfz18: 1.2857rem;
$mfz19: 1.3571rem;
$mfz20: 1.4286rem;
$mfz21: 1.5rem;
$mfz22: 1.5714rem;
$mfz23: 1.6429rem;
$mfz24: 1.7143rem;
$mfz25: 1.7857rem;
$mfz26: 1.8571rem;
$mfz27: 1.9286rem;
$mfz28: 2rem;
$mfz29: 2.0714rem;
$mfz30: 2.1429rem;
$mfz31: 2.2143rem;
$mfz32: 2.2857rem;
$mfz33: 2.3571rem;
$mfz34: 2.4286rem;
$mfz35: 2.5rem;
$mfz36: 2.5714rem;
$mfz37: 2.6429rem;
$mfz38: 2.7143rem;
$mfz39: 2.7857rem;
$mfz40: 2.8571rem;
$mfz41: 2.9286rem;
$mfz42: 3rem;
$mfz43: 3.0714rem;
$mfz44: 3.1429rem;
$mfz45: 3.2143rem;
$mfz46: 3.2857rem;
$mfz47: 3.3571rem;
$mfz48: 3.4286rem;
$mfz49: 3.5rem;
$mfz50: 3.5714rem;

//</FONT SIZE>------------------------------------------------------------------------------

