.bg-blue {
  background: #F3F9FE;
}

.corporate_coaching .lp-hero-desc__title {
  font-size: 24px;
  line-height: 30px;
  color: #151F59;
  font-weight: bold;
}

.corporate_coaching #lp-hero.lp-as.lp-un {
  background-image: url(../img/corporate_coaching/01.jpg);
}

.corporate_coaching #lp-hero.lp-as.lp-un h1,
.corporate_coaching .bx-breadcrumb .bx-breadcrumb-item a,
.corporate_coaching .bx-breadcrumb .bx-breadcrumb-item a span {
  color: #151F59;
}

.corporate_coaching #lp-hero.lp-as.lp-un h1 {
  font-size: 45px;
}

.corporate_coaching #lp-hero ul {
  list-style-type: none;
}

.corporate_coaching #lp-hero ul li {
  margin-top: 13px;
}

.corporate_coaching .lp-btn.lp-btn-blue {
  background: #151F59;
  color: #fff;
}

.corporate_coaching .lp-direction-icon {
  margin-bottom: 20px;
}

.corporate_coaching .lp-direction-icon img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto;
}

.corporate_coaching .lp-direction-text {
  line-height: 21px;
}

.corporate_coaching #lp-direction .lp-direction-block {
  position: relative;
}

.corporate_coaching #lp-direction .lp-direction-block::before {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 1px;
  background: #E6E6E6;
  height: 112px;
}

.corporate_coaching #lp-direction .col-6:last-child .lp-direction-block::before {
  display: none;
}

.corporate_coaching .order-additionally {
  margin-top: 30px;
}

.corporate_coaching .order-additionally .order-additionally__img {
  margin-top: -30px;
}

.corporate_coaching .order-additionally li {
  padding-left: 31px;
  position: relative;
}

.corporate_coaching .order-additionally li::after {
  position: absolute;
  left: 0;
  top: 5px;
  background: #151F59;
  width: 13px;
  height: 13px;
  content: '';
  border-radius: 50%;
}

.corporate_coaching .lp-cta-block {
  padding-left: 0;
  padding-right: 0;
}

.corporate_coaching .lp-cta-block .lp-cta-title__sub {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: initial;
}

.specificity {
  padding: 50px 0;
}

.specificity .col-md-4 {
  margin-bottom: 45px;
}

.specificity-block {
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #fff;
  padding: 20px 50px 80px;
  border-bottom: 2px solid #151F59;
}

.specificity-block::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 0;
  border-color: transparent #F3F9FE transparent transparent;
}

.efficient {
  padding: 50px 0;
}

.efficient-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.efficient-block {
  padding: 30px;
  background: #F3F9FE;
  height: 100%;
}

.efficient-block__img {
  margin-bottom: 30px;
}

.efficient .lp-request-btn {
  margin-top: 0;
}

.options_cooperation {
  padding: 50px 0;
}

.options_cooperation .cooperation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F3F9FE;
  height: 100%;
  in-bottom: 30px;
}

.options_cooperation .cooperation-block__title {
  text-align: center;
  background: #151F59;
  line-height: 71px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.options_cooperation .cooperation-block__info {
  padding: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.options_cooperation .cooperation-block__info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.options_cooperation .cooperation-block__info ul li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}

.options_cooperation .cooperation-block__info ul li::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-background-size: contain;
}

.options_cooperation .cooperation-block__info ul li.icon-session:after {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14.8078 19.0355C13.4601 20.1254 11.541 20.1261 10.1925 19.0355C8.93108 19.8129 8.08838 21.2068 8.08838 22.794V24.9999H16.9119V22.794C16.9119 21.2068 16.0692 19.8129 14.8078 19.0355Z' fill='%23151F59'/%3E%3Cpath d='M12.5003 18.3823C13.7186 18.3823 14.7062 17.3947 14.7062 16.1765C14.7062 14.9582 13.7186 13.9706 12.5003 13.9706C11.282 13.9706 10.2944 14.9582 10.2944 16.1765C10.2944 17.3947 11.282 18.3823 12.5003 18.3823Z' fill='%23151F59'/%3E%3Cpath d='M12.5 11.7647C15.7436 11.7647 18.3824 9.12588 18.3824 5.88235C18.3824 2.63882 15.7436 0 12.5 0C9.2565 0 6.61768 2.63882 6.61768 5.88235C6.61768 9.12588 9.2565 11.7647 12.5 11.7647ZM11.7647 3.67647H13.2353V5.48887L15.1138 6.74118L14.2981 7.96471L11.7647 6.27583V3.67647Z' fill='%23151F59'/%3E%3Cpath d='M22.1606 17.5649C20.8129 18.6548 18.8938 18.6556 17.5452 17.565C17.1464 17.8108 16.7895 18.1182 16.4878 18.474C18.7751 20.5869 18.3302 23.2456 18.3823 23.5293H24.2647V21.3235C24.2647 19.7362 23.422 18.3423 22.1606 17.5649Z' fill='%23151F59'/%3E%3Cpath d='M19.8533 16.9118C21.0716 16.9118 22.0592 15.9242 22.0592 14.7059C22.0592 13.4876 21.0716 12.5 19.8533 12.5C18.6351 12.5 17.6475 13.4876 17.6475 14.7059C17.6475 15.9242 18.6351 16.9118 19.8533 16.9118Z' fill='%23151F59'/%3E%3Cpath d='M8.51226 18.474C8.21055 18.1182 7.85354 17.8108 7.45476 17.565C6.10707 18.6548 4.18795 18.6555 2.83942 17.5649C1.57805 18.3423 0.735352 19.7362 0.735352 21.3235V23.5293H6.6177C6.67011 23.2436 6.22315 20.5886 8.51226 18.474Z' fill='%23151F59'/%3E%3Cpath d='M5.1468 16.9118C6.36508 16.9118 7.35268 15.9242 7.35268 14.7059C7.35268 13.4876 6.36508 12.5 5.1468 12.5C3.92853 12.5 2.94092 13.4876 2.94092 14.7059C2.94092 15.9242 3.92853 16.9118 5.1468 16.9118Z' fill='%23151F59'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.options_cooperation .cooperation-block__info ul li.icon-online:after {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22.2156 4.61615C22.2156 6.29919 20.8513 7.66352 19.1685 7.66352C17.4854 7.66352 16.1211 6.29919 16.1211 4.61615C16.1211 2.9333 17.4854 1.56897 19.1685 1.56897C20.8513 1.56897 22.2156 2.9333 22.2156 4.61615Z' fill='%23151F59'/%3E%3Cpath d='M13.8941 8.56342L12.4477 6.39458V2.69394C12.4477 1.21727 11.2568 0 9.75437 0H2.69394C1.19915 0 0 1.21002 0 2.69394V7.00836C0 8.48885 1.19476 9.70211 2.69394 9.70211H13.2847C13.8681 9.70211 14.2183 9.0498 13.8941 8.56342ZM6.20346 6.95648H3.89099C3.49655 6.95648 3.15723 6.65302 3.13892 6.25896C3.11966 5.8382 3.45421 5.49164 3.87058 5.49164H6.22425C6.63986 5.49164 6.97517 5.8382 6.95572 6.25877C6.9376 6.65302 6.59809 6.95648 6.20346 6.95648ZM8.57773 4.21047H3.89137C3.49712 4.21047 3.158 3.90778 3.13911 3.5141C3.1189 3.09334 3.45383 2.74563 3.87058 2.74563H8.55694C8.95157 2.74563 9.29108 3.04909 9.3092 3.44334C9.32865 3.86391 8.99334 4.21047 8.57773 4.21047Z' fill='%23151F59'/%3E%3Cpath d='M5.68771 18.1715C2.53315 18.1824 0 20.7867 0 23.9413V24.1019C0 24.598 0.402069 25 0.89817 25H10.5175C11.0136 25 11.4157 24.598 11.4157 24.1019V23.8793C11.4157 20.7201 8.84933 18.1605 5.68771 18.1715Z' fill='%23151F59'/%3E%3Cpath d='M9.30219 14.5772C9.30219 16.5622 7.69315 18.1714 5.70798 18.1714C3.723 18.1714 2.11377 16.5622 2.11377 14.5772C2.11377 12.5923 3.723 10.983 5.70798 10.983C7.69315 10.983 9.30219 12.5923 9.30219 14.5772Z' fill='%23151F59'/%3E%3Cpath d='M23.7906 11.7676H14.5459C14.8185 9.45667 16.7838 7.66357 19.1685 7.66357C21.5527 7.66357 23.5181 9.45667 23.7906 11.7676Z' fill='%23151F59'/%3E%3Cpath d='M24.2675 13.2812C24.6721 13.2812 24.9999 13.6091 24.9999 14.0137V22.6988C24.9999 23.1148 24.6528 23.4503 24.2319 23.4303C23.8384 23.4116 23.5351 23.0722 23.5351 22.6778V21.8618H12.5913C12.099 20.186 11.0107 18.7622 9.57178 17.8389C10.3168 16.9575 10.7671 15.8188 10.7671 14.5771C10.7671 14.1294 10.7084 13.6953 10.5985 13.2812H24.2675Z' fill='%23151F59'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.options_cooperation .cooperation-block__boximg {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 41% 0;
}

.options_cooperation .cooperation-block__boximg::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(21, 31, 89, 0.45);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.options_cooperation .cooperation-block__img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.options_cooperation .cooperation-block__img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
  object-fit: cover;
}

.options_cooperation .cooperation-block:hover .cooperation-block__boximg:after {
  opacity: 0;
}

.accordeon-js {
  width: 100%;
}

.accordeon {
  padding: 50px 0;
}

.accordeon .accordeon-box .accordeon-head {
  position: relative;
  padding: 25px 20px 25px 0;
  border-bottom: 1px solid #E3E3E3;
  font-size: 22px;
  font-weight: 700;
}

.accordeon .accordeon-box .accordeon-head.acc-head-js {
  cursor: pointer;
}

.accordeon .accordeon-box .accordeon-head.acc-head-js::before {
  content: '';
  position: absolute;
  right: 3px;
  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.accordeon .accordeon-box .accordeon-head.active {
  border-bottom: 1px solid #151F59;
}

.accordeon .accordeon-box .accordeon-head.active.acc-head-js::before {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  -ms-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.accordeon .accordeon-box .accordeon-head .accordeon-number {
  color: #151F59;
  font-weight: bold;
  margin-right: 20px;
}

.accordeon .accordeon-box .accordeon-body {
  padding: 25px 0;
  border-bottom: 1px solid #E3E3E3;
}

.accordeon .accordeon-box .accordeon-body ul {
  list-style-type: none;
  padding: 0;
  padding-left: 45px;
  margin: 0;
}

.accordeon .accordeon-box .accordeon-body p {
  margin: 0 0 0px 0;
}

.accordeon .accordeon-box .accordeon-body b {
  color: #151F59;
}

.accordeon .accordeon-box .accordeon-body ul li {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.accordeon .accordeon-box .accordeon-body ul li::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  background: #151F59;
  border-radius: 50%;
}

.principles {
  padding: 50px 0;
}

.principles-block {
  padding: 40px 30px;
  background: #F3F9FE;
  height: 100%;
}

.principles-block__title {
  color: #151F59;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.principles-block__title::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 120px;
  background: #151F59;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.principles-block__text {
  margin-top: 30px;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 1224px) {
  .specificity-block {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .options_cooperation .col-md-6 {
    margin-bottom: 30px;
  }

  .principles .col-md-6 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .corporate_coaching .lp-title {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .corporate_coaching .lp-bc.lp-as.lp-un .lp-title {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 526px) {
  .corporate_coaching #lp-hero.lp-as.lp-un {
    background-image: url(../img/corporate_coaching/mb-01.jpg);
  }

  .corporate_coaching .lp-bc.lp-as.lp-un .lp-title {
    font-size: 26px;
  }

  .specificity-block {
    font-size: 20px;
  }

  .accordeon .accordeon-box .accordeon-body ul {
    padding-left: 0;
  }

  .accordeon .accordeon-box .accordeon-body p {
    padding-left: 0;
  }

  .accordeon-box .accordeon-head,
  .game_session .accordeon-box .accordeon-head {
    padding: 15px 0;
    font-size: 18px;
  }

  .accordeon-box .accordeon-head .accordeon-number,
  .game_session .accordeon-box .accordeon-head .accordeon-number {
    margin-right: 10px;
  }

  .accordeon-box .accordeon-body ul,
  .game_session .accordeon-box .accordeon-body ul {
    padding-left: 10px;
  }
}