.service_landing .bx-breadcrumb .bx-breadcrumb-item a,
.service_landing .bx-breadcrumb .bx-breadcrumb-item a span {
  color: #151F59;
}

.service_landing #lp-hero {
  position: relative;
}

.service_landing #lp-hero .lp-hero-bg {
  position: relative;
  z-index: 2;
}

.service_landing #lp-hero:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30.85%, rgba(255, 255, 255, 0.9)), color-stop(68.55%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 30.85%, rgba(255, 255, 255, 0) 68.55%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 30.85%, rgba(255, 255, 255, 0) 68.55%);
}

.service_landing #lp-hero.lp-as.lp-un {
  background-image: url(../img/01.jpg);
}

.service_landing #lp-hero.lp-as.lp-un h1 {
  color: #151F59;
}

.service_landing .lp-hero-desc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 450px;
}

.service_landing .lp-hero-desc ul li {
  margin-bottom: 15px;
  color: #151F59;
  line-height: 30px;
}

.service_landing .lp-hero-desc ul li b {
  color: #151F59;
}

.service_landing #lp-hero.lp-as.lp-un a.lp-btn.lp-btn-white {
  background: #151F59;
  border-color: #151F59;
  color: #fff;
}

.service_landing #lp-hero.lp-as.lp-un a.lp-btn.lp-btn-white:hover {
  color: #151F59;
}

.service_landing .diagnostics-need,
.service_landing .diagnostics {
  padding: 50px 0;
  width: 100%;
}

.service_landing .diagnostics-need .lp-title {
  text-transform: uppercase;
}

.service_landing .diagnostics-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service_landing .diagnostics-block {
  background: #F3F9FE;
  padding: 40px 55px 40px 40px;
  margin-bottom: 30px;
  height: 100%;
}

.service_landing .diagnostics-block__info {
  margin-top: 20px;
  line-height: 25px;
}

.service_landing .accordeon-js {
  width: 100%;
}

.service_landing .diagnostics-box .diagnostics-head {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #E3E3E3;
  font-size: 22px;
}

.service_landing .diagnostics-box .diagnostics-head.acc-head-js {
  cursor: pointer;
}

.service_landing .diagnostics-box .diagnostics-head.acc-head-js::before {
  content: '';
  position: absolute;
  right: 3px;
  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.service_landing .diagnostics-box .diagnostics-head.active {
  border-bottom: 1px solid #151F59;
}

.service_landing .diagnostics-box .diagnostics-head.active.acc-head-js::before {
  -webkit-transform: rotate(-135deg) translateY(-50%);
      -ms-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
}

.service_landing .diagnostics-box .diagnostics-head .diagnostics-number {
  color: #151F59;
  font-weight: bold;
  margin-right: 20px;
}

.service_landing .diagnostics-box .diagnostics-body {
  padding: 25px 0;
  border-bottom: 1px solid #E3E3E3;
}

.service_landing .diagnostics-box .diagnostics-body ul {
  list-style-type: none;
  padding: 0;
  padding-left: 45px;
  margin: 0;
}

.service_landing .diagnostics-box .diagnostics-body ul li {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.service_landing .diagnostics-box .diagnostics-body ul li::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  background: #151F59;
  border-radius: 50%;
}

.service_landing .lp-cta-block .lp-cta-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.service_landing .order-additionally {
  margin-top: 40px;
  background: #F3F9FE;
}

.service_landing .order-additionally__img {
  margin-top: -30px;
}

.service_landing .order-additionally__img img {
  max-width: 100%;
  display: block;
}

.service_landing .order-additionally__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #151F59;
}

.service_landing .order-additionally__info {
  padding: 50px 0;
}

.service_landing .order-additionally__info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.service_landing .order-additionally__info ul li {
  margin-bottom: 20px;
  line-height: 25px;
}

.service_landing .lp-cta-block .popup-modal {
  background: #fff;
  color: #151F59;
}

.service_landing .lp-cta-block .popup-modal:hover {
  color: #fff;
  background: none;
}

@media (max-width: 768px) {
  .service_landing .order-additionally__box {
    display: none;
  }
}

@media (max-width: 562px) {
  .service_landing .lp-bc.lp-as.lp-un .lp-title {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 526px) {
  .service_landing .diagnostics-block {
    padding: 20px 25px;
  }

  .service_landing .diagnostics-box .diagnostics-head {
    padding: 15px 0;
    font-size: 18px;
  }

  .service_landing .diagnostics-box .diagnostics-head .diagnostics-number {
    margin-right: 10px;
  }

  .service_landing .diagnostics-box .diagnostics-body ul {
    padding-left: 10px;
  }
}

@media (max-width: 400px) {
  .service_landing .lp-direction-text {
    font-size: 14px;
  }

  .service_landing .lp-direction-icon {
    margin-bottom: 10pxgulp;
  }
}