.container--contact
	flex-direction: column

	text-align: center


	.contact-info
		position: relative
		z-index: 2

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

		padding: 100px 0

		font-family: "Montserrat-Light"
		font-size: 1.2rem

		.contact-title
			margin-bottom: 100px

			font-family: "Montserrat-Black"
			font-size: 2rem

		a
			margin-top: 35px

			font-family: "Montserrat-ExtraBold"
			font-size: 1.6rem
			color: #000

		.contact-text
			position: relative
			z-index: 2

			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			
		.contact-imgOne
			position: absolute
			top: 0
			left: -25%

			max-width: 735px
			width: 100%

			img
				display: block

		.contact-imgTwo
			position: absolute
			right: -30%
			bottom: 0

			max-width: 650px
			width: 100%

			img
				display: block
