.container--feedback
	position: relative
	z-index: 2

	flex-direction: column

	padding: 100px 12px

.feedback
	text-align: center
	font-family: "Montserrat-Light"
	font-size: 1.3rem
	color: #ffffff

	background: #0b3554

	&-title
		position: relative
		z-index: 2

		margin-bottom: 30px

		font-family: "Montserrat-Black"
		font-size: 2rem

	&--form
		position: relative
		z-index: 2

		justify-content: space-around
		flex-wrap: wrap

		margin: 60px auto
	
		width: 100%

		.button
			margin: auto
			margin-top: 40px

			background: $yellow


		.input
			margin: auto
			margin-top: 40px 
		


.feedback--one, .feedback--two 
	.feedback-top__text
		position: relative
		z-index: 2

.feedback-bottom__text
	position: relative
	z-index: 2

	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column

	font-family: "Montserrat-Light"
	font-size: 0.9rem

	span
		margin-top: 29px

	a
		margin-top: 15px

		font-family: "Montserrat-ExtraBold"
		font-size: 30px
		font-weight: 400

		color: #fff

.feedback--one__img
		position: absolute
		bottom: 0
		left: -30%

		max-width: 620px
		width: 100%
		height: auto


		img
			display: block


.feedback--two
	.feedback--form
		justify-content: center
		
		.input
			margin-right: 15px
		.button
			margin-left: 15px
			
.feedback--two__img
		position: absolute
		top: 0
		right: -25%

		max-width: 445px
		width: 100%
		height: auto

		img
			display: block

.feedback--three__img
		position: absolute
		bottom: 0
		right: -30%

		max-width: 478px
		width: 100%
		height: auto


		img
			display: block




















	