.container--info
	padding: 0

.info
	width: 100%
	height: auto

	background: url('../img/block-info/bg-info.jpg') #08243e
	background-size: cover



	&-block	
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: flex-start
		
		padding: 100px

		max-width: 385px
		width: 100%
		height: auto

		font-family: "Montserrat-ExtraBold"
		font-size: 1.6rem
		color: #000000

		background-color: $yellow

		h1
			margin-bottom: 50px

			font-family: "Montserrat-Black"
			font-size: 2.5rem
			text-transform: uppercase
			line-height: 55px
			color: #000000

		&__text
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center

			margin-top: 48px

			font-family: "Montserrat-Light"
			font-size: 1.1rem
			color: #000000

		&__img
			margin-right: 26px

			width: 30px

			img
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex

				margin: auto 0

				max-width: 100%
				height: auto
		


