// @media (max-width: 1199.98px)
@media (max-width: 991.98px) 

	//******HEADER******//

	.header-communication__number

		margin-left: 20px

	//******FEEDBACK******//

	.container--fromOne
		padding-top: 50px
		justify-content: center

	.price 
		.form--one 
			max-width: 410px

			.form-inputs
				justify-content: center

				.input:last-child
					margin: 20px 0 

			&__text
				margin: 20px 0

				width: 100%

				text-align: left

			&__text:after
				right: 0

			&__block
				flex-direction: column
				justify-content: center

			

	.feedback--form
		flex-direction: column

		.input
			margin: 10px auto

	.feedback-top__text
		margin-bottom: 20px

	.feedback--two
		.feedback--form
			flex-direction: row
			.input, .button
				margin: 0
			
			.button
				margin-left: 10px





	//******ADVANTAGES******//
	.container--advantages
		margin-top: 50px

	.advantages
		font-size: 1.2rem

	.advantages-block
		margin-top: 40px
		padding: 0 40px

		max-width: 270px

		&__icon
			margin-bottom: 30px

@media (max-width: 767.98px)

	//******HEADER******//
	.header
		padding-bottom: 30px

		&-logo
			margin: auto
			margin-top: 20px

		&-communication
			margin: auto
			margin-top: 20px

	//******INFO******//
	.info-block
		max-width: 100%

	//******ADVANTAGES******//
	.advantages
		padding: 50px 0

	//******FEEDBACK******//
	.container--feedback
		padding: 50px 12px

	.feedback-bottom__text
		font-size: 1.3rem

	.feedback--two
		.feedback--form
			flex-direction: row

			.input, .button
				margin: auto
			
			.button
				margin-top: 20px
	
	//******WARRANTY******//
	.warranty
		padding: 50px 0
	
	//******QUESTION******//
	.question
		padding: 50px 0

	//******WORK******//
	.container--work
		margin-top: 30px

	.work
		padding: 50px 0

	.work-block
		margin: auto
		margin-top: 30px

		max-width: 320px

		&__img
			margin-bottom: 20px


	//******SLIDER******//
	.slider
		padding: 50px 0


	//******SERVICE******//
	.container--service
		margin-top: 50px
	

	//******SERVICE******//
	.container--contact .contact-info
		padding: 50px 0

	.container--contact .contact-info .contact-title
		margin-bottom: 30px

	.contact-imgOne, .contact-imgTwo
		display: none
	
@media (max-width: 575.98px)

	html
		font-size: 12px

	//******HEADER******//
	.container--header
		max-width: 320px

	.header
		&-time
			font-size: 1.2rem
		&-communication
			flex-direction: column

			&__number
				margin: auto

				a
					font-size: 1.4rem
					margin: 10px auto 0

			&__button
				margin: 15px auto 0


	//******FEEDBACK******//
	.feedback--form
		flex-direction: row

	.feedback-bottom__text
		font-size: 1.5rem

	.feedback--one__img, .feedback--two__img
		display: none


	//******INFO******//
	.container--info

	.info-block
		padding: 50px 12px


	//******ADVANTAGES******//
	.container--advantages
		flex-direction: column

	.advantages
		font-size: 1.7rem

		&-block
			font-size: 1.4rem

	//******QUESTION******//
	.question
		font-size: 1.3rem

	.container-question
		.question-list
			font-size: 1.2rem

			li a
				margin-left: 0

	.container-question .question-list li a:hover:before
		display: none

	//******WORK******//
	.work
		font-size: 1.3rem

	.work-block
		font-size: 1.3rem


	//******SLIDER******//
	.container--slider
		margin-top: 50px

	.slider
		font-size: 1.3rem	

	.slider-block
		max-width: 320px
		width: 100%


	//******FOOTER******//

	.container--footer
		flex-direction: column

		.footer-text
			margin-top: 20px

			text-align: center
			font-size: 1.3rem

			a
				margin-top: 15px

				font-size: 1.5rem












