.container--warranty
	justify-content: space-around

.warranty
	padding: 100px 0

	text-align: center
	
	&-title
		margin-bottom: 50px

		font-family: "Montserrat-Black"
		font-size: 2rem
	
	&-block
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

		margin-top: 50px

		max-width: 340px
		width: 100%
		height: auto

		font-family: "Montserrat-Light"
		font-size: 1.2rem

		&__img
			margin: auto
			margin-bottom: 30px

			max-width: 230px
			width: 100%

			img
				display: block
		
		a
			margin-top: 40px
			
			font-family: "Montserrat-ExtraBold"
			font-size: 1.2rem
			color: #000
			text-decoration: underline

		a:hover
			color: #579eff

			transition: 0.5s