.work
	padding: 100px 0

	font-family: "Montserrat-Light"
	text-align: center
	font-size: 1rem
	color: #000
	

	&-title
		margin-bottom: 30px

		font-family: "Montserrat-Black"
		font-size: 2rem

	&-block
		max-width: 215px

		font-family: "Montserrat-Light"
		font-size: 1rem

		&__img
			margin: auto
			margin-bottom: 30px

			max-width: 100px
			min-height: 105px


				

.container--work
	justify-content: space-around
	flex-wrap: wrap

	margin-top: 100px

.container--service
	justify-content: space-around
	flex-wrap: wrap

	margin-top: 100px

	.work-block
		max-width: 300px

	.work-block__img
		max-width: 170px
		width: 100%

		img
			width: 100%
