*
	margin: 0
	padding: 0

html
	font-size: 16px

input,
button,
a
	cursor: pointer

a
	text-decoration: none


.container
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap

	margin: auto
	
	max-width: 1200px

	padding-left: 12px
	padding-right: 12px

.page
	overflow-x: hidden

//******COLOR******//
$black: #191919
$blue: #1669b3
$dark-blue: #08243e
$yellow: #f7b516



//******IMPORT******//

@import 'header'
@import 'info'
@import 'price'
@import 'advantages'
@import 'feedback'
@import 'warranty'
@import 'question'
@import 'work'
@import 'slider'
@import 'contact'
@import 'footer'
@import 'form'
@import 'fonts'
@import 'media'


