@import url(../../#src/sass/main.css);

.page-shares {
  margin-top: 18px;
}

.shares-block {
  margin-bottom: 30px;
  background: #F8F8F8;
  padding: 23px 27px 42px;
}

.shares-block__img {
  margin: auto;
  margin-bottom: 20px;
  max-width: 310px;
  width: 100%;
  height: auto;
  background: #888;
}

.shares-block__img img {
  display: block;
  width: 100%;
  height: auto;
}

.shares-block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.shares-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #2F2F2F;
  margin-bottom: 23px;
}

.shares-block__button {
  display: block;
  width: 184px;
  height: 58px;
  padding: 20px 42px;
  margin: 0 auto;
  background: #046F69;
  border-radius: 92px;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.shares-block__button:hover {
  color: #fff;
  background-color: #ef7d1b;
}

.page-news {
  margin-top: 18px;
  margin-bottom: 74px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  background: #F8F8F8;
  padding: 32px 34px;
}

.news-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 64px;
  max-width: 650px;
  width: 100%;
}

.news-block__data {
  font-size: 13px;
  line-height: 16px;
  color: #9A9A9A;
  margin-bottom: 3px;
}

.news-block__img {
  margin: 0 auto 20px;
  max-width: 330px;
  width: 100%;
  height: auto;
  background: #888;
}

.news-block__img img {
  display: block;
  width: 100%;
  height: auto;
}

.news-block__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2F2F2F;
  text-align: left;
  margin-bottom: 13px;
}

.news-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #2F2F2F;
  text-align: left;
  margin-bottom: 23px;
}

.news-block__button {
  display: block;
  width: 184px;
  height: 58px;
  padding: 20px 42px;
  margin: 0;
  background: #046F69;
  border-radius: 92px;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.news-block__button:hover {
  color: #fff;
  background-color: #ef7d1b;
}

.page-faq {
  margin-top: 18px;
  margin-bottom: 100px;
}

.faq {
  padding: 44px 62px;
  margin-bottom: 20px;
  background: #F8F8F8;
}

.faq-block {
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-height: 50px;
}

.faq-block__link {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
}

.faq-block__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2F2F2F;
  max-width: 80%;
}

.faq-block__icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #046F69;
  background: #046F69;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.faq-block__icon::after,
.faq-block__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 16px;
  background: #fff;
  margin-top: -2px;
  margin-left: -8px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.faq-block__icon::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-block__content {
  display: none;
  position: relative;
  border-top: 1px solid #E2E2E2;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #2F2F2F;
  height: auto;
  margin-top: 45px;
  padding-top: 38px;
}

.faq .faq-block {
  height: 100%;
}

.faq .faq-block__content {
  visibility: visible;
}

.faq .faq-block__link.active .faq-block__icon {
  background: none;
}

.faq .faq-block__link.active .faq-block__icon::before,
.faq .faq-block__link.active .faq-block__icon::after {
  background: #046F69;
}

.faq .faq-block__link.active .faq-block__icon::before {
  background: none;
}

.page-base {
  margin-top: 18px;
  margin-bottom: 74px;
}

.base-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  background: #F8F8F8;
  padding: 50px 66px 47px 62px;
}

.base-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.base-block__img {
  margin: 0 auto 20px;
  max-width: 330px;
  width: 100%;
  height: auto;
  background: #888;
}

.base-block__img img {
  display: block;
  width: 100%;
  height: auto;
}

.base-block__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2F2F2F;
  text-align: left;
  padding-bottom: 45px;
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 38px;
}

.base-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #2F2F2F;
  text-align: left;
  margin-bottom: 23px;
}

.base-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 58px;
  padding: 20px 42px;
  margin: 0;
  background: #046F69;
  border-radius: 92px;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.base-block__button:hover {
  color: #FFFFFF;
  background-color: #ef7d1b;
}

.header__search {
  position: relative;
}

.search__result {
  position: absolute;
  overflow-y: scroll;
  display: none;
  z-index: 99;
  top: 55px;
  left: 0;
  padding: 15px;
  width: 100%;
  height: 100vh;
  background: #F8F8F8;
  max-height: 450px;
}

.search__result .search__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #046F69;
}

.search__result ul {
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 15px;
  list-style: none;
}

.search__result ul li {
  padding-left: 20px;
  border-top: 1px solid #E0E0E0;
  font-size: 15px;
  line-height: 18px;
}

.search__result ul li a {
  display: block;
  padding-top: 12px;
  padding-bottom: 14px;
  color: #595959;
}

.search__result ul li a:hover {
  color: #EF7D1B;
}

.search__result ul li:last-child {
  border-bottom: 1px solid #E0E0E0;
}

.search__result.active {
  display: block;
}

.main--personalArea {
  padding-bottom: 140px;
}

.page-headline--personalArea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-headline--personalArea .page-headline__title {
  font-size: 24px;
}

.page-headline__titleSub {
  margin-top: 22px;
  margin-bottom: 15px;
  font-size: 20px;
  display: inline-block;
}

.sidebar--personalArea {
  background: none;
}

.sidebar--personalArea ul {
  list-style-type: none;
  padding: 0;
}

.sidebar--personalArea ul li {
  margin-top: 0;
  background: #F7F7F7;
  border-radius: 5px;
}

.sidebar--personalArea ul li + li {
  margin-top: 10px;
}

.sidebar--personalArea ul li a {
  display: block;
  padding: 15px 20px 15px 50px;
  font-size: 16px;
  line-height: 19px;
  color: #383838;
  cursor: pointer;
}

.sidebar--personalArea ul li a:hover {
  font-weight: 600;
  color: #046F69;
}

.sidebar--personalArea ul li.active a {
  font-weight: 600;
  color: #046F69;
}

.personalArea-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.personalArea-column__top {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 16px;
  background: #F7F7F7;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  color: #046F69;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.personalArea-column__bot {
  padding: 30px 60px 50px;
  width: 100%;
  background: #F7F7F7;
  border-radius: 5px;
}

.personalArea-column__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
  font-weight: 500;
}

.personalArea-column__box span {
  color: #F4A17B;
}

.personalArea-column__input {
  position: relative;
  width: 100%;
}

.personalArea-column__input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  padding: 0 22px;
  width: 100%;
  height: 35px;
  background: #FFFFFF;
  border: 0.5px solid #E6E6E6;
  border-radius: 5px;
}

.personalArea-column__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.personalArea-column__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.personalArea-column__button .btn {
  background: #046F69;
  text-transform: initial;
  min-height: 43px;
}

.personalArea-column__button .btn:hover {
  background: #ef7d1b;
}

.personalArea-column__button .btn--width {
  width: 190px;
  padding: 0 10px;
}

.personalArea-column__button a {
  color: #9C9C9C;
}

.personalArea-column__button a:hover {
  color: #046F69;
}

.personalArea-column .personalArea-var {
  color: #686868;
  font-size: 12px;
}

.personalArea-column .invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.personalArea-column .label-cbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.personalArea-column .label-cbx input:checked + .checkbox {
  border-color: #fff;
}

.personalArea-column .label-cbx input:checked + .checkbox svg rect {
  fill: #fff;
}

.personalArea-column .label-cbx input:checked + .checkbox svg path {
  fill: #046F69;
}

.personalArea-column .label-cbx .checkbox {
  position: relative;
  float: left;
  margin-right: 11px;
  width: 16px;
  height: 16px;
}

.personalArea-column .label-cbx .checkbox svg path {
  fill: none;
}

.personalArea-column .label-cbx > span {
  color: #383838;
  pointer-events: none;
  vertical-align: middle;
}

.cart-block {
  padding-top: 70px;
  padding-bottom: 100px;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.cart-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(4, 111, 105, 0.15);
  margin: 0 auto 35px;
  width: 225px;
  height: 225px;
}

.cart-block__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #2F2F2F;
}

.cart-block__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F2F2F;
  margin-bottom: 35px;
}

.cart-block .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background: #046F69;
  min-height: 58px;
  text-transform: none;
}

.cart-block .btn:hover {
  background: #ef7d1b;
}

.main--schedule .page-schedule {
  padding-bottom: 75px;
}

.main--schedule .page-schedule .schedule-adress {
  font-size: 18px;
  line-height: 22px;
  color: #2F2F2F;
  font-weight: 700;
  width: 100%;
  margin: 32px 0;
}

.main--schedule .page-schedule .schedule-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main--schedule .page-schedule .schedule-column__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #046F69;
}

.main--schedule .schedule-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #2F2F2F;
  margin-bottom: 35px;
}

.main--schedule .schedule-table {
  padding-top: 75px;
  padding-bottom: 85px;
  background: #F7F7F7;
}

.main--schedule .schedule-table .btn {
  border: 3px solid #046F69;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 92px;
  background: none;
  color: #046F69;
  text-transform: inherit;
  max-height: 51px;
}

.main--schedule .schedule-table .btn:hover {
  border: 3px solid #F4A17B;
  color: #F4A17B;
}

.schedule-table__left {
  padding-top: 20px;
}

.schedule-table__right table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.schedule-table__right table tr {
  border-bottom: 1px solid #046F69;
}

.schedule-table__right table thead th:nth-child(1) {
  padding-left: 70px;
  padding-right: 70px;
  text-align: left;
  width: 20%;
}

.schedule-table__right table thead th:nth-child(2) {
  width: 20%;
}

.schedule-table__right table thead th:nth-child(3) {
  width: 15%;
}

.schedule-table__right table thead th:nth-child(4) {
  width: 35%;
}

.schedule-table__right table th,
.schedule-table__right table td {
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: left;
}

.schedule-table__right table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.schedule-table__right table thead th:nth-child(1) {
  width: 20%;
}

.schedule-table__right table thead th:nth-child(2) {
  width: 20%;
}

.schedule-table__right table thead th:nth-child(3) {
  width: 15%;
}

.schedule-table__right table thead th:nth-child(4) {
  width: 35%;
}

.schedule-table__right table th,
.schedule-table__right table td {
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.schedule-map {
  padding-top: 90px;
  padding-bottom: 90px;
}

.schedule-map .schedule-title {
  margin-bottom: 23px;
}

.schedule-map__block {
  height: 505px;
}

.schedule-map__block > div {
  height: 100%;
}

.schedule-map__block iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.schedule-go {
  padding-bottom: 80px;
  padding-top: 80px;
}

.schedule-go .schedule-table__left {
  padding-top: 0;
}

.schedule-go .schedule-title {
  font-size: 24px;
}

.schedule-go ul {
  list-style-type: none;
  padding: 0;
}

.schedule-go ul li:first-child {
  margin-top: 10px;
}

.schedule-text {
  padding-bottom: 60px;
  padding-top: 80px;
  background: #F7F7F7;
}

.schedule-text .schedule-table__left {
  padding-top: 0;
}

.schedule-text .schedule-title {
  font-size: 24px;
}

.schedule-text p {
  margin: 0;
}

.page-404 {
  background: none;
}

.block-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 60px;
  max-width: 750px;
  width: 100%;
  text-align: center;
}

.block-404__img {
  margin-bottom: 50px;
  max-width: 800px;
  width: 100%;
}

.block-404__img img {
  width: 100%;
}

.block-404__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #383838;
  margin-bottom: 15px;
}

.block-404__sub {
  font-size: 18px;
  line-height: 22px;
  color: #A3A3A3;
  margin-bottom: 30px;
}

.block-404 .btn {
  border: 3px solid #EF7D1B;
  border-radius: 40px;
  background: none;
  color: #EF7D1B;
  font-weight: 600;
  min-width: 250px;
  height: 70px;
}

.block-404 .btn svg path {
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.block-404 .btn:hover {
  color: #046F69;
  border-color: #046F69;
}

.block-404 .btn:hover svg path {
  stroke: #046F69;
}

.block-404 .btn svg {
  width: 30px;
  height: 25px;
  margin-left: 17px;
}

.popUp {
  position: absolute;
  left: 110%;
  top: 0;
  z-index: 99;
  display: block;
  margin-top: -15px;
  width: 256px;
  height: auto;
  padding: 25px 31px;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #797979;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(4, 111, 105, 0.33);
          box-shadow: 0px 0px 15px rgba(4, 111, 105, 0.33);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.popUp.active {
  opacity: 1;
  visibility: visible;
}

.popUp::after {
  content: '';
  position: absolute;
  left: 0;
  top: 25%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popUp__title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #1E1E1E;
}

.popUp__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.popUp__close:hover svg path {
  fill: #ef7d1b;
  stroke: #ef7d1b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 775px;
  width: 100%;
  height: auto;
  padding: 44px 55px 60px;
  margin-left: 15px;
  margin-right: 15px;
  background: #fff;
  z-index: 99;
}

.modal.active {
  z-index: 99;
}

.modal .modal-content {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
}

.modal .modal-content__form {
  position: relative;
  z-index: 2;
}

.modal .modal-content::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/modal-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 187px;
}

.modal .modal-content__title {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #2F2F2F;
  max-width: 551px;
}

.modal .modal-content__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.modal .modal-content__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 327px;
}

.modal .modal-content__box {
  max-width: 350px;
}

.modal .modal-content__input {
  margin-right: 29px;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.modal .modal-content__input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 162px;
  height: 27px;
  margin-top: 12px;
  padding: 0 12px;
  background: #F4F4F4;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #5A5A5A;
}

.modal .modal-content__search button {
  display: block;
  width: 225px;
  height: 58px;
  margin-top: 41px;
  background: #046F69;
  border: none;
  border-radius: 92px;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.modal .close-modal {
  position: absolute;
  top: 27px;
  right: 28px;
  cursor: pointer;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal .close-modal svg {
  width: 20px;
  height: 20px;
}

.modal .modal-content {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal.active .modal-content {
  opacity: 1;
}

.modal.active .close-modal {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

.input-file__container {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40px;
  margin-top: 37px;
  padding: 0 20px;
  padding-bottom: 12px;
  background: none;
  border-bottom: 0.5px solid #EF7D1B;
  overflow-x: hidden;
  cursor: pointer;
  color: #5A5A5A;
  font-size: 12px;
}

.input-file__container svg {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
}

.modal-content__error {
  display: none;
  margin-top: 27px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-content__error .error__icon {
  margin-right: 10px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
  color: #EF7D1B;
}

.modal-content__error .error__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 991px) {
  .page-news {
    margin-top: 26px;
  }

  .news-block .news-block__info {
    max-width: 330px;
    margin-left: 30px;
  }

  .page-base {
    margin-top: 26px;
  }

  .base-block {
    padding: 44px 45px;
  }

  .base-block__info {
    margin: 0;
  }

  .base-block__title {
    padding-bottom: 40px;
    margin-bottom: 38px;
  }

  .base-block__text {
    margin-bottom: 28px;
  }

  .main--personalArea {
    padding-bottom: 100px;
  }

  .page-headline--personalArea {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-headline__titleSub {
    margin-top: 11px;
    margin-bottom: 30px;
  }

  .sidebar--personalArea ul {
    overflow-x: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sidebar--personalArea ul li {
    min-width: 205px;
  }

  .sidebar--personalArea ul li + li {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .sidebar--personalArea ul li a {
    padding: 15px;
    text-align: center;
  }

  .personalArea-column {
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .main--schedule .schedule-table .schedule-table__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main--schedule .schedule-table .schedule-title {
    max-width: 50%;
    display: block;
  }

  .schedule-table__right table thead th:nth-child(1) {
    padding-left: 0;
  }

  .schedule-table__right table th,
  .schedule-table__right table td {
    padding-left: 0;
  }
}

@media (max-width: 774px) {
  .news-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news-block__img {
    max-width: 100%;
  }

  .news-block .news-block__info {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .modal .modal-content::after {
    display: none;
  }
}

@media (max-width: 640px) {
  .main--schedule .page-schedule .schedule-column {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .main--schedule .page-schedule {
    padding-bottom: 20px;
  }

  .main--schedule .schedule-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .main--schedule .schedule-table {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main--schedule .schedule-table .schedule-table__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 35px;
  }

  .main--schedule .schedule-table .schedule-title {
    max-width: 100%;
  }

  .schedule-table__left {
    padding-top: 0;
  }

  .schedule-table__right {
    overflow-x: auto;
  }

  .schedule-table__right table {
    width: 600px;
  }

  .schedule-map {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .schedule-map__block {
    height: 200px;
  }

  .schedule-go {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .schedule-go .schedule-title {
    font-size: 20px;
  }

  .schedule-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .schedule-text .schedule-title {
    font-size: 20px;
  }
}

@media (max-width: 526px) {
  .shares-block {
    padding: 17px 16px 31px;
  }

  .shares-block__title,
  .shares-block__text {
    text-align: left;
  }

  .shares-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    max-width: 150px;
    height: 41px;
    margin-left: 0;
    font-size: 12px;
  }

  .shares-block__img {
    margin-bottom: 14px;
  }

  .shares-block__title {
    font-size: 17px;
  }

  .page-news {
    margin-top: 19px;
  }

  .news-block {
    padding: 16px 17px;
  }

  .news-block__img {
    max-width: 100%;
  }

  .news-block__title {
    font-size: 17px;
  }

  .news-block__text {
    font-size: 11px;
  }

  .news-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 150px;
    height: 41px;
    font-size: 12px;
  }

  .faq {
    padding: 26px 24px 29px;
  }

  .faq .faq-block__title {
    font-size: 15px;
  }

  .faq .faq-block__content {
    font-size: 12px;
  }

  .faq .faq-block__content {
    padding-top: 16px;
  }

  .faq.active .faq-block__content {
    margin-top: 18px;
  }

  .base-block {
    padding: 26px 34px 29px 26px;
  }

  .base-block__info {
    margin: 0;
  }

  .base-block__title {
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 15px;
  }

  .base-block__text {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .base-block__button {
    padding: 0;
    margin: auto;
    font-size: 12px;
    width: 150px;
    height: 41px;
  }

  .search__result .search__title {
    font-size: 16px;
  }

  .search__result ul li {
    font-size: 12px;
    line-height: 1.6;
  }

  .page-headline--personalArea .page-headline__title {
    font-size: 20px;
  }

  .page-headline__titleSub {
    font-size: 16px;
  }

  .personalArea-column__bot {
    padding: 30px 18px 35px;
  }

  .cart-block {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .cart-block__img {
    width: 114px;
    height: 114px;
    margin-bottom: 21px;
  }

  .cart-block__img img {
    height: 51px;
    width: 51px;
  }

  .cart-block__title {
    font-size: 18px;
  }

  .block-404__img {
    margin-bottom: 30px;
  }

  .block-404__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .block-404__sub {
    font-size: 13px;
  }

  .block-404 .btn {
    height: 60px;
    min-width: 214px;
  }

  .popUp {
    left: 25%;
    top: 250%;
  }

  .popUp::after {
    top: 0;
    left: 0;
    margin-left: 20px;
  }

  .modal {
    margin-left: 15px;
    margin-right: 15px;
    padding: 16px 35px 35px 35px;
    max-width: 290px;
  }

  .modal .modal-content::after {
    display: none;
  }

  .modal .modal-content__title {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }

  .modal .modal-content__text {
    margin-bottom: 17px;
    font-size: 12px;
    text-align: center;
  }

  .modal .modal-content__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }

  .modal .modal-content__input {
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
  }

  .modal .close-modal {
    top: 14px;
    right: 12px;
  }
}

.webp .modal .modal-content::after{ background: url(../../img/modal-bg.webp); }