//<CHECKBOX>---------------------------------------------
.invisible
	position: absolute
	z-index: -1
	width: 0
	height: 0
	opacity: 0

.label-cbx
	display: flex
	align-items: center
	
	width: 100%
	height: 100%

	user-select: none
	cursor: pointer
	margin-bottom: 0

	input:checked
		& + .checkbox
			border-color: #fff

			svg
				rect
					fill: #fff

				path
					fill: #007bff

	.checkbox
		position: relative
		float: left

		margin-right: 11px

		width: 16px
		height: 16px

		svg
			path
				fill: none

	> span
		pointer-events: none
		vertical-align: middle

//</CHECKBOX>---------------------------------------------


