//<HEADER>---------------------------------------

.header
	position: relative
	z-index: 20

	height: 85px

	background: rgba(0, 0, 0, 0.08)
	backdrop-filter: blur(10px)

	.container
		@include flexbox()
		justify-content: space-between
		align-items: center

		height: 100%


	//--------- /header-column__column ---------//

	&-column
		display: flex
		justify-content: space-between
		align-items: center

		//--------- header-column__logo ---------//

		&__logo
			max-width: 166px
			width: 100%
			height: auto

		//--------- /header-column__logo ---------//


		//--------- /header-column__phone ---------//

		&__phone
			position: relative

			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
			order: 1

			font-size: 1rem
			@media ( max-width: $md1+px )
				order: 2
				margin-left: 93px
			@media ( max-width: $md3+px )
				margin: 0
				font-size: 0.88rem

				


			&::after
				content: ''
				position: absolute
				left: -58px
				top: 50%

				margin-top: -22px

				width: 44px
				height: 44px

				background: url("../img/icons/icons.svg#icon-tel") 100%/cover no-repeat
				@media ( max-width: $md3+px )
					display: none

			a
				color: $white

				border-bottom: 1px solid rgba(0,0,0,0)
				transition: border-color 0.3s linear

				&:hover
					border-bottom: 1px solid rgba(255,255,255,1)
		
		//--------- header-column__phone ---------//

		//--------- header-column__btn ---------//

		&__btn
			display: flex
			justify-content: center
			align-items: center
			order: 2

			font-size: 0.88rem

			margin-left: 38px 
			transform: translateY(0)
			max-width: 190px
			
			@media ( max-width: $md1+px )
				width: 210px
				height: 55px	

				order: 3

				margin-left: 26px

			@media ( max-width: 760px )
				display: none

		//--------- header-column__btn ---------//

		//--------- header-column__social ---------//

		&__social
			display: flex
			order: 3

			height: 26px
			
			margin-left: 42px
			@media ( max-width: $md1+px )
				order: 1
				margin-left: 0

			@media ( max-width: $md3+px )
				display: none
			

			a
				margin-left: 33px

				width: 26px
				height: 26px
				@media ( max-width: $md1+px )
					margin-left: 19px

				&:first-child
					margin-left: 0

		//--------- header-column__social ---------//
	//--------- /header-column__column ---------//


//--------- CONTAINER ---------//
//--------- /CONTAINER ---------//






//</HEADER>---------------------------------------
