//<MIXIN>---------------------------------------

@import "mixin"
	
//</MIXIN>---------------------------------------

//<FONTS>---------------------------------------

@import "fonts"

//</FONTS>---------------------------------------


//<LIBRARIES>---------------------------------------

@import "../../node_modules/normalize.sass/normalize.sass"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"

//</LIBRARIES>---------------------------------------

//<RESET STYLES>---------------------------------------

@import "resetStyles"

//</RESET STYLES>---------------------------------------

//<WIDTH PAGE>---------------------------------------

$md1: 991
$md2: 767
$md3: 526

//</WIDTH PAGE>---------------------------------------


//<MAIN>---------------------------------------

@import "main"
@import "header"
@import "section-banner"
@import "section-advantagesTop"
@import "section-works"
@import "section-advantages"
@import "section-stock"
@import "section-services"
@import "section-faq"
@import "section-review"
@import "footer"
@import "popup"

@import "page-404"







//</MAIN>---------------------------------------


//<TASK>---------------------------------------
// @import "../task/burger/burger"
// @import "../task/accordionJQ/accordion"
// @import "../task/checkbox/checkbox"
// @import "../task/radio/radio"
// @import "../task/tabs/tabs"
@import "popup"

//</TASK>---------------------------------------